<?php /** @var TradeTested_TagManager_Block_GoogleTrustedStores_Confirmation $this */?>
<?php $order = $this->getOrder() ?>
<!-- START Google Trusted Stores Order -->
<div id="gts-order" style="display:none;" translate="no">
    <span id="gts-o-id"><?php echo $order->getIncrementId() ?></span>
    <span id="gts-o-domain"><?php echo $this->getDomain() ?></span>
    <span id="gts-o-email"><?php echo $order->getBillingAddress()->getEmail() ?></span>
    <span id="gts-o-country"><?php echo $order->getBillingAddress()->getCountryId() ?></span>
    <span id="gts-o-currency"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode() ?></span>
    <span id="gts-o-total"><?php echo number_format($order->getGrandTotal(), 2, '.', '') ?></span>
    <span id="gts-o-discounts"><?php echo number_format($order->getDiscountAmount(), 2, '.', '') ?></span>
    <span id="gts-o-shipping-total"><?php echo number_format($order->getShippingAmount(), 2, '.', '') ?></span>
    <span id="gts-o-tax-total"><?php echo number_format($this->getTaxAmount(), 2, '.', '') ?></span>
    <span id="gts-o-est-ship-date"><?php echo date('Y-m-d', $this->getDispatchDate()) ?></span>
    <span id="gts-o-est-delivery-date"><?php echo date('Y-m-d', $this->getEstimatedDeliveryDate()) ?></span>
    <span id="gts-o-has-preorder"><?php echo $this->getHasBackorder() ? 'Y' : 'N' ?></span>
    <span id="gts-o-has-digital"><?php echo $this->getHasDigitalGoods() ? 'Y' : 'N' ?></span>
    <?php /** @var Mage_Sales_Model_Order_Item $_item */ ?>
    <?php foreach ($order->getAllVisibleItems() as $_item): ?>
        <span class="gts-item">
            <span class="gts-i-name"><?php echo $_item->getName() ?></span>
            <span class="gts-i-price"><?php echo number_format($_item->getPrice(), 2, '.', '') ?></span>
            <span class="gts-i-quantity"><?php echo round($_item->getQtyOrdered(), 2) ?></span>
            <span class="gts-i-prodsearch-id"><?php echo $_item->getSku() ?></span>
            <span class="gts-i-prodsearch-store-id"><?php echo $this->getGoogleShoppingId() ?></span>
        </span>
    <?php endforeach; ?>
</div>
<!-- END Google Trusted Stores Order -->
