////For filter/////////////////
.category-products
  @extend .clear

.category-title
  text-transform: uppercase
  margin-top: 40px
  margin-bottom: 0
  h1
    font-size: 40px
    margin-bottom: 0

.category-description
  font-size: 18px
  color: $categoryDescrColor
  margin-bottom: 30px
.category-image
  margin-bottom: 35px
  width: 1180px
  overflow: hidden
  display: block
.all-subcategories-head
  padding-bottom: 20px
  &.border-bottom
    border-bottom: $itemBorder
  a
    text-decoration: none
    font-size: 18px
    color: $categoryDescrColor
    font-weight: $fontWeightMedium

.shop-by-category
  @extend .clear
  margin-bottom: 50px
  margin-top: 58px
  h1
    text-transform: uppercase
    font-size: 40px
  ul
    li
      float: left
      margin: 0 18px 50px 0
      &:nth-child(3n)
        margin-right: 0
      a
        float: none
        display: block
        &:first-of-type
          margin-bottom: 10px
        &:last-of-type
          color: $fontColorPrice
          text-align: center
          font-size: 20px
          font-weight: bold
.recommended-section
  h1
    text-transform: uppercase
    font-size: 40px

body:not(.cms-home) .sorter
  font-size: 16px
  background: $productsCarouselAbout
  height: 48px
  padding: 0px 20px 0 20px
  box-sizing: border-box
  margin-bottom: 20px
  @extend .clear
  @extend .list-style
  .sort-by
    display: inline-block
    height: 100%
    padding-top: 16px
    @extend .list-style
    ul
      float: left
      li
        a.selected
          color: $mainDarkColor
    span
      color: $colorFilter
      display: inline-block
      margin-right: 20px
      &:first-of-type
        float: left
  .view-mode
    padding-top: 10px
    display: inline-block
    height: 100%
    float: right
    box-sizing: border-box
    a
      text-decoration: none
      cursor: pointer
      display: block
      height: 100%
      width: 100%

    li
      position: relative
      float: left
      height: 25px
      height: 25px
      overflow: hidden
      line-height: 20px
      margin-right: 10px
      &:nth-of-type(1)
        color: $colorFilter
        padding-top: 5px
      &:nth-of-type(2), &:nth-of-type(3)
        width: 25px
        height: 25px
        a:after
          color: $fontColorViewAllReview


    li[title="Grid"],
    a[title="Grid"],
    li[title="List"],
    a[title="List"]
      &:after
        @extend .beforeAfter
        @extend .icon
        display: inline-table
        content: glyph(android-apps)
        color: $mainDarkColor
        top: -6px
        left: -6px
        font-size: 36px
        font-weight: $fontWeightBold
        width: 25px
        overflow: hidden
        height: 100%

    li[title="List"],
    a[title="List"]
      &:after
        content: glyph(android-menu)
        font-size: 42px
        top: -9px
    
  li
    margin-right: 25px
    a
      color: $fontColorViewAllReview
  p
    margin: 0

 


///////For prducts////////////

.category-products
  margin-bottom: 15px
  .limiter
    display: none


body:not(.cms-home) .col-main .products-list,
body:not(.cms-home) .col-main .products-grid
  @extend .clear
.list-block
  @extend .clear
  position: relative
  padding-bottom: 50px
  margin-bottom: 40px

body:not(.cms-home)
  .col1-layout
    .item
      border: $itemBorder
      width: 276px
      height: auto
      min-height: 200px
      float: left
      margin-right: 20px
      background: $whiteBack
      overflow: hidden
      margin-bottom: 15px
      &:nth-of-type(4n)
        margin-right: 0

      &:last-of-type
        margin-right: 0


      >a
        display: block
        text-align: center
        &.topseller
          @extend .top-seller

        img
          overflow: hidden

      .price-label
        display: none


      >div
        float: none
        width: 100%
        padding: 20px
        background-color: $productsCarouselAbout
        height: 167px
        min-height: 146px
        box-sizing: border-box
        position: relative
        border-top: $itemBorder
        div.actions
          .add-to-links
            display: none


        .product-name
          @extend .clear
          line-height: 16px
          box-sizing: border-box
          overflow: hidden
          text-overflow: ellipsis
          margin-bottom: 0
          margin-top: 0
          font-family: $mainFontFamily
          a
            float: none
            font-size: $linkFontSize
            font-weight: 200
            color: $fontColorPrice


        span
          display: block
          float: none


        .in-stock,
        .out-of-stock,
        .pre-order
          font-size: 12px
          font-weight: bold
          text-transform: uppercase
          margin-top: 4px

        .in-stock
          color: $fontColorInStock

        .out-of-stock,
        .pre-order
          color: $fontColorOutPre

        >div
          margin-top: 15px
          display: inline-block
          float: left
          &:last-of-type
            float: none
            position: absolute
            bottom: 15px
            right: 15px

          button
            width: auto
            height: 36px

          .old-price
            span.price
              text-decoration: line-through


          .price
            font-size: 18px
            font-weight: bold
            color: $fontColorPrice

          .special-price
            .old-price
              text-decoration: line-through
            .price
              color: #FC0E1C
          #product-price-2-widget-new-grid
            color: #FF0000
            margin-top: 0



        .price-box.special
          margin-top: 0
        .price-box
          position: absolute
          bottom: 15px
          p
            margin: 0

      .top-seller
        position: relative
        &:after
          @extend .beforeAfter
          width: 90px
          height: 26px
          top: 0
          left: 0
          background-image: url("../images/top-seller.png")

  .products-list
    .item
      float: none
      width: 100%
      height: 185px
      margin-bottom: 15px
      >a
        float: left
        width: 260px
        height: 100%
        position: relative
        >img
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          margin: auto

      >div
        float: left
        width: auto
        height: 100%
        border-top: none
        width: 920px
        >div:last-of-type
          position: static
        .price-box
          position: static
          margin-top: 10px
        .product-name
          line-height: 20px
          overflow: visible
          a
            font-size: 20px
            line-height: 20px

  .col-main
    @extend .list-style
    margin-top: 30px
    @extend .main-trade-container
    .products-list, .products-grid
      margin-bottom: 40px

