<?php /* @var $this Mage_Sales_Block_Billing_Agreements */ ?>
<div class="page-title">
    <h1><?php echo $this->__('Credit Cards') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="credit_cards cards">
    <?php $billingAgreements = $this->getBillingAgreements(); ?>
    <?php if (count($billingAgreements) > 0): ?>
        <?php /** @var TradeTested_PaymentExpress_Model_Rewrite_Sales_Billing_Agreement $_agreement */ ?>
        <?php foreach($billingAgreements as $_agreement):  ?>
            <?php $id = $_agreement->getEncId() ?>
            <div class="credit_card card <?php echo Mage::helper('tradetested_payment_express')->getCcTypeClass($_agreement) ?>">
                <div class="content">
                    <?php if($_agreement->getIsDefault()): ?><span class="default_address_note">Primary Card</span><?php endif; ?>
                    <h2><?php echo $this->getItemValue($_agreement, 'payment_method_label') ?></h2>
                    <p><?php echo $_agreement->getAdditionalData('expiry_label') ?></p>
                </div>
                <div class="block_actions">
                    <?php if(!$_agreement->getIsDefault()): ?>
                        <a class="left" href="<?php echo $this->getUrl('ttpayment/credit_card/setDefault', array('agreement' => $id)) ?>">Make Primary</a>
                    <?php endif; ?>
                    <?php if ($_agreement->canCancel()): ?>
                        <a class="right" href="#" onclick="if( confirm('<?php echo Mage::helper('core')->quoteEscape($this->__('Are you sure you want to delete this card?')) ?>') ) { window.location.href = '<?php echo $this->getUrl('*/billing_agreement/cancel', array('payment_method' => $_agreement->getMethodCode(), 'agreement' => $id)) ?>'; } return false;">
                            <?php echo $this->__('Delete') ?>
                        </a>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <p><?php echo $this->__('You have no credit cards saved.')?></p>
    <?php endif; ?>

    <div class="actions">
        <a class="button btn-primary left" href="<?php echo $this->getUrl('ttpayment/credit_card/new') ?>"<?php if(!$this->helper('tradetested_design/theme')->isMobile()): ?> data-ajax="popup"<?php endif; ?>>Add a New Card</a>
    </div>
</div>
