.ajax_popup
  .overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,0.6)
    z-index: 98
  .container
    position: absolute
    width: 100%
    top: 0
  .container>.content
    display: inline-block
    z-index: 99
    text-align: left
    margin: auto
    border-radius: 8px
    height: 100%
    background: white
    margin-top: 5em
    padding: 28px
    position: relative
    .close, .close:hover
      position: absolute
      display: block
      background: #FDD803
      height: 28px
      width: 28px
      border-radius: 14px
      top: -12px
      right: -12px
      line-height: 28px
      text-align: center
      font-size: 12px
      cursor: pointer
      color: #1a1a1a
      text-decoration: none

    h1
      font-weight: 600
      margin: 0 0 1em
      text-align: center
    p.guarantee
      line-height: 1.8em
      font-size: 14px
      color: #585858
    hr
      margin: 24px 0 12px
      border: 0px none
      border-bottom: 1px solid #ccc

