.cart_actions
  overflow: hidden
  .button
    height: 34px
    line-height: 32px
    float: left
    text-transform: uppercase
  #proceed_to_checkout_link
    float: right
.cart h1, .crosssell h3
  font-size: 20px
  font-family: Humanist777BlackCond,sans-serif
  font-weight: 400
  text-transform: uppercase

.qty_minus, .qty_plus
  color: #333
  float: left
  cursor: pointer
  border: 1px solid #ccc
  height: 23px
  width: 23px
  text-align: center
  background: rgb(187, 187, 187)
  background: -moz-linear-gradient(top, rgba(221, 221, 221, 1) 0%, rgba(187, 187, 187, 1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(221, 221, 221, 1)), color-stop(100%, rgba(187, 187, 187, 1)))
  background: -webkit-linear-gradient(top, rgba(221, 221, 221, 1) 0%, rgba(187, 187, 187, 1) 100%)
  background: -o-linear-gradient(top, rgba(221, 221, 221, 1) 0%, rgba(187, 187, 187, 1) 100%)
  background: -ms-linear-gradient(top, rgba(221, 221, 221, 1) 0%, rgba(187, 187, 187, 1) 100%)
  background: linear-gradient(to bottom, rgba(221, 221, 221, 1) 0%, rgba(187, 187, 187, 1) 100%)
  background-color: rgb(187, 187, 187)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#bbbbbb',GradientType=0 )
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25)
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.8)
  background-repeat: repeat-x
  font-weight: bold

.qty_minus:hover, .qty_plus:hover
  background-position: 0 -12px
  transition: 0.3s

.qty_minus
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

.qty_plus
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.cart input.qty
  border-radius: 0
  width: 22px!important
  height: 23px
  float: left
  margin: 0
  padding: 0 3px
  text-align: center

.col-main .cart_contents .block
  h3
    padding: 0 0 0 1px
    font-size: 14px
  input[type="text"], input[type="email"], input[type="tel"]
    height: 34px
    float: left
    border: 1px solid #DFE6EB
    margin: 0
    border-bottom-right-radius: 0px
    border-top-right-radius: 0px
    border-right: 0px none
    padding: 5px 10px
    font-size: 15px
  button.button
    float: left
    border: 1px solid #ddd
    height: 34px
    border-bottom-left-radius: 0px
    border-top-left-radius: 0px

.cart_item_main
  float: left
  clear: left
  width: 55%

.cart_item_data
  float: right
  width: 45%
  text-align: right
  > div
    width: 33%
    float: right
  .qty_spinner
    float: right

.cart-item-subtotal
  text-align: right

.cart_item .product-image
  float: left
  margin-right: 12px
.cart_item .availability
  display: block
  padding: 9px 0
.cart_item_name
  overflow: hidden
a.cart_remove
  color: #999

  .icon
    margin: 0 4px 0 0
    position: relative
    top: 3px
  &:hover .icon
    text-decoration: none


.cart_actions
  width: 100%
  position: absolute
  bottom: -75px

#estimator_shipping_options label
  display: inline

.ajax_popup .container > .content.addtocart_notification
  margin-top: 200px
  display: block
  padding: 0px
  .icon.close:before
    content: glyph(close)
  h2
    border-top-left-radius: 8px
    border-top-right-radius: 8px
    background: #353535
    padding: 20px 18px 16px 75px
    text-transform: uppercase
    font-size: 26px
    line-height: 26px
    color: white
    font-family: Humanist777BlackCond, sans-serif;
    &:before
      content: glyph(added-to-cart)
      position: absolute
      left: 24px
      font-size: 36px
      top: 14px
      color: $color-primary
  .items_added
    float: left
    font-size: 16px
    padding: 32px 0 0 18px
    font-weight: 500
    color: #555
  ul.items
    font-weight: 500
    float: left
    max-width: 400px
  div.actions
    a.continue_shopping
      color: $color-secondary
      font-size: 16px
      margin-right: 18px
      font-weight: 500
    .btn-cart
      font-size: 15px
      height: 32px
      line-height: 32px
      padding: 5px 14px
      &:after
        float: right
        line-height: 32px
        margin-left: 12px
        content: glyph(cart)
  .items li
    margin: 14px 0
  .cross_sell
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
    border-top: 1px solid #e1e1e1
    background: #f9f9f9
    padding: 18px  0 18px 18px
    overflow: hidden
    .product-image
      display: block
      min-height: 125px
    h4.product-name
      font-weight: normal
      min-height: 36px
    .product_details
      padding: 9px 9px 45px
      min-height: 80px
      position: relative
    a.addtocart
      position: absolute
      bottom: 12px
      text-transform: uppercase
      color: $color-primary
      font-size: 12px
      font-weight: 900
      &:hover:before
        text-decoration: none
      &:before
        content: glyph(plus)
        font-size: 8px
        margin: 4px 6px 0 0;
        float: left
    h3
      font-size: 18px
      margin-bottom: 10px
    .item
      background: white
      border: 1px solid #e1e1e1
      float: left
      width: 158px
      margin-right: 18px
      &:last-of-type
        margin-right: 0