.toolbar
  a
    color: $text-color-tertiary
    text-decoration: none
    margin: 0 0 0 1em
    &.current
      color: $color-secondary
      font-weight: 700
    .icon
      margin-right: 0.25em
      position: relative
      top: 4px
  label
    display: inline
    color: #838383
    font-weight: bold
  .sort-by
    a
      margin: 0  0 0 0.5em
      &:not(:last-of-type):after
        content: '\2022'
        margin: 0 0 0 0.7em
        color: $text-color-tertiary
    label
      margin: 0 1em 0 0
.products-list
  .item
    position: relative
    &.topseller:after
      content: ''
      width: 45px
      height: 56px
      display: block
      background-size: 45px 56px
      position: absolute
      left: -5px
      top: 5px
      z-index: 9
      +retina-background-image('top-seller.png', 'top-seller@2x.png')
    &.freeshipping .product-shop:after
      content: ''
      width: 94px
      height: 27px
      display: block
      background-size: 94px 27px
      position: absolute
      right: -5px
      bottom: 5px
      +retina-background-image('free-shipping.png', 'free-shipping@2x.png')
    h2.product-name
      margin-bottom: 9px

  .product-shop
    float: left
    max-width: 480px
.col-left
  .block-recent
    .block-content
      padding: 9px
.recently_viewed_items
  font-size: 12px
  line-height: 18px
  list-style-image: none
  list-style-position: outside
  list-style-type: none
  margin: 5px 0
  li
    clear: left
    margin: 0 0 6px 0
    height: 50px
    display: table
    >a
      display: table-cell
      vertical-align: middle
      &.product_name
        padding: 0 0 0 9px
        -ms-word-break: break-all
        word-break: break-all

        /* Non standard for webkit */
        word-break: break-word

        -webkit-hyphens: auto
        -moz-hyphens: auto
        -ms-hyphens: auto
        hyphens: auto
      &.product_image
        border: 1px solid #dddddd
        border-radius: 4px
        height: 50px
        max-width: 50px
        overflow: hidden
        vertical-align: middle
        width: 50px
        background: white
    &:hover
      a.product_name
        color: $color-primary
      a.product_image
        box-shadow: 0px 1px 1px rgba(0,0,0,0.075)

.availability
  color: #31AF00
  font-weight: 600
  font-size: 12px
  text-transform: uppercase

.out-of-stock
  color: #A3A3A3

#products-list
  .product-name a
    text-decoration: none

.page-sitemap
  .links
    position: absolute
    right: 0
    margin-top: -2.5em
  ul.sitemap
    float: left
    width: 48%

#layered_navigation
  overflow: hidden
  border-bottom: 1px solid #eee
  padding-bottom: 9px
  .filter_item
    margin-right: 12px
    float: left
    width: 135px
    >label
      display: block
      line-height: normal
      margin: 9px 0 6px
    .select-button
      color: $color-secondary
      display: block
      margin: 0
      padding: 0 0.4em 0 0.7em
      &.active .icon
        color: $color-secondary
    .icon
      line-height: 24px
      margin: 0 9px 0 0
      float: left
      &.close
        float: right
        margin: 0

.image_container
  overflow: hidden
  vertical-align: middle
