.progress_line
  background: #E6E6E6
  height: 2px
  display: block
  margin: 16px auto
  position: absolute
  left: 0
  right: 0

.checkout_progress
  margin: 0 auto
  position: relative
  .icon
    font-size: 24px
    top: 3px
    position: relative
  li
    float: left
    text-align: center
    a:hover
      text-decoration: none

  .step_number
    display: block
    background: #b3b3b3
    border-radius: 36px
    color: white
    line-height: 36px
    font-size: 22px
    margin: 0 auto
  .step_label
    display: block
    color: #b3b3b3
    margin: 9px 0 0
  .current
    .step_number
      background: #FDD700
    .step_label
      color: #333
      font-weight: bold

.checkout_container
  h2
    margin: 24px 0 12px
.checkout_form
  position: relative
  display: block
  .actions .button
    text-transform: uppercase
  .typeahead
    background: white
    position: absolute
    border: 1px solid #ccc
    border-radius: 4px
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2)
    z-index: 40
    overflow: hidden
    &.line1
      margin-top: -40px
    li
      border-bottom: 1px solid #eee
      padding: 6px 12px 6px 32px
      cursor: pointer
      &:before
        content: glyph(location)
        margin: 1px 0 0 -18px
        position: absolute
        color: #aaa
      &:last-of-type
        border: 0px none
      &.active
        background: #ffeecc
        &:before
          color: $color-secondary
  a.additional_instructions
    display: block
    color: $color-secondary
    margin: 12px 0
    font-weight: bold
    .icon
      display: inline-block
      width: 14px
      height: 14px
      line-height: 14px
      text-align: center
      border: 2px solid $color-secondary
      border-radius: 14px
      font-size: 8px
      margin: 0px 0.5em
      text-decoration: none !important
      padding-left: 1px
  .payment-method
    position: relative
    margin: 0 18px
    .expiry
      overflow: hidden
      select
        width: auto
        float: left
#shipping_postcode, #billing_postcode
  float: left
  width: 100px
#shipping_street1, #billing_street1
  margin-bottom: 4px
.shipping_info a
  color: $color-secondary
#shopping-cart-totals-table
  td:last-of-type
    text-align: right

#payment-methods
  line-height: 26px
  label.radio-label.selected-radio-label
    color: #333
    font-weight: bold
  #tradetested_px_post_cc_number, #farmlands_card_farmlands_card_number
    width: 170px
    float: left
#payment_form_tradetested_px_token
  label.radio-label
    position: relative
    .delete
      float: right
      margin-left: 18px
      font-size: 11px
      color: $color-secondary
      font-weight: normal
    .label
      margin-left: 60px
    .expiry
      margin-left: 24px
    &:before
      width: 40px
      font-weight: normal
      height: 26px
      line-height: 26px
      overflow: hidden
      display: block
      position: absolute
      border-radius: 3px
      left: 45px
      top: 6px
      content: 'Other'
    &.visa:before
      content: ''
      background: image_url('visa.svg') 50% 0 no-repeat;
      background-size: contain
    &.mastercard:before
      content: ''
      background: image_url('mastercard.svg') 50% 0 no-repeat;
      background-size: contain
#address_form_container
  position: relative
  .tooltip
    position: absolute
    right: -46px
    margin-top: 2px
    left: auto
  #register_box
    label
      float: left
    .password_box
      clear: none
      float: left
      width: 250px
      margin: 12px 0 0 12px
  #login_box
    display: none
    height: 120px
  #login_form
    border-radius: 5px
    display: none
    background: #f2f2f2
    border: 1px solid #ebebeb
    position: absolute
    padding: 12px 126px 12px 12px
    box-sizing: border-box
    a
      clear: both
      color: $color-secondary
      margin: 6px 0 0
      display: inline-block
    label
      font-weight: bold
      margin-top: 0
      span.note
        font-weight: normal
    .tooltip
      top: 2px
      left: 120px
      &:before
        border-color: #f2f2f2
      &:hover:before
        border-color: #fcfcfc
    .button
      height: 36px
      width: 100px
      position: absolute
      right: 12px
  &.show_login
    #register_box
      display: none
    #login_box, #login_form, .existing_account_note
      z-index: 99
      display: block
    .email_tooltip
      display: none
  .existing_account_note
    display: none
    background: white
    color: #2CA600
    font-weight: bold
    &:before
      margin-top: 6px
      color: white
      text-align: center
      font-family: icons
      line-height: 24px
      display: block
      height: 24px
      width: 24px
      border-radius: 24px
      background: #2CA600
      content: glyph(tick)
  .addressbook_link
    margin-top: 30px
    position: absolute
    right: 0
    color: $color-secondary
#address_manager_popup
  .content
    padding-right: 8px
  .addresses
    max-width: 800px
    .card
      cursor: pointer
.checkout_logout
  background: #F2F2F2
  border-radius: 5px
  line-height: 36px
  padding: 0 10px
  a
    float: right
    color: $color-secondary
    font-size: 12px
#payment_form_tradetested_px_token
  &.cvv_required label.radio-label.selected-radio-label
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  .cvc_field
    display: block
    margin-top: -18px
    border: 1px solid #eee
    border-top: 0px none
    border-radius: 5px
    padding: 6px 12px 12px
    .tooltip
      right: 0

.cvc_field
  input
    float: left
  .tooltip
    margin: 2px 0 0 3px
    float: left
.cvc_note
  line-height: 36px
  float: left
  position: absolute
  left: 70px
  >*
    float: left
  img
    margin-right: 14px
#payment_form_tradetested_px_token .cvc_note
  left: 80px
label.selected-radio-label[for="p_method_tradetested_px_token"] .icon
  display: none
.radio_button_icons
  float: right
  margin: 0 -4px 0 0
  img
    margin: 4px 0 4px 4px
select#depot_select
  display: inline
  width: auto
  height: 26px
#shipping_methods dd
  padding: 5px 17px
  p
    margin-top: 9px
  address
    font-style: normal
