.content-category-pages
  border: 1px solid #E6E6E6
  border-top: 0px none
  +border-radius(0.75em)
  margin: -0.75em 0 0
  padding: 1.25em 0.75em 0.75em
  overflow: hidden
  li
    cursor: pointer
    width: 15em
    float: left
    margin: 0 0 0 1.25em
    padding: 1em
    &:before
      color: $color-primary
      position: absolute
      margin: 0.25em 0 0 -1.5em
    &.clear:before
      display: none
    h2
      font-size: 18px
      font-weight: 700
      color: #333

.page-short-description
  color: #666
  padding: 0.5em 0

a.page-more
  color: $color-secondary

.cms-page-view .col-main .std
  font-size: 13px
  padding-bottom: 100px
  a
    text-decoration: underline
    &:hover
      color: $color-primary
  p
    margin: 8px 0
  h2
    margin: 25px 0 0
    padding-top: 25px
    border-top: 1px solid #F0F0F0
    font-weight: bold

  .tip
    margin: 32px 0
    background: #F5FAFF
    border: 1px solid #DFE6EB
    padding: 18px
    color: #434E59
    position: relative
    &:before
      font-size: 44px !important
      color: #55ABFF
      position: absolute
      left: -42px
      top: 3px
      content: glyph(tip)
  .callout
    margin: 32px 0
    border-left: 2px solid $color-secondary
    color: $color-secondary
    padding: 6px 0 6px 18px
  ul
    list-style-type: circle
    margin-left: 15px
  #contactForm ul
    list-style-type: none
    margin: 0

.cms-page-view.how-to .col-main, .cms-page-view.buying-guides .col-main
  .std, .page-title
    margin-left: 42px
  h1
    font-size: 24px
    font-weight: bold
    position: relative

.cms-page-view.how-to .col-main
  h1:before
    font-size: 36px !important
    color: $color-primary
    position: absolute
    left: -42px
    content: glyph(howto)

.cms-page-view.buying-guides .col-main
  h1:before
    font-size: 36px !important
    color: $color-primary
    position: absolute
    left: -42px
    content: glyph(buying-guide)

.how-to>li:before
  content: glyph(howto)
.buying-guides>li:before
  content: glyph(buying-guide)
