.col-left .block.block-account
  .block-content
    li
      margin: 0 0 9px
      &.current
        color: $color-primary

.cards
  overflow: hidden
  .card
    position: relative
    overflow: hidden
    box-sizing: border-box
    border: 1px solid #f0f0f0
    border-radius: 5px
    width: 240px
    margin: 0 20px 20px 0
    float: left
    &:nth-of-type(3)
      margin-right: 0px
    p
      margin: 9px 0
    .content
      padding: 12px

.default_address_note
  color: #63B32F
  font-weight: bold
  &:before
    content: glyph(tick)
    font-size: 10px !important
    margin-right: 6px

.edit_address_popup .content
  width: 500px
.edit_address_form
  #postcode
    width: 100px
    float: left
  .postcode_finder_link
    margin-left: 14px
  .default_address_note
    margin: 12px 0 0
  .input-box
    float: none

#personal_details_form
  display: block
  max-width: 435px

#checkout_quick_account_create_form
  input[type="password"]
    width: 215px
    margin-right: 12px
    float: left
  .button
    width: 155px
    height: 36px
    float: left

.credit_card
  .default_address_note
    position: absolute
    top: 6px
    right: 9px
  &:before
    background: #777
    display: block
    content: 'Other'
    line-height: 30px
    text-align: center
    color: #ccc
    font-size: 14px
    width: 70px
    height: 30px
    border-bottom-right-radius: 4px

.credit_card.mastercard
  &:before
    content: ''
    background: #000066 image_url('mastercard.svg') 50% 50% no-repeat
    background-size: 40px

.credit_card.visa
  &:before
    content: glyph(visa)
    font-family: icons
    background: #1A1F71
    color: white
    font-size: 50px

#new_credit_card_form
  display: block
  position: relative
  width: 310px
  .secure_note
    width: auto
  .expiry
    overflow: hidden
    select
      width: auto
      float: left
.narrow_form
  max-width: 300px
  margin: 0 auto
  border: 1px solid #eee
  border-radius: 5px
  padding: 18px
  h2
    margin: 18px 0
    font-size: 13px
    color: #aaa
    text-align: center
    span
      background: white
      position: relative
      padding: 0 6px
    &:before
      border-top: 1px solid #eee
      width: 100%
      height: 1px
      display: block
      content: ''
      top: 10px
      position: relative
  hr
    border: 0px none
    border-bottom: 1px solid #eee
    margin: 18px 0
  a
    color: $color-secondary
  label
    float: left
  .actions
    clear: both
    margin: 12px 0
    a.back
      margin: 12px 0 0 0
  .radio-label
    margin-bottom: 12px
  .btn-primary
    width: 100%
  .button.create_account
    color: #555
    height: 34px
    line-height: 32px
    text-align: center
    text-transform: uppercase
  a.forgot_password
    float: right
    margin: 12px 0 0 0
  &.newsletter_options_form
    max-width: 500px
    h2
      margin-top: 32px
    select
      display: inline
      width: auto
