.col-left
  .block
    margin: 0 0 14px
    .block-title
      h2, strong
        font-size: 18px
        font-weight: 400
        margin: 0 0 3px
      h3
        display: block
        line-height: 39px
        color: #fff
        background: #2f2f2f
        height: 40px
        text-align: center
        text-transform: uppercase
        font-family: Humanist777BlackCond, sans-serif
        font-size: 18px
        font-weight: 400
        text-shadow: 1px 1px 2px #000
        overflow: hidden
        margin: 0
        border-top-left-radius: 8px
        border-top-right-radius: 8px
    &.left_navigation .block-title, &.block-account .block-title
      border: 1px solid #ddd
      background: #f8f8f8
      padding: 10px 2px 10px 18px
      border-radius: 8px 8px 0 0
      a
        color: $color-secondary
    .block-content
      padding: 18px 2px 14px 18px
      background: #f8f8f8
      border: 1px solid #ddd
      border-radius: 0 0 8px 8px
      margin-top: 0px
      border-top: 0px none
    a.action
      color: #929292
      text-decoration: underline
      text-align: center
      display: block

.block_actions
  padding: 12px
  background: #f8f8f8
  border-top: 1px solid #f0f0f0
  overflow: hidden
  .left
    margin-right: 12px
  .right
    float: right
  a:link, a:visited
    color: $color-secondary

.mac .col-left .block .block-title h3, .mac .crosssell h3
  height: 38px
  padding-bottom: 4px

.clearer, .clear
  display: block
  content: "."
  clear: both
  font-size: 0
  line-height: 0
  height: 0
  overflow: hidden

.col-left .block
  margin-bottom: 28px

fieldset
  border: 0

.price
  white-space: nowrap!important

.std
  color: #333
  line-height: 140%

.footer .links li.first
  display: block

form, .pager .pages ol
  display: inline

.product-view .price_message
  display: block
  margin: 3px 0
  color: #999
  font-weight: 300
  font-size: 13px

.clear
  clear: both

.pager .amount
  float: left

.testimonial_r .testimonial_text
  float: left

legend, .no-display, .hide
  display: none

#mc_embed_signup #mce-error-response, .testimonials .limiter
  display: none

.buttons-set button.button
  float: right

.checkout-onepage-success .col-main
  padding: 10px

.cart .totals table
  width: 100%

.product-options dt label, .cart .totals table th, .left_navigation a.current, strong
  font-weight: bold

.page-title
  min-height: 24px
  margin: 0 0 10px
  padding: 0 0 5px

.expander
  border: 1px solid #ebebeb
  background: #f8f8f8
  margin: 0 0 12px
  border-radius: 6px
  overflow: hidden
  position: relative
  .heading
    padding: 12px
    margin-right: 18px
    cursor: pointer
    &:after
      content: glyph(caret-left)
      color: #ccc
      margin: 1px 0 0 0
      /* @todo: after merging new_design, move the below out */
      display: inline-block
      font-family: "icons"
      font-style: normal
      font-weight: normal
      font-variant: normal
      line-height: 1
      text-decoration: inherit
      text-transform: none
      -moz-osx-font-smoothing: grayscale
      -webkit-font-smoothing: antialiased
      position: absolute
      right: 12px
      top: 12px
      speak: none
  .content
    display: none
    padding: 9px
  &.active
    .heading
      font-weight: bold
      &:after
        transform: rotate(-90deg)
        transform-origin: 50% 50% 0
        transition: all 0.3s ease 0s
    .content
      display: block
//#DigiCertClickID_m1IU3aeySeal
//  text-decoration: none
//  text-align: center
//  display: block
//  vertical-align: baseline
//  font-size: 100%
//  font-style: normal
//  text-indent: 0px
//  line-height: 1
//  width: auto
//  margin: 0px auto
//  padding: 0px
//  border: 0px
//  background-color: transparent
//  position: relative
//  top: 0px
//  right: 0px
//  bottom: 0px
//  left: 0px
//  clear: both
//  float: none
//  cursor: default
