.footer
  p
    margin-bottom: 0.8em
  dl
    padding: 20px 6px 0
    float: left
    line-height: 1.6em
    &:nth-child(3)
      padding-left: 50px
      padding-right: 50px
  dt
    font-size: 14px
    font-weight: bold
