.header
  max-width: 1024px
  position: relative
  margin: 0 auto
  padding: 0
  .homeh1 strong
    position: absolute
    display: none
.coupon_sticky_content
  background: #fc0
  color: #000
  padding: 5px 0
  font-weight: bold

.coupon_sticky_content .hide-link, .geoip-notice .hide-link
  float: right

#nav li.over
  z-index: 999

.header-cart-count
  position: absolute
  color: #FFF
  right: 0
  font-size: 18px

.subheader_container
  background: #F8F8F8
  border-bottom: 1px solid #ebebeb
.subheader
  width: 100%
  max-width: 1024px
  margin: 0 auto
  overflow: hidden
  position: relative
  box-sizing: border-box
