.cms-index-index ul.col3
  margin: 32px -12px 32px 0
  li
    float: left
    margin-right: 12px
    padding: 12px
    border-radius: 7px
    background: #f8f8f8
    border: 1px solid #ddd
    min-height: 240px

.testimonial_bubble
  position: relative
  background: white
  border: 1px solid #9f9f9f
  border-radius: 8px
  padding: 12px
  line-height: 1.2em
  margin: 18px 0 28px
  &:before
    left: 30px
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 18px 18px 0 0
    border-color: #9f9f9f transparent transparent transparent
    position: absolute
    bottom: -18px
  &:after
    left: 31px
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 16px 16px 0 0
    border-color: #ffffff transparent transparent transparent
    position: absolute
    bottom: -16px

.gallery-controls
  background: white
  width: 100%
  height: 34px
  margin-top: 2.4em
  border-top-left-radius: 4px
  border-top-right-radius: 4px
  li
    width: 33.3%
    float: left
    line-height: 34px
    cursor: pointer
    border-radius: 4px
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    &:hover
      transition: 0.4s
      background: #eee
      color: #ffcc03

#ttgallery img
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px

.featured_product
  .image_container
    height: 150px
    width: 200px
    margin: 0 auto
  a, a:hover
    text-decoration: none

.col-main .block
  background: white
  margin-bottom: 15px
  >h1, >h2
    background: #2f2f2f
    line-height: 43px
    height: 43px
    font-family: Humanist777BlackCond, sans-serif
    font-size: 21px
    text-align: center
    color: #fff
    text-shadow: 1px 1px 2px #000
    text-transform: uppercase
    border-top-left-radius: 8px
    border-top-right-radius: 8px
    a, a:hover
      color: #fff
      text-decoration: none
  .content
    padding: 24px 0 0 24px
    border: 1px solid #ddd
    border-top: 0px none
    overflow: hidden
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
  li
    margin: 0 24px 24px 0
    width: 214px
    float: left
    &.clear
      margin: 0
      width: 100%
      height: 1px
      float: none
  &.home_categories
    a:hover
      color: #333
    table
      border-collapse: separate
      width: 100%
      td
        text-align: center
        width: 171px
        padding: 18px 9px
        border-right: 1px solid #e6e6e6
        border-bottom: 1px solid #e6e6e6
      td:first-child
        border-left: 1px solid #e6e6e6
      tr:last-child
        td:first-child
          border-bottom-left-radius: 8px
        td:last-child
          border-bottom-right-radius: 8px
    h3
      text-transform: uppercase
      font-size: 18px
      line-height: 1.1
      height: 45px
      font-family: Humanist777BlackCond, sans-serif
      font-weight: normal
    .subsections
      margin: 12px 0
      a
        display: block
        margin: 0 0 6px
        &:hover
          color: #ffcc03
          text-decoration: none
          transition: 0.3s
.cms-index-index .col-main .block
  margin-bottom: 22px

#home_featured_products
  h4
    font-weight: 400
  .m-item
    width: 100%
    max-width: 760px
    margin-right: 30px
  .item
    cursor: pointer
    float: left
    margin: 0 24px 24px 0
    max-width: 216px
    min-height: 250px
    width: 50%
    &:last-of-type
      margin-right: 0
    img
      margin: 0 9px
  .m-prev
    left: 9px
  .m-next
    right: 9px

.cms-index-index .col-main .content_category_feature
  float: left
  width: 100%
  max-width: 374px
  &.buying-guides
    margin-right: 10px
  ul
    padding: 16px 0 0
  li
    float: left
    margin: 0 10px 24px 36px
    max-width: 140px
    h2
      margin-bottom: 12px
    &:before
      color: $color-primary
      position: absolute
      margin: 0.25em 0 0 -1.5em

.home_lozenges
  overflow: hidden
  margin-right: -12px
  .lozenge
    width: 374px
    height: 150px
    background-size: 400px 150px
    background-position: 50% 50%
    float: left
    margin: 0 12px 22px 0
    border-radius: 8px
    position: relative
    a
      color: #fff
      font-family: Humanist777BlackCond, sans-serif
      font-size: 36px
      text-transform: uppercase
      +transform(rotate(-6deg))
      text-shadow: 2px 2px 4px #111
      filter: shadow(Color=#333333, Direction=135, Strength=3)
      position: absolute
      left: 32px
      width: 320px
      top: 33px
      line-height: 34px
      &:hover
        text-decoration: none
    &:after
      content: ''
      width: 28px
      height: 150px
      display: block
      +retina-background-image('lozenge_tab_large.png', 'lozenge_tab_large@2x.png')
  &.mod_3 .lozenge
    width: 245px
    a
      width: 190px
      font-size: 26px
      line-height: 28px
      top: 45px
    &:after
      +retina-background-image('lozenge_tab_small.png', 'lozenge_tab_small@2x.png')

#email_capture_modal
  input[type="email"]
    height: 34px
    width: 210px
    padding: 0 12px
  input[type="submit"]
    height: 34px
    width: 210px
    margin: 12px 0 18px
  h2
    font-family: Humanist777BlackCond,sans-serif
    font-size: 28px
    text-transform: uppercase
    margin-bottom: 12px
  p
    font-size: 15px
    margin: 0 0 12px
  .content
    margin-top: 190px
    width: auto
    padding: 0
  a.close
    background: white
  .std
    border-radius: 8px
    overflow: hidden
    td
      vertical-align: top
      padding: 16px
    .left
      background: #FDDD23
    a, a:visited
      color: $color-secondary
.newsletter_subscribe
  .result.error-msg, .result.success-msg
    padding: 9px
    margin: 9px 0
