// Double colons will break the entire rule on IE8
input.error:after,label.error:before,.panel.guide>.left:before, a.forward:after, .icon, .footer dt:after, .content-category-pages li:before, .content_category_feature li:before, .cms-page-view .col-main .std .tip:before,.cms-page-view.how-to .col-main h1:before, .cms-page-view.buying-guides .col-main h1:before,ul.thumbnails li.selected:after, .default_address_note:before, .checkout_form .typeahead li:before, .password_box .password_reveal:after, .addtocart_notification a.addtocart:before, #navigation_bar #minicart .count:before, .content.addtocart_notification h2:before, .btn-cart:after, #drawer a:before, .product-shop .rating a:after, .gallery_container .prev:before, .gallery_container .next:before, .fbt_thumbs li:after, .product-view .panel .phone:before, .product-view .panel .email:before, section.related_categories ol span:after, .col-main .cart_contents .block.coupon a:before, .selectbox:after
  display: inline-block
  font-family: "icons"
  font-style: normal
  font-weight: normal
  font-variant: normal
  line-height: 1
  text-decoration: inherit
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 16px
  speak: none
.messages li li:before
  font-family: 'icons'
  margin: 0 9px 0 0
  font-size: 16px
  vertical-align: middle

a>.icon
  line-height: 10px