*
  white-space: normal
  margin: 0
  padding: 0

body
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  color: #333
  text-align: center
  font-size: 13px
  line-height: 1.4em

.page
  max-width: 1024px
  text-align: left

.main
  background: none
  min-height: 600px

.half
  width: 50%
  float: left

.wrapper
  z-index: 0
