.product-view
  font-size: 15px
  .availability
    font-weight: 700
    font-size: 13px
  hr
    margin-top: 46px
    border: 0px none
    border-top: 1px solid #e1e1e1
  h2, .product_recommendations h3
    font-size: 26px
    font-weight: 400
    margin: 29px 0 21px
  section, .product_recommendations
    border-top: 1px solid #e1e1e1
    margin-top: 26px
  .std
    line-height: 1.5em
    a
      color: $color-secondary
    p
      margin-bottom: 15px

  //IE8 bug
  .product-shop
    float: right
    margin: 16px -6px 0 0
    position: relative
    .std
      padding-top: 9px

.panel
  position: relative
  background: #fcfcfc
  border: 1px solid #eee
  border-radius: $panel-border-radius
  margin: 18px 0 0
  display: block
  >.inner
    padding: $panel-padding
  .note
    padding: $panel-padding
    color: $text-color-tertiary
    border-top: $panel-border

.product-view .short-description
  margin-top: 20px
  padding-bottom: 10px

.product-img-box
  max-width: 340px

.shareicons
  text-align: center
  span
    font-size: 20px
  a
    text-decoration: none
    &:hover
      opacity: 0.7
      transition: 0.4s

.price-box
  font-size: 16px
  font-weight: 500
  color: #666
  margin: 9px 0

.price_message
  display: none
  color: #232323
  font-weight: normal

.regular-price .price
  font-weight: bold
  font-size: 16px


.old-price
  .price-label
    white-space: nowrap
    font-size: 14px
    width: 60%
    display: inline-block
  .price
    text-decoration: line-through
    text-align: left
    margin-right: 6px
    display: inline-block

.special-price .price
  color: #ed2724
  text-align: right

.product-options
  .options-list
    input.checkbox
      float: left
      margin: 3px -20px 0 0
    .label
      display: block
      margin-left: 20px
  ul.validation-failed
    padding: 0 7px

.product-contact a
  text-decoration: none
  color: #333
  display: block
  padding: 16px 0 0

.description
  clear: left
  margin-bottom: 2em

#product-options-wrapper
  margin-bottom: 12px
  .input-box
    float: none
    clear: left
    select
      width: auto
      display: inline
  p.required
    display: none
  .required
    color: #333
    position: relative
    padding-right: 9px
    display: inline
    em
      position: absolute
      right: 0

.add-to-box-bottom
  background: #fcfcfc
  border: 1px solid #eee
  border-radius: 5px
  margin: 0 0 12px
  clear: both
  button
    float: left
  .icon.phone
    float: left
    margin: 14px
    color: #FED603
    font-size: 40px
  .required
    color: #333
    position: relative
    padding-right: 9px
    em
      position: absolute
      right: 0
  p
    margin: 0.5em 0
    .email, .phone
      color: $color-secondary
      font-size: 18px
      margin: 0 0.35em 0 0
    .email
      margin: 0 0.35em
  .right
    text-align: right
    max-width: 180px
    border-left: 1px solid #eee
    padding: 14px
    float: right
    .old-price .price
      text-align: right
    .price
      display: block
  .price-box
    p
      margin: 0
    .price
      width: auto

.estimator_price
  font-weight: bold
  margin-right: 9px

.catalog-product-view .product-image a
  img, &:hover img
    border: 0 none

.product-image-popup, .header-container
  margin: 0 auto

#mc_embed_signup .nowrap
  white-space: nowrap

.price-notice
  padding-left: 10px

.category-description td
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px

.sendfriend-product-send .form-list
  clear: both
  padding: 18px 0 0
  li
    clear: both
    padding: 18px 0 0

#add_recipient_button, .remove_recipient_button
  padding-top: 22px
  float: left

.sendfriend-product-send .form-list #sender_message
  width: 500px

#product-shipping-estimate
  .panel
    margin: 0
  .shipping-notes
    width: 344px
#location-selector
  color: $text-color-secondary
  margin: 0
  padding: $panel-padding
  &.hide
    display: none
  >.actions
    padding: 0.5em $panel-padding
    border-top: $panel-border
    position: relative
    .input-text
      width: 5.5em
    button
      position: absolute
      top: -1px
      bottom: -1px
      right: -1px
      height: auto
      border-radius: 0
      border-bottom-right-radius: $panel-border-radius
      text-transform: none
      padding: 0 2em
  >button.white
    height: 36px
.estimated h3
  float: left
  line-height: 20px
  font-size: 15px
button.location
  border: 0px none
  background: transparent
  height: 20px
  line-height: 20px
  font-size: 15px
  padding: 0
  margin: 0
  color: $color-secondary
  cursor: pointer
  transition: 0.8s
  font-weight: bold
  .icon
    line-height: 13px

.change-location
  float: right
  margin: 0
  padding: 0.1em 0.05em
  a
    text-decoration: none
    color: $text-color-tertiary
    font-size: 12px
.estimated
  ul
    margin-top: 1em
  li
    color: $color-secondary
    padding: 0 0 0.4em
    &:last-child
      padding: 0
    .price
      font-size: 15px
      display: inline-block
      min-width: 2em
      padding-right: 0.3em
      font-weight: 500

.delivery-time-notes
  a, a:hover
    font-size: 12px
    text-decoration: none
    color: $text-color-tertiary

.shipping-notes, #location-selector
  h3
    color: #333
    .icon
      margin: 0 9px 0 1px



.product_guides
  .panel.guide
    cursor: pointer
    padding: 14px
    width: 100%
    max-width: 462px
    margin: 0 20px 20px 0
    float: left
    &:nth-child(2)
      margin-right: 0
    a, a:hover
      display: block
      font-size: 15px
      color: $color-secondary
      margin: 0.75em 0
      .icon
        text-decoration: none
        font-size: 13px
        margin: 0 0 0 0.35em
    > .left:before
      float: left
      margin: 0 14px 0 0
      color: #FED603
      font-size: 40px
      height: 100%
    &.buying-guides > .left:before
      content: glyph(question-mark-guide)
    &.how-to > .left:before
      content: glyph(howto)

.up-sell
  margin: 12px auto
  .product-name a
    text-decoration: none
    font-weight: normal
  .icon.m-prev, .icon.m-next
    top: 35%
  .m-item
    padding: 0 30px
  .item
    cursor: pointer
    float: left
    width: 50%
    max-width: 134px
    min-height: 205px
    margin: 0 14px 0 0
    padding: 14px
    border: 1px solid #eee
    +border-radius(5px)
    &:last-of-type
      margin-right: 0 !important
    h4
      margin: 0.5em 0
    .price-box
      margin-bottom: 0
      .price_message
        display: none
.product-view .up-sell .item
  max-width: 124px
  margin-right: 16px

.product-view .product-shop
  .price-box
    margin: 28px 0
    color: #262626
    p
      display: inline
    .price
      font-size: 26px

a.price_match
  font-size: 11px
  text-align: center
  padding: 4px 2px
  border-radius: 2px
  float: right
  right: 10px
  margin: 6px 0 12px 12px
  &:hover
    color: #333
    background: #f9f9f9
    text-decoration: none
  &:before
    margin: 0 auto
    width: 90px
    height: 44px
    display: block
    content: ''
    +retina-background-image('price-match.png', 'price-match@2x.png')

#pricematch_popup .content
  width: 400px

.reco_row
  overflow: hidden
  margin-bottom: 14px

.product_actions .btn-cart
  height: 45px
  padding: 0 12px
  font-size: 15px

#fbt_container
  margin: 32px 0
  clear: both
  border-top: 1px solid #e1e1e1
  border-bottom: 1px solid #e1e1e1
  position: relative
  padding: 0 0 29px 0
  box-sizing: border-box
  overflow: hidden
  &:before
    z-index: 5
    content: ''
    width: 50%
    background: #f9f9f9
    height: 100%
    position: absolute
    right: 0
    border-left: 1px solid #e1e1e1
  .fbt_thumbs
    padding: 9px 0 0
    overflow: hidden
    li
      float: left
      &:after
        content: glyph(plus)
        line-height: 90px
        font-size: 20px
        margin: 0 12px
        color: #b3b3b3
      &:last-of-type:after
        display: none
  .fbt_addto
    float: right
    box-sizing: border-box
    padding: 30px 25px 0
    z-index: 10
    width: 50%
    position: relative
    a
      color: $color-secondary
    .btn-primary
      height: 45px
      padding: 0 16px
      font-size: 15px
    .price
      font-weight: 700
      margin-left: 9px
    .fbt_price
      margin: 16px 0 9px
      display: block
    label.radio-label
      background: none
      padding: 0
      line-height: 22px
      margin: 0 0 12px
      span.icon
        height: 22px
        width: 22px
        margin: 0 12px 0 0
        line-height: 20px

body section.related_categories
  padding: 12px 0
  ol
    line-height: 28px
    span
      position: relative
    a
      color: $color-secondary
      font-weight: 400
      margin-right: 32px
    span:after
      font-size: 10px
      font-weight: normal
      color: #353535
      content: glyph(chevron-right)
      position: absolute
      top: 4px
      right: 9px
    span:last-of-type:after
      display: none

#addtocart_test
  display: none
  height: 45px
  font-size: 15px
  padding: 0px 12px
  clear: left
  margin-bottom: 18px
.variation-CFxB0QRpQqKD89sJeVn_zA-1
  #addtocart_test
    display: block
  #addtocart_original
    display: none