.rating-list
  margin: -3px 0 0 -6px
  overflow: hidden
  label
    margin: 5px
    color: gold
    float: left
    font-size: 22px
    clear: none
  .grey-star
    color: #ddd
.review-gallery img
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px

a.btn-primary.btn-no-review
  margin: 32px
  height: 42px
  line-height: 42px
  padding: 0 24px

.review-item
  font-size: 14px
.review-body-recommend
  color: #999
  .tick
    color: #59a200
    font-weight: bold
    &:before
      font-family: "icons"
      content: glyph(tick)
      margin: 0 5px 0 0
      line-height: 1
      font-weight: normal
.review-body-time
  color: #999
  line-height: 20px
.review-body-detail, .review-body-recommend
  line-height: 18px
  margin: 18px 0 10px 0
.review-body-detail
  line-height: 1.5em
  margin: 11px 0

.review-media
  float: left
  ul.thumbnails li
    margin: 0 5px 0 0

#customer-reviews
  h2
    font-size: 16px
    margin: 0 0 3px
    font-weight: bold
  .button.btn-primary
    line-height: 36px
    height: 36px
    margin: 9px 0

#review-form
  .rating
    float: left
    margin-bottom: 12px
    input
      display: none
    label.icon
      float: right
      color: #aaa
      cursor: pointer
      font-size: 34px
      margin: 9px 9px 9px 0
      width: 35px
      &:before
        content: glyph(dotted-star)
    > input:checked ~ label, &:not(:checked) > label:hover, &:not(:checked) > label:hover ~ label
      color: gold
      &:before
        content: glyph(star)
    > input:checked + label:hover, > input:checked ~ label:hover, > label:hover ~ input:checked ~ label, > input:checked ~ label:hover ~ label
      color: gold
      &:before
        content: glyph(star)
  input[type="radio"]
    margin-left: 2px

  label.facebook .icon
    margin-right: 36px
    &::after
      position: absolute
      content: glyph(facebook-sign)
      font-family: icons
      margin: 0 3px 0 18px
      font-size: 18px
      color: #3C5A98
  p.note
    font-size: 12px
    color: #aaa
    line-height: 36px

  #file_field
    margin-bottom: 5px
  .post-button
    float: left
    margin-bottom: 6px
    button
      margin: 12px auto 0
      height: 40px
      padding: 9px 14px

.review-buttons
  margin-top: 28px
  .button.btn-primary
    line-height: 36px
    margin-right: 16px
    float: left
    height: 36px
.review-body-reply
  margin-left: 12px
  color: #777
  border-left: 6px solid #eee
  padding-left: 12px
  h3
    font-size: 13px