img
  border: 0
  vertical-align: top
  max-width: 100%

\:focus
  outline: 0

ul, ol
  list-style: none

table
  border: 0
  border-collapse: collapse
  border-spacing: 0
  empty-cells: show
  font-size: 100%
