.m-scooch-bulleted
  text-align: center
  a
    text-indent: -999px
    overflow: hidden
    display: inline-block
    height: 12px
    width: 12px
    background: #d3d3d3
    border-radius: 12px
    margin: 12px 4px
    transition: 0.4s
    &.m-active
      background: #969696
.icon.m-prev, .icon.m-next
  position: absolute
  top: 45%
  font-size: 28px
  text-decoration: none
  color: #e6e6e6
.m-prev
  left: 0
  &:before
    content: glyph(caret-left)
.m-next
  right: 0
  text-align: right
  &:before
    content: glyph(caret-right)

/* From here on is Base Scooch */
.m-scooch
  position: relative
  overflow: hidden
  -webkit-font-smoothing: antialiased
  &.m-left
    text-align: left
  &.m-center
    text-align: center
  &.m-fluid
    > .m-scooch-inner > *
      width: 100%
    &.m-center > .m-scooch-inner > *:first-child
      margin-left: 0%
  &.m-fluid-2
    > .m-scooch-inner > *
      width: 50%
    &.m-center > .m-scooch-inner > *:first-child
      margin-left: 25%
  &.m-fluid-3
    > .m-scooch-inner > *
      width: 33.333%
    &.m-center > .m-scooch-inner > *:first-child
      margin-left: 33.333%
  &.m-fluid-4
    > .m-scooch-inner > *
      width: 25%
    &.m-center > .m-scooch-inner > *:first-child
      margin-left: 37.5%
  &.m-fluid-5
    > .m-scooch-inner > *
      width: 20%
    &.m-center > .m-scooch-inner > *:first-child
      margin-left: 40%
  &.m-fluid-6
    > .m-scooch-inner > *
      width: 16.667%
    &.m-center > .m-scooch-inner > *:first-child
      margin-left: 41.667%
  img
    -ms-interpolation-mode: bicubic
  .m-item
    //-webkit-transform: translate(0)
    //transform: translate(0)

/* https://github.com/mobify/scooch/issues/23

.m-scooch-inner
  position: relative
  white-space: nowrap
  text-align: left
  /*  Removes  inline-block  gaps  due  to  whitespace
  font-size: 0
  /*  Configure  animations
  -webkit-transition-property: -webkit-transform
  -moz-transition-property: -moz-transform
  -ms-transition-property: -ms-transform
  -o-transition-property: -o-transform
  transition-property: transform
  /*  iOS  like  slide  timings
  -webkit-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1)
  -moz-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1)
  -ms-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1)
  -o-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1)
  transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1)
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -ms-transition-duration: 0.5s
  -o-transition-duration: 0.5s
  transition-duration: 0.5s
  > *
    display: inline-block
    vertical-align: top
    white-space: normal
    /*  We  must  reset  the  font-size  here
    font-size: 16px

.m-fluid > .m-scooch-inner > *
  box-sizing: border-box
  -ms-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  -webkit-box-sizing: border-box

.m-center:not(.m-fluid) > .m-scooch-inner
  display: inline-block
  margin-right: -20000px  !important
  margin-left: 0  !important
  > *
    position: relative
    left: -20000px
    &:first-child
      float: left
      margin-right: 20000px
      left: 0
      &:last-child
        margin-right: 0
    &:last-child
      margin-right: -30000px

