.catalogsearch-result-index
  .page-title .selected_category
    margin: 0
    height: 30px
    line-height: 30px
    top: -2px
    font-size: 12px
    a
      color: $color-secondary
      &:hover
        text-decoration: none
    .icon
      float: right
      margin: 7px 0 0 9px

  .suggestion
    margin: 0 0 20px
    color: #808080
    font-size: 16px
    a
      color: $color-secondary
  .suggested_categories
    border-bottom: 1px solid #eee
    padding: 12px
    h3
      font-weight: normal
      color: #808080
      margin: 0 0 8px
    a
      color: #333
      margin: 0
      text-decoration: none
      font-weight: bold
      font-size: 13px
    li
      width: 24%
      float: left
      line-height: 20px
      li
        float: none
        width: auto
        a
          font-weight: normal
