.search-button
  display: inline-block

ul.typeahead
  position: absolute
  overflow: hidden
  background: #ffffff
  margin-top: 5px
  margin-left: 7px
  width: 416px
  +border-radius(4px)
  box-shadow: 0px 0px 10px rgba(0,0,0,.3)

  li
    border-bottom: 1px solid #f3f3f3
    &:last-of-type
      border-bottom: 0px none
      >:last-child
        +border-radius(0 0 5px 5px)

    >strong
      display: block
      padding: 9px 0 5px 12px
      font-size: 14px
      font-weight: bold
      color: #9C9C9C

    >a
      display: block
      padding: 8px 0 8px 12px
      vertical-align: middle
      overflow: hidden
      &.active
        -ms-transform: none /* IE 9 */
        -webkit-transform: none /* Chrome, Safari, Opera */
        transform: none
        background: #fcc000
        +linear-gradient(#fedb02, #fcc000)
        text-decoration: none
        color: #000
      &:hover
        text-decoration: none
        color: #333
    .product_result
      display: table
      img
        float: left
        border-radius: 3px
        max-width: 75px
        max-height: 75px
      .product_name
        display: table-cell
        vertical-align: middle
        height: 56px
        padding: 9px 14px
