.lookup_field
  .indicator
    display: none
    .content
      margin: 0 1em 0 0
    .change_link
      text-decoration: none
      color: $text-color-tertiary
      font-size: 12px
  ol
    position: absolute
    background: #fff
    border: 1px solid #eee
    width: 18.25em
    box-shadow: 0 1px 2px rgba(0,0,0,0.2)
    li
      padding: 0.5em
      border-bottom: 1px solid #f3f3f3
      cursor: pointer
      &:hover
        background: #fafafa
  input
    width: 240px
  &.selected
    input, ol
      display: none
    .indicator
      display: block

#shipping_calculator_form
  #shipping_calculator_postcode
    border: 1px solid #ccc
    float: left
    height: 40px
    line-height: 40px
    width: 70px
    padding: 0 5px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  #shipping_calculator_button
    height: 40px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  .calculator_options
    overflow: hidden
    padding: 0.75em
    background: #fcfcfc
    border-bottom: 1px solid #efefef
    line-height: 2em
