.store-open
  background: #000
  +border-radius(5px)
  padding: 0 10px 5px 10px
  .indicator
    position: relative
    left: 182px
    top: 5px
.store-open, .store_open_status
  .indicator
    margin-left: 12px
    &:before
      content: '\25cf'
      font-size: 18px
  .open-now
    color: #4e8a03
  .close-now
    color: #a00303
  ul
    margin-top: -16px
    li
      .store-mon-fri
        margin: 0 10px 0 16px
      .store-sat
        margin-left: 42px
      .store-sun
        margin-left: 38px

.contact_centre_open_status
  .indicator
    margin-left: 12px
    &:before
      content: '\25cf'
      font-size: 18px
  .open-now
    color: #4e8a03
  .close-now
    color: #a00303