form.survey
  fieldset
    border-radius: 3px
    background: #F5FAFF
    border: 1px solid #E2E9ED
    margin: 0 0 18px
    padding: 12px
    label
      font-weight: bold
      margin: 0 20px 0 3px
    .radio_options
      margin: 4px 0
    textarea
      border-radius: 3px
      margin: 16px 0 0
      width: 100%
      height: 36px
      font-size: 14px
      line-height: 22px
      padding: 6px 12px
      font-family: Arial, "Helvetica Neue", Verdana, Arial, sans-serif
      box-sizing: border-box
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      &.expanded
        height: 80px
  .actions
    margin-top: 40px

.survey_success
  text-align: center
  padding: 72px 0 0
  .icon
    font-size: 95px
    color: #559500
  h1
    font-weight: bold
    padding: 22px 0 14px
    font-size: 22px
  p
    color: #9f9f9f
    font-size: 16px



