.testimonials
  height: 100%
  .testimonial_l, .testimonial_r
    clear: both
    display: table
    height: auto
    width: 100%
    margin: 25px 20px 25px 0

.testimonial_text
  background: image_url('quote.gif') no-repeat scroll 0 0 transparent
  display: table-cell
  font-size: 13px
  width: 480px
  padding: 20px 20px 0 55px
  h2
    color: #43A3AC

.testimonials_sidebar
  .block-content a
    color: #1B2D3B
    float: none
    text-decoration: underline
    text-align: right
    font-size: 11px
    line-height: 1.25
  .testimonial_sidebar_box .testimonial_sidebar_text .testimonial_sidebar_name
    font-size: 11px
    line-height: 1.25
    color: #1B2D3B

.testimonial_sidebar_text
  text-align: left
  padding: 6px 9px

.testimonial_sidebar_name
  text-align: right!important
  font-style: italic
  margin: 0 10px 7px

.testimonials_content .actions
  clear: both
  text-align: right
  border: 0 none
  float: right

.testimonial_r
  margin-left: 24px
  padding: 24px 24px 24px 100px

.testimonials .pager .pages li
  padding: 0 6px 0 0


#checkout_testimonial.testimonials_content
  .testimonial
    box-sizing: border-box
    background: #f8f8f8
    border: 1px solid #ebebeb
    max-height: none
    max-width: none
    .text
      max-height: 400px
    .fade
      +linear-gradient(rgba(248,248,248,0), rgba(248,248,248,1))
    .callout
      height: 14px
      width: 14px
      background: #F8F8F8
      border-right: 1px solid #ebebeb
      border-bottom: 1px solid #ebebeb
      -ms-transform: rotate(45deg) /* IE 9 */
      -webkit-transform: rotate(45deg) /* Chrome, Safari, Opera */
      transform: rotate(45deg)
      right: 18px
      bottom: -8px
  h3
    font-weight: normal
    font-size: 14px
    text-align: right
    color: #808080
    clear: both
    padding: 18px 9px 0 0