.tooltip
  position: relative
  float: left
  left: 0.25em
  width: 3em
  .content
    display: none
    position: absolute
    background: #fcfcfc
    top: 1.25em
    left: 1.25em
    padding: 12px 12px 12px 24px
    z-index: 20
    width: auto
    min-width: 200px
    text-align: left
    +transform(translateY(-50%))
    font-size: 14px
    border-radius: 4px
  &:before
    z-index: 30
    cursor: pointer
    position: absolute
    background: #ccc
    height: 1.25em !important
    width: 1.25em !important
    display: block
    color: #fff
    line-height: 1.25em
    text-align: center
    border: 0.5em solid #fff
    margin: 0.125em 0 0
    +border-radius(2em)
    content: '?'
  &.icon:before
    color: inherit
    background: none
    border-color: transparent
  &:hover, &.open
    &:before
      border-color: #fcfcfc
    .content
      box-shadow: 0px 2px 0px rgba(0,0,0,0.05)
      display: block
      border: 1px solid #f8f8f8
  &.callout
    &:before
      content: ''
      border: 1px solid #F2F2F2
      border-top: 0px none
      border-right: 0px none
      border-radius: 0px
      background: white
      transform: rotate(45deg)
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      height: 12px
      width: 12px
      box-shadow: 0px 2px 0px rgba(0,0,0,0.05)
    .content
      border: 1px solid #F2F2F2
      background: white
      left: 9px
      a
        color: $color-secondary
.tooltip.left
  .content
    left: auto
    right: 1.5em
.tooltip-holder
  position: relative
  left: -12px
  top: -6px
  float: left
  width: 24px
  height: 1px