
h1
  font-size: 18px
  font-weight: 400
  line-height: 1.5em

h2
  font-size: 18px
  font-weight: 400
  line-height: 1.34

h3
  font-weight: bold
  line-height: 1.375
  margin-bottom: 8px

h4
  font-size: 13px

h5
  font-size: 12px
  font-weight: bold

h6
  font-size: 11px
  font-weight: bold

a
  text-decoration: none
  &:link, &:visited
    text-decoration: none
    color: #333
  &:hover
    color: #ffcc03
    text-decoration: underline
    transition: 0.3s
  &.forward
    &:after
      content: glyph(right-arrow)
      margin-left: 6px
      position: relative
      top: 3px
    &:hover:after
      text-decoration: none

.std a, .footer-container a
  text-decoration: none

caption, th, td
  vertical-align: top
  text-align: left
  font-weight: 400

small, big
  font-size: 1em

.header .links li
  &.first a, &.last
    text-decoration: none

.col-left a
  text-decoration: none

.blur
  color: transparent
  text-shadow: 0 0 3px rgba(0,0,0,0.5)
