$panel-border: 1px solid #eee
$panel-padding: 12px
$text-color-secondary: #666
$text-color-tertiary: #aaa
$color-primary: #FFCC03
$color-secondary: #43a3ac
$color-negative: #dd0000
$panel-border-radius: 5px
$svg-gradient-shim-threshold: 0.1

@mixin cover-background( $path )
  background-image: url( $path )
  @include background-size( cover )
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$path, sizingMethod="scale")
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + $path + "', sizingMethod='scale')"

@mixin retina-background-image($lr-image, $hr-image)
  background-image: image_url($lr-image)
  @media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 120dpi)
    background-image: image_url($hr-image)
    background-size: image_width('src/images/'+$lr-image) image_height('src/images/'+$lr-image)
///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
=responsive-font($responsive, $min, $max: false, $fallback: false)
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == 'vh', 'height', 'width')
  $min-breakpoint: $min / $responsive-unitless * 100

  @media (max-#{$dimension}: #{$min-breakpoint})
    font-size: $min


  @if $max
    $max-breakpoint: $max / $responsive-unitless * 100
    @media (min-#{$dimension}: #{$max-breakpoint})
      font-size: $max

  @if $fallback
    font-size: $fallback

  font-size: $responsive


=font-face($style-name, $file)
  $filepath: "../fonts/" + $file
  @font-face
    font-family: "#{$style-name}"
    src: url($filepath + ".eot")
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg')
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=linear-gradient($top, $bottom)
  background: $top /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%) /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}',GradientType=0 ) /* IE6-9 */

=transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms
