ul.thumbnails
  li
    display: inline-block
    position: relative
    border-radius: 4px
    overflow: hidden
    cursor: pointer
    &.selected:after
      text-align: center
      line-height: 68px
      position: absolute
      display: block
      content: glyph(chevron-right)
      top: 0
      height: 100%
      width: 100%
      color: white
      background: rgba(0,0,0,0.57)
      transform: rotate(-90deg)
      -webkit-transform: rotate(-90deg)
      -moz-transform: rotate(-90deg)
      -ms-transform: rotate(-90deg)
      -o-transform: rotate(-90deg)
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
      font-size: 18px
#gallery
  text-align: center
  padding: 0 0 9px
  .spinner
    -ms-transform: translateY(-42px)
    -webkit-transform: translateY(-42px)
    transform: translateY(-42px)
  img.main_image
    cursor: pointer
  .gallery
    .open_zoom
      margin: 20px 0
      min-height: 200px
      display: block
      width: 100%
      height: 100%

.gallery_zoom
  position: fixed
  z-index: 99
  height: 100%
  width: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0
  .close:after
    position: fixed
    z-index: 999
    content: glyph(close)



