<?php if($this->getTitle()): ?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<?php endif; ?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" class="edit_address_form" data-validate="true">
    <?php echo $this->getBlockHtml('formkey')?>
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
    <input type="hidden" name="country_id" value="<?php echo Mage::getStoreConfig('general/country/default') ?>"/>
    <?php echo $this->getNameBlockHtml(); ?>
    <label for="company"><?php echo $this->__('Company') ?></label>
    <input type="text" autocomplete="billing organization" maxlength="40" name="company" id="company" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Company')) ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
    <label for="telephone"><?php echo $this->__('Phone') ?> <span class="required">*</span></label>
    <input type="text" required="required" autocomplete="tel" name="telephone" maxlength="15" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter your phone number')) ?>" class="input-text  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" />
    <label for="street_1"><?php echo $this->__('Street Address') ?> <span class="required">*</span></label>
    <input type="text" required="required" autocomplete="address-line1" name="street[]" maxlength="40" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter an address')) ?>" id="street_1" class="input-text" />
    <input type="text" autocomplete="address-line2" style="margin-top:6px;" name="street[]" maxlength="40" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(2)) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address 2')) ?>" id="street_2" class="input-text" />
    <label for="street_3"><?php echo $this->__('Suburb') ?> <span class="required">*</span></label>
    <input required="required" autocomplete="address-level3" type="text" name="street[]" maxlength="40" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(3)) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Suburb')) ?>" id="street_3" class="input-text" />
    <label for="city"><?php echo $this->__('City') ?> <span class="required">*</span></label>
    <input required="required" autocomplete="address-level2" type="text" name="city" maxlength="40" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"  title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter your city')) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />

    <?php if (Mage::app()->getStore()->getCode() == 'au'): ?>
        <label for="region_id"><?php echo $this->__('State/Province') ?> <span class="required">*</span></label>
        <select required="required" autocomplete="address-level1" id="region_id" name="region_id" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="validate-select">
           <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
            <?php $regionsCollection = Mage::getResourceModel('directory/region_collection')->addCountryFilter(strtoupper(Mage::app()->getStore()->getCode()))->load(); ?>
            <?php foreach ($regionsCollection as $region): ?>
                <option value="<?php echo $region->getId() ?>"<?php if($this->getAddress()->getRegionId() == $region->getId()): ?> selected="selected"<?php endif;?>><?php echo $region->getCode() ?></option>
            <?php endforeach; ?>
        </select>
    <?php endif; ?>
    <label for="zip"><?php echo $this->__('Zip/Postal Code') ?> <span class="required">*</span></label>
    <input required="required" autocomplete="postal-code" maxlength="4" type="text" name="postcode" maxlength="4" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter your postcode')) ?>" id="postcode" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
    <?php if (Mage::app()->getStore()->getcode() == 'default'): ?><a href="https://www.nzpost.co.nz/tools/address-postcode-finder" target="_blank" class="postcode_finder_link" style="">Postcode Finder</a><?php endif; ?>
    <div class="clear"></div>
    <?php if($this->isDefaultBilling()): ?>
        <p class="default_address_note">Primary Billing Address</p>
    <?php elseif($this->canSetAsDefaultBilling()): ?>
        <label for="primary_billing" class="radio-label checkbox">
            <input type="checkbox" id="primary_billing" name="default_billing" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Use as My Default Billing Address')) ?>" class="checkbox" />
            <span class="icon"></span>
            <?php echo $this->__('Use as my default billing address') ?>
        </label>
    <?php else: ?>
        <input type="hidden" name="default_billing" value="1" />
    <?php endif; ?>
    <?php if($this->isDefaultShipping()): ?>
        <p class="default_address_note">Primary Shipping Address</p>
    <?php elseif($this->canSetAsDefaultShipping()): ?>
        <label for="primary_shipping" class="radio-label checkbox">
            <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Use as My Default Shipping Address')) ?>" class="checkbox" />
            <span class="icon"></span>
            <?php echo $this->__('Use as my default shipping address') ?>
        </label>
    <?php else: ?>
        <input type="hidden" name="default_shipping" value="1" />
    <?php endif; ?>
    <div class="actions">
        <a class="button back" onclick="$(this).closest('.ajax_popup').hide();return !$(this).closest('.ajax_popup').length" href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><?php echo $this->__('Cancel') ?></a>
        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save Address')) ?>" class="button btn-primary continue"><?php echo $this->__('Save Address') ?></button>
    </div>
</form>
