<?php

/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Creative Commons License BY-NC-ND.
 * NonCommercial — You may not use the material for commercial purposes.
 * NoDerivatives — If you remix, transform, or build upon the material,
 * you may not distribute the modified material.
 * See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
 *
 * See http://mventory.com/legal/licensing/ for other licensing options.
 *
 * @package MVentory/API
 * @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
 * @license http://creativecommons.org/licenses/by-nc-nd/4.0/
 * @author Anatoly A. Kazantsev <anatoly@mventory.com>
 */

$_rules = $this->_getRules();
$_attrs = $this->_attrs;

$_loaderUrl = $this->getSkinUrl('images/ajax-loader-tr.gif');

$__loading = Mage::helper('adminhtml')->__('Loading...');

?>

<div class="content-header">
  <table cellspacing="0">
    <tr>
      <td style="width:100%;">
        <h3 class="icon-head head-product-attribute-sets">
          <?php echo $this->__('Magento Categories Matching'); ?>
        </h3>
      </td>
    </tr>
  </table>
</div>

<?php

//Show help message if there's attributes and user has added more
//than 2 rules

?>

<?php if (count($_rules) < 3 && $_attrs): ?>
<ul id="mventory-matching-messages" class="messages">
  <li class="notice-msg">
    <ul>
      <li>
        <span><?php echo $this->__('These matching rules are applied when a product is saved in mVentory App or by Bulk category matching in the list of products.</br />Use one or more attributes and any number of attribute values to create a rule and map their values to one or more categories.</br />The rules apply from top down and only the first matching rule can be used. Arrange them from most specific to most generic. The default rule has no attributes listed and is applied if no other rule matched.')?></span>
      </li>
    </ul>
  </li>
</ul>
<?php endif; ?>

<div id="mventory-rules">

<?php foreach ($_rules as $id => $_rule): ?>
  <?php $rule = $this->_prepareRule($_rule); ?>

  <div id="<?php echo $id; ?>" class="mventory-rule clear">
    <div class="mventory-rule-content clear">
      <div class="mventory-rule-remove">&#x274C;</div>

      <div class="mventory-rule-attrs">
        <div class="mventory-inner">

          <?php if ($rule['default']): ?>

          <div class="mventory-rule-attr clear"><?php echo $this->__('Default rule'); ?></div>

          <?php else: ?>

          <?php foreach ($rule['attrs'] as $label => $values): ?>
          <div class="mventory-rule-attr clear">
            <div class="mventory-rule-attr-name"><?php echo $label; ?></div>
            <div class="mventory-rule-attr-value"><?php echo $values; ?></div>
          </div>
          <?php endforeach; ?>

          <?php endif; ?>

        </div>
      </div>

      <div class="mventory-rule-categories">
        <div class="mventory-inner">
          <div class="mventory-rule-category<?php if (!$rule['has_categories']) echo ' mventory-state-no-category'; ?>"><?php echo implode(', ', $rule['categories']); ?></div>
        </div>
      </div>
    </div>

    <div class="mventory-rule-err-msg"></div>
  </div>

<?php endforeach; ?>

  <div class="mventory-rule clear mventory-rule-template">
    <div class="mventory-rule-content clear">
      <div class="mventory-rule-remove">&#x274C;</div>

      <div class="mventory-rule-attrs">
        <div class="mventory-inner">

          <div class="mventory-rule-attr clear">
            <div class="mventory-rule-attr-name"></div>
            <div class="mventory-rule-attr-value"></div>
          </div>

        </div>
      </div>

      <div class="mventory-rule-categories">
        <div class="mventory-inner">
          <div class="mventory-rule-category"></div>
        </div>
      </div>
    </div>

    <div class="mventory-rule-err-msg"></div>
  </div>
</div>

<div class="box clear">
  <div id="mventory-rule-new" class="mventory-rule-attrs">
    <div class="mventory-inner clear">

      <?php //Hide attribute selector if there is no attribute and show warning message ?>
      <?php if (count($_attrs) < 2): ?>

      <ul id="mventory-matching-attribute-messages" class="messages">
        <li class="warning-msg">
          <ul>
            <li>
              <span><?php echo $this->__('Non-system attributes can be used to construct mapping rules between product properties and categories. E.g. Product type: watch, Gender: men can be mapped to category Fashion/Men/Accessories.<br />Add attributes to this attribute set to add the mapping. You can set default mapping for any product from this attribute set without adding any attributes.')?></span>
            </li>
          </ul>
        </li>
      </ul>

      <?php else: ?>

      <div class="mventory-rule-new-attr mventory-state-not-completed">

        <div class="mventory-rule-new-attr-column mventory-rule-attr-and"><?php echo $this->__('And')?></div>

        <div class="mventory-rule-new-attr-column">
          <div class="mventory-rule-new-attr-buttons">
            <a class="mventory-rule-remove">&#x274C;</a>
          </div>

          <div>
            <select class="mventory-rule-new-attr-name">

              <?php foreach ($_attrs as $id => $attr): ?>
              <option <?php if ($attr['used']) echo 'class="mventory-state-used-attr"'; ?> value="<?php echo $id; ?>"><?php echo $attr['label']; ?></option>
              <?php endforeach; ?>

            </select>
          </div>

          <div class="mventory-rule-new-arrow">
            <?php echo $this->__('Any of')?>
            <br />
            &#8681;
          </div>

          <div>
            <select class="mventory-rule-new-attr-value" multiple="multiple"></select>
          </div>
        </div>
      </div>

      <?php endif;?>

    </div>
  </div>

  <div class="mventory-rule-categories">
    <div class="mventory-inner">
      <div class="mventory-rule-category">
        <a id="mventory-categories" href="#">Select category</a>
        <div id="mventory-categories-wrapper">
          <?php echo $this->getChildHtml('categories'); ?>
        </div>
      </div>
    </div>
  </div>

  <div id="mventory-rule-new-buttons">
    <?php echo $this->getChildHtml('button_rule_reset'); ?>
    <?php echo $this->getChildHtml('button_rule_save'); ?>
  </div>
</div>

<script type="text/javascript">
//<![CDATA[

MVENTORY_RULE_DEFAULT_ID = '<?php echo MVentory_API_Model_Matching::DEFAULT_RULE_ID; ?>';
MVENTORY_RULE_DEFAULT_TITLE = '<?php echo $this->__('Default rule'); ?>';

mventory_attrs = <?php echo $this->_getAttributesJson(); ?>;
mventory_urls = <?php echo $this->_getUrlsJson(); ?>;

//]]>
</script>
