<?php /** @var TradeTested_Catalog_Block_Navigation $this */ ?>
<?php if ($this->isStuckOpen()): ?>
    <div id="left_navigation_surrogate"></div>
<?php else : ?>
    <div class="block left_navigation">
        <div class="block-title">
            <h2><?php echo $this->getTitle() ?></h2>
            <?php if ($this->getCurrentCategory()->getLevel() > 2): ?>
                <a href="<?php echo $this->getCurrentCategory()->getParentCategory()->getUrl(); ?>">
                    &lt; Back to <?php echo $this->getCurrentCategory()->getParentCategory()->getName(); ?>
                </a>
            <?php else :?>
                <a href="<?php echo Mage::getBaseUrl(); ?>">
                    &lt; Back to home
                </a>
            <?php endif;?>
        </div>
        <div class="block-content">
            <ol>
                <?php foreach ($this->getChildCategoriesWithProducts() as $_category): ?>
                    <li>
                        <a class="<?php if($this->isCategoryActive($_category)): ?>current<?php endif;?>" href="<?php echo $_category->getUrl() ?>">
                            <?php echo $_category->getName() ?>
                            <?php if (!$this->isRootCategory()): ?>
                                (<?php echo $_category->getProductCount() ?>)
                            <?php endif; ?>
                        </a>
                    </li>
                <?php endforeach?>
            </ol>
        </div>
    </div>
<?php endif; ?>
