<?php /** @var TradeTested_Catalog_Block_Navigation $this */ ?>
<div class="catalog_navigation<?php if($this->isStuckOpen()): ?> is-active disabled<?php endif; ?>" id="catalog_navigation_top">
    <div class="dropdown_title"><span>Shop By </span>Category</div>
    <ul class="dropdown_nav" id="top-nav">
        <?php foreach ($this->getChildCategories($this->getRootCategory()) as $_category): ?>
            <?php if($_category->getIsActive() && $_category->getProductCount()): ?>
                <li<?php if($this->isCategoryActive($_category)):?> data-default="true"<?php endif; ?>>
                    <a href="<?php echo $_category->getUrl(); ?>">
                        <?php echo $this->htmlEscape($_category->getName()) ?>
                    </a>
                    <?php /*
                    <ul>
                        <li class="child-category-title">
                            <a class="sub-menu-link" href="<?php echo $this->getCategoryUrl($_category) ?>">
                                <?php echo $this->htmlEscape($_category->getName()) ?>
                            </a>
                        </li>
                        <?php foreach ($_category->getChildrenCategories() as $_subCategory): ?>
                            <?php if($_subCategory->getIsActive() && $_subCategory->getProductCount()): ?>
                                <li>
                                    <a href="<?php echo $this->getCategoryUrl($_subCategory) ?>">
                                        <?php echo $this->htmlEscape($_subCategory->getName()) ?> (<?php echo $_subCategory->getProductCount() ?>)
                                    </a>
                                </li>
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ul>
                     */ ?>
                </li>
            <?php endif; ?>
        <?php endforeach ?>
    </ul>
</div>
