.cart_container
  position: relative
  width: 696px
.cart_contents
  border: 1px solid #e6e6e6
  border-radius: 8px
  overflow: hidden
.cart_item
  border-bottom: 1px solid #e6e6e6
  margin: 12px 18px
  padding: 0 0 12px 0
  overflow: hidden
  &:last-of-type
    border-bottom: 0px none
    margin-bottom: 0px
  &.removed
    background: none repeat scroll 0 0 #ffeeaa
    border-top: 1px solid #eedd99
    border-bottom: 0px none
    line-height: 25px
    margin: 0
    padding: 12px 18px
    a:hover
      color: #333
    .button
      float: right


.cart-data-title
  display: none
.cart_header
  background: #f9f9f9
  border-bottom: 1px solid #e6e6e6
  padding: 11px 18px
  font-weight: bold

a.cart_remove
  color: #999
  line-height: 24px

.cart .item-options *
  display: inline

.cart_footer
  line-height: 25px
  background: #f9f9f9
  border-top: 1px solid #e6e6e6

.cart
  padding-top: 9px
  .cart-collaterals
    float: left
    width: 500px



.cart .totals
  float: right
  .left
    float: left
  .right
    float: right

.cart .totals
  width: 296px
  span#grand_total
    float: right
    width: 140px

.cart
  #shipping_estimate
    clear: both
    li
      padding: 8px 0
      text-align: right
  .estimator_price
    float: right
    width: 65px
.cart_notes
  margin: 0 0 32px
.cart_note
  margin: 0 0 9px

.cart .messages
  margin-right: 150px
  padding-top: 0

.cart-item .product-name a
  text-decoration: none
.cart-total
  float: right
  clear: right
  padding: 0 12px 3px

.cart-total-label
  float: left

.cart-total-value
  width: 130px
  float: right
  text-align: right

.cart-grand-total
  font-weight: bold

.checkout-cart-index,.tradetested-checkout-index-index,.tradetested-checkout-index-shippingmethod,.tradetested-checkout-index-payment
  .header-phone
    height: 65px
    line-height: 65px
    background-position: 0 50%

.crosssell
  width: 260px
  margin: 0 0 0 42px
  float: right
  border: 1px solid #e6e6e6
  border-radius: 8px
  overflow: hidden
  .regular-price, a, a:visited
    font-weight: normal
    color: #4d4d4d
  h3
    text-align: center
    padding: 0
    height: 40px
    line-height: 39px
    border-bottom: 1px solid #e6e6e6
    background: #f9f9f9
    margin: 0
    font-size: 18px
  li
    padding: 14px 9px
    overflow: hidden
    border-top: 1px solid transparent
    border-bottom: 1px solid transparent
    &:hover
      border-top: 1px solid #e6e6e6
      border-bottom: 1px solid #e6e6e6
      background: #f2f2f2
      .button
        visibility: visible
    &:first-of-type
      border-top: 0px none
    &:last-of-type
      border-bottom: 0px none

  .product-image
    float: left
    width: 80px
    height: 80px
    margin: 0 12px 0 0
  .product-shop
    width: 150px
    float: left
  a.button
    display: inline-block
    visibility: hidden
    line-height: 28px
    height: 29px
    font-weight: bold

.col-main .cart_contents .block
  background: none
  clear: left
  padding: 12px 18px
  &.coupon
    a
      padding: 0 0 0 1px
      font-weight: bold
      text-transform: uppercase
      &:before
        content: glyph(plus)
        font-size: 9px
        margin-right: 9px
        text-decoration: none !important
    input.input-text
      max-width: 130px
  &.shipping_estimator
    input.input-text
      max-width: 130px
    fieldset
      overflow: hidden
    label.error
      position: absolute
      bottom: 30px
    #estimator_shipping_options ul
      margin: 12px 0 0
      li
        margin: 0 0 5px
        width: auto
        float: none
        .shipping_price
          font-weight: bold
          margin-right: 4px
        input
          margin-right: 6px

.ajax_popup .container > .content.addtocart_notification
  width: 918px
  margin: auto
  .cross_sell
    width: 900px
  ul.items
    padding: 18px 6px
    font-size: 16px
  div.actions
    float: right
    text-align: right
    width: 340px
    margin: 21px 18px

#cart_shipping_estimator
  padding: 12px 18px 0
  border-radius: 0
  overflow: hidden
  max-width: 400px
  .rates
    clear: left
    padding-top: 10px

.cart_footer
  .coupon
    border-top: 1px solid #e6e6e6
    border-bottom: 1px solid #e6e6e6
  .cart-totals-table
    padding: 12px 18px 18px
    tbody tr:last-of-type td
      padding-bottom: 6px
    tfoot td
      padding-top: 6px
      border-top: 1px solid #e6e6e6


