$toolbar-border: 1px solid #eee

.toolbar
  .row
    padding: 0 9px
.toolbar, .page-sitemap .pager
  font-size: 12px
  overflow: hidden
  line-height: 36px
  border: $toolbar-border
  border-radius: 4px
  margin: 6px 0
  background: #fcfcfc
.toolbar
  .sort-by
    float: left
    border-right: $toolbar-border
    padding: 0 1em 0 0
  .view-mode
    float: right
    border-left: $toolbar-border
    padding: 0 0 0 1em

.pager
  text-align: center
  font-size: 12px
  line-height: 18px
  height: 18px
  padding: 8px
  li, strong
    display: inline
    padding: 0 5px 0 0
    font-weight: bold
  .page_number
    border: 1px solid #E0DEDE
    display: inline-block
    height: 18px
    line-height: 18px
    width: 18px
    color: #747474
    background: white
    border-radius: 2px
    &.current
      background: $color-primary
      border-color: $color-primary
      color: white
  a.page_number
    margin: 0
    &:hover
      box-shadow: 1px 1px 1px rgba(0,0,0,0.05)
.pager-prev a, .pager-next a
  text-decoration: none
  font-weight: normal
  color: #474747
  margin: 0

.col-left .block-content ol
  font-size: 13px
  line-height: 13px
  list-style-image: none
  list-style-position: outside
  list-style-type: none
  li
    padding-bottom: 10px
    &:last-of-type
      padding-bottom: 4px

.col-main .block > h1.category_title
  text-align: left
  height: 40px
  padding: 0 24px
  font-size: 18px
  line-height: 39px
.mac .col-main .block > h1.category_title
  height: 38px
  padding-top: 2px
.category-description
  margin-bottom: 14px
  overflow: hidden
  border-radius: 0px 0px 5px 5px



.products-list
  .product-shop .price-box
    float: none
  .product-shop
    margin: 5px 0 0 20px
  li.item
    border: 1px solid #e8e8e8
    border-radius: 4px
    margin: 0 0 12px
    padding: 0 5px
    .product-image
      height: 183px
      max-width: 240px
      display: block
      float: left
    &:hover
      //border-color: #93b920
      cursor: pointer
      transition: 0.8s
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1)

li.item .btn-cart
  clear: left
  margin: 0 10px 15px 0

.products-list-grid
  margin: 0 -9px 0 -8px
  li.item
    padding: 0
    float: left
    margin: 8px 9px 8px 8px
    width: 240px
    min-height: 320px
    .btn-cart
      display: none
    .price-box
      margin-bottom: 0
    .product-shop
      margin: 0
      padding: 12px
    h2.product-name
      font-size: 14px
    .product-image img
      border-top-left-radius: 4px
      border-top-right-radius: 4px

.category_bottom_description
  margin: 18px 0 0

.variation-oa2Y3GTeQYOgRzBz0mb6rA-1 .products-list-grid li.item
  min-height: 336px
  .price-box
    margin-bottom: 42px
  .btn-cart
    display: inline-block
    font-size: 12px
    height: 18px
    margin: 12px 0 0
    position: absolute
    bottom: 10px
