.progress_line
  width: 300px
.checkout_progress
  width: 400px
  li
    width: 100px
  .step_number
    height: 36px
    width: 36px

.checkout_container
  margin-top: -6px
  padding: 0 32px
.checkout_step
  max-width: 410px
  width: 100%
  float: left
.checkout_sidebar
  max-width: 330px
  width: 100%
  float: right
  a.edit_cart_link, a.edit_cart_link:visited
    float: right
    line-height: 16px
    color: $color-secondary
  .order_summary_box
    background: #f8f8f8
    border: 1px solid #ebebeb
    border-radius: 5px
    color: #4d4d4d
    padding: 6px
    margin-bottom: 35px
    .note
      padding: 2px 0
      color: #9d9d9d
      display: block
      font-style: italic
    table
      width: 100%
      td
        padding: 9px 12px
        &.qty
          font-weight: bold
          span
            color: #b3b3b3
            margin: 0 0 0 4px
        &.right
          text-align: right
      .a-right
        text-align: right
      hr
        border: 0px none
        border-bottom: 1px solid #ebebeb

.checkout-onepage-success
  .std>h1
    margin: 24px 0 12px
    color: #2CA600
    font-size: 20px
    &::before
      content: glyph(tick)
      display: inline-block
      font-family: "icons"
      font-style: normal
      font-weight: normal
      font-variant: normal
      line-height: 1
      text-decoration: inherit
      text-transform: none
      -moz-osx-font-smoothing: grayscale
      -webkit-font-smoothing: antialiased
      font-size: 26px
      speak: none
      position: absolute
      left: 10px

.postcode_finder_link
  float: left
  margin: 0 1em 0 3.5em
  line-height: 36px
.secure_note
  width: 410px
  text-align: center
  padding: 9px 0
  line-height: 32px
  .icon
    position: relative
    top: 6px
    font-size: 32px
    color: #ccc
    margin-right: 6px
.checkout_form
  .actions
    margin: 32px 0 64px
#address_form_container
  #login_form
    top: 90px
    width: 410px
  .existing_account_note
    position: absolute
    top: 35px
    left: 455px
    width: 110px
    &:before
      position: absolute
      left: -36px

.checkout_note
  clear: both
  float: right
  color: #666
  margin: 12px 0