.footer-container
  width: 100%
  background-color: #1e1e1e
  clear: both
  color: #c8c8c8

.footer
  max-width: 1024px
  margin: 0 auto
  dl
    width: 300px
  .links li
    display: block
    float: left
    padding: 0 5px
    &.last:after
      display: block
      content: ''
  .links li:after
    content: '\00B7'
    padding-left: 9px
  dt
    padding: 10px 0 10px 0

.footer-top
  text-align: left
  height: 275px
  padding: 0 0 80px 0
  overflow: hidden
  a
    text-decoration: underline
  a:link, a:visited
    color: #c8c8c8
  a:hover
    color: #ffcc03
  .fb-follow
    background: #000
    +border-radius(5px)
    padding: 10px
    margin: 10px 0 28px 0

.footer-bottom
  padding: 10px 0
  .links
    float: left
    margin: 5px 0 0
  ul li a
    color: #c8c8c8

.footer-newsletter .newsletter_subscribe
  text-align: left
  height: 69px
  display: block
  margin: 0 auto
  border-top: solid 1px #3b3b3b
  border-bottom: solid 1px #3b3b3b
  padding: 31px 30px 0 5px
  width: 870px
  label
    margin: 0
    font-size: 30px
    color: #fc0
    float: left
    line-height: 42px
    text-transform: uppercase
    height: 40px
    padding-right: 15px
    font-family: Humanist777BlackCond, sans-serif
    width: 450px
  input:focus
    border-color: #333
  .button
    display: inline-block
    font-size: 15px
    font-weight: bold
    height: 40px
    line-height: 32px
    text-align: center
    vertical-align: top
    white-space: nowrap
    width: auto
    text-transform: uppercase
    -webkit-border-top-left-radius: 0px
    -webkit-border-bottom-left-radius: 0px
    -moz-border-radius-topleft: 0px
    -moz-border-radius-bottomleft: 0px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    -webkit-border-top-right-radius: 5px
    -webkit-border-bottom-right-radius: 5px
    -moz-border-radius-topright: 5px
    -moz-border-radius-bottomright: 5px
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    margin: 0 0 10px 0
    padding: 0 15px
  input.email
    width: 272px
    border: 0 none
    height: 40px
    line-height: 32px
    font-size: 15px
    float: left
    -webkit-border-top-left-radius: 5px
    -webkit-border-bottom-left-radius: 5px
    -moz-border-radius-topleft: 5px
    -moz-border-radius-bottomleft: 5px
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    -webkit-border-top-right-radius: 0px
    -webkit-border-bottom-right-radius: 0px
    -moz-border-radius-topright: 0px
    -moz-border-radius-bottomright: 0px
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
    padding: 0 0 0 12px
    margin-right: 0px