.header-container
  background: image_url('bg_header.jpg') scroll 50% 0 black no-repeat
  position: relative
  z-index: 10
  box-shadow: 0 2px 8px rgba(0,0,0,0.65)
  &.fixed
    z-index: 20
    box-shadow: none
    margin-bottom: 75px
    #navigation_bar
      box-shadow: 0 2px 8px rgba(0,0,0,0.65)
      position: fixed
      top: 0
      left: 0
      right: 0
body.checkout, body.checkout-cart-index
  .header-container.fixed
      margin-bottom: 0
.cms-index-index .header-container.fixed
  box-shadow: 0 2px 8px rgba(0,0,0,0.65)
  margin: 0
  #navigation_bar
    box-shadow: none
    position: relative
    top: 0
    left: 0
    right: 0

#logo
  float: left
  padding-top: 13px

.header
  overflow: hidden
  height: 94px
  ul.links
    padding: 6px 10px 0 0
    float: right
    clear: right
    li
      display: inline
      padding: 0 0 0 10px
      font-size: 14px
      a
        color: white
      &:after
        content: '\00B7'
        color: #fff
        padding-left: 9px
      &.last:after
        padding: 0
        content: ''
#navigation_bar
  background: #373737
  +linear-gradient(rgb(43,43,43),rgb(24,24,24))
  border-top: 1px solid #484848
  height: 60px
  .inner
    background: -webkit-gradient(linear, to right, to left, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.09)), color-stop(100%, rgba(255,255,255,0)))
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.09),rgba(255,255,255,0))
    background: -moz-linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.09),rgba(255,255,255,0))
    background: -o-linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.09),rgba(255,255,255,0))
    background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.09),rgba(255,255,255,0))
    max-width: 1024px
    margin: 0 auto
    text-align: left
  .dropdown_title
    height: 40px
    display: inline-block
    cursor: pointer
    line-height: 42px
    font-size: 18px
    text-align: left
    margin: 9px 0
    padding: 0 24px 0 14px
    text-transform: uppercase
    text-decoration: none
    font-weight: 400
    font-family: Humanist777BlackCond, sans-serif
    color: #fc0
    transition: none
    border: 1px solid #1d1d1d
    +border-radius(5px)
    span
      color: #fff
    &:after
      font-size: 12px
      font-family: icons
      content: glyph(caret-down)
      color: #939393
      position: relative
      top: -1px
      right: -10px
      -webkit-touch-callout: none
      -webkit-user-select: none
      -khtml-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
#navigation_bar .is-active>.dropdown_title, #navigation_bar .dropdown_title:hover
  background: rgb(21,21,21)
  border: 1px solid rgb(18,18,18)
  padding: 0 24px 0 14px

#navigation_bar .catalog_navigation
  width: 270px
  height: 60px
  float: left
  position: relative

#navigation_bar .search_form
  float: left
  position: relative
  padding: 10px 0
  button.search-button
    height: 40px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    position: relative
    left: -8px

input.search-input[type="text"]
  float: left
  width: 376px
  height: 40px
  border: 0 none
  margin-right: 0
  -webkit-border-top-left-radius: 7px
  -webkit-border-bottom-left-radius: 7px
  -moz-border-radius-topleft: 7px
  -moz-border-radius-bottomleft: 7px
  border-top-left-radius: 7px
  border-bottom-left-radius: 7px
  -webkit-border-top-right-radius: 0px
  -webkit-border-bottom-right-radius: 0px
  -moz-border-radius-topright: 0px
  -moz-border-radius-bottomright: 0px
  border-top-right-radius: 0px
  border-bottom-right-radius: 0px
  &.empty
    padding: 0 0 0 40px
  &:focus
    border: 1px solid $color-primary

.search-button.empty:before
  content: glyph(search)
  display: inline-block
  font-family: "icons"
  font-style: normal
  font-weight: normal
  font-variant: normal
  line-height: 1
  text-decoration: inherit
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 14px
  speak: none
  position: absolute
  left: -352px
  top: 12px
  color: #999

.search-input
  width: 280px
  height: 34px
  border: 0 none
  margin-right: 4px
  margin-left: 7px
  +border-radius(4px)
  padding: 0 0 0 10px
  background: #fff
  font-size: 14px
  font-family: icons, "Helvetica Neue",Helvetica,sans-serif

.breadcrumbs
  padding: 0 10px
  li
    display: inline
    color: #959595
    a
      color: #56acb4
      &:visited
        color: #56acb4
    strong
      color: #222
      font-weight: normal

.header_phone
  float: right
  padding: 18px 10px 0 0
  font-size: 30px
  text-transform: uppercase
  color: #ececec
  font-family: Humanist777BlackCond,sans-serif
  height: 30px
  line-height: 30px
  >span, >span a, >span *, >span a:visited
    color: $color-primary
.subheader
  padding: 25px 12px 21px

.subheader
  padding: 25px 12px 21px

#navigation_bar #minicart
  float: right
  position: relative
  .dropdown_title
    padding-left: 46px
  .count
    color: #fc0
    position: absolute
    left: 24px
    top: 16px
    line-height: 16px
    &:before
      color: white
      position: absolute
      content: glyph(cart3)
      font-size: 32px
      left: -15px
      bottom: -8px
    &.shrink
      font-size: 14px
      &:before
        left: -12px

#minicart_dropdown
  width: 250px
  background: white
  position: absolute
  right: 0
  top: 56px
  +border-radius(7px)
  box-shadow: 0px 0px 10px rgba(0,0,0,.3)
  #minicart-success-message
    color: green
  #minicart-error-message
    color: red
  &:before
    content: ''
    height: 0
    position: absolute
    width: 0
    border: 10px solid transparent
    border-bottom-color: #fff
    right: 55px
    top: -18px

.minicart-wrapper
  padding-bottom: 1px
  min-height: 30px
  .empty
    margin-top: 30px
    padding: 0 40px 27px 40px
  .mini-products-list
    padding: 10px 25px
    li
      border-bottom: 1px solid #ececec
      clear: both
      padding: 10px 0 14px 0
      text-align: left
      &.removing
        opacity: 0.3
      &:last-child
        border: none
    .product-image
      float: left
      min-width: 50px
      display: block
    .product-details
      margin-left: 60px
      a:hover
        color: #000
        text-decoration: none
        transition: none
      .remove
        font-size: 11px
        color: #bbb
        &:hover
          color: #CA0000
  a.btn-primary
    text-align: center
    width: 174px
    height: 34px
    margin: 0 0 15px 25px
    line-height: 33px
    display: block
    &:hover
      color: #000
      text-decoration: none

.minicart-message
  padding: 15px 25px 0

.header_banner
  float: left
  margin: 12px 24px

#account_navigation_top
  margin-left: 16px
  float: left
  position: relative
