.col2-left-layout .col-main .block
  border-radius: 8px
  max-width: 760px

.hide-desktop, #nav-root, .icon.hide-desktop
  display: none

.col-main .block.home_brands .content
  padding: 12px 0
  >ul
    padding: 12px 24px
    overflow: hidden
  .count2 li.brand_link
    width: 355px
  .count3 li.brand_link
    width: 235px
  .count4 li.brand_link
    width: 175px
  li.brand_link
    margin: 0
    float: left
    text-align: center
    img
      margin: 0 auto 18px
      display: block
      max-width: 220px
      max-height: 50px