.header-container, .header, .main, .footer, .wrapper
  min-width: 1024px
.main
  margin-top: 6px
.col-main
  float: right
  position: relative
  width: 100%
  max-width: 760px
  padding: 10px 8px
.page
  margin: 12px auto

.col-left
  float: left
  width: 214px
  font-size: 12px
  padding: 10px 0 10px 0

.col1-layout .col-main
  float: none
  max-width: none
  width: auto

//  causes issues with email inline CSS, so can't be in a file included in it
[data-href]
  cursor: pointer
