.product-view
  .product-shop
    width: 410px
  .product-img-box
    float: left
    margin-bottom: 16px
    .product-image-zoom img
      position: absolute
      left: 0
      top: 0
  .sidebar
    float: right
    width: 324px
    margin: 24px 0 24px 32px
#product-options-wrapper
  width: 250px

#product_shipping_estimator
  margin: 30px 0 0
#product_shipping_estimator, #cart_shipping_estimator
  .estimator_blank
    border-top: 1px solid #e1e1e1
    border-bottom: 1px solid #e1e1e1
    padding: 18px 0
    h3
      font-size: 15px
    form
      margin: 18px 0 9px
      display: block
      overflow: hidden
    input
      width: 100px
      float: left
    button
      padding: 0 18px
      height: 36px
      text-transform: uppercase
  label.radio-label
    background: none
    border-top: 1px solid #e1e1e1
    font-weight: bold
    border-radius: 0
    padding: 16px 0 6px 30px
    line-height: 24px
    position: relative
  .icon
    position: absolute
    left: 0
    top: 9px
  .shipping_price
    color: #31AF00
    margin: 0 6px
  .note
    font-weight: normal
    &:before
      content: '\A'
      white-space: pre
  .location_changer, .link, a, a:visited
    font-weight: normal
    color: $color-secondary
  .location_changer
    margin: 0 6px
  p.notes
    font-size: 12px
    color: #9d9d9d
    font-style: italic
    border-top: 1px solid #e1e1e1
    padding: 9px 0 0
    line-height: 15px
  select
    height: 28px
    display: inline
    width: auto
  address
    white-space: pre-line
    line-height: 22px
    font-weight: normal
    font-style: normal
.product_actions

  margin: 36px 0 0

.product-view .panel.help
  border: 0px none
  .content
    border: 1px solid #e1e1e1
    background: #f9f9f9
    line-height: 1.5em
    padding: 22px 27px
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
  .phone
    font-size: 16px
    font-weight: bold
    position: relative
    margin-left: 20px
    &::before
      position: absolute
      left: -20px
      top: 1px
      font-size: 17px
      content: glyph(phone2)
  a.email
    font-weight: normal
    margin-left: 40px
    font-size: 16px
    color: $color-secondary
    position: relative
    &::before
      font-size: 14px
      position: absolute
      color: #000
      top: 2px
      left: -22px
      margin-right: 24px
      content: glyph(envelope)

  h3
    border-top-left-radius: 8px
    border-top-right-radius: 8px
    font-weight: normal
    margin: 0
    background: #353535
    color: #fff
    text-align: center
    font-size: 24px
    font-family: Humanist777BlackCond, sans-serif
    text-transform: uppercase
    line-height: 60px
    height: 60px
.mac .product-view .panel.help h3
  padding-top: 3px
  box-sizing: border-box


.product-shop
  .rating-list
    float: left
    margin-left: -2px
  .price-box
    clear: left
    float: left
  .std
    clear: both
  h1
    font-size: 31px
    margin-bottom: 9px
    line-height: 1.25em
.product-view .product-shop .price-box
  width: 290px
#stock_alert_form
  clear: left


