#new_review_popup .content
  width: 660px

#customer-reviews
  padding: 20px
  .pager
    text-align: center
    .page_number
      border: none
      background: none
      font-size: 14px
      color: #999
      &:hover
        box-shadow: none
    .current
      color: #333
    .pager-next, .pager-prev
      .icon
        color: $color-secondary
        position: relative
        top: 3px
.review-product-list
  background: #fcfcfc
  border: 1px solid #eeeeee
  +border-radius(5px)
  clear: both
  margin: 20px 0
  a
    &:hover
      text-decoration: none
  .review-heading
    overflow: hidden
    border-bottom: 1px solid #eee
    padding: 0 0 20px
    .review-heading-right
      float: right
      a
        &:hover
          text-decoration: none
        button
          height: 34px
          width: 145px
    .review-line
      float: left
      margin: 0px auto
      width: 100%
      margin-top: 19px
      margin-bottom: 15px
  .review-containers
    .review-item
      overflow: hidden
      padding: 24px 0 0
      line-height: 25px
      .review-body-left
        width: 145px
        float: left
        line-height: normal
        .review-body-name
          margin-bottom: 2px
      .review-body-right
        width: 510px
        float: left
        .review-body-right-others
          float: left
          width: 100%

.review-edit
  overflow: hidden
  .review-left
    width: 200px
    float: left
    padding-right: 24px
    span
      float: left
    .review-left-img
      max-width: 72%
    .review-left-title
      font-size: 15px
      width: 80%
  .review-right
    width: 410px
    float: left
  .close, .close:hover
    background: none
    border-radius: 14px
    top: 10px
    right: 10px
    font-size: 15px
    color: #999
  input[type="text"], textarea, input[type="email"]
    width: 384px
  h1.review-title
    text-align: left
  .inline-title
    padding-top: 4px
  input.short-input
    width: 214px
  textarea
    font-size: 14px
    line-height: 1.5em
    height: 108px
  #nickname_field
    float: left
    margin-right: 12px

.review-body-left
  width: 370px
  float: left
  .product-name
    a:hover
      text-decoration: none
    p
      font-size: 23px
      line-height: 1.35em
  .review-body-name
    margin: 7px 0
  .product-image
    display: none
.review-body-right
  padding-top: 6px
  .product-image
    margin-left: 24px

.review-product-list
  .review-container
    position: relative

.review-detail
  .review-title
    clear: left
    margin: 18px 0 3px
    font-size: 16px
    font-weight: bold
  .review-media
    margin: 24px 0
  .rating-list
    margin: 18px -6px
    overflow: hidden
    label
      font-size: 2em
      float: left
      color: gold
    .grey-star
      color: #ddd
.review_summary
  float: left
  line-height: 26px
  width: 60%
  h3
    font-size: 16px
  .rating-list
    float: left
    margin: -5px 9px 0 0
.rating
  label.icon
    position: relative
    .part_star
      position: absolute
      display: block
      left: 0
      top: 0
      overflow: hidden
      color: gold
.product-view .product-shop .rating
  a
    display: block
    margin-top: 12px
    line-height: 15px
    &:hover
      text-decoration: none
    >span
      font-size: 15px
      float: left
      margin-left: 6px
    label.icon
      line-height: 15px
      margin: 0 1px
      cursor: pointer
    &:after
      content: glyph(ios-arrow-down)
      font-size: 11px
      margin-left: 3px
      font-weight: bold
      color: $color-primary
      line-height: 18px