.col-main .block.testimonials_content
  margin-top: 32px
  border: 1px solid #e1e1e1
  background: #fcfcfc
  border-radius: 5px
  position: relative
  .testimonial
    border-bottom: 1px solid #e1e1e1
    padding: 32px 32px 32px 170px
    position: relative
    &:before
      content: '\201c'
      position: absolute
      left: 80px
      top: 80px
      font-size: 140px
      font-family: Georgia, serif
      color: $color-primary
    p.cite
      margin-top: 24px
      font-style: italic
      color: #777
  a.view_all
    position: absolute
    bottom: 32px
    right: 32px
    color: $color-secondary