.dropdown_nav
  display: none
  background: white
  min-width: 214px
  position: absolute
  border-radius: 6px
  top: 56px
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3)
  a
    display: block
    line-height: 1.3em
    padding: 5px 24px 5px 18px
    text-decoration: none
    white-space: nowrap
    transition: none
  .icon-caret-right
    position: absolute
    top: 4px
    left: 40px
    &::after
      content: '\25B8'
      font-size: 16px
  > li
    text-align: left
    & > a
      &::after
        display: none
        content: '\25B8'
        font-size: 16px
        position: absolute
        left: 194px
        color: rgb(193,193,193)
    &:hover
      color: rgb(235,181,0)
      transition: none
      a:after
        color: rgb(235,181,0)
    &.is-active > a
      //width: 423px
      //font-weight: bold
      //color: rgb(235,181,0)
    &:first-of-type
      margin-top: 7px
    &:last-of-type
      margin-bottom: 8px
  > li > ul
    font-weight: normal
    position: absolute
    background: rgb(242,242,242)
    width: 250px
    left: 214px
    top: 0
    display: none
    border-left: 1px solid rgb(231,231,231)
    border-radius: 0 6px 6px 0
  li:last-of-type
    color: red
  > li.is-active > ul
    display: block
  &:before
    content: ' '
    height: 0
    position: absolute
    width: 0
    border: 10px solid transparent
    border-bottom-color: #fff
    top: -18px
    left: 80px
  .child-category-title
    font-size: 20px
    font-weight: 500
    padding-top: 6px
.is-active > .dropdown_nav
  display: block
#navigation_bar .disabled>.dropdown_title
  cursor: default

#left_navigation_surrogate
  //This height will be automatically adjusted by javascript in top.phtml
  height: 607px
