.gallery_container
  width: 580px
  float: left
  img.main_image
    //ie9 fix
    height: auto
    width: auto
  .thumbnails_container
    width: 375px
    position: relative
    margin: 0 auto
    .prev, .next
      position: absolute
      top: 0
      color: $color-primary
      cursor: pointer
    .next
      right: -20px
      &:before
        line-height: 68px
        content: glyph(chevron-right)
    .prev
      left: -25px
      &:before
        line-height: 68px
        content: glyph(chevron-left)
  ul.thumbnails
    position: relative
    margin: 0 auto
    max-width: 375px
    white-space: nowrap
    overflow: hidden

  .gallery_zoom
    .thumbnails_container
      width: 800px
      .prev
        left: 12px
        z-index: 30
        top: 12px
      .next
        right: 12px
        z-index: 30
        top: 12px
    ul.thumbnails
      max-width: none
    li.selected
      display: inline-block
ul.thumbnails
  li
    margin: 0 5px 8px 0
    border: 1px solid #DDD
    height: 68px
    width: 68px
    &.selected
      display: none
    &.selected:after
      display: none
    &:hover
      border: 1px solid $color-secondary
body.zoom #gallery
  display: table
div.gallery_zoom
  background: rgba(0, 0, 0, 0.6)
  display: table-cell
  vertical-align: middle
  text-align: center
  .gallery_nav
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    cursor: default
    .icon
      position: absolute
      top: 0
      height: 100%
      width: 50%
      cursor: pointer
      font-size: 48px
      &:after
        position: absolute
        top: 47%
      &.prev
        left: 0
        &:hover:after
          left: 24px
          content: glyph(chevron-left)
      &.next
        right: 0
        &:hover:after
          right: 24px
          content: glyph(chevron-right)
  .close
    cursor: pointer
    position: absolute
    top: -14px
    right: 14px
    z-index: 999
    &:after
      background: #FDD803
      height: 28px
      width: 28px
      border-radius: 14px
      line-height: 28px
      text-align: center
      font-size: 12px
      cursor: pointer
      color: #1a1a1a
      text-decoration: none
  .zoom
    width: 800px
    margin: 0 auto
    position: relative
  .zoom_inner
    margin-top: 2.4em
    width: 800px
    background: white
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    overflow: hidden
    &.singular
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px
  ul.thumbnails
    float: none
    box-sizing: border-box
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    background: #e6e6e6
    padding: 10px
    margin: 0
    width: 800px
    display: inline-block
    text-align: center
    li
      margin: 0 5px
    li.selected:after
      display: block
