<div id="drawer">
    <div class="content">
        <a href="<?php echo $this->getUrl('') ?>">Homepage</a>
        <strong>Browse</strong>
        <?php echo $this->getChildHtml(); ?>
    </div>
</div>
