<div class="page-title">
    <h1><?php echo $this->__('Change Password') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<form action="<?php echo $this->getUrl('customer/password/editPost') ?>" method="post" id="personal_details_form" autocomplete="off" novalidate>
    <?php echo $this->getBlockHtml('formkey')?>
    <label for="current_password"><?php echo $this->__('Current Password') ?> <span class="required">*</span></label>
    <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
    <input type="text" class="input-text no-display" name="dummy" id="dummy" style="display: none" />
    <input type="password" required="required" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter your current password')) ?>" class="input-text" name="current_password" id="current_password" />
    <label for="password"><?php echo $this->__('New Password') ?> <span class="required">*</span></label>
    <div class="password_box">
        <input type="password" required="required" placeholder="at least 6 characters" data-rule-minlength="6" name="password" id="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please choose a password at least 6 characters long')) ?>" class="input-text required-entry validate-password" />
        <input type="checkbox" class="password_reveal"/>
    </div>
    <div class="actions">
        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save Changes')) ?>" class="button btn-primary continue"><?php echo $this->__('Save Changes') ?></button>
    </div>
</form>
