<?php /** @var TradeTested_Checkout_Block_Cart $this */ ?>
<div class="cart" id="cart">
    <div class="cart_notes">

        <?php //Added to cart message is redundant ?>
        <?php $messages = $this->getMessagesBlock() ?>
        <?php foreach($messages->getMessages('success') as $_msg) $_msg->setIdentifier('delete'); ?>
        <?php $messages->getMessageCollection()->deleteMessageByIdentifier('delete'); ?>
        <?php echo $messages->getGroupedHtml() ?>

        <?php echo $this->getChildHtml('form_before') ?>
        <?php echo $this->getChildHtml('notes_before') ?>
    </div>
    <?php echo $this->getChildHtml('cross_sell') ?>
    <div class="cart_container">
        <div class="cart_contents">
            <div class="cart_header hide-phone">
                <div class="cart_item_main" style="height: 14px;">
                    <?php echo $this->__('Product'); ?>
                </div>
                <div class="cart_item_data">
                    <div><?php echo $this->__('Subtotal') ?></div>
                    <div><?php echo $this->__('Quantity') ?></div>
                    <div><?php echo $this->__('Price') ?></div>
                </div>
                <div class="clear"></div>
            </div>
            <form action="<?php echo $this->getUrl('tradetested_checkout', array('_secure' => true)) ?>" method="post">
                <div id="cart_items">
                    <?php echo $this->getChildHtml('items') ?>
                </div>
                <div class="cart_actions">
                    <?php if($this->getContinueShoppingUrl()): ?>
                        <button type="button" class="button left" onclick="window.location = '<?php echo Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()) ?>'">
                            <span class="icon hide-phone" style="margin:0 9px 0 0;">
                                <?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-left') ?>
                            </span>
                            <span class="hide-phone"><?php echo $this->__('Continue Shopping') ?></span>
                            <span class="hide-desktop">Back</span>
                        </button>
                    <?php endif; ?>
                    <button class="button btn-primary" id="proceed_to_checkout_link" type="submit">Proceed to Checkout<span class="icon right" style="margin:0 0 0 9px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right') ?></span></button>
                </div>
            </form>
            <div class="cart_footer">
                <div id="cart_shipping_estimator" class="block shipping_estimator"></div>
                <?php echo $this->getChildHtml('coupon'); ?>
                <div class="totals cart-totals-table"><?php echo $this->getChildHtml('totals'); ?></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->getChildHtml('notes_after') ?>
<div class="clear" style="height:100px;"></div>
