<div class="block testimonials_content" xmlns:p="http://www.w3.org/1999/html">
    <h3 style="padding: 0.75em 0">Testimonials</h3>
    <a href="<?php echo $this->getReadAllLink() ?>" style="position:absolute;top:1em;right:0;text-decoration:underline;">View All Testimonials</a>
    <div class="m-scooch m-fluid">
        <?php $x = 0 ?>
        <?php $chunks = array_chunk($this->getRandomTestimonials($this->getMax())->getItems(), $this->getPerFrame()) ?>
        <div class="m-scooch-inner">
            <?php foreach ($chunks as $_chunk): ?>
                <div class="m-item">
                    <?php foreach($_chunk as $_testimonial): ?>
                        <div class="testimonial">
                            <div class="text">
                                <?php echo $_testimonial->getQuote() ?>
                                <h2><?php echo $_testimonial->getCite() ?></h2>
                            </div>
                            <div class="fade"></div>
                            <div class="callout"></div>
                        </div>
                    <?php endforeach ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="m-scooch-controls m-scooch-bulleted">
            <?php $x=1; foreach ($chunks as $_):?>
                <a href="#" data-m-slide="<?php echo $x++ ?>"></a>
            <?php endforeach; ?>
        </div>
        <a href="#" data-m-slide="prev" class="icon m-prev"></a>
        <a href="#" data-m-slide="next" class="icon m-next"></a>
    </div>
</div>