<?php /** @var TradeTested_PaymentExpress_Block_Pxpost_Info $this */ ?>
<p><?php echo $this->getMethod()->getTitle() ?></p>
<?php $info = $this->getInfo() ?>
<table width="100%"  border="0">
    <tr><td width="45%" class="label"><?php echo $this->__('Card Type') ?></td><td><?php echo $this->getAdditionalData('card_name') ?></td>
    <tr><td width="45%" class="label"><?php echo $this->__('Name on Card') ?></td><td><?php echo $this->getAdditionalData('card_holder_name') ?></td>
    <tr><td width="45%" class="label"><?php echo $this->__('Amount Settled') ?></td><td><?php echo $this->getAdditionalData('amount') ?></td>
    <tr><td width="45%" class="label"><?php echo $this->__('Settlement Currency') ?></td><td><?php echo $this->getAdditionalData('currency_name') ?></td>
</table>
<?php $maxmindData = $this->getMaxmindData() ?>
<?php if($maxmindData) :?>
<?php $isFraud = ($maxmindData['Suspected Fraud'] == 'Fraud Suspected - Review Pending' ||  $maxmindData['Suspected Fraud'] == 'Fraud Suspected - Rejected');?>
<div class="entry-edit">
    <div style="<?php echo $isFraud?'background-color:red;':'background-color:green;' ?>" class="entry-edit-head collapseable <?php echo $isFraud?'open':'' ?>">
        <a onclick="$$('.magebasedps_maxmind_details').invoke('toggle');this.toggleClassName('open'); return false;" href="#" class=""><?php echo $this->__('Fraud Details')?></a>
    </div>
</div>
<table width="100%"  border="0">
    <?php foreach ($maxmindData as $maxmindLabel=>$maxmindValue):?>
    <?php if($maxmindLabel == 'Suspected Fraud'):?>
        <tr><td width="45%" class="label"><?php echo $this->__($maxmindLabel) ?></td><td style="<?php echo $isFraud?'color:red;':'' ?>"><?php echo $maxmindValue ?> <?php echo $isFraud? '': '<img style="margin-left:10px; vertical-align:middle" src="'. $this->getSkinUrl('images/success_msg_icon.gif').'" alt="No Fraud Detected" /></td>'?>
        <?php else: ?>
        <tr class="magebasedps_maxmind_details" style="<?php echo $isFraud?'':'display:none;' ?>"><td width="45%" class="label"><?php echo $this->__($maxmindLabel) ?></td><td style="<?php echo $isFraud?'color:red;':'' ?>"><?php echo $maxmindValue ?></td>
        <?php endif; ?>
    <?php endforeach; ?>
</table>
<?php endif; ?>
<div class="entry-edit">
    <div class="entry-edit-head collapseable">
        <a onclick="$$('#magebasedps_txn_details').invoke('toggle');this.toggleClassName('open'); return false;" href="#" class=""><?php echo $this->__('Transaction Details')?></a>
    </div>
</div>
<div id="magebasedps_txn_details" style="display:none;">
    <table width="100%" border="0">
        <tr><td width="45%" class="label"><?php echo $this->__('CardNumber') ?></td><td><?php echo $this->getAdditionalData('card_number') ?></td>
        <tr><td width="45%" class="label"><?php echo $this->__('Authentication Code') ?></td><td><?php echo $this->getAdditionalData('auth_code') ?></td>
        <tr><td width="45%" class="label"><?php echo $this->__('Transaction Type') ?></td><td><?php echo $this->getAdditionalData('txn_type') ?></td>
        <tr><td width="45%" class="label"><?php echo $this->__('Transaction Id') ?></td><td><?php echo $this->getAdditionalData('transaction_id') ?></td>
        <tr><td width="45%" class="label"><?php echo $this->__('DPS Transaction Reference') ?></td><td><?php echo $this->getAdditionalData('dps_txn_ref') ?></td>
        <tr><td width="45%" class="label"><?php echo $this->__('Response Text') ?></td><td><?php echo $this->getAdditionalData('response_text') ?></td>
        <tr><td width="45%" class="label"><?php echo $this->__('Cvc2 Result Code') ?></td><td><?php echo $this->getAdditionalData('cvc2_result_code') ?></td>
    </table>
</div>
<?php if($this->getAdditionalData('fraud_score_details')): ?>
    <div class="entry-edit">
        <div class="entry-edit-head collapseable">
            <a onclick="$$('#maxmind_details').invoke('toggle');this.toggleClassName('open'); return false;" href="#" class=""><?php echo $this->__('Fraud Score Details')?> (<?php echo $this->getAdditionalData('fraud_score_details/risk_score') ?>)</a>
        </div>
    </div>
    <div id="maxmind_details" style="display:none;">
        <table width="100%" border="0">
            <?php foreach ($this->helper('tradetested_payment_express')->getFraudAttributes() as $_key => $_label): ?>
            <?php ($value = $this->getAdditionalData('fraud_score_details/'.$_key)) ?>
                <?php if ($value === true) $value = 'Yes'; if ($value === false) $value = 'No'; ?>
                <?php if (!is_null($value)): ?>
                    <tr><td width="45%" class="label"><?php echo $this->__($_label) ?></td><td><?php echo $value ?></td>
                <?php endif; ?>
            <?php endforeach; ?>
        </table>
    </div>
<?php endif; ?>
<br/>