<div class="narrow_form">
    <h1><?php echo $this->__('Create Account') ?></h1>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="register_form" data-validate="true">
        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
        <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setFieldParams('autofocus')->setForceUseCustomerAttributes(true)->toHtml() ?>
        <label for="email_address" style="white-space: nowrap"><?php echo $this->__('Email') ?> <span class="required">*</span></label>
        <input type="email" required="required" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter your email address')) ?>" class="input-text validate-email required-entry" />
        <label for="password"><?php echo $this->__('Choose a Password') ?> <span class="required">*</span></label>
        <div class="password_box">
            <input type="password" required="required" placeholder="at least 6 characters" data-rule-minlength="6" name="password" id="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please choose a password at least 6 characters long')) ?>" class="input-text required-entry validate-password" />
            <input type="checkbox" class="password_reveal"/>
        </div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <?php echo $this->getChildHtml('form.additional.info'); ?>
        <div class="clear" style="height:12px"></div>
        <input type="checkbox" name="newsletter_signup" id="newsletter_signup"/>
        <label for="newsletter_signup">Sign me up for special offers and promotions</label>
        <div class="clear" style="height:12px"></div>
        <div class="actions">
            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Create Account')) ?>" class="button btn-primary continue"><?php echo $this->__('Create Account') ?></button>
        </div>
        <p style="margin:18px 0">
            By creating an account, you agree to Trade Tested's <a href="/terms-conditions" target="_blank">Terms &amp; Conditions</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
        </p>
        <hr/>
        <p>Already have an account? <a href="<?php echo $this->getUrl('customer/account/login') ?>">Sign In</a></p>
    </form>
</div>
