<!--@subject Create an account  @-->
<!--@vars
@-->
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<h1>Hi,</h1>
<p>Unfortunately, you don't have an account with Trade Tested yet.</p>
<p>Let us change that for you, <a href="{{store url="customer/account/create/"}}">click here to create an account</a></p>
{{template config_path="design/email/footer"}}