<h2>Products</h2>
<table>
    <?php foreach ($this->getProducts()  as $_product): ?>
        <tr>
            <th>
                <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getSku()) ?></a>
            </th>
            <td>
                <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
            </td>
            <td>
                <?php echo Mage::helper('core')->currency($_product->getPrice()) ?>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
