<table class="products-grid">
    <?php $i = 0 ?>
    <?php foreach ($this->getProducts()  as $_product): ?>
        <?php if ($i == 0): ?><tr><?php endif; ?><?php $i++; ?>
        <td style="padding:9px;">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(125) ?>" width="125" height="125" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
            <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
            <?php //echo $this->getPriceHtml($_item->getProduct(), true); //Use price at own risk. Next version is to have option for choosing quote price vs current price. ?>
        </td>
        <?php if ($i >= 3): ?><?php $i = 0; ?></tr><?php endif; ?>
    <?php endforeach; ?>
    <?php while($i != 0): ?><?php $i++; ?><td class="empty"></td><?php if ($i >= 3): ?><?php $i = 0; ?></tr><?php endif; ?><?php endwhile; ?>
</table>
