<?php
/**
 * Noam Design Group
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA available 
 * through the world-wide-web at this URL:
 * http://ultimento.com/ultimento-license.txt
 * 
 * MAGENTO EDITION USAGE NOTICE
 * 
 * This package is designed for Magento COMMUNITY edition. 
 * =================================================================
 *
 * @package    Ultimento-x
 * @copyright  Copyright (c) 2006-2011 Noam Design Group. (http://www.noamdesign.com)
 * @license    http://ultimento.com/ultimento-license.txt
 */
?>
<script type="text/javascript">
<!--		
	function showLoading(){
		$('loading-mask').show();
	}

	function confirmUninstall(){
		var answer = confirm("Are you sure you want to permanently uninstall Ultimento?");
		if (answer){
			showLoading();
			form = document.getElementById('edit_form');
			form.action = document.getElementById('uninstall_action').value;
			form.submit();		
		}
		else  {
			return false;
		}
	}
//-->
</script>	
	
<div class="content-header">
    <table cellspacing="0" class="grid-header">
<?php			
				
		$is_installed = false;
		
		$stores = Mage::getSingleton('adminhtml/system_store')->getStoreOptionHash();
        foreach ($stores as $store_id => $name) {
			$param = Mage::getStoreConfig('design/theme/default', $store_id);
			if ($param == 'ultimento'){
				$is_installed = true;
			}
        }
		
		
		$title = 'Ultimento-x Installation Management';
		
		if (!$is_installed){
			$title = 'One-click Install Ultimento-x';
		} 		
?>
        <tr>
            <td><h3><?php echo $this->__($title)?></h3></td>
            <td class="a-right">
<?php		
		if ($is_installed){		 
?>
			<button onclick="javascript:confirmUninstall();" class="scalable delete" type="button"><span>Uninstall</span></button>
			
<?php		
		} 
?>
			<button onclick="showLoading();editForm.submit();" class="scalable save" type="button"><span>One Click Install</span></button>
						
            </td>
        </tr>
    </table>
</div>

<div class="entry-edit">

    <form id="edit_form" name="edit_form" method="post" action="<?php echo $this->getUrl('*/*/post')?>">		
		<input name="uninstall_action" id="uninstall_action" type="hidden" value="<?php echo $this->getUrl('*/*/uninstall')?>" />		
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />		
<?php
		
		$form = new Varien_Data_Form();

        $fieldset = $form->addFieldset('general', array('legend'=>Mage::helper('core')->__('General Settings')));

        
		$fieldset->addField('store_id', 'select', array(
			'label'    => Mage::helper('core')->__('Store'),
			'title'    => Mage::helper('core')->__('Store'),
			'values'   => Mage::getSingleton('adminhtml/system_store')->getStoreValuesForForm(),
			'name'     => 'store_id',
			'required' => true,
		));
        
        $form->setFieldNameSuffix('design');
		echo $form->getHtml();
		
?>
    </form>	
</div>

<script type="text/javascript">
    var editForm = new varienForm('edit_form');
</script>