<section>
    <h2>Testimonials</h2>
    <div class="block testimonials_content" xmlns:p="http://www.w3.org/1999/html">
        <?php foreach($this->getRandomTestimonials(3)->getItems() as $_testimonial): ?>
            <div class="testimonial">
                <?php echo $_testimonial->getQuote() ?>
                <p class="cite"><?php echo $_testimonial->getCite() ?></p>
            </div>
        <?php endforeach; ?>
        <a class="view_all" href="<?php echo $this->getReadAllLink() ?>">View All Testimonials</a>
        <a class="review-button button btn-no-review btn-primary" href="<?php echo Mage::getUrl('review/product/new', array('id' => $this->getProduct()->getId())) ?>"  title="<?php echo $this->__('Write a Review') ?>" data-ajax="popup">
            <?php echo $this->__('Write A Review') ?>
        </a>
    </div>
</section>
