<div class="std testimonials_container">
    <h1 class="testimonials_title"><?php echo $this->__("Customer Testimonials"); ?></h1>
    <div class="testimonials">
        <?php $testimonials = $this->getAllTestimonials(); ?>
        <?php $i = 0;?>
        <?php if ($testimonials->count() > 0): ?>
        <?php   foreach ($testimonials as $testimonial): ?>
            <div class="testimonial_<?php $i++; echo (is_int($i/2) ? "r" : "l")?>">
                <div class="testimonial_text"><?php echo $testimonial->getQuote(); ?>
                    <h2><?php echo $testimonial->getCite(); ?></h2>
                </div>
            </div>
            <?php   endforeach; ?>
        <?php endif;?>
        <div class="toolbar" style="padding-left:12px;"><?php echo $this->getPagerHtml(); ?></div>
        <div style="clear:both;"></div>
        <div style="float: right; padding-top: 12px;">
            <ul>
                <li><button type="button" class="button" title="Browse all products" onclick="window.location='/browse.html';"><span>&nbsp;Browse All Products&nbsp;&gt;</span></button></li>
            </ul>
        </div>
    </div>
</div>
