<div class="block testimonials_sidebar">
    <div class="block-title">
        <h3>Testimonials</h3>
    </div>
    <div class="block-content">
        <?php if ($testimonial = $this->getCurrentTestimonial()): ?>
            <div class="testimonial_sidebar_box">
                <div class="testimonial_sidebar_text"><?php echo $testimonial->getQuote() ?></div>
                <div class="testimonial_sidebar_name"><?php echo $testimonial->getCite() ?></div>
            </div>
        <?php endif; ?>
        <a class="action" href="<?php echo $this->getReadAllLink() ?>">View All Testimonials</a>
    </div>
</div>