<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body class="store-<?php echo Mage::app()->getStore()->getCode() ?> <?php echo $this->getBodyClass() ?>" >
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
	<?php echo $this->getChildHtml('header') ?>
	<div class="page">
        <div class="main col1-layout">
            <div class="col-main">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('content') ?>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-container">
        <?php echo $this->getChildHtml('footer') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('before_body_end') ?>
</body>
</html>