<?php if ($suggestion = $this->getSuggestion()): ?>
    <p class="suggestion"><?php echo $this->__('Did you mean: %s', '<a href="'. $this->getQueryUrl($suggestion) .'">'. $suggestion .'</a>'); ?></p>
<?php endif; ?>