<table width="666" cellpadding="0" cellspacing="0">
    <tr valign="middle">
        <td width="26" height="100" bgcolor="#2f2f2f"></td>
        <td width="300" height="100" bgcolor="#2f2f2f" style="vertical-align: middle;">
                <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/tradetested_au.gif', false) ?>"/>
        </td>
        <td width="340" height="100" bgcolor="#2f2f2f" style="vertical-align: middle;">
            <center>
                <table>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="6">
                                <tr>
                                    <td width="36"><img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/email/phone.gif', false) ?>"/></td>
                                    <td style="color:#D0D0CF;font-size:22px;">CALL US <span style="color:#ffcc00">0800 800 880</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 6px 0 0 0;padding-top: 6px;">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="6"></td>
                                    <td colspan="2"><a href="<?php echo $this->getUrl('about-us') ?>" style="font-size:14px;color:#ffffff;text-decoration:none;">About Us</a></td>
                                    <td width="12"></td>
                                    <td><a href="<?php echo $this->getUrl('auckland-store') ?>" style="font-size:14px;color:#ffffff;text-decoration:none;">Auckland Store</a></td>
                                    <td width="12"></td>
                                    <td><a href="<?php echo $this->getUrl('buying-guides') ?>" style="font-size:14px;color:#ffffff;text-decoration:none;">Buying Guides</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
