<?php $quote = $this->getQuote(); /** @var Mage_Sales_Model_Quote $quote */?>
<h2>Products</h2>
<table>
    <?php foreach ($quote->getAllItems()  as $_item): /** @var  Mage_Sales_Model_Quote_Item $_item */?>
        <?php $_product = $_item->getProduct(); /** @var Mage_Catalog_Model_Product $product */ ?>
        <tr>
            <th>
                <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getSku()) ?></a>
            </th>
            <td>
                <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
            </td>
            <td><?php echo Mage::helper('core')->currency($_item->getPrice()); ?></td>
        </tr>
    <?php endforeach; ?>
</table>
