<?php $quote = $this->getQuote(); /** @var Mage_Sales_Model_Quote $quote */?>
<table cellspacing="0" cellpadding="0" width="606">
    <tr>
        <td colspan="11" height="12" bgcolor="#f9f9f9"></td>
    </tr>
    <tr>
        <td  width="6" bgcolor="#f9f9f9"></td>
        <td width="60" bgcolor="#f9f9f9"></td>
        <td width="12" bgcolor="#f9f9f9"></td>
        <td bgcolor="#f9f9f9">Item</td>
        <td width="12" bgcolor="#f9f9f9"></td>
        <td bgcolor="#f9f9f9">Price</td>
        <td width="12" bgcolor="#f9f9f9"></td>
        <td bgcolor="#f9f9f9">Qty</td>
        <td width="12" bgcolor="#f9f9f9"></td>
        <td bgcolor="#f9f9f9">Subtotal</td>
        <td width="6" bgcolor="#f9f9f9"></td>
    </tr>
    <tr>
        <td colspan="11" height="12" bgcolor="#f9f9f9"></td>
    </tr>
    <tr>
        <td colspan="11" height="1" bgcolor="#dcdcdc"></td>
    </tr>
    <?php foreach ($quote->getAllItems()  as $_item): /** @var  Mage_Sales_Model_Quote_Item $_item */?>
        <?php $_product = $_item->getProduct(); /** @var Mage_Catalog_Model_Product $product */ ?>
        <tr>
            <td colspan="11" height="20"></td>
        </tr>
        <tr valign="top">
            <td width="6"></td>
            <td width="60">
                <img height="60" width="90" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(90, 60) ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
            </td>
            <td width="12"></td>
            <td>
                <a style="text-decoration:none;color:#333;" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
                <?php if ($desc = $_product->getData('stock_description')): ?>
                    <p style="color:#009900;font-weight:bold;"><?php echo $desc ?></p>
                <?php elseif ($_product->getData('custom_stock_status')): ?>
                    <?php $customStatus = $_product->getResource()->getAttribute('custom_stock_status')->getFrontend()->getValue($_product); ?>
                    <p style="color:#009900;font-weight:bold;"><?php echo $customStatus ?></p>
                <?php elseif ($_product->isAvailable()): ?>
                    <p style="color:#009900;font-weight:bold;"><?php echo $this->__('In Stock') ?></p>
                <?php else: ?>
                    <p style="color:#e63900;font-weight:bold;"><?php echo $this->__('Out of stock, call to find out when we\'ll have more') ?></p>
                <?php endif; ?>
                <?php if (!$this->getCartDisabled()): ?><p><a href="<?php echo $this->getRetrieveUrl() ?>" style="color:#a6a6a6;font-size:13px;text-decoration:none;">Remove</a></p><?php endif; ?>
            </td>
            <td width="12"></td>
            <td><?php echo Mage::helper('core')->currency($_item->getPrice()); ?></td>
            <td width="12"></td>
            <td><?php echo $_item->getQty() ?></td>
            <td width="12"></td>
            <td><?php echo Mage::helper('core')->currency($_item->getRowTotal()); ?></td>
            <td width="6"></td>
        </tr>
        <tr>
            <td colspan="11" height="20"></td>
        </tr>
        <tr>
            <td colspan="11" height="1" bgcolor="#dcdcdc"></td>
        </tr>
    <?php endforeach; ?>
    <tr>
        <td colspan="11" height="20"></td>
    </tr>
    <?php $totals = $quote->getTotals() ?>
    <?php if (isset($totals['shipping']) && ($shipping = $totals['shipping']) && ($shipping->getValue() > 0)): ?>
        <tr>
            <td colspan="5"></td>
            <td colspan="3" style="font-weight:bold;">Shipping</td>
            <td width="12"></td>
            <td style="font-weight:bold;"><?php echo Mage::helper('core')->currency($shipping->getValue()); ?></td>
            <td width="6"></td>
        </tr>
    <?php endif; ?>
    <tr>
        <td colspan="5"></td>
        <td colspan="3" style="font-weight:bold;">Total</td>
        <td width="12"></td>
        <td style="font-weight:bold;"><?php echo Mage::helper('core')->currency($quote->getGrandTotal()) ?></td>
        <td width="6"></td>
    </tr>
    <tr>
        <td colspan="11" height="20"></td>
    </tr>
    <tr>
        <td colspan="11" height="1" bgcolor="#dcdcdc"></td>
    </tr>
</table>
