<?php $category = Mage::helper('tradetested_checkout')->getTestimonialCategoryForQuote($this->getQuote()); ?>
<?php $this->setCategory($category) ?>
<table cellspacing="0" cellpadding="0">
    <tr valign="top">
        <?php $x = 0 ?>
        <?php foreach ($this->getRandomTestimonials(2)->getItems() as $_testimonial): ?>
            <?php /** @var In3Clicks_Testimonials_Model_Testimonial $_testimonial */ ?>
            <?php $x++; ?>
            <td width="294">
                <table width="294" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="5" height="4"><img style="display:block;" src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/email/speech_top.gif', false) ?>" height="4" width="294"/></td>
                    </tr>
                    <tr>
                        <td width="1" bgcolor="#e6e6e6"></td>
                        <td width="15"></td>
                        <td height="10"></td>
                        <td width="15"></td>
                        <td width="1" bgcolor="#e6e6e6"></td>
                    </tr>
                    <tr>
                        <td width="1" bgcolor="#e6e6e6"></td>
                        <td width="15"></td>
                        <td style="font-size:13px;line-height:1.4em;">
                            <?php echo $_testimonial->getQuote() ?>
                        </td>
                        <td width="15"></td>
                        <td width="1" bgcolor="#e6e6e6"></td>
                    </tr>
                    <tr>
                        <td width="1" bgcolor="#e6e6e6"></td>
                        <td width="15"></td>
                        <td height="12"></td>
                        <td width="15"></td>
                        <td width="1" bgcolor="#e6e6e6"></td>
                    </tr>
                    <tr>
                        <td width="1" bgcolor="#e6e6e6"></td>
                        <td width="15"></td>
                        <td style="color:#43A3AC;font-size:18px">
                            <?php echo $_testimonial->getCite() ?>
                        </td>
                        <td width="15"></td>
                        <td width="1" bgcolor="#e6e6e6"></td>
                    </tr>
                    <tr>
                        <td width="1" bgcolor="#e6e6e6"></td>
                        <td width="15"></td>
                        <td height="10"></td>
                        <td width="15"></td>
                        <td width="1" bgcolor="#e6e6e6"></td>
                    </tr>
                    <tr>
                        <td colspan="5" height="20"><img style="display:block;" src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/email/speech_bottom.gif', false) ?>" height="20" width="294"/></td>
                    </tr>
                </table>
            </td>
            <?php if ($x == 1): ?><td width="18"></td><?php endif; ?>
        <?php endforeach; ?>
    </tr>
</table>
