<?php
/**
 * @package     Avid_AbandonedCartReminders
 * @author      Dane Lowe <dane@avidonline.co.nz>.
 * @copyright   Copyright (c) 2013 Avid Online Enterprise Ltd. (New Zealand)
 * @license     Commercial - see LICENSE.txt for details
 */
?>
<?php $statistic = $this->getStatistic() ?>
<h1>Details For <?php echo $statistic->getStatisticCode() ?></h1>
<p><?php echo $statistic->getFromDate() ?> to <?php echo $statistic->getToDate() ?></p>
<?php echo Mage::getBlockSingleton('avid_abandoned_cart_reminders/adminhtml_reports_statistic_graph')->addStatistic($statistic)->toHtml() ?>
<p>Total for period: <?php echo $statistic->getTotal() ?></p>
