<?php
/**
 * @package     Avid_AbandonedCartReminders
 * @author      Dane Lowe <dane@avidonline.co.nz>.
 * @copyright   Copyright (c) 2013 Avid Online Enterprise Ltd. (New Zealand)
 * @license     Commercial - see LICENSE.txt for details
 */
?>
<div id="avid_graph" style="height:500px;"></div>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = new google.visualization.DataTable(<?php echo $this->getJSON() ?>);
        var options = {
            title: 'Abandoned Cart Reminder Performance over Time',
            colors: ['#eb5e00','#6f8992']
        };
        var chart = new google.visualization.LineChart(document.getElementById('avid_graph'));
        chart.draw(data, options);

        var graph_query = new  google.visualization.Query('<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/cartreminders_reports/json'); ?>');
        graph_query.send(function(response){
            chart.draw(response.getDataTable());
        });
    }
</script>
