<?php
/**
 * @package     Avid_AbandonedCartReminders
 * @author      Dane Lowe <dane@avidonline.co.nz>.
 * @copyright   Copyright (c) 2013 Avid Online Enterprise Ltd. (New Zealand)
 * @license     Commercial - see LICENSE.txt for details
 */
?>
<?php $statistic = $this->getStatistic() ?>
<div class="entry-edit">
    <div class="entry-edit-head"><h4>Summary: <?php echo $statistic->getLabel(false) ?></h4></div>
    <fieldset class="np">
        <div class="grid np">
            <table cellspacing="0" style="border:0;">
                <colgroup>
                    <col>
                    <col width="200">
                </colgroup>
                <thead>
                <tr class="headings">
                    <th class="no-link"><span class="nobr">Scope</span></th>
                    <th class="no-link last"><span class="nobr">Value</span></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($statistic->getAvailableUniquenessScopes() as $_scope => $_title): ?>
                    <tr>
                        <td><?php echo $_title ?></td>
                        <td><?php echo $statistic->setUniquenessScope($_scope)->formatValue($statistic->getTotal()) ?><?php if ($text = $statistic->getPercentageText()): ?> (<?php echo $text ?>)<?php endif; ?></td>
                    </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
        <?php /* <a href="<?php echo $this->getMonthViewUrl() ?>">View details &raquo;</a> */ ?>
    </fieldset>
</div>