<?php if($this->canShowBlock()): ?>
    <?php $activeFilters = $this->getLayer()->getState()->getFilters() ?>
    <div class="row hide-phone" id="layered_navigation">
        <?php if($this->canShowOptions() || count($activeFilters)): ?>
            <?php $_filters = $this->getFilters() ?>
            <?php foreach ($_filters as $_filter): ?>
                <div class="filter_item">
                    <?php if($_filter->getItemsCount()): ?>
                        <label for="filter_<?php echo $_filter->getAttributeModel()->getId() ?>">
                            <?php echo $this->__($_filter->getName()) ?>
                        </label>
                        <div class="select-button">
                            <span class="icon attribute_icon"><?php echo $this->helper('tradetested_design/icon')->getEntityCode($_filter->getAttributeModel()->getIconCode()) ?></span>
                            All
                            <select id="filter_<?php echo $_filter->getAttributeModel()->getId() ?>">
                                <option value=""></option>
                                <?php foreach($_filter->getItems() as $_filterItem): ?>
                                    <option value="<?php echo $_filterItem->getUrl() ?>">
                                        <?php echo $_filterItem->getLabel(); ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    <?php else: ?>
                        <?php // In true magento style, despite also being called filters in the block/template, the activeFilters are actually Mage_Catalog_Model_Layer_Filter_Item ?>
                        <?php foreach ($activeFilters as $_filterItem) if ($_filter->getAttributeModel()->getId() == $_filterItem->getFilter()->getAttributeModel()->getId()): ?>
                            <label>
                                <?php echo $this->__($_filterItem->getName()) ?>
                            </label>
                            <div class="select-button active" data-href="<?php echo $_filterItem->getRemoveUrl() ?>">
                                <span class="icon attribute_icon"><?php echo $this->helper('tradetested_design/icon')->getEntityCode($_filter->getAttributeModel()->getIconCode()) ?></span>
                                <?php echo $this->stripTags($_filterItem->getLabel()) ?>
                                <a class="icon close" href="<?php echo $_filterItem->getRemoveUrl() ?>" title="<?php echo $this->__('Remove This Item') ?>"><?php echo $this->helper('tradetested_design/icon')->getEntityCode('remove-sign') ?></a>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if ($activeFilters): ?>
            <a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a>
        <?php endif; ?>
    </div>
<?php endif; ?>
