<div class="content-header">
<table cellspacing="0">
    <tr>
        <td style="width:50%;"><h3 class="icon-head head-products">Sticky Codes for this Promo</h3></td>
        <td class="a-right">
            <?php echo $this->getButtonsHtml() ?>
        </td>
    </tr>
</table>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>
<script type="text/javascript">
    function quickCreateStickyCode()
    {
        if (!$('sticky_sticky_code').value) {
            alert('Please enter a Sticky Code to use');
            return;
        }
        if (!$('sticky_sticky_promo_id').value) {
            alert('Please save the promotion before creating sticky codes');
            return;
        }
        Element.show('loading-mask');
        var data = Form.serialize($('sticky_quick_create_sticky_code'), true);
        data['form_key'] = FORM_KEY;
        new Ajax.Request('<?php echo $this->getUrl('adminhtml/sticky/quickCreate') ?>', {
            method: 'post',
            parameters: data,
            onSuccess: function(transport) {
                var json = transport.responseJSON;
                if (!json) {
                    //Magento default JSON responses do not have the correct content-type
                    json = JSON.parse(transport.responseText);
                }
                if (json.success) {
                    promo_quote_sticky_gridJsObject.reload();
                } else {
                    Element.hide('loading-mask');
                    alert(json.message);
                }
                Element.hide('loading-mask');
            },
            onFailure: function(transport) {
                Element.hide('loading-mask');
                alert('Something went wrong saving the new code');
            }
        });
    }
</script>
