#task_notifier {
    position: fixed;
    top: 5px;
    left: 5px;
}
#task_notifier li {
    padding: 12px;
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(200,200,200,0.9);
    border-radius: 5px;
    margin-bottom: 9px;
}
#task_notifier li span.task_progress {
    width: 200px;
    display: inline-block;
    margin: 0 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #ed6502 #a04300 #a04300 #ed6502;
    background: #ffcc99;
}
#task_notifier li span.task_progress span.meter {
    background: #f77c16;
    height: 100%;
    display: inline-block;
}
