.icon_radio {
    float: left;
    width:70px;
    height: 50px
}
.icon_radio input {
    display: none;
}
.icon_radio label {
    display: block;
    margin: 0 6px 6px 0;
    padding: 6px;
    border-radius: 8px;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    speak: none;
    cursor: pointer;
}
.icon_radio input:checked + label {
    background: #239200;
    color: white
}