<div id="task_notifier"></div>
<script type="text/javascript">
    new TradeTested.TaskNotifier(document.getElementById("task_notifier"), {url: '<?php echo Mage::getStoreConfig('tradetested_api/websockets/base_url') ?>', jwt: '<?php echo Mage::getModel('tradetested_api/jwt') ?>'});
</script>