<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h2><?php echo $this->__('Email to a Friend') ?></h2>
</div>
<form action="<?php echo $this->getUrl('*/*/sendmail', array('id'=>$this->getProductId(), 'cat_id'=>$this->getCategoryId())) ?>" method="post" id="product_sendtofriend_form">
    <?php echo $this->getBlockHtml('formkey')?>
    <fieldset>
        <div class="form-list">
            <div class="input-box">
                <label for="sender_name">Your Name <span class="required">*</span></label><br />
                <input name="sender[name]" value="<?php echo $this->htmlEscape($this->getUserName()) ?>" title="<?php echo $this->__('Name') ?>" id="sender_name" type="text" class="input-text required-entry" />
            </div>
            <div class="input-box">
               <label for="sender_email">Your Email <span class="required">*</span></label><br />
               <input name="sender[email]" value="<?php echo $this->htmlEscape($this->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" id="sender_email" type="text" class="input-text required-entry validate-email" />
            </div>
        </div>
        <ul class="form-list group-select" id="recipients_options">
            <li id="recipient0" style="padding:0;">
                <div class="input-box">
                    <label for="recipient0_name">Recipient Name <span class="required">*</span></label><br />
                    <input name="recipients[name][]" type="text" class="input-text required-entry" id="recipient0_name" />
                </div>
                <div class="input-box">
                    <label for="recipient0_email">Recipient Email <span class="required">*</span></label><br />
                    <input name="recipients[email][]" value="" title="<?php echo $this->__('Email Address') ?>" id="recipient0_email" type="text" class="input-text required-entry validate-email" />
                </div>
                <?php if (1 < $this->getMaxRecipients()): ?><a href="#" onclick="window.TradeTested.SendFriend.addRecipient()" id="add_recipient_button">Add Another Recipient</a><?php endif; ?>
            </li>
        </ul>
        <div class="form-list group-select" style="clear:both;">
            <label for="sender_message"><?php echo $this->__('Message:') ?></label> <span class="required">*</span><br />
            <textarea name="sender[message]" class="input-text required-entry" id="sender_message" cols="3" rows="3" style="height:100px;"><?php echo $this->htmlEscape($this->getFormData()->getData('sender/message'))?></textarea>
        </div>
    </fieldset>
    <div class="buttons-set">
        <button type="submit" class="button btn-primary">Send<span class="icon right" style="margin:0 0 0 9px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right') ?></span></button>
    </div>
</form>
