<div class="page-title">
    <h1><?php echo $this->__('Personal Details') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" id="personal_details_form" autocomplete="off" novalidate>
    <?php echo $this->getBlockHtml('formkey')?>
    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getCustomer())->toHtml() ?>
    <label for="email"><?php echo $this->__('Email Address') ?> <span class="required">*</span></label>
    <input type="email" required="required" maxlength="64" name="email" id="email" value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter your email')) ?>" class="input-text required-entry validate-email" />

    <div id="require_password">
        <label for="current_password"><?php echo $this->__('Current Password') ?> <span class="required">*</span></label>
        <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
        <input type="text" class="input-text no-display" name="dummy" id="dummy" style="display: none" />
        <input type="password" required="required" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please enter your current password')) ?>" class="input-text" name="current_password" id="current_password" />
    </div>

    <div class="actions">
        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save Changes')) ?>" class="button btn-primary continue"><?php echo $this->__('Save Changes') ?></button>
    </div>
</form>
