<?php if ($childHtml = $this->getChildHtml('content')): ?>
    <?php $id = $this->getModalId() ? $this->getModalId() : uniqid('popup'); ?>
    <div id="<?php echo $id ?>" class="ajax_popup<?php if ($class = $this->getModalClass()) echo ' '.$class; ?>" style="<?php echo $this->getModalStyle() ?>">
        <div class="overlay" onclick="$(this).closest('.ajax_popup').hide();"></div>
        <div class="container" onclick="event = event || window.event; if(event.target == this) { $(this).closest('.ajax_popup').hide(); }">
            <div class="content" style="" onclick="">
                <a class="close icon" onclick="$(this).closest('.ajax_popup').hide();"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('close') ?></a>
                <?php echo $childHtml ?>
            </div>
        </div>
    </div>
<?php endif; ?>