.auckland-store-block
  margin-bottom: 40px
  >div
    padding: 0 20px
    float: left
    box-sizing: border-box
    max-width: 300px
    &:first-of-type,
    &:last-of-type
      width: 25%
    &:nth-of-type(2)
      width: 48%

  ul
    li
      width: 100%

    span
      float: right
      margin-left: 20px
  div
    >span
      float: none
      display: block
.auckland-look-around
  margin-top: 400px
  img
    width: 100%

.map-section-auckland
  height: 300px
  position: absolute
  width: 100%
  left: 0

@media screen and (max-width: 650px)
  .auckland-store-block
    >div
      &:first-of-type
        width: 37%
      &:nth-of-type(2)
        width: 63%

@media screen and (max-width: 450px)
  .auckland-store-block
    >div
      &:first-of-type,&:last-of-type, &:nth-of-type(2)
        width: 100%
        float: none
     