.about-team
  text-align: center
  ul
    list-style: none
    padding: 0
    width: 100%
    text-align: center
    margin: 0 auto
    @extend .clear
    li
      text-align: center
      padding: 20px
      display: inline-block
      float: none !important
    img, span
      float: none
      display: block
    img
      margin: 0 auto
.about-store.cms
  img
    width: 100%
    
    