body:not(.cms-home)
  .col2-left-layout
    a
      text-decoration: none
      color: $fontColorViewAllReview

.cms-page-view .col-main,
.contacts-index-index .col-main
  padding: 0 20px 30px 20px

.col-left.sidebar
  width: 100%
  margin: 0 auto
  margin-bottom: 30px
  display: inline-block
  @extend .list-style
  background: $productsCarouselAbout
  border: $itemBorder
  padding: 20px
  box-sizing: border-box
  margin-top: 20px
  ul
    columns: 3
    -webkit-column-rule: $itemBorder
    -moz-column-rule: $itemBorder
    column-rule: $itemBorder
    column-gap: 35px
    li
      float: none
      line-height: 2
      width: 100%
      a
        color: $fontColorViewAllReview
        font-size: 15px
        font-weight: $fontWeightMedium
.cms,
.contacts-index-index
  h1,h2
    text-align: center
  p
    text-align: justify
  ul
    list-style: none
    padding: 0
    @extend .clear
  >div
    @extend .clear

.cms-shipping, .cms-careers
  .std
    img
      width: 100%

.refund-left, .refund-cms-img
  float: none !important
  display: inline-block

.refund-cms-img
  width: 100%
  text-align: center

.buying-guides
  .col-main
    img
      width: 100%
    .button-section
      display: inline-block
      width: 100%
    .button-cms
      height: 50px
      line-height: 50px
      margin: 20px
body:not(cms-home) .guides-section .trade-button
  float: none
  display: table
  margin-top: 20px
  margin-bottom: 25px

.catalog-category-view .header-wrapper .header-container .header-links > ul > li > div > a,
.catalog-product-view .header-wrapper .header-container .header-links > ul > li > div > a
  text-align: left

@media screen and (max-width: 705px)
  .buying-guides
  .col-main
    .button-section
      .button-cms
        box-sizing: border-box
        width: 100%
        float: none
        margin: 20px 0

@media screen and (max-width: 500px)
  .cms
    h1
      font-size: 25px
    h2
      font-size: 20px
    h3
      font-size: 16px
  .button-cms
    font-size: 14px
    &.prev
      padding: 0 12px 0 40px
    &.next
      padding: 0 35px 0 12px

@media screen and (max-width: 460px)
  .col-left.sidebar
    ul
      columns: 2

@media screen and (max-width: 377px)
  .col-left.sidebar
      padding: 10px
      ul
        -webkit-column-gap:
        -moz-column-gap:
        column-gap: 25px
