.cms-contact
  h2
    text-align: left
  ul
    max-width: 350px
    min-width: 261px
    span
      float: right
  .address, .postal-address, .opening-hours
    float: left
  .address, .postal-address
    width: 127px
    margin-right: 30px

  form
    width: 100%
    box-sizing: border-box
    .form-list
      max-width: 100%
      min-width: 100%
      .input-box
        margin-bottom: 10px
        margin-top: 3px
    padding: 15px
    .field
      width: 48%
      float: left
      &:first-of-type
        margin-right: 4%
    textarea
      height: 200px
    input
      color: $mainDarkColor
    .buttons-set
      margin: 10px 0

.contact-section
  @extend .list-style

.cms-contact
  padding: 10px 0 30px 0px
  color: $menuMobileColor
  margin-bottom: 20px

.about-contact-us
  font-size: 15px

.page-title
  margin-bottom: 50px


.left-contact-block
  font-size: 15px
  ul
    width: 300px
    li
      columns: 2
      float: none
      >span
        float: right

  .contact-centre
    @extend .clear
    padding: 0 40px 20px 0
    width: 48%
    float: left
    h2
      margin-top: 0

  .contact-store
    width: 47%
    float: left
    h2
      margin: 0
  .address, .postal-address
    float: left
    p
      width: 110px
  .postal-address
    width: 38%

.right-contact-block
  form
    padding: 30px
    width: 100%
    margin: 40px 0
    max-width: 900px
    box-sizing: border-box
    border: $itemBorder
    textarea, input
      margin-top: 0
    h2
      margin-top: 0
      margin-bottom: 16px
    .fields
      width: 100%
      >div
        width: 48%
        float: left
        &:first-child
          margin-right: 4%
    .form-list
      .input-box
        margin-bottom: 15px
    .wide
      width: 100%
    textarea
      height: 203px
    .buttons-set
      margin: 0




@media screen and (max-width: 840px)
  .cms-contact
    .left-contact-block
      .contact-store,
      .contact-centre
        float: none
        width: 100%
        box-sizing: border-box

@media screen and (max-width: 628px)
  .cms-contact
    .opening-hours
      float: none
      display: block
      max-width: 350px
      clear: both
     

@media screen and (max-width: 400px)
  .cms-contact
    form
      display: inline-block
      .field
        width: 100%
        float: none
    .left-contact-block
      ul
        width: 270px
    .address, .postal-address
      width: 50%
      margin-right: 0
      
