<!-- <span id="skype_highlighting_settings" display="none" autoextractnumbers="0"></span> -->
<div id="fb-root"></div>
<?php if (!Mage::helper('tradetested_regions')->isLookupPerformed()): ?><div data-ajax_block="regions_locate"></div><?php endif ?>
<div id="is-desktop"></div><?php /* CSS hidden on mobile, so that we can identify mobile in javascript. */ ?>
<div class="header-container fixed">
    <div class="header">
        <?php if (!$this->getRemoveButtons()): ?><a class="menu" id="btn-navbar">Menu</a><?php endif; ?>
        <?php if ($this->getIsHomePage()):?><h1 class="homeh1"><?php else: ?><span class="homeh1"><?php endif; ?>
            <strong><?php echo $this->getLogoAlt() ?></strong>
            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="configlogo" id="logo">
                <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/logo_white_no_tagline.svg') ?>" alt="<?php echo $this->getLogoAlt() ?>" />
            </a>
        <?php if ($this->getIsHomePage()):?></h1><?php else: ?></span><?php endif; ?>
        <?php if (!$this->getRemoveButtons()): ?>
            <a href="/customer/account" class="menu account"></a>
            <a href="/checkout/cart" class="menu cart"></a>
            <span id="microcart">
                <?php if ($cartCount = Mage::helper('checkout/cart')->getSummaryCount()): ?>
                    <span class="header-cart-count"><?php echo $cartCount; ?></span>
                <?php endif; ?>
            </span>
        <?php endif; ?>
    </div>
</div>
<?php if ($subheaderContent = $this->getChildHtml('sub_header')): ?>
    <div class="sub_header"><?php echo $subheaderContent ?></div>
<?php endif; ?>
<?php if ($subsubheaderContent = $this->getChildHtml('sub_sub_header')): ?>
    <div class="sub_sub_header"><?php echo $subsubheaderContent ?></div>
<?php endif; ?>
