<?php
/**
 * Noam Design Group
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA available 
 * through the world-wide-web at this URL:
 * http://ultimento.com/ultimento-license.txt
 * 
 * MAGENTO EDITION USAGE NOTICE
 * 
 * This package is designed for Magento COMMUNITY edition. 
 * =================================================================
 *
 * @package    Ultimento-x
 * @copyright  Copyright (c) 2006-2011 Noam Design Group. (http://www.noamdesign.com)
 * @license    http://ultimento.com/ultimento-license.txt
 */
?>

<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>
<div class="pager">
	<?php if($this->getShowAmounts()): ?>
	<p class="amount">
        <?php if($this->getLastPageNum()>1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?>
        <?php endif; ?>
    </p>
    <?php endif ?>
    <?php if($this->getShowPerPage()):  ?>
    <fieldset class="limiter">
        <label><?php echo $this->__('Show') ?></label>
        <select onchange="setLocation(this.value)">
        <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
            <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                <?php echo $_limit ?>
            </option>
        <?php endforeach; ?>
        </select> <?php echo $this->__('per page') ?>
    </fieldset>
    <?php endif ?>    

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pages">
        <ol>
            <?php if (!$this->isFirstPage()): ?>
                <li class="pager-prev"><a href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>"><span class="icon" style="margin:0 9px 0 0;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-left') ?></span>Previous</a></li>
            <?php endif ?>
            <?php if ($this->canShowFirst()): ?>
                <li><a class="first" href="<?php echo $this->getFirstPageUrl() ?>">1</a></li>
            <?php endif;?>
            <?php if ($this->canShowPreviousJump()): ?>
                <li><a class="previous_jump" title="" href="<?php echo $this->getPreviousJumpUrl() ?>">...</a></li>
            <?php endif;?>
            <?php foreach ($this->getFramePages() as $_page): ?>
                <?php if ($this->isPageCurrent($_page)): ?>
                    <li><span class="current page_number"><?php echo $_page ?></span></li>
                <?php endif ?>
            <?php endforeach;; ?>
            <?php if ($this->canShowNextJump()): ?>
                <li><a class="next_jump" title="" href="<?php echo $this->getNextJumpUrl() ?>">...</a></li>
            <?php endif;?>
            <?php if ($this->canShowLast()): ?>
              <li><a class="last" href="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->getLastPageNum() ?></a></li>
            <?php endif;?>
            <li><span class="last-mobile">/ <?php echo $this->getLastPageNum() ?></span></li>
            <?php if (!$this->isLastPage()): ?>
                <li class="pager-next"><a href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Next') ?>">Next<span class="icon" style="margin:0 0 0 9px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right') ?></span></a></li>
            <?php endif ?>
        </ol>
    </div>
    <?php else: ?>
        <div class="pages"><strong>1 Page</strong></div>
    <?php endif; ?>
</div>
<?php endif ?>
