<div class="my-account">
    <ul class="customer_account_menu">
        <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
            <?php foreach ($this->getLayout()->getBlock('account_top_menu')->getLinks() as $_link): ?>
                <li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
            <?php endforeach; ?>
            <li><a href="<?php echo $this->getUrl('customer/account/logout') ?>">Sign Out</a></li>
        <?php else: ?>
            <li><a href="<?php echo $this->getUrl('customer/account/login') ?>">Sign In</a></li>
            <li><a href="<?php echo $this->getUrl('customer/account/create') ?>">Create Account</a></li>
        <?php endif; ?>
    </ul>
</div>
