<div id="account_navigation_top">
    <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
        <a class="dropdown_title" href="<?php echo $this->getUrl('customer/account/index') ?>"><span>My Account</span></a>
        <ul class="dropdown_nav">
            <?php foreach ($this->getLinks() as $_link): ?>
                <li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
            <?php endforeach; ?>
            <li><a href="<?php echo $this->getUrl('customer/account/logout') ?>">Sign Out</a></li>
        </ul>
    <?php else: ?>
        <div class="dropdown_title"><span>My Account</span></div>
        <ul class="dropdown_nav">
            <li><a href="<?php echo $this->getUrl('customer/account/login') ?>">Sign In</a></li>
            <li><a href="<?php echo $this->getUrl('customer/account/create') ?>">Create Account</a></li>
        </ul>
    <?php endif; ?>
</div>
