<div class="block home_categories">
    <h2>What are you looking for?</h2>
    <table>
        <?php foreach (array_chunk($this->getSections(), 4) as $_chunk): ?>
            <tr>
                <?php foreach ($_chunk as $_section): ?>
                    <td>
                        <h3><a href="<?php echo $_section->getUrl() ?>"><?php echo $_section->getName() ?></a></h3>
                        <a href="<?php echo $_section->getUrl() ?>">
                            <img data-retina="<?php echo $_section->getImage(240, 180) ?>" src="<?php echo $_section->getImage(120, 90) ?>" alt="<?php echo $_section->getCategory()->getMetaTitle() ?>" height="90" width="120" />
                        </a>
                        <div class="subsections">
                            <?php foreach ($_section->getSubSections(3) as $_subSection): ?>
                                <a href="<?php echo $_subSection->getUrl() ?>"><?php echo $_subSection->getName() ?></a>
                            <?php endforeach; ?>
                        </div>
                        <a class="button silent" href="<?php echo $_section->getUrl() ?>">See more</a>
                    </td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
    </table>
</div>