<?php if (!Mage::getIsDeveloperMode()): ?>
    <div style="background:white;width:234px;border-bottom:1px solid #eee;padding-bottom:6px"><iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ftradetested&amp;width=234&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23eee&amp;header=true&amp;appId=170622266380391" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:234px; height:230px;" allowTransparency="true"></iframe></div>
<?php endif; ?>
