<?php /** @var Mage_Core_Block_Template $this */ ?>
<div class="home_content">
    <div class="hide-phone"><?php echo $this->getChildHtml('tile') ?></div>
</div>
<?php echo $this->getChildHtml('lozenges') ?>
<?php echo $this->getChildHtml('brands') ?>
<?php echo $this->getChildHtml('categories') ?>
<?php echo $this->getChildHtml('recommendations'); ?>

<?php echo $this->getChildHtml('featured_products'); ?>
<?php echo $this->getChildHtml('content_category_buying_guides'); ?>
<?php echo $this->getChildHtml('content_category_how_to'); ?>
<ul class="col3 hide-phone">
    <li style="width:234px"><?php if (!Mage::getIsDeveloperMode()): ?><?php echo $this->getChildHtml('facebook') ?><?php endif; ?></li>
    <li style="width:212px"><?php echo $this->getChildHtml('testimonial') ?></li>
    <li style="width:212px;"><?php echo $this->getChildHtml('guarantee') ?></li>
</ul>

