<h3>From Our Customers</h3>
<?php if ($testimonial = $this->getCurrentTestimonial()): ?>
    <div class="testimonial_bubble"><?php echo $testimonial->getQuote() ?><div class="testimonial_bubble_bottom"></div></div>
    <div style="color:#444;margin-bottom:9px;font-weight:bold;"><?php echo $testimonial->getCite() ?></div>
<?php endif; ?>
<a style="color:#000;" href="<?php echo $this->getReadAllLink() ?>">View All Testimonials</a>
