<?php $_code=$this->getMethodCode() ?>
<?php $selectedId = $this->getInfoData('billing_agreement_id') ?>
<ul id="payment_form_<?php echo $_code ?>" style="display:none">
    <li>        
        <div class="input-box">
            <label for="<?php echo $_code ?>_billing_agreement_id">Choose Card</label>
            <select id="<?php echo $_code ?>_billing_agreement_id" name="payment[billing_agreement_id]">
                <?php foreach ($this->getBillingAgreements() as $billingAgreement): ?>
                    <option<?php if($billingAgreement->getId() == $selectedId): ?> selected="selected"<?php endif; ?> value="<?php echo $billingAgreement->getId() ?>">
                        <?php echo $billingAgreement->getAdditionalData('cc_type') ?>
                        <?php echo $billingAgreement->getAgreementLabel() ?>
                        <?php echo $billingAgreement->getAdditionalData('expiry_label') ?>
                    </option>

                <?php endforeach ?>
            </select>
        </div>
    </li>
    <?php if($this->hasVerification()): ?>
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_cc_cid"><?php echo Mage::helper('payment')->__('Card Verification Number') ?> <span class="required">*</span></label><br/>
            <input type="text" title="<?php echo Mage::helper('payment')->__('Card Verification Number') ?>" class="required-entry input-text validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" style="width:3em;" value="<?php echo $this->getInfoData('cc_cid')?>"/>
        </div>
    </li>
    <?php endif; ?>
</ul>
