<?php /** @var TradeTested_Checkout_Block_Step_Shipping $this */ ?>
<h2 id="sd_header" style="display:none;">FAQs</h2>
<?php if ($_shippingRateGroups = $this->getShippingRates()): ?>
    <div id="shipping_details">
        <div class="shipping_details"></div>
        <?php foreach ($this->getShippingDetailHtmls() as $_rateCode => $_html): ?>
            <div id="sd_<?php echo $_rateCode ?>" class="shipping_details" style="display: none;">
                <?php echo $_html; ?>
            </div>
        <?php endforeach ?>
    </div>
<?php endif; ?>
