<div class="block block-layered-nav">
    <div class="block-title"><h3>FAQ</h3></div>
    <div class="block-content">
        <ol>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/shipping">Shipping</a></li>
            <li><a href="/refund-policy">30 Day Returns</a></li>
            <li><a href="/warranty-policy">Warranty</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ol>
    </div>
</div>
