<div class="block" align="center">
    <a href="/refund-policy"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>wysiwyg/30-Day-Returns.gif" alt="30 Day Money Back Guarantee" /></a><br />
    <br />
    <!-- Begin DigiCert site seal HTML and JavaScript -->
    <div id="DigiCertClickID_m1IU3aey" data-language="en_US">
        <a href="http://www.digicert.com/ssl-certificate.htm"></a>
    </div>
    <!-- End DigiCert site seal HTML and JavaScript -->
</div>