<ul id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none" class="form-list">
    <li class="form-alt">You will receive payment details by email after placing your order</li>
</ul>
