<?php /** @var TradeTested_Catalog_Block_Product_View_RelatedCategories $this */ ?>
<div class="related_categories">
    <h2>Related categories</h2>
    <div class="related-bread">
        <ul>
            <?php foreach ($this->getPathways() as $_pathway): ?>
                <li>
                    <span><a href="<?php echo $this->getBaseUrl() ?>">Home</a></span>
                    <?php foreach ($_pathway as $_category): ?>
                        <span><a href="<?php echo $_category->getUrl() ?>"><?php echo $_category->getName() ?></a></span>
                    <?php endforeach; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
