<?php /** @var TradeTested_Search_Block_TopSearch $this */ ?>
<?php $catalogSearchHelper = $this->helper('catalogsearch'); ?>
<form id="search_form" class="search_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
    <label for="search"></label>
    <input id="search" type="text" autocomplete="off" placeholder="Search the site" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
    <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Search')) ?>" class="button" value="">
        <?php echo Mage::helper('tradetested_design/icon')->getSvg('search', ['width' => '30px']) ?>
    </button>
</form>
