<?php /** @var $this TradeTested_StoreOpen_Block_Time */ ?>
<span class="store_open_status">
    <?php if ($this->getIsStoreOpen()):?>
        <span class="indicator open-now">  OPEN NOW</span>
    <?php else: ?>
        <span class="indicator close-now">  CLOSED NOW</span>
    <?php endif; ?>
</span>
