<?php /** @var TradeTested_StoreOpen_Block_Time $this */ ?>
<?php $openingTime = $this->getStoreOpeningData(); ?>
<div class="store-open">
    <?php if ($this->getIsStoreOpen()):?>
    <span class="indicator open-now">  OPEN NOW</span>
    <?php else: ?>
    <span class="indicator close-now">  CLOSED NOW</span>
    <?php endif; ?>
    <ul>
        <?php foreach ($openingTime as $day => $times): ?>
            <li>
                <span class="store-date"><?php echo $day ?></span>
                <span class="store-<?php echo strtolower($day) ?>">
                <?php if($times['status']): ?>
                    <?php echo $times['open_time']; ?> to
                    <?php echo $times['close_time']; ?>
                <?php else: ?>
                    <?php echo $this->__('Closed'); ?>
                <?php endif; ?>
                </span>
            </li>
        <?php endforeach ?>
    </ul>
</div>
