body, td, th
  color: #2f2f2f

body
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif

table
  border-collapse: collapse
  border: 1px solid #cfcfcf

tr
  border-bottom: 1px solid #eee
  &:last-of-type
    border-bottom: 0px none

th
  font-weight: bold
  text-align: left
  background: #f3f3f3
  padding: 6px

td
  padding: 6px
