html
  ul.dropdown_nav, #minicart_dropdown
    border: 1px solid #ccc
  img
    height: auto !important
    width: auto !important
  label.radio-label
    input
      visibility: visible
      position: relative
    .icon, .icon:before
      display: none !important
  #review-form .rating input
    display: block !important
    float: right
  .ajax_popup
    .review-edit
      border: 1px solid #ddd
    .dropdown_nav, #minicart_dropdown
      border: 1px solid #ccc
  .gallery_zoom
    .zoom_inner, ul.thumbnails
      border: 1px solid #ccc
    ul.thumbnails
      width: 802px
      border-top: 0px none
      li.selected
        border: 1px solid #43a3ac
        &:after
          content: '' !important
    .close
      right: auto !important
  #load-upsell
    display: none
  .product_guides .guide.panel
    width: auto
  input#search
    line-height: 40px
  .products-list .item.topseller:after
    display: none
  .checkout_form input[type="text"]
    line-height: 36px
  .product-view .testimonials_content .testimonial
    max-width: 300px
