<?php
/**
 * @package     Avid_AbandonedCartReminders
 * @author      Dane Lowe <dane@avidonline.co.nz>.
 * @copyright   Copyright (c) 2013 Avid Online Enterprise Ltd. (New Zealand)
 * @license     Commercial - see LICENSE.txt for details
 */
?>
<?php $reminder = $this->getReminder(); ?>
<div class="content-header">
    <h3 class="icon-head head-system-account">View Reminder <?php echo $reminder->getStepLabel() ?> for <?php echo $reminder->getEmail() ?></h3>
    <p class="form-buttons"><button onclick="setLocation('<?php echo Mage::helper('adminhtml')->getUrl('*/*/index') ?>')" class="scalable back" type="button" title="Back"><span><span><span>Back</span></span></span></button></p>
</div>
<?php $template = $reminder->getStepTemplate() ?>

<dl class="acr_reminder_view_email_headers" style="padding: 24px;">
    <dt>To:</dt>
    <dd><?php echo $reminder->getNameToSendTo() ?> &lt;<?php echo $reminder->getEmailAddressToSendTo() ?>&gt;</dd>
    <dt>Subject: </dt>
    <dd><?php echo $this->getEmailSubject() ?></dd>
    <dt>From: </dt>
    <dd><?php echo Mage::getStoreConfig('trans_email/ident_' . $reminder->getFrom() . '/name', $reminder->getStoreId()) ?> &lt;<?php echo Mage::getStoreConfig('trans_email/ident_' . $reminder->getFrom() . '/email', $reminder->getStoreId()) ?>&gt;</dd>
</dl>
<div class="acr_reminder_view_email_headers">
    <?php echo $this->getEmailContent() ?>
</div>