<?php
/**
 * Noam Design Group
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA available 
 * through the world-wide-web at this URL:
 * http://ultimento.com/ultimento-license.txt
 * 
 * MAGENTO EDITION USAGE NOTICE
 * 
 * This package is designed for Magento COMMUNITY edition. 
 * =================================================================
 *
 * @package    Ultimento-x
 * @copyright  Copyright (c) 2006-2011 Noam Design Group. (http://www.noamdesign.com)
 * @license    http://ultimento.com/ultimento-license.txt
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body class="store-<?php echo Mage::app()->getStore()->getCode() ?> <?php echo $this->getBodyClass() ?>" >
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
	<div class="header-container" id="header_container"><?php echo $this->getChildHtml('header') ?></div>
    <?php if($subheader = $this->getChildHtml('subheader')): ?>
        <div class="subheader_container">
            <div class="subheader"><?php echo $subheader ?></div>
        </div>
    <?php endif; ?>
	<div class="page">
        <?php if ($block = $this->getLayout()->getBlock('breadcrumbs')) echo $block->toHtml();?>
        <div class="main col1-layout">
            <div class="col-main">
                <?php echo $this->getChildHtml('content') ?>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-container">
        <?php echo $this->getChildHtml('footer') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('before_body_end') ?>
</body>
</html>