<div class="content-wrapper">
    <div class="money-back">
        <p>Our 30 day money back guarantee gives you time to make sure your purchase is perfect.</p>
        <div class="money-back-img"><img alt="tradetested money back" src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/content/money_back.png') ?>"/></div>
        <p>If you need to return it for any reason, we'll happily provide you with an exchange or full refund.</p>
        <p class="mob">Our 30 day money back guarantee gives you time to make sure your purchase is perfect. If you need to return it for any reason, we'll happily provide you with an exchange or full refund.</p>
    </div>
</div>