<?php /** @var TradeTested_Newsletter_Block_Options_Edit $this */ ?>
<?php $subscriber = $this->getSubscriber(); ?>
<div class="narrow_form newsletter_options_form">
    <h1>Newsletter Preferences</h1>
    <form action="<?php echo $this->getFormAction() ?>" method="post">
        <input type="hidden" name="jwt" value="<?php echo $this->getJwt() ?>"/>
        <?php /*
        <h2><span>Need a break?</span></h2>
        <input type="checkbox" name="suspend" value="1" id="suspend"<?php if ($subscriber->getSuspendedUntil()): ?> checked="checked"<?php endif; ?>/>
        <label for="suspend">I would like to stop emails from Trade Tested </label>
        <select name="suspend_until">
            <?php if ($date = $this->getSuspendedUntil()): ?><option value="0">until <?php echo $date ?></option><?php endif; ?>
            <option value="2">for 2 weeks</option>
            <option value="4">for 4 weeks</option>
        </select>
         */?>
        <h2><span>Too many emails?</span></h2>
        <input type="checkbox" name="limit_frequency" value="1" id="limit_frequency"<?php if ($subscriber->getLimitFrequency()): ?> checked="checked"<?php endif; ?>/>
        <label for="limit_frequency">I would like to receive no more than one email per week from Trade Tested</label>
        <h2><span>Unsubscribe</span></h2>
        <input type="checkbox" name="unsubscribe" id="unsubscribe"/>
        <label for="unsubscribe">I would like to unsubscribe from all Trade Tested emails</label>

        <div class="actions" style="margin-top: 32px">
            <button type="submit" class="button btn-primary">Save My Preferences</button>
        </div>
    </form>
</div>
