<?php /** @var TradeTested_Newsletter_Block_Options_Edit $this */ ?>
<?php $subscriber = $this->getSubscriber(); ?>
<div class="narrow_form">
    <h1>Newsletter Preferences</h1>
    <p style="margin: 12px 0">You're currently not signed up for special offers and promotions</p>
    <form action="<?php echo $this->getFormAction() ?>" method="post">
        <input type="hidden" name="emh" value="<?php echo $subscriber->getId() ?>"/>
        <input type="hidden" name="subscribe" value="1"/>
        <div class="actions">
            <button type="submit" class="button btn-primary">Sign me up!</button>
        </div>
    </form>
</div>
