<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
    <img data-retina="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(480, 360) ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(240, 180) ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
</a>
<div class="product-shop">
    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
    <?php echo Mage::getBlockSingleton('core/template')->setTemplate('catalog/product/stock_note.phtml')->setProduct($_product)->toHtml() ?>
    <?php echo $this->getPriceHtml($_product, true) ?>
    <?php if($_product->isSaleable()): ?>
        <?php if (!$_product->getRequiredOptions()): ?>
            <a class="button btn-cart btn-primary hide-phone" href="<?php echo $this->getAddToCartUrl($_product) ?>" onclick='Observable.trigger("addToCart", [<?php echo json_encode(['name' => $_product->getName(), 'id' => $_product->getId(), 'product_url' => $_product->getProductUrl()]) ?>]); return false;'><?php echo $this->__('Add To Cart') ?></a>
        <?php endif; ?>
    <?php endif; ?>
    <div class="clear"></div>
</div>
<div class="clear"></div>
