<div class="buying-guides-main .right-section">
    <div class="guides-section">
        <h1>Buying Guides</h1>
        <p>
            Got your eye on something, but need a little help deciding? Terry, our resident MacGyver, has  taken time out to put together some handy buying guides. If you need any advice, give us a call  on <span>{{config path="general/store_information/phone"}}</span>, we're always happy to help.
        </p>
        <ul>
            <li><a href="#">Brush cutter buying guide</a></li>
            <li><a href="#">Chainsaw buying guide</a></li>
            <li><a href="#">Chicken coop buying guide</a></li>
            <li><a href="#">Chipper / Shredder buying guide</a></li>
            <li><a href="#">Garden Shed buying guide</a></li>
            <li><a href="#">Generator buying guide</a></li>
        </ul>
        <ul>
            <li><a href="#">Greenhouse buying guide</a></li>
            <li><a href="#">Log splitter buying guide</a></li>
            <li><a href="#">Pump buying guide</a></li>
            <li><a href="#">Trailer buying guide</a></li>
            <li><a href="#">Garden Shed buying guide</a></li>
            <li><a href="#">TV bracket buying guide</a></li>
        </ul>
    </div>
    <div class="guides-section">
        <h1>Chainsaw buying guide</h1>
        <p>There's no need to overcomplicate things when choosing the chainsaw that's right for you. A quality chainsaw is reliable and durable and does the simple things right. It should start easily every time, feel balanced in your hands, and give you years of quality performance.</p>
        <h2>Which chainsaw is right for me?</h2>
        <p>The main things to consider when choosing a chainsaw are the power, the weight, and the length of the bar. If you've got a clear idea of what you'll be using it for, selecting the right one should be a pretty straightforward process.
        </p>
        <p>These features in a nutshell:</p>
        <h3>1. Bar Length</h3>
        <p>This is the length of the bar that the chain runs around. It generally indicates the active cutting area, the largest piece of wood the chainsaw will cut through in a single pass. Typically a longer bar length comes with more power and weight.
        </p>
        <h3>2. Power / Engine Size</h3>
        <p>Harder wood requires more power to cut through it, and a longer bar requires more power to run the chain around it. Typically a higher power rating results in a heavier chainsaw.</p>
        <h3>3. Weight</h3>
        <p>Weight usually increases with both bar length and power. The heavier the chainsaw the more tiring it’ll be to hold; and generally lighter chainsaws are easier to control.</p>
        <p>Because added power and bar length come at a cost (a higher weight) you need to make a decision as to which chainsaw suits you based on what you’ll be using it for.</p>
        <img src="" alt="">
    </div>
    <div class="guides-section">
        <h2>Other features to consider:</h2>
        <p>There are a few basic features that come standard with all Trade Tested chainsaws:</p>
        <ul>
            <li><span>Vibration dampening</span> takes the muscle work out of using a chainsaw so you can cut more wood for longer without getting tired.</li>
            <li<span>Automatic bar oiling</span> keeps the chain-to-bar friction to a minimum and enhances the lifespan of your engine. It keeps the chain running smoothly and makes it less likely to break. It also takes the effort out of maintenance.</li>
            <li>An <span>inertia activated chain brake</span> feature is essential for safe chainsaw use, and is now a legal requirement for all new chainsaws in New Zealand. Sometimes during a cut the bar will kick back when it hits something hard like a knot. The chain brake makes sure the chain stops running during a kickback, so you don't seriously injure yourself.</li>
        </ul>
    </div>
    <div class="guides-section">
        <h2>Safety</h2>
        <p>It's better to be safe than sorry, especially with chainsaws. One American study found that the average chainsaw injury requires 110 stitches. If you're safe you can avoid looking like Frankenstein's monster or a spontaneous amputee, so consult our
            <a href="#">safety guide</a> to avoid making any mistakes</p>
    </div>
    <div class="guides-section">
        <h2>Maintenance</h2>
        <p>Good maintenance will extend the chainsaw's life and make it safer to use. When you finish a job, make sure the air filters, sprocket cover and chain brake mechanism are free from sawdust; clean the guide bar groove; oil the holes and check everything is in place.</p>
        <p>When filling up your chainsaw, stick to the specified petrol to oil ratio (Trade Tested's chainsaws use an oil to petrol ratio of 1:25).</p>
        <p>Keep your chain sharp. It makes cutting easier, puts less strain on you and the chainsaw, and increases chain and engine longevity. We strongly recommend buying a chainsaw sharpener for your chainsaw and using it regularly.</p>
    </div>
    <div class="guides-section">
        <h2>Got a Question?</h2>
        <a href="#">Send us an email</a>
        <span> or give us a bell during office hours on</span> <span>{{config path="general/store_information/phone"}}</span>
        <a href="">View Chainsaws</a>
    </div>
</div>



<div class="buying-guide-container">
    <div class="guides-section which-chainsaw">
        <h1>Chainsaw buying guide</h1>
        <p>There's no need to overcomplicate things when choosing the chainsaw that's right for you. A quality chainsaw is reliable and durable and does the simple things right. It should start easily every time, feel balanced in your hands, and give you years of quality performance.</p>
        <h2>Which chainsaw is right for me?</h2>
        <p>The main things to consider when choosing a chainsaw are the power, the weight, and the length of the bar. If you've got a clear idea of what you'll be using it for, selecting the right one should be a pretty straightforward process.
        </p>
        <p>These features in a nutshell:</p>
        <h3>1. Bar Length</h3>
        <p>This is the length of the bar that the chain runs around. It generally indicates the active cutting area, the largest piece of wood the chainsaw will cut through in a single pass. Typically a longer bar length comes with more power and weight.
        </p>
        <h3>2. Power / Engine Size</h3>
        <p>Harder wood requires more power to cut through it, and a longer bar requires more power to run the chain around it. Typically a higher power rating results in a heavier chainsaw.</p>
        <h3>3. Weight</h3>
        <p>Weight usually increases with both bar length and power. The heavier the chainsaw the more tiring it’ll be to hold; and generally lighter chainsaws are easier to control.</p>
        <p>Because added power and bar length come at a cost (a higher weight) you need to make a decision as to which chainsaw suits you based on what you’ll be using it for.</p>
        <img src="{{media url="wysiwyg/buying_guides/guides_table.png"}}" alt="" />

    </div>
    <div class="guides-section chainsaw-features">
        <h2>Other features to consider:</h2>
        <p>There are a few basic features that come standard with all Trade Tested chainsaws:</p>
        <ul>
            <li><span>Vibration dampening</span> takes the muscle work out of using a chainsaw so you can cut more wood for longer without getting tired.</li>
            <li><span>Automatic bar oiling</span> keeps the chain-to-bar friction to a minimum and enhances the lifespan of your engine. It keeps the chain running smoothly and makes it less likely to break. It also takes the effort out of maintenance.</li>
            <li>An <span>inertia activated chain brake</span> feature is essential for safe chainsaw use, and is now a legal requirement for all new chainsaws in New Zealand. Sometimes during a cut the bar will kick back when it hits something hard like a knot. The chain brake makes sure the chain stops running during a kickback, so you don't seriously injure yourself.</li>
        </ul>
    </div>
    <div class="guides-section">
        <h2>Safety</h2>
        <p>It's better to be safe than sorry, especially with chainsaws. One American study found that the average chainsaw injury requires 110 stitches. If you're safe you can avoid looking like Frankenstein's monster or a spontaneous amputee, so consult our
            <a href="#">safety guide</a> to avoid making any mistakes</p>
    </div>
    <div class="guides-section">
        <h2>Maintenance</h2>
        <p>Good maintenance will extend the chainsaw's life and make it safer to use. When you finish a job, make sure the air filters, sprocket cover and chain brake mechanism are free from sawdust; clean the guide bar groove; oil the holes and check everything is in place.</p>
        <p>When filling up your chainsaw, stick to the specified petrol to oil ratio (Trade Tested's chainsaws use an oil to petrol ratio of 1:25).</p>
        <p>Keep your chain sharp. It makes cutting easier, puts less strain on you and the chainsaw, and increases chain and engine longevity. We strongly recommend buying a chainsaw sharpener for your chainsaw and using it regularly.</p>
    </div>
    <div class="guides-section buying-question">
        <h2>Got a Question?</h2>
        <a href="#">Send us an email</a>
        <span> or give us a bell during office hours on</span> <span>{{config path="general/store_information/phone"}}</span>
        <a href="#" class="trade-button">View Chainsaws</a>
    </div>
</div>
</div>