

    <div class="guides-section">
        <h1>Buying Guides</h1>
        <p>
Got your eye on something, but need a little help deciding? Terry, our resident MacGyver, has  taken time out to put together some handy buying guides. If you need any advice, give us a call  on <span>0800 800 880</span>, we're always happy to help.
        </p>
<div class="guide-head">
        <ul>
            <li><a href="<?php echo Mage::getUrl('brushcutter-buying-guide') ?>">Brush cutter buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('chainsaw-buying-guide') ?>">Chainsaw buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('chickencoop-buying-guide') ?>">Chicken coop buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('chipper-buying-guide') ?>">Chipper / Shredder buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('garden-shed-buying-guide') ?>">Garden Shed buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('generator-buying-guide') ?>">Generator buying guide</a></li>
        </ul>
        <ul>
            <li><a href="<?php echo Mage::getUrl('greenhouse-buying-guide') ?>">Greenhouse buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('logsplitter-buying-guide') ?>">Log splitter buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('pump-buying-guide') ?>">Pump buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('trailer-buying-guide') ?>">Trailer buying guide</a></li>
            <li><a href="<?php echo Mage::getUrl('tv-bracket-buying-guide') ?>">TV bracket buying guide</a></li>
        </ul>
</div>
        </div>







