<div class="right-section careers-wrap">
    <h1>Careers</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in mi arcu. Praesent eu turpis diam. Fusce sed maximus turpis. Duis eu risus interdum, tristique sapien non, mattis purus. Ut non dui sed orci dignissim commodo. Duis magna sem, iaculis a egestas at, aliquet sit amet diam. Proin ullamcorper sapien in nunc tempus, ut sollicitudin diam mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/cms/career_main.png') ?>" alt="Trade Tested careers">
    <h2>Our Culture And Values</h2>
    <p>Sed nec suscipit mi. Nam id tincidunt leo. Sed posuere, leo a tincidunt aliquet, felis turpis laoreet augue, id laoreet augue dolor a ante. Mauris convallis turpis ut risus mollis hendrerit. Vivamus placerat congue urna, sagittis scelerisque lorem molestie eu. In tempus imperdiet sapien, eget bibendum leo imperdiet convallis. Vivamus at vestibulum nulla. Integer ac pharetra ex, eget bibendum diam. Pellentesque posuere ullamcorper rutrum. Donec sapien est, sodales vel ex sit amet, consectetur eleifend lorem. Sed lobortis euismod tortor sit amet feugiat. Integer commodo accumsan facilisis. In posuere orci id nulla congue cursus vel in ipsum.</p>
    <h2>Current Vacancies</h2>
    <p>
        We always want to hear from passionate, experienced people. If you think you’d fit in well at Trade Tested then send your CV and cover letter to
        <a href="">info@tradetested.co.nz</a>.
    </p>
    <a href="" class="main-trade-button">View Current Vacancies</a>
</div>
