<!--@subject Thanks for your review  @-->
<!--@vars
{"var review":"Review"}
@-->
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<h1>Hi {{var review.nickname}},</h1>
<p>Thanks for your review</p>
{{template config_path="design/email/footer"}}