<!--@subject Review Support Warning  @-->
<!--@vars
{"var review":"Review"}
@-->
<!--@styles
@-->
{{inlinecss file="email-tradetested-admin.css"}}
<h1>Review Support Warning</h1>
<h4>{{var review.product_name}} ({{var review.product_sku}})</h4>
<h3>{{var review.default_rating}} - {{var review.title}}</h3>
<p>
    {{var review.detail|nl2br}}
</p>
<hr/>
{{block type='core/template' area='frontend' template='tradetested/review/email/images.phtml' review=$review}}
<hr/>
<dl>
    <dt>Nickname</dt>
    <dd>{{var review.nickname}}</dd>
    <dt>Location</dt>
    <dd>{{var review.location}}</dd>
    <dt>Would Recommend?</dt>
    <dd>{{var review.recommend}}</dd>
    <dt>Store ID</dt>
    <dd>{{var review.store_id}}</dd>
</dl>
