<?php /** @var TradeTested_Checkout_Block_AddressManager $this */ ?>
<?php /** @var Mage_Customer_Model_Customer $customer */ ?>
<?php $customer = $this->getCustomer() ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Addresses') ?></h1>
</div>
<div class="addresses cards">
    <?php foreach ($this->getAddresses() as $_address): ?>
        <div class="address card" onclick="addressManager.selectAddress(<?php echo $_address->getId() ?>);">
            <div class="content">
                <?php if ($_address->getCompany()): ?>
                    <h2><?php echo $_address->getCompany() ?></h2>
                    <?php $data = array($_address->getStreet(1), $_address->getStreet(2), $_address->getStreet(3), $_address->getCity().' '.$_address->getPostcode(), $_address->getState(), $_address->getFirstname(), $_address->getTelephone()) ?>
                <?php else: ?>
                    <h2><?php echo $_address->getStreet(1) ?></h2>
                    <?php $data = array($_address->getCompany(), $_address->getStreet(2), $_address->getStreet(3), $_address->getCity().' '.$_address->getPostcode(), $_address->getState(), $_address->getFirstname(), $_address->getTelephone()) ?>
                <?php endif; ?>
                <p><?php echo implode('<br/>', array_filter($data)) ?></p>
                <?php if (($_address->getId() == $customer->getDefaultBilling()) && ($_address->getId() == $customer->getDefaultShipping())): ?>
                    <p class="default_address_note">Primary Address</p>
                <?php elseif ($_address->getId() == $customer->getDefaultBilling()): ?>
                    <p class="default_address_note">Primary Billing Address</p>
                <?php elseif ($_address->getId() == $customer->getDefaultShipping()): ?>
                    <p class="default_address_note">Primary Shipping Address</p>
                <?php endif ?>
            </div>
            <div class="block_actions">
                <a href="#" onclick="addressManager.selectAddress(<?php echo $_address->getId() ?>);return false;">Use this address</a>
            </div>
        </div>
    <?php endforeach ?>
</div>
