<a class="header-part header-cart" id="header-part-cart" href="/checkout/cart">
    <?php if ($cartCount = Mage::helper('checkout/cart')->getItemsCount()): ?>
        <span class="header-cart-count"><?php echo $cartCount; ?></span>
    <?php endif; ?>
    <span class="header-cart-btn btn-primary">
        <span class="hide-phone">View Cart</span>
    </span>
</a>