<div class="checkout_container">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <div class="checkout_step">
        <?php echo $this->getChildHtml('step'); ?>
    </div>
    <div class="checkout_sidebar">
        <?php echo $this->getChildHtml('order_summary'); ?>
        <?php echo $this->getChildHtml('under_summary'); ?>
    </div>
</div>
