<div id="order_summary">
    <?php if ($this->getQuote()->getIsActive()): ?><a href="<?php echo $this->getUrl('checkout/cart/index') ?>" class="edit_cart_link">Edit Cart</a><?php endif; ?>
    <h2>Order Summary</h2>
    <div class="order_summary_box">
        <table>
            <tbody>
            <?php foreach ($this->getQuote()->getAllVisibleItems() as $_item): ?>
                <tr>
                    <td><?php echo $_item->getName() ?></td>
                    <td class="right qty"><?php echo $_item->getQty() ?><span>x</span></td>
                    <td class="right"><?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <?php echo $this->getChild('totals')->renderTotals(null, 2); ?>
                <?php echo $this->getChild('totals')->renderTotals('footer', 2); ?>
            </tfoot>
        </table>
    </div>
</div>
