<div id="order_summary_concise">
    <div class="half">
        <h2>Order Summary</h2>
        <?php $count = $this->getQuote()->getItemsSummaryQty() ?>
        <p><?php echo $count ?> item<?php if ($count > 1): ?>s<?php endif ?></p>
        <p>
            <?php if ($this->getQuote()->getIsActive()): ?>
                <a href="<?php echo $this->getUrl('checkout/cart/index') ?>" class="edit_cart_link">Edit Cart</a>
            <?php endif; ?>
        </p>
    </div>
    <div class="half">
        <table>
            <tbody>
                <?php echo $this->getChild('totals')->renderTotals(null, 2); ?>
                <?php echo $this->getChild('totals')->renderTotals('footer', 2); ?>
            </tbody>
        </table>
    </div>
</div>
