div.cart
  position: relative
  margin-bottom: 32px
  h1
    padding-top: 10px
  .cart_header
    display: none
  .cart_item_main
    margin-bottom: 12px
  .cart-data-title
    display: block
  .cart_footer
    padding: 12px 12px 150px
    border-bottom: 1px solid #ddd
  .cart_secure_note
    line-height: inherit
    padding: 9px
    border-bottom: 1px solid #ddd
    background: #fcfffc
  .cart_item
    margin: 0
    padding: 12px
  .cart_item_main, .cart .totals, .cart .cart_actions
    width: 100%
    float: none
    padding: 0
  .cart_item_data
    width: 100%
    text-align: left
    padding: 0 0 12px
    border-bottom: 1px solid #ddd
    .qty_spinner
      float: left
  .totals span#grand_total
    width: 32%
  .cart_actions
    float: none
    width: 100%
    box-sizing: border-box
    padding: 0 12px
    bottom: 80px
    position: absolute
  .cart-totals form
    padding: 0 12px
    display: block
  .cart_note
    margin: 0 12px 9px
  .crosssell ul li
    width: 40%
    margin: 1%
    min-height: 255px
  .cart .messages
    margin: 0
  .block.coupon
    bottom: 10px
    position: absolute
    input
      max-width: 130px

.cart-data-title
  color: #999
  margin: 9px 0

.cart_note
  margin: 0 0 14px
  .note
    display: block
    overflow: hidden
    .phone, .phone a
      display: block
      color: $color-secondary
      font-size: 20px
      margin: 6px 0 0
      font-weight: bold
  .icon
    color: #739900
    float: left
    width: 35px
    text-align: center

.ajax_popup .container > .content.addtocart_notification
  width: auto
  margin: 12px
  ul.items
    padding: 18px
    font-size: 18px
  >div
    position: relative
  .clear
    height: 130px
  .actions
    position: absolute
    bottom: 24px
    text-align: center
    a:first-of-type
      margin: 24px 0 !important
      display: block
    a.button
      min-width: 200px
      &:after
        float: none
        vertical-align: bottom
  .items_added
    display: none
  &.over_height .cross_sell
    display: none
  .cross_sell
    width: auto
    >div
      overflow-x: scroll
      >div
        white-space: nowrap
        width: 1024px
