.toolbar
  font-size: 12px
  padding: 0 9px
  label
    height: 35px
    float: left
  .pager, fieldset, *
    line-height: 34px
  .view-mode
    display: none
.products-list
  width: 100%
  .product-shop
    margin: 6px 0 0
  td.item
    max-width: 0
    padding: 10px 10px 28px
    border: 1px solid #e6e6e6
  .btn-cart
    display: none
  .item h2.product-name
    font-size: 15px
.pager
  position: relative
  text-align: center
  padding: 18px
  .pages, a
    line-height: 35px
    border-radius: 4px
    display: inline-block
    padding: 0 18px
  a
    color: $color-secondary
    border: 1px solid $color-secondary
    &:hover
      text-decoration: none
      color: white
      background: $color-secondary
  .pages
    border: 1px solid #E6E6E6
    background: #fafafa
    color: #bbb
    li
      display: inline
    strong
      font-weight: normal
    .pager-prev
      position: absolute
      left: 12px
      .icon
        float: left
        line-height: 35px
    .pager-next
      position: absolute
      right: 12px
      top: 18px
      .icon
        float: right
        line-height: 35px
