.progress_line
  width: 75%
.checkout_progress
  box-sizing: border-box
  width: 100%
  li
    width: 25%
  .step_number
    height: 36px
    width: 36px
  .step_label
    font-size: 12px

.checkout_container
  padding: 0 20px
  box-sizing: border-box
  h2, h2 label
    font-size: 15px
    font-weight: bold
  .tooltip
    display: none
.checkout_note
  font-size: 14px
  clear: right
  text-align: right
  float: right
  max-width: 150px
  margin: 12px 0 0
  color: #999

a.postcode_finder_link
  float: left
  margin: 0 0 0 0.5em
  line-height: 2.4em
  color: $color-secondary
.secure_note
  margin: 12px 0 24px
  .icon
    position: relative
    top: 3px
    font-size: 32px
    color: #ccc
    float: left
    margin: 0 12px


#order_summary_concise
  overflow: hidden
  background: #f8f8f8
  border: 1px solid #ebebeb
  border-radius: 5px
  margin-bottom: 32px
  a, a:hover
    color: $color-secondary
  h2
    margin: 6px 0
    font-size: 14px
  p
    padding: 6px 0
  table
    width: 100%
  td
    padding: 6px
    &:last-of-type
      text-align: right
  .half
    padding: 6px 12px
    box-sizing: border-box
    &:first-of-type
      border-right: 1px solid #ebebeb

.checkout_form
  .actions
    margin: 32px 0
#payment-methods #tradetested_px_post_cc_number
  width: 200px
#address_form_container
  #login_form
    top: 120px
    width: 100%
    input[type="password"]
      margin-right: 100px

  .existing_account_note
    margin: 12px 0
    &:before
      display: inline-block
      margin: 0 9px 0 0

#address_form_container #register_box #register_password
  float: none
  width: 100%
  margin: 0

#payment-methods label.radio-label .delete
  display: none
