.my-account
  padding: 12px
  .page-title
    padding: 0
.footer ul.mobile_account_links, .customer_account_menu
  margin: 12px 0
  li a
    color: $color-secondary
    display: block
    margin: 6px 0
#new_credit_card_form
  padding: 0 12px
  .tooltip
    display: none
.narrow_form
  margin-top: 18px
  border: 0px none
