.wrapper
  width: 100%
  transition: left 0.3s
  background: white_2
#drawer
  position: absolute
  display: none
  text-align: left
  top: 0
  height: 100%
  z-index: 999
  width: 0
  transition: width 0.5s
  transition-delay: visibility 0.5s
  &:before
    content: glyph(close)
    background: $color-primary
    position: absolute
    right: 0
    width: 68px
    height: 68px
    line-height: 68px !important
    text-align: center
    font-size: 32px !important
  .content
    padding: 0 28px 80px
    margin-right: 68px
    overflow-y: auto
    background: #000
    height: 100%
    color: #fff
    >strong
      color: #6e6e6e
      text-transform: uppercase
      display: block
      padding-top: 22px
      line-height: 28px
    >a
      height: 55px
      line-height: 55px
      border-bottom: 1px solid #383838
      &:before
        color: #6e6e6e
        content: glyph(home)
        margin-right: 9px
        float: left
        line-height: 55px
  .inner
    padding: 0 0 15px
  &.right
    left: auto
    right: -260px
  &.left
    left: -260px
    right: auto
  a
    +responsive-font(4.5vw, 12px, 18px, 16px)
    color: white
    font-weight: 500
    text-decoration: none
    line-height: 45px
    display: block
  ol
    li
      display: block
      margin: 0
    ol
      background: #333

body.drawer_open
  overflow-x: hidden
  #drawer
    display: block
    width: 100%
  .wrapper
    position: fixed
    max-height: 100%
    overflow: hidden
.account_drawer_navigation
  li
    background: #333
body.drawer_opened #drawer:before
  position: fixed
