.footer-container
  background: #ebebeb
  border-top: 1px solid #ccc
  color: gray
  text-align: left
.footer-top
  padding: 18px
.footer-bottom
  text-align: center
  padding: 18px
  ul li a
    color: gray
.footer-top
  height: auto
.footer
  max-width: 1024px
  margin: 0 auto
  a, ul li a
    color: gray
  dl
    width: 100%
    padding: 0 !important
  dt
    font-size: 16px
    display: block
    color: #5f5f5f
    border-bottom: 1px solid #ccc
    margin: 12px 0
    padding: 9px 0
    cursor: pointer
    &:after
      content: glyph(caret-down)
      float: right
      color: #a6a6a6
    &.about:after
      content: ''
    &.about a
      display: block
      color: #5f5f5f
  dl.open dt:after
    content: glyph(caret-up)
  dd
    display: none
  dl.open dd
    display: block
  .links li
    line-height: 28px
    border: 0px none
.footer-phone
  color: #333
  text-align: center
  border-bottom: 1px solid #ccc
  padding: 0 0 18px
  display: block
#livechat-compact-container
  display: none
.livechat_button
  margin: 12px 0
