textarea, input[type="text"], input[type="password"], input[type='number'], input[type='email'], input[type='tel'], select
  width: 100%
  box-sizing: border-box
  font-size: 16px
  -webkit-appearance: none
.product-options select
  width: auto

html select
  padding: 1px 5px
html select#tradetested_px_post_expiration_yr, html select#tradetested_px_post_expiration
  padding: 1px 12px
form .actions
  margin: 32px 0
