.header-container
  background: #333
  height: 56px
  width: 100%
span.homeh1
  display: block
  line-height: 1.5em
#logo
  padding-top: 14px
  height: 28px
  width: 150px
  width: 37vw
  display: inline-block
  img
    height: 100%
.mobile
  .header
    line-height: 56px
    background: #333
    .button
      height: 35px
      width: 40px
      position: absolute
      padding: 0
    .cart_button
      top: 12px
      right: 12px
      &:hover
        color: #333
.sub_header
  color: #fff
  padding: 14px
  background: #232323
  text-align: left
  a
    color: white
  .search_form
    padding-bottom: 6px
  h1
    font-family: Humanist777BlackCond,sans-serif
    font-size: 22px
    margin: 24px 0 14px
    text-transform: uppercase
    text-align: center
  h3
    color: #999
    text-transform: uppercase
    font-weight: normal
    font-size: 11px
    line-height: 11px
  .call_us:before, .find_us:before
    +responsive-font(5vw, 12px, 22px, 18px)
  .call_us:before
    content: glyph(phone2)
  .find_us:before
    content: glyph(ios-location)
    margin-right: -3px
  .call_us, .find_us
    +responsive-font(5.7vw, 18px, 28px, 20px)
    line-height: 1em
    font-family: Humanist777BlackCond,sans-serif
    float: left
    width: 50%
    p, p a
      font-size: 16px
      font-weight: bold
      color: $color-secondary
.header-cart-count
  background: #cc062c
  width: 20px
  text-align: center
  height: 20px
  line-height: 20px
  border-radius: 11px
  font-size: 16px
  top: 3px
  right: 3px
  padding: 0
.breadcrumbs
  text-align: left
  font-size: 12px
  padding: 0
  color: #666
  li
    display: inline
    .icon
      margin: 0 2px
      position: relative
      bottom: 1px
      font-size: 11px
    a
      font-weight: bold
      color: $color-secondary
    strong
      font-weight: normal
    &.category8
      display: none
.catalog-category-view .breadcrumbs
  padding: 0 0 9px
  border-bottom: 1px solid #ddd
.subheader_default
  .breadcrumbs
    border: 0px none
    padding: 0
.subheader
  padding: 16px 16px 12px
.header
  a.menu
    top: 0
    left: 0
    position: absolute
    color: #fff
    &:before
      +responsive-font(7.6vw, 24px, 36px, 28px)
      font-size: 28px
      line-height: 56px
    &:hover
      text-decoration: none
    &#btn-navbar
      left: 12px
      +responsive-font(4vw, 12px, 24px, 16px)
      font-weight: 400
      letter-spacing: 0.05em
      text-transform: uppercase
      &:before
        margin-right: 4px
        float: left
        content: glyph(menu)
    &.cart
      left: auto
      right: 12px
      &:before
        content: glyph(android-cart)
    &.account
      left: auto
      right: 60px
      right: 16vw
      &:before
        content: glyph(person)
.sub_sub_header
  background: #eee
  padding: 12px 14px
  .parent_category
    text-align: center
    margin-bottom: 2px
    border-radius: 5px
    line-height: 28px
    height: 28px
    &.inline
      float: left
    .icon
      font-size: 10px
      position: relative
      margin-right: 2px
  .subcategories
    text-align: center
    li
      line-height: 24px
      display: inline
    a
      float: left
      font-size: 14px
      line-height: 28px
      font-weight: bold
      color: white
      background: $color-secondary
      padding: 0 9px
      margin: 0 9px 12px 0
      border-radius: 5px

  h1
    padding: 18px 0
    font-family: Humanist777BlackCond, sans-serif
    text-transform: uppercase
    +responsive-font(6vw, 12px, 28px, 18px)
  .category_nav
    width: 100%
    background: white
    border: 1px solid #D2D2D2
    line-height: 40px
    position: absolute
    z-index: 10
    border-radius: 12px
    text-align: left
    overflow: hidden
    > span
      display: block
      cursor: pointer
      padding: 0 12px
      background: #f3f3f3
      color: #737373
      position: relative
      +linear-gradient(#f8f8f8, #e3e3e3)
      &:after
        position: absolute
        right: 16px
        font-size: 18px
        line-height: 40px
        content: glyph(ios-arrow-down)
    .contents
      width: 100%
      display: none
      overflow-y: scroll
    a
      padding: 0 12px
      display: block
      &.back_to
        background: #f3f3f3
        border-bottom: 1px solid #d2d2d2
        &:before
          font-size: 11px
          margin-right: 6px
          content: glyph(chevron-left)
      &.current
        font-weight: bold
  #category_nav_container
    height: 56px
    position: relative
    margin: 0 14px
    &.open .contents
      display: block
      border-top: 1px solid #d2d2d2
      width: 100%

ul.typeahead
  padding: 0
  margin: 6px 0
  color: #333
  width: 100%
  z-index: 99
  a
    color: #333



