// Double colons will break the entire rule on IE8
.call_us:before, .find_us:before, .header .menu:before, #search_form .search-button, .category_nav>span:after, .back_to:before, #drawer:before
  display: inline-block
  font-family: "icons"
  font-style: normal
  font-weight: normal
  font-variant: normal
  line-height: 1
  text-decoration: inherit
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 16px
  speak: none
