body
  font-size: 15px
  background: #FFF
  width: 100%
.wrapper
  overflow: hidden
.page
  margin: 0 auto
  position: relative
.col-main
  margin: 0 -1px
  >.std
    padding: 12px
.page-title
  padding: 12px
.hide-phone, .pager .pages .hide-phone
  display: none
