#is-desktop
  display: none // hidden on mobile so we can use jquery to find if viewing as mobile */
body.avid-ttcatalog-gallery-view
  padding: 0
.gallery-controls
  margin-top: 0
// Prevents zooming
.toolbar select
  font-size: 13px
.header-container, .header, .main, .footer, .wrapper
  min-width: 0
.col-main .block
  >h1, >h2
    border-radius: 0
  .content
    padding: 0
    border: 0px none
  li
    &.featured_product
      float: none
      width: 100%
      height: auto
      background: #FFF
      text-align: left
      margin: 0
      padding: 0
      border-bottom: 1px solid #ccc
      overflow: hidden
      .product-name
        padding: 9px 9px 9px 0
      img
        width: 125px
        height: 94px
        float: left
        margin: 0 9px
    float: none
    clear: left
    width: 100%
    height: auto
    background: #FFF
    text-align: left
    margin: 0
    padding: 0
.home-knockout li.featured-product, #products-list li.item
  min-height: 125px
  border: 0 none
  border-bottom: 1px solid #ccc
  border-radius: 0
.home-knockout li.featured-product
  .product-name
    padding: 9px 9px 9px 0
  img
    float: left
    margin: 0 9px
.home-categories
  li h3 a
    border-radius: 0px
  ul
    padding: 0
    border: 0 none
    border-radius: 0
  li
    float: none
    width: 100%
    margin: 0
    padding: 0
  .home-subsections
    float: none
    width: auto
    margin: 0 0 0 105px
.product-view
  padding: 9px 16px
  .product-shop
    float: none
    text-align: center
    margin: 0 auto
    button
      padding: 10px 16px
      height: 40px
      font-size: 14px
      line-height: 16px
img
  max-width: 100%
#products-list
  border-top: 1px solid #ccc
  li.item .product-shop
    max-width: 50%
.product-view button.btn-cart
  margin: 9px auto
.product-shop .price
  width: auto
.description
  height: 200px
  overflow: hidden
.messages
  width: auto
  padding: 12px
  > li
    padding: 12px
#payment_form_tradetested_px_post .checkout_element_note
  padding-left: 0
#shipping_street2, #billing_street2, .different-billing
  margin-left: 0
#payment-methods, #payment-review, #pickup_details, #shipping_methods, #delivery_instructions_container, #shipping_options, #shipping_details, #contact_details_container, #checkout_testimonial
  float: none
  width: 100%
  margin-bottom: 2em

#shipping_details, #checkout_testimonial
  display: none
.category-title
  display: none
.products-list-grid
  margin: 0
  li.item .price-box
    margin-bottom: 10px
.product-img-box
  max-width: 100%
#checkout-form
  padding: 12px
  display: block
  .checkout-step
    width: auto
    margin: 0
    float: none
#mc_embed_signup, .pager .view-mode, .page .limiter label, .add-to-box-bottom, .shareicons, .frequently-bought-together, .product-view .description > h3, .footer ul.links:last-of-type
  display: none
a#description-expander
  display: block
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 88%, rgba(255, 255, 255, 1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(88%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)))
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 88%, rgba(255, 255, 255, 1) 100%)
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 88%, rgba(255, 255, 255, 1) 100%)
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 88%, rgba(255, 255, 255, 1) 100%)
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 88%, rgba(255, 255, 255, 1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
  position: relative
  margin-top: -115px
  padding-top: 110px
  line-height: 15px
  width: 100%
  color: #28f
.digicert-badge img
  margin: 0.5em !important
  max-height: 40px !important
a.price_match
  display: none
.col-main .block.home_categories table td
  width: 50%
.cms-index-index .col-main .content_category_feature li
  max-width: none

.cms-contact-us
  .page-title
    padding-left: 0
  .col-main
    width: auto
    padding: 0 4%
    float: left
  .half
    width: 100%
    clear: both

.width-90
  width: 90%
  display: block
  margin: 0 auto

.cms-auckland-store
  .map
    float: left
    width: 100%
    height: 200px
  .location-contact
    width: 100%