.review-product-list
  border-top: 1px solid #e6e6e6
  margin-top: 21px
  padding-top: 16px
  a
    &:hover
      text-decoration: none
  .review-heading
    overflow: hidden
    .review-heading-left
      float: left
      h2
        font-size: 15px
      .amount
        display: none
    .review-heading-right
      float: right
.review-item
  background: #f8f8f8
  border-radius: 5px
  margin: 10px 10px 10px 0
  padding: 15px
  border: 1px solid #ebebeb

a.write_review
  font-weight: bold
  font-size: 13px
  color: #2287ff
  &:before
    font-weight: normal
    content: glyph(pencil)
    font-family: "icons"
    margin-right: 4px
  &:hover
    text-decoration: none

h3.review-body-name
  color: #808080
  font-size: 14px
  font-weight: bold
  margin: 0
  clear: left
.review-body-location
  font-size: 13px
  color: #808080
.review-body-time
  font-size: 13px
  color: #808080

.form-list
  label
    font-weight: normal

.review-product-view
  .main
    min-height: 200px
    .product-review
      .review-detail
        width: 87%
        margin: 0 auto
        .review-body-left
          margin: 22px 0
          .product-name
            a:hover
              text-decoration: none
            p
              font-size: 17px
              line-height: 1.35em
          .review-body-name
            margin: 5px 0
            font-size: 11px
          .product-image
            margin: 6px 0
          .rating
            margin: 7px 0 7px -3px
            .icon
              font-size: 1.15em
              margin: 2px !important
            label
              float: left
              color: gold
            .grey-star
              color: #ddd
          .review-title
            margin-top: 40px
            font-size: 14px
          .review-body-time
            line-height: 4px
            color: #999
            font-size: 12px
          .review-body-detail
            line-height: 1.5em
            font-size: 13px
            margin: 13px 0 11px
          .review-buttons
            a
              &:hover
                text-decoration: none
            .write-review-button
              float: right
              position: relative
              left: -38px
            .view-product-button
              float: left
            .button
              height: 31px
              width: 115px
              font-size: 11px
              padding: 0
        .review-body-right
          display: none

.review-edit
  position: relative
  h1.review-title
    position: absolute
    top: 12px
    text-align: center
    width: 100%
    font-weight: 500
  .content
    margin: 0
    padding: 0
    width: 100%
  .overlay
    display: none
  .close
    display: none
  .review-left
    background: #f2f2f2
    padding: 55px 18px 20px 18px
    .review-left-content
      overflow: hidden
      background: #fff
      display: table
      width: 100%
      +border-radius(5px)
      img
        float: left
        height: 70px
        margin-right: 10px
      .review-left-title
        padding: 0 10px
        font-size: 13px
        display: table-cell
        vertical-align: middle
  .nickname-comment
    clear: left
    padding: 9px 0 0
    font-size: 12px
    color: #aaa
  .review-recommend
    margin-bottom: 6px
  .review-social
    display: none
  #review-form
    display: block
    padding: 0 18px 18px

.review-detail
  padding: 18px
  h1
    margin-bottom: 9px
  h2.review-title
    margin: 12px 0 6px
    font-size: 16px
    font-weight: bold
  .product-image
    overflow: hidden
    margin: 9px 0 12px
    display: block

  .review-body-name
    font-size: 12px
  .review-body-right .product-image
    display: none