#search_form
  clear: both
  display: block
  position: relative
  padding: 12px 0 0
  .search-button
    position: absolute
    top: 13px
    right: 1px
    border-radius: 3px
    border-bottom-left-radius: 0px
    border-top-left-radius: 0px
    border-width: 0px 0px 0px 1px
    height: 38px
    font-size: 22px
  input.input-text
    font-size: 16px
    transition: 0.4s
    display: block
    box-sizing: border-box
    padding: 12px 14px
    height: 40px
    width: 100%
    border: 1px solid #ea0
