.testimonials_content
  position: relative
  padding: 0
  .m-item
    padding: 0 30px 16px
  .icon.m-prev, .icon.m-next
    top: 35%
  .testimonial
    border: 1px solid #eee
    width: auto
    max-width: none
    +border-radius(5px)
    float: left
    margin-right: 14px
    padding: 14px
    position: relative
    max-height: 120px
    &:last-of-type
      margin-right: 0
    h2
      color: $color-secondary
      margin: 0.5em 0
      border: 0px none
      padding: 0
    .text
      max-height: 134px
      font-size: 13px
      overflow: hidden
    &:hover, &:hover .text
      max-height: none
    .callout
      height: 16px
      width: 32px
      background: image_url('callout@2x.png')
      background-size: 32px 16px
      position: absolute
      bottom: -16px
      right: 1em
    .fade
      position: absolute
      bottom: -1px
      left: 0
      width: 100%
      height: 1.8em
      +border-radius(5px)
      border-bottom: 1px solid #eee //webkit text overflows over containers border
      -webkit-background-clip: padding-box
      +linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1))

