ul.thumbnails
  white-space: nowrap
  overflow-y: scroll
  li
    margin: 0 3px
#gallery
  ul.thumbnails
    background: #e6e6e6
    padding: 7px
.review-media ul.thumbnails li.selected:after
  display: none

.gallery_zoom
  background: white
  .close
    cursor: pointer
    &:after
      right: 15px
      top: 15px
      height: 30px
      width: 30px
      border: 2px solid #b3b3b3
      line-height: 30px
      border-radius: 30px
      color: #b3b3b3
      background: white
      content: glyph(close)
  .zoom
    display: table
    height: 100%
    width: 100%
    .zoom_inner
      display: table-cell
      vertical-align: middle
      padding-bottom: 68px
  ul.thumbnails
    width: 100%
    position: fixed
    bottom: 0
    background: #e6e6e6
    padding: 7px

body.zoom .wrapper
  overflow: hidden
  height: 1px
