<?php $shipping = $this->getShippingAddress() ?>
<?php $billing = $this->getBillingAddress() ?>
<?php $storeCode = Mage::app()->getStore()->getCode() ?>
<div id="address_form_container" class="<?php if (Mage::getModel('customer/customer')->setWebsiteId(Mage::app()->getWebsite()->getId())->loadByEmail($billing->getEmail())->getId()): ?>show_login<?php endif; ?>">
    <form action="<?php echo $this->getFormAction() ?>" class="checkout_form" method="post" id="checkout_address_form">

        <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
            <h2>My Account</h2>
            <div class="checkout_logout">
                <?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail() ?>
                <a href="<?php echo $this->getLogoutUrl()?>">Sign Out</a>
            </div>
            <a href="#" data-ajax="popup" data-target="#address_manager_popup" onclick="window.addressManager.currentArea='shipping';" class="addressbook_link">Select from my saved addresses</a>
        <?php else: ?>
            <h2><label for="billing_email">Email Address <em class="required">*</em></label></h2>
            <div class="tooltip">
                <div class="content">
                    <p>Order updates will be sent to this address</p>
                </div>
            </div>
            <input tabindex="10" autocomplete="email" maxlength="64" name="billing[email]" title="Please enter a valid email address" id="billing_email" class="input-text" type="email" value="<?php echo $billing->getEmail() ?>" <?php if(!$billing->getEmail()):?>onchange="$.post('/ttcheckout/index/saveEmailAddress', {email: $(this).val() })"<?php endif; ?> required />
            <div class="existing_account_note">You have an existing account</div>
            <div id="register_box">
                <label for="register" class="radio-label checkbox">
                    <input tabindex="15" type="checkbox" name="register" id="register"/>
                    <span class="icon"></span>
                    Create Account
                </label>
                <div class="password_box" id="register_password_box">
                    <div class="tooltip">
                        <div class="content">
                            <p>
                                Please choose a password at least 6 characters long
                            </p>
                        </div>
                    </div>
                    <input tabindex="16" type="password" required="required" placeholder="Choose Password" data-rule-minlength="6" name="register_password" id="register_password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Please choose a password at least 6 characters long')) ?>" class="input-text required-entry validate-password" />
                    <input type="checkbox" class="password_reveal"/>
                </div>
                <div class="clear"></div>
            </div>
            <div id="login_box"></div>
        <?php endif ?>

        <?php if($shipping->getIsPrefilled()): ?>
            <div class="tooltip callout open" id="prefill_callout">
                <div class="content">
                    <p style="margin-bottom: 9px">We prefilled the details you used for your last order.</p>
                    <p><a href="#" onclick="window.addressManager.undo();$(this).closest('.tooltip').hide();return false;">Undo</a></p>
                </div>
            </div>
        <?php endif; ?>
        <h2><label for="s_name">Full Name <em class="required">*</em></label></h2>
        <input autocomplete="name" maxlength="40" name="shipping[firstname]" title="Please enter your name" id="s_name" class="input-text" type="text" value="<?php echo $shipping->getFirstname() ?>" required />
        <h2><label for="shipping_telephone">Phone Number <em class="required">*</em></label></h2>
        <div class="tooltip">
            <div class="content">
                <p>For our customer service team to contact you if required</p>
            </div>
        </div>
        <input autocomplete="shipping tel" maxlength="15" name="shipping[telephone]" title="Please enter your phone number" id="shipping_telephone" class="input-text" type="tel" value="<?php echo $shipping->getTelephone() ?>" <?php if(!$billing->getTelephone()):?>onchange="$.post('/ttcheckout/index/savePhone', {phone: $(this).val() })"<?php endif; ?> required />
        <h2>Shipping Address</h2>
        <label for="shipping_street1">Street Address <em class="required">*</em></label>
        <div class="tooltip">
            <div class="content">
                <p>Enter company, street address or PO box</p>
            </div>
        </div>
        <input autocomplete="off" autocorrect="off" maxlength="40" name="shipping[street_line_1]" title="Please enter an address" id="shipping_street1" class="input-text" type="text" value="<?php echo $shipping->getStreet(1) ?>" required>
        <div class="tooltip">
            <div class="content">
                <p>Continue in this field if required</p>
            </div>
        </div>
        <label for="shipping_street2" style="display:none;">Address Line 2</label>
        <input autocomplete="off" autocorrect="off" maxlength="40" name="shipping[street_line_2]" title="" id="shipping_street2" class="input-text" type="text" value="<?php echo $shipping->getStreet(2) ?>">
        <input type="hidden" name="shipping[signature]" id="shipping_signature"/>
        <div id="shipping_autocomplete"></div>
        <label for="shipping_street3">Suburb</label>
        <input autocomplete="shipping address-level3" maxlength="40" name="shipping[street_line_3]" title="Suburb" id="shipping_street3" class="input-text" type="text" value="<?php echo $shipping->getStreet(3) ?>">
        <label for="shipping_city">City <em class="required">*</em></label>
        <input autocomplete="shipping address-level2" maxlength="40" name="shipping[city]" title="Please enter your city" id="shipping_city" class="input-text" type="text" value="<?php echo $shipping->getCity() ?>" required>    <?php $options = ''; ?>
        <?php if ($storeCode == 'au'): ?>
            <label for="shipping_region_id">State <span class="required">*</span></label>
            <select autocomplete="shipping address-level1" id="shipping_region_id" name="shipping[region_id]" title="Please select your state" class="validate-select" required style="height: 2.4em; line-height: 2.4em; display: block; float: left; margin-bottom: 0.6em;">
                <option value="">Please Select</option>
                <?php $regionsCollection = Mage::getResourceModel('directory/region_collection')->addCountryFilter(strtoupper($storeCode))->load(); ?>
                <?php foreach ($regionsCollection as $region): ?>
                    <option value="<?php echo $region->getId() ?>"><?php echo $region->getCode() ?></option>
                <?php endforeach; ?>
            </select>
        <?php endif; ?>
        <label for="shipping_postcode"><?php echo $this->__('Postcode') ?> <em class="required">*</em></label>
        <div class="tooltip" style="left:108px;right:auto;">
            <div class="content">
                <p>We will use this to calculate shipping and pickup options</p>
            </div>
        </div>
        <input autocomplete="shipping postal-code" maxlength="4" name="shipping[postcode]" title="Please enter a valid postcode" id="shipping_postcode" class="input-text" type="text" value="<?php echo $shipping->getPostcode() ?>" required>
        <div class="clear"></div>
        <label><?php echo Mage::getModel('directory/country')->loadByCode(Mage::getStoreConfig('general/country/default'))->getName() ?></label>

        <div class="clear"></div>
        <div class="different-billing">
            <label for="different_billing" class="radio-label checkbox">
                <input type="checkbox" name="different_billing" id="different_billing" onchange="$('#checkout_billing_form, #shipping-header-aux').toggle(Boolean($(this).is(':checked')));"<?php if(!$shipping->getSameAsBilling()): ?> checked="checked"<?php endif; ?> />
                <span class="icon"></span>
                Enter a different billing address
            </label>
        </div>

        <div id="checkout_billing_form" style="display:none;overflow:hidden;">
            <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                <a href="#" data-ajax="popup" data-target="#address_manager_popup" onclick="window.addressManager.currentArea='billing';" class="addressbook_link">Select from my saved addresses</a>
            <?php endif; ?>
            <h2>Billing Address</h2>
            <div style="max-width:500px;">
                <label for="billing_company">Company</label>
                <input autocomplete="billing organization" maxlength="40" name="billing[company]" title="Company" id="billing_company" class="input-text" type="text" value="<?php echo $billing->getCompany() ?>">
                <label for="billing_street1">Address <em class="required">*</em></label>
                <input autocomplete="off" autocorrect="off" maxlength="40" name="billing[street_line_1]" title="Please enter your address" id="billing_street1" class="input-text" type="text" value="<?php echo $billing->getStreet(1) ?>" required>
                <label for="billing_street2" style="display:none;">Address Line 2</label>
                <input autocomplete="off" autocorrect="off" maxlength="40" name="billing[street_line_2]" title="" id="billing_street2" class="input-text" type="text" value="<?php echo $billing->getStreet(2) ?>">
                <input type="hidden" name="billing[signature]" id="billing_signature"/>
                <div id="billing_autocomplete"></div>
                <label for="billing_street3">Suburb</label>
                <input autocomplete="billing address-level3" maxlength="40" name="billing[street_line_3]" title="Suburb" id="billing_street3" class="input-text" type="text" value="<?php echo $billing->getStreet(3) ?>">
                <label for="billing_city">City <em class="required">*</em></label>
                <input autocomplete="billing address-level2" maxlength="40" name="billing[city]" title="Please enter your city" id="billing_city" class="input-text" type="text" value="<?php echo $billing->getCity() ?>" required>
                <?php if ($storeCode == 'au'): ?>
                    <label for="billing_region_id">State <span class="required">*</span></label>
                    <select autocomplete="billing address-level1" id="billing_region_id" name="billing[region_id]" title="Please select your state" class="validate-select" required style="height: 2.4em; line-height: 2.4em; display: block; float: left; margin-bottom: 0.6em;">
                        <option value="">Please Select</option>
                        <?php $regionsCollection = Mage::getResourceModel('directory/region_collection')->addCountryFilter(strtoupper($storeCode))->load(); ?>
                        <?php foreach ($regionsCollection as $region): ?>
                            <option value="<?php echo $region->getId() ?>"><?php echo $region->getCode() ?></option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
                <label for="billing_postcode"><?php echo $this->__('Postcode') ?> <em class="required">*</em></label>
                <input autocomplete="billing postal-code" maxlength="4" name="billing[postcode]" title="Please enter your postcode" id="billing_postcode" class="input-text" type="text" value="<?php echo $billing->getPostcode() ?>" required>
                <div class="clear"></div>
                <label><?php echo Mage::getModel('directory/country')->loadByCode(Mage::getStoreConfig('general/country/default'))->getName() ?></label>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="button back" onclick="window.location='<?php echo $this->getUrl('checkout/cart/index', array('_secure' => true)) ?>';window.checkout_spinner.spin($('.checkout_form').get(0));"><span class="icon hide-phone" style="margin:0 9px 0 0;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-left') ?></span>Back</button>
            <button type="submit" class="button btn-primary continue">Continue<span class="icon right" style="margin:0 0 0 9px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right') ?></span></button>
            <p class="checkout_note">You can review this order before it's final</p>
        </div>
    </form>
    <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
        <form action="<?php echo $this->getLoginAction() ?>" id="login_form" method="post">
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="tooltip">
                <div class="content">
                    <p>
                        You are not required to Sign in.
                        However, doing so will allow you to checkout quicker and view your order online later.
                    </p>
                </div>
            </div>
            <input type="hidden" id="login_email" name="login[username]"/>
            <input type="hidden" id="login_address_data" name="login[address_data]"/>
            <label for="password">Sign In <span class="note">(optional)</span></label>
            <button type="submit" class="button btn-primary">Sign In</button>
            <input tabindex="20" type="password" name="login[password]" required="required" placeholder="Password"/>
            <a href="<?php echo $this->getUrl('customer/account/forgotpassword'); ?>" target="_blank" onclick="$('#forgot_password_email').val($('#billing_email').val());$('#forgot_password_form').submit();return false;">Forgot your password?</a>
        </form>
        <form id="forgot_password_form" action="<?php echo $this->getUrl('customer/account/forgotpassword'); ?>" method="post" target="_blank">
            <input id="forgot_password_email" name="email" type="hidden"/>
        </form>
    <?php endif ?>
</div>
<?php echo $this->getChildHtml('address_book') ?>
