<form action="<?php echo $this->getFormAction() ?>" class="checkout_form" method="post" id="payment_method_form">
    <div id="payment-methods">
        <h2>Payment</h2>
        <?php echo $this->getChildHtml('methods') ?>
    </div>
    <div class="actions">
        <button type="button" class="button back" onclick="window.location='<?php echo $this->getUrl('*/*/shippingMethod', array('_secure' => true)) ?>';window.checkout_spinner.spin($('.checkout_form').get(0));"><span class="icon hide-phone" style="margin:0 9px 0 0;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-left') ?></span>Back</button>
        <button type="submit" class="button btn-primary continue">Place Order Now<span class="icon right" style="margin:0 0 0 9px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right') ?></span></button>
    </div>
</form>
