<form action="<?php echo $this->getFormAction() ?>" class="checkout_form" method="post" id="shipping_method_form">
    <div id="shipping_options">
        <div id="shipping_methods">
            <h2>Shipping Method</h2>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('shipping_details_default')->toHtml(); ?>
            <?php if (!($_shippingRateGroups = $this->getShippingRates())): ?>
                <strong>Please check your address.</strong>
            <?php else: ?>
                <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
                    <?php echo $this->renderRateGroup($code, $_rates); ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
        <div>
            <h2 style="margin-top:1.6em;">Delivery Instructions</h2>
            <?php
                $items = Mage::getSingleton('checkout/session')->getQuote()->getAllItems();
                $weight = 0;
                foreach($items as $item) {
                    $weight += ($item->getWeight() * $item->getQty()) ;
                }
            ?>
            <?php if ($weight < 30): ?>
                <label for="signature_opt_out" class="radio-label checkbox">
                    <input type="checkbox" name="signature_opt_out" id="signature_opt_out" value="1"<?php if ($this->getQuote()->getSignatureOptOut()): ?> checked="checked"<?php endif; ?>/>
                    <span class="icon"></span>
                    Signature not required
                </label>
            <?php endif; ?>
            <?php if ($storeCode != 'au'): ?>
                <a class="additional_instructions" href="javascript:void(0)" onclick="$('#delivery_instructions_container').show();$(this).hide();">
                    <span class="icon" style=""><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('plus') ?></span>
                    Add more instructions
                </a>
                <div id="delivery_instructions_container" style="display:none;">
                    <label for="delivery_instructions">Additional Instructions</label>
                    <textarea style="height:75px;width:100%;box-sizing:border-box;" maxlength="160" name="delivery_instructions" id="delivery_instructions"><?php echo $this->getDeliveryInstructions() ?></textarea>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="button back" onclick="window.location='<?php echo $this->getUrl('*/*/index', array('_secure' => true)) ?>';window.checkout_spinner.spin($('.checkout_form').get(0));"><span class="icon hide-phone" style="margin:0 9px 0 0;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-left') ?></span>Back</button>
        <button type="submit" class="button btn-primary continue">Continue<span class="icon right" style="margin:0 0 0 9px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right') ?></span></button>
        <p class="checkout_note">You can review this order before it's final</p>
    </div>
</form>
