<?php $_code=$this->getMethodCode() ?>
<?php $_logos = $this->getLogosToDisplay();?>
<?php $_turnOffTypeValidation = in_array('DIN', $this->getCcAvailableTypes()); ?>
<div class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <p class="secure_note">
        <span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('lock') ?></span>
        This is a secure 128-bit SSL encrypted payment.
    </p>
    <label for="<?php echo $_code ?>_cc_number">Card Number <em class="required">*</em></label>
    <div class="tooltip" style="position: relative;left:175px;top:1px;">
        <div class="content">
            <p>The 16 digits on the front of your credit card</p>
        </div>
    </div>
    <input autocomplete="cc-number" type="text" inputmode="numeric" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit card number is required') ?>" class="input-text creditcard" value="" required />
    <div class="clear"></div>
    <label for="<?php echo $_code ?>_expiration">Expiry Date <em class="required">*</em></label>
    <div class="expiry">
        <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp" required>
            <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
            <?php foreach ($this->getCcMonths() as $k=>$v) if($k): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php printf('%02d', $k) ?></option>
            <?php endif; ?>
        </select><span style="float:left;padding:0 6px;font-size:16px;line-height:36px"> / </span>
        <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
        <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year" required>
            <?php foreach ($this->getCcYears() as $k=>$v) if($k): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo substr($k, -2) ?></option>
            <?php endif ?>
        </select>
    </div>

    <?php echo $this->getChildHtml() ?>
    <?php if($this->hasVerification()): ?>
        <div class="cvc_field">
            <label for="<?php echo $_code ?>_cc_cid">Security Code <em class="required">*</em></label>
            <div class="cvc_note">
                <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/cvv_36px.png') ?>" data-retina="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/cvv_72px.png') ?>" width="55px" height="36px"/>
                <span class="hide-phone" style="font-size: 12px;">(or "CVC" or "CVV")</span>
                <div class="tooltip">
                    <div class="content">
                        <p>The last 3 digits displayed on the back of your credit card</p>
                    </div>
                </div>
            </div>
            <input autocomplete="off" type="text" inputmode="numeric" title="<?php echo $this->__('Card verification number is required') ?>" class="input-text cvv" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" required style="width:50px;float:left;" />
            <div class="clear"></div>
        </div>
    <?php endif; ?>
    <?php if($this->displayAddCcSave()) :?>
        <label for="<?php echo $_code ?>_cc_save" class="radio-label checkbox" style="color:#333;float:left;">
            <input type="checkbox" checked="checked" id="<?php echo $_code ?>_cc_save" name="payment[cc_save]" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save for later')) ?>" class="checkbox" />
            <span class="icon"></span>
            Save for future use with Trade Tested
        </label>
        <div class="tooltip" style="margin: 16px 0 0 3px;">
            <div class="content" style="width:400px">
                <p style="margin-bottom: 12px">Saving your credit card details while making this purchase will mean you won't have to re-enter them for future purchases from the Trade Tested website.</p>
                <p>Saving your transaction data will involve us retaining, storing &amp; retrieving your credit card in the form of a secure token. Tokenisation is one of the security measures we use in order to increase the security of online transactions. All data is stored on secure servers in encrypted files.</p>
            </div>
        </div>
    <?php endif; ?>
    <div class="clear" style="height:18px"></div>
</div>
