<div class="page-title">
    <h1>Add New Card</h1>
</div>
<form method="post" action="<?php echo $this->getFormAction() ?>" id="new_credit_card_form" class="group-select" data-validate="true">
    <p class="secure_note">
        <span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('lock') ?></span>
        This is a secure 128-bit SSL connection.
    </p>
    <label for="cc_number">Card Number <em class="required">*</em></label>
    <div class="tooltip" style="right: 0;left: auto;position: absolute">
        <div class="content">
            <p>The 16 digits on the front of your credit card</p>
        </div>
    </div>
    <input autocomplete="cc-number" type="text" inputmode="numeric" id="cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number is Required') ?>" class="input-text creditcard" value="" required />
    <label for="expiration">Expiry Date <em class="required">*</em></label>
    <div class="expiry">
        <select id="expiration" name="payment[cc_exp_month]" class="month validate-cc-exp" required>
            <?php foreach ($this->getCcMonths() as $k=>$v) if($k): ?>
                <option value="<?php echo $k?$k:'' ?>"><?php printf('%02d', $k) ?></option>
            <?php endif; ?>
        </select><span style="float:left;padding:0 6px;font-size:16px;line-height:36px"> / </span>
        <select id="expiration_yr" name="payment[cc_exp_year]" class="year" required>
            <?php foreach ($this->getCcYears() as $k=>$v) if($k): ?>
                <option value="<?php echo $k?$k:'' ?>"><?php echo substr($k, -2) ?></option>
            <?php endif ?>
        </select>
    </div>
    <div class="cvc_field">
        <label for="cc_cid">Security Code <em class="required">*</em></label>
        <div class="cvc_note">
            <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/cvv_36px.png') ?>" data-retina="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/cvv_72px.png') ?>" width="55px" height="36px"/>
            <span class="hide-phone" style="font-size: 12px;">(or "CVC" or "CVV")</span>
            <div class="tooltip">
                <div class="content">
                    <p>The last 3 digits displayed on the back of your credit card</p>
                </div>
            </div>
        </div>
        <input autocomplete="off" type="text" inputmode="numeric" title="<?php echo $this->__('Card Verification Number is Required') ?>" class="input-text cvv" id="cc_cid" name="payment[cc_cid]" value="" required style="width:50px;float:left;" />
        <div class="clear"></div>
    </div>
    <div class="actions">
        <button type="submit" class="button btn-primary">Save Card</button>
    </div>
</form>
