<div class="block coupon">
    <a href="#" onclick="$('#coupon_popdown').show();$(this).hide();return false;">Add a gift voucher</a>
    <div id="coupon_popdown" style="display:none;">
        <div class="discount">
            <h3 class="hide-phone"><?php echo $this->__('Gift Voucher') ?></h3>
            <form id="discount-coupon-form" action="<?php echo $this->getUrl('checkout/cart/couponPost') ?>" method="post">
                <fieldset>
                    <input type="hidden" name="remove" id="remove-coupone" value="0" />
                    <input type="text" class="input-text left" id="coupon_code" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" placeholder="Voucher code" />
                    <?php if(!strlen($this->getCouponCode())): ?>
                        <button class="button left type="submit" value="<?php echo $this->__('Apply Voucher') ?>"><span><?php echo $this->__('Apply Voucher') ?></span></button>
                    <?php else: ?>
                        <button class="button left" type="submit" value="<?php echo $this->__('Cancel Voucher') ?>"><span><?php echo $this->__('Cancel Voucher') ?></span></button>
                    <?php endif;?>
                </fieldset>
            </form>
        </div>
    </div>
</div>
