<?php // Ensure cross-sells have region available for location-specific products ?>
<?php Mage::helper('tradetested_regions')->setAreaNameFromGeoIP() ?>
<?php if($this->getItemCount()): ?>
<div class="crosssell hide-phone">
    <h3><?php echo $this->__('You May Also Need') ?></h3>
    <ul>
        <?php foreach ($this->getItems() as $_item): ?>
        <li>
            <a class="product-image" href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>">
                <img data-retina="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(280); ?>" src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(140); ?>" width="140" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" />
            </a>
            <div class="product-shop">
                <h4 class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a></h4>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <p><button class="button btn-primary" onclick="window.location = '<?php echo $this->getAddToCartUrl($_item) ?>'" type="button"><span><?php echo $this->__('Add to Cart') ?></span></button></p>
            </div>
        </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>