<?php /** @var Mage_Checkout_Block_Cart_Minicart $this */ ?>
<div id="minicart">
    <a href="<?php echo $this->helper('checkout/cart')->getCartUrl(); ?>" class="dropdown_title">
        <span class="count<?php if ($this->getSummaryCount() >= 10): ?> shrink<?php endif; ?>">
            <?php echo ($this->getSummaryCount() > 0) ? $this->getSummaryCount() : '&nbsp;'; ?>
        </span>
        <span><?php echo $this->__('Cart'); ?></span>
    </a>
</div>
