<p class="cart_note"><span class="icon" style="text-align:center;float:left;width:16px;margin:0 9px 0 0;color:#739900;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('lock') ?></span>Buying from Trade Tested is safe. Your order will be processed on our secure servers.</p>
<p class="cart_note"><span class="icon" style="text-align:center;float:left;width:16px;margin:0 9px 0 0;color:#739900;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('ok-sign') ?></span>30 Day Return Policy applies to this order.</p>

