<?php
/**
 * Noam Design Group
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA available 
 * through the world-wide-web at this URL:
 * http://ultimento.com/ultimento-license.txt
 * 
 * MAGENTO EDITION USAGE NOTICE
 * 
 * This package is designed for Magento COMMUNITY edition. 
 * =================================================================
 *
 * @package    Ultimento-x
 * @copyright  Copyright (c) 2006-2011 Noam Design Group. (http://www.noamdesign.com)
 * @license    http://ultimento.com/ultimento-license.txt
 */
?>

<?php 
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
?>
<?php if ($this->getIsNeedToDisplaySideBar()):?>
<div class="block block-cart">
    <?php $_cartQty = $this->getSummaryCount() ?>
    <?php if ($_cartQty >0): ?>
    <div class="block-title">
        <h3><?php echo $this->__('My Cart') ?>
		 <?php if ($_cartQty>0): ?>
			<?php if ($_cartQty==1): ?>
	        	<?php echo $this->__(' - <a href="%s">1 item</a>', $this->getUrl('checkout/cart')) ?>
	        <?php else: ?>
	        	<?php echo $this->__(' - <a href="%s">%s items</a>', $this->getUrl('checkout/cart'), $_cartQty) ?>
	        <?php endif ?>
	    <?php endif ?>    
		</h3>
    </div>
    <div class="block-content">
    <?php $_items = $this->getRecentItems() ?>
    <?php if(count($_items)): ?>
        <p class="block-subtitle"><?php echo $this->__('Recently added item(s)') ?></p>
        <ol id="cart-sidebar" class="mini-products-list">
        <?php foreach($_items as $_item): ?>
            <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach; ?>
        </ol>
    <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
    <div class="actions cart">
    <?php echo $this->getChildHtml('extra_actions') ?>
        <button class="button sidebar-cart-actions" type="button" onclick="window.location = '<?php echo $this->getCheckoutUrl() ?>'"><span><?php echo $this->__('Checkout') ?></span></button>
    </div>
    <?php endif ?>
    <?php else: ?>
        <p><?php echo $this->__('You have no items in your shopping cart.') ?></p>
    <?php endif ?>
    <div class="clearer"></div>
    </div>
    <?php endif ?>
</div>
<?php endif;?>