<?php $file = $this->getFile() ?>
<?php $order = $file->getLastOrder() ?>
<style type="text/css">
    .avid_remarket_history_product_view td {background: #efefef}
    .avid_remarket_history_cart_add_product td {background: #ddddff}
    .avid_remarket_history_order_create td {background: #ddffdd}
    .avid_remarket_history_contacted td {background: #aaffaa}
    .avid_remarket_history_ignored td {background: #ffffcc}
</style>
<div class="content-header">
    <h3 class="icon-head">Visitor File</h3>
    <p class="form-buttons">
        <button style="" onclick="setLocation('<?php echo $this->getUrl('*/*/index') ?>')" class="scalable back" type="button" title="Back"><span><span><span>Back</span></span></span></button>
        <button style="" onclick="setLocation('<?php echo $this->getUrl('*/*/contacted', array('file_id' => $file->getFileId())) ?>')" class="scalable " type="button" title="Mark as Contacted"><span><span><span>Mark as Contacted</span></span></span></button>
        <button style="" onclick="setLocation('<?php echo $this->getUrl('*/*/ignore', array('file_id' => $file->getFileId())) ?>')" class="scalable " type="button" title="Ignore until next product view"><span><span><span>Ignore until next product view</span></span></span></button>
</div>
<div class="box-left">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head">History</h4>
        </div>
        <div class="grid">
            <table class="data">
                <thead>
                <tr class="headings">
                    <th>Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($file->getHistory() as $_timestamp => $_action): ?>
                    <?php if (isset($_action['object'])): ?>
                        <?php $isOrder = (boolean)($_action['object'] instanceof Mage_Sales_Model_Order) ?>
                        <?php $link =  $isOrder ? $this->getUrl('*/sales_order/view', array('order_id' => $_action['object']->getId())) : $this->getUrl('*/catalog_product/view', array('entity_id' => $_action['object']->getId())) ?>
                        <?php $label = $isOrder ? $_action['object']->getIncrementId() : $_action['object']->getName() ?>
                    <?php endif; ?>
                    <tr class="avid_remarket_history_<?php echo $_action['type'] ?>">
                        <td><?php echo Mage::getModel('core/date')->date('Y-m-d H:i:s', $_timestamp) ?></td>
                        <td><?php echo $_action['action_label'] ?><?php if (isset($_action['object'])): ?>: <a href="<?php echo $link ?>"><?php echo $label ?></a><?php endif; ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="box-right">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head">Last Order</h4>
        </div>
        <div class="grid">
            <table class="data">
                <thead>
                <tr class="headings">
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd">
                    <td>ID</td>
                    <td><?php echo $order->getIncrementId() ?></td>
                </tr>
                <tr class="even">
                    <td>Billing Name</td>
                    <td><?php echo $order->getBillingAddress()->getFirstname() ?> <?php echo $order->getBillingAddress()->getLastname() ?></td>
                </tr>
                <tr class="odd">
                    <td>Phone</td>
                    <td><?php echo $order->getBillingAddress()->getTelephone() ?></td>
                </tr>
                <tr class="even">
                    <td>Email</td>
                    <td><?php echo $order->getBillingAddress()->getEmail() ?></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
