<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h1 style="font-size:24px;margin:18px 0">Let us know why you didn't purchase</h1>
</div>
<form class="survey" action="<?php echo $this->getUrl('*/*/incompletePost') ?>" method="post">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <fieldset>
        <h3>Shipping price was too high</h3>
        <div class="radio_options">
            <input type="radio" id="shipping_price_too_high_yes" name="survey[shipping_price_too_high]" value="1"/>
            <label for="shipping_price_too_high_yes">Yes</label>
            <input type="radio" id="shipping_price_too_high_no" name="survey[shipping_price_too_high]" value="0"/>
            <label for="shipping_price_too_high_no">No</label>
            <input checked="checked" type="radio" id="shipping_price_too_high_unsure" name="survey[shipping_price_too_high]" value="2"/>
            <label for="shipping_price_too_high_unsure">Unsure</label>
        </div>
        <textarea name="survey[shipping_price_details]" placeholder="Enter more information here"></textarea>
    </fieldset>
    <fieldset>
        <h3>Shipping options weren't suitable</h3>
        <div class="radio_options">
            <input type="radio" id="shipping_options_not_suitable_yes" name="survey[shipping_options_not_suitable]" value="1"/>
            <label for="shipping_options_not_suitable_yes">Yes</label>
            <input type="radio" id="shipping_options_not_suitable_no" name="survey[shipping_options_not_suitable]" value="0"/>
            <label for="shipping_options_not_suitable_no">No</label>
            <input checked="checked" type="radio" id="shipping_options_not_suitable_unsure" name="survey[shipping_options_not_suitable]" value="2"/>
            <label for="shipping_options_not_suitable_unsure">Unsure</label>
        </div>
        <textarea name="survey[shipping_options_details]" placeholder="Enter more information here"></textarea>
    </fieldset>
    <fieldset>
        <h3>Payment options weren't suitable</h3>
        <div class="radio_options">
            <input type="radio" id="payment_options_not_suitable_yes" name="survey[payment_options_not_suitable]" value="1"/>
            <label for="payment_options_not_suitable_yes">Yes</label>
            <input type="radio" id="payment_options_not_suitable_no" name="survey[payment_options_not_suitable]" value="0"/>
            <label for="payment_options_not_suitable_no">No</label>
            <input checked="checwked" type="radio" id="payment_options_not_suitable_unsure" name="survey[payment_options_not_suitable]" value="2"/>
            <label for="payment_options_not_suitable_unsure">Unsure</label>
        </div>
        <textarea name="survey[payment_options_details]" placeholder="Enter more information here"></textarea>
    </fieldset>
    <fieldset>
        <h3>Other</h3>
        <textarea name="survey[other]" placeholder="Enter more information here"></textarea>
    </fieldset>
    <div class="actions">
        <button type="submit" class="button btn-primary large">Send Feedback</button>
    </div>
</form>
<script type="text/javascript">
    $('form.survey').find('textarea').keyup(function(){
        $(this).toggleClass('expanded', Boolean($(this).val()));
    }).keyup();
</script>

