<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="survey_success">
    <div class="icon"><?php echo $this->helper('tradetested_design/icon')->getEntityCode('ok-sign') ?></div>
    <h1>Feedback Sent</h1>
    <p>Thanks for your help!</p>
</div>
