<?php $postFix = $this->getImagePostfix() ?>
<div class="content-wrapper">
    <div class="article-about">
        <div><img alt="tradetested" src="<?php echo Mage::helper('tradetested_design/asset')->getUrl("images/content/banner1{$postFix}.png") ?>"/><a href="#"><span>the right tool - for any job</span><span>Shop for power tools</span></a></div>
        <div><img alt="tradetested" src="<?php echo Mage::helper('tradetested_design/asset')->getUrl("images/content/banner2{$postFix}.png") ?>" /><a href="#"><span>keeping the garden tidy</span><span>Shop for gardening supplies</span></a></div>
        <div><img alt="tradetested" src="<?php echo Mage::helper('tradetested_design/asset')->getUrl("images/content/banner3{$postFix}.png") ?>" /><a href="#"><span>warming your house</span><span>Shop for splitters</span></a></div>
    </div>
</div>