<?php $brands = [
    'weber'     => ['url' => '#', 'brightness' => 50],
    'bahco'     => ['url' => '#'],
    'hills'     => ['url' => '#'],
    'goldair'   => ['url' => '#'],
    'bosch'      => ['url' => '#'],
    'makita'    => ['url' => '#'],
    'fiskars'   => ['url' => '#'],
    'keter'     => ['url' => '#'],
    'skellerup' => ['url' => '#'],
]; ?>
<div class="brands-logo-wrap">
    <div class="brands-logo">
        <?php foreach (array_chunk($brands, $this->getChunkSize()??count($brands), true) as $_chunk): ?>
            <div>
                <?php foreach ($_chunk as $_brand => $_opts): ?>
                    <?php $imageUrl = Mage::helper('tradetested_design/asset')->getImageUrl("content/brands/${_brand}.png")->fitIn($this->getImageMaxWidth()??200, $this->getImageMaxHeight()??50) ?>
                    <a href="<?php echo $_opts['url'] ?>" style="background-image: url('<?php echo $imageUrl ?>')">
                        <?php if (isset($_opts['brightness'])) $imageUrl->addFilter('brightness', $_opts['brightness'])->addFilter('grayscale') ?>
                        <img alt="<?php echo $_brand ?>" src="<?php echo $imageUrl ?>"/>
                    </a>
                <?php endforeach; ?>
            </div>
        <?php endforeach; ?>
    </div>
</div>