<div class="content-wrapper">
    <div class="main-banner"><img alt="tradetested" src="<?php echo Mage::helper('tradetested_design/asset')->getImageUrl('content/main_banner_large.png')->fitIn($this->getImageMaxWidth(), $this->getImageMaxHeight()) ?>"/>
        <div class="banner-bottom">
            <p>Our product support team are always ready to help you out with your new purchases, so you don't need to worry about a thing</p>
            <a href="#" type="button">our product support</a>
        </div>
    </div>
</div>