<div class="products-catalog-wrap">
    <div id="products-catalog" class="products-catalog">
        <?php
        $filter = Mage::getModel('widget/template_filter');
        echo $filter->filter('{{widget type="catalog/product_widget_new" display_type="all_products" products_count="4" template="catalog/product/widget/new/content/new_grid.phtml"}}');
        ?>
    </div>
</div>