<style type="text/css">
    td.mass_action_add{background-color: #aaccaa;}
    td.mass_action_remove{background-color: #ccaaaa;}
</style>
<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3><?php echo Mage::helper('catalog')->__('Update Product Relations') ?></h3></td>
            <td class="form-buttons">
            <?php echo $this->getBackButtonHtml() ?>
            <?php echo $this->getCancelButtonHtml() ?>
            <?php echo $this->getSaveButtonHtml() ?>
            </td>
        </tr>
        <tr>
            <?php $products = $this->helper('adminhtml/catalog_product_edit_action_attribute')->getProducts() ?>
            <td><h4><?php echo count($products) ?> Selected Products</h4></td>
            <td>
                <?php foreach($products as $_product): ?>
                    <a href="<?php echo $this->getUrl('*/catalog_product/edit', array('store'=>$this->getRequest()->getParam('store'), 'id'=>$_product->getId())); ?>">
                        <?php echo $_product->getSku() ?>
                    </a>,
                <?php endforeach; ?>
            </td>
        </tr>
    </table>
</div>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="attributes_edit_form" enctype="multipart/form-data">
    <?php echo $this->getChildHtml('serializers'); ?>
    <?php echo $this->getBlockHtml('formkey')?>
</form>
<script type="text/javascript">
    var attributesForm = new varienForm('attributes_edit_form', '<?php echo $this->getValidationUrl() ?>');
</script>
