<?php
/**
 * @package     Avid_AbandonedCartReminders
 * @author      Dane Lowe <dane@avidonline.co.nz>.
 * @copyright   Copyright (c) 2013 Avid Online Enterprise Ltd. (New Zealand)
 * @license     Commercial - see LICENSE.txt for details
 */
?>
<style type="text/css">
    #avid_graph_options li.graph_option{float:left; width:30%;height:100px;}
    #avid_graph_options li.graph_option label{padding:0 0 0 6px;}
</style>
<div class="content-header">
    <h3 class="icon-head head-system-account">Abandoned Cart Reminders as a Glance</h3>
    <form style="margin-left:80px;">
        <label for="from_date" style="font-weight:bold;margin:0 12px 0 18px;">From:</label>
        <input type="text" class="input-text" name="from" id="from_date" value="<?php echo $this->getFromDate() ?>" />
        <img title="Select Date" id="from_date_btn" class="v-middle" src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>"/>
        <label for="to_date" style="font-weight:bold;margin:0 12px 0 18px;">To:</label>
        <input type="text" class="input-text" name="to" id="to_date" value="<?php echo $this->getToDate() ?>" />
        <img title="Select Date" id="to_date_btn" class="v-middle" src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>"/>
        <button type="submit" class="scalable go button"><span><span>Select Date Range</span></span></button>
    </form>
</div>
<div id="avid_graph" style="height:500px;"></div>
<table width="100%" cellspacing="25"><tbody>
    <tr>
        <td>
            <div class="entry-edit">
                <div class="entry-edit-head"><h4>Graph Options</h4></div>
                <form id="avid_graph_options" method="post">
                    <fieldset>
                        <input type="hidden" name="from" value="<?php echo $this->getFromDate() ?>"/><input type="hidden" name="to" value="<?php echo $this->getToDate() ?>"/><input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />
                        <ul>
                            <?php foreach ($this->getAllStatistics() as $_statistic): ?>
                                <li class="graph_option">
                                    <strong><?php echo $_statistic->getLabel(false) ?></strong>
                                    <ul>
                                        <?php foreach ($_statistic->getAvailableUniquenessScopes() as $_code => $_label): ?>
                                            <li><input type="checkbox" onchange="dash_graph.fetch_graph()"<?php if($this->isDefaultStatistic($_statistic->getStatisticCode().":".$_code)): ?> checked="checked"<?php endif; ?> name="statistics[]" value="<?php echo $_statistic->getStatisticCode() ?>:<?php echo $_code ?>" id="graph_option_<?php echo $_statistic->getStatisticCode() ?>_<?php echo $_code ?>" /><label for="graph_option_<?php echo $_statistic->getStatisticCode() ?>_<?php echo $_code ?>"><?php echo $_label ?></label></li>
                                        <?php endforeach; ?>
                                    </ul>
                                </li>
                            <?php endforeach; ?>
                            <button class="button scalable go" type="button" onclick="dash_graph.set_defaults()"><span><span>Set Default Options</span></span></button>
                        </ul>
                        <div style="clear:both;"></div>
                    </fieldset>
                </form>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    var ACRDashGraph = Class.create();
    ACRDashGraph.prototype = {
        initialize: function(){
            var me = this;
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(function() {
                me.graph = new google.visualization.LineChart(document.getElementById('avid_graph'));
                me.fetch_graph();
            });
        },
        get_data_url: function() {
            var statistics = '';
            var data = $('avid_graph_options').serialize({hash:true});
            if (data['statistics[]']) {data['statistics[]'].each(function(value){
                statistics += value+',';
            })}
            return '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/cartreminders_reports/json'); ?>from/'+data.from+'/to/'+data.to+'/statistics/'+statistics;
        },
        fetch_graph: function() {
            var me = this;
            var graph_query = new  google.visualization.Query(me.get_data_url());
            graph_query.send(function(response){
                var table = response.getDataTable();
                me.graph.draw(table, me.get_graph_options(table));
            });
        },
        get_graph_options: function(table) {
            var options = {
                focusTarget: 'category',
                vAxes: {0: {logScale: false, title: 'Count'}, 1: {logScale: false, title: 'Revenue'}}
            };
            $H(table.getTableProperty('vizOptions')).each(function(pair){
                options[pair.key] = pair.value;
            });
            console.log(options);
            return options;
        },
        set_defaults: function() {
            new Ajax.Request('<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/cartreminders_reports/setDefaultStatistics'); ?>', {
                method: 'post', parameters: $('avid_graph_options').serialize()
            });
        }
    }
    var dash_graph = new ACRDashGraph();
    Calendar.setup({
        inputField: "from_date",
        showsTime: false,
        singleClick: true,
        button: 'from_date_btn',
        ifFormat: '%Y-%m-%d'
    });
    Calendar.setup({
        inputField: "to_date",
        showsTime: false,
        singleClick: true,
        button: 'to_date_btn',
        ifFormat: '%Y-%m-%d'
    });
</script>
<table width="100%" cellspacing="25"><tbody>
<tr>
    <td>
        <?php echo $this->getStatisticSummaryHtml('revenue') ?>
    </td>
    <td>
        <?php echo $this->getStatisticSummaryHtml('product_count') ?>
    </td>
</tr>
<tr>
    <td>
        <?php echo $this->getStatisticSummaryHtml('send') ?>
    </td>
    <td>
        <?php echo $this->getStatisticSummaryHtml('click') ?>
    </td>
</tr>
<tr>
    <td>
        <?php echo $this->getStatisticSummaryHtml('retrieve') ?>
    </td>
    <td>
        <?php echo $this->getStatisticSummaryHtml('convert') ?>
    </td>
</tr>
</tbody></table>