.contact-section
  float: left
  width: 880px
  @extend .list-style

.cms-contact
  padding: 10px 0 30px 0px
  color: $menuMobileColor
  margin-bottom: 20px

.about-contact-us
  font-size: 15px

.left-contact-block, .right-contact-block
  float: left
.page-title
  margin-bottom: 50px


.left-contact-block
  width: 360px
  font-size: 15px
  //margin-right: 120px
  ul
    width: 300px
    li
      columns: 2
      float: none
      >span
        float: right

  .contact-centre
    @extend .clear
    padding: 0 40px 20px 0
    border-bottom: $itemBorder
    h2
      margin-top: 0

  .contact-store
    float: none
    display: inline-block
  .address, .postal-address
    width: 62%
    float: left
    p
      width: 110px
  .postal-address
    width: 38%

.right-contact-block
  margin-left: 40px
  form
    padding: 30px
    width: 480px
    box-sizing: border-box
    border: $itemBorder
    textarea, input
      margin-top: 0
    h2
      margin-top: 0
      margin-bottom: 16px
    .fields
      width: 100%
      >div
        width: 48%
        float: left
        &:first-child
          margin-right: 4%
    .form-list
      .input-box
        margin-bottom: 15px
    .wide
      width: 100%
    textarea
      height: 203px
    .buttons-set
      margin: 0


