.about-head-block
  display: inline-block
  padding-bottom: 120px
  font-size: 15px
  font-weight: $fontWeightNormal
  line-height: 1.5
  float: none
  >span
    &:nth-of-type(1)
      font-weight: $fontWeightBold
      float: none
      display: inherit
  p
    width: 730px
    span
      font-weight: $fontWeightBold


  .signature
    margin-top: 50px
    display: block
    height: 88px
    width: 206px
    background-image: url(../images/cms/richard_signature.png)

body:not(.cms-home) .col-main .about-team-wrap
  float: none
  width: 100%
  background: #f4f4f4
  padding: 10px 0 60px 0
  @extend .full-width
  @extend .clear
  .about-team
    @extend .main-trade-container
    //position: relative
    h2
      text-align: center
    ul
      @extend .list-style
      //@extend .position-center
      @extend .clear
      padding: 0
      margin: auto
      margin-top: 52px
      width: 1025px
      @extend .clear
      li
        float: left
        display: inline-block
        text-align: center
        margin: 0 12px
        width: 181px
        img
          width: 132px
          height: 132px

        span
          display: block
          float: none
          line-height: 1.5
          &:first-of-type
            font-weight: $fontWeightBold

.about-why >div,
.about-store >div
  width: 570px
  float: left
  &:first-of-type
    margin-right: 40px

.about-why
  @extend .clear
  @extend .main-trade-container
  margin-top: 300px
  padding: 120px 0 60px 0
  border-bottom: $itemBorder
  line-height: 1.5
  font-size: 15px
  div
    p
      margin-bottom: 15px
    &:last-of-type
      height: 545px
      background-image: url("../images/about_service.png")
      background-repeat: no-repeat
      background-position: 90% 102px
      p
        width: 370px
        margin-bottom: 0
      a
        color: $fontColorViewAllReview
        text-decoration: none

.about-store
  @extend .clear
  @extend .main-trade-container
  line-height: 1.5
  padding: 20px 0 60px 0
  div
    img
      width: 580px
      height: 386px
      margin-bottom: 10px


