.right-section
  float: left
  width: 880px
  margin-bottom: 50px
  @extend .clear

.about-head-block.right-section
  margin-bottom: 0

.map
  width: 100%
  height: 532px

.main.col2-left-layout
  @extend .main-trade-container
  margin-top: 70px

body:not(.cms-home) .col-main .list-float
  li
    float: none

body:not(cms-home) .cms-section:last-of-type:after
  display: none

.cms-page-view
  a
    @extend .trade-link


