.col-left.sidebar
  float: left
  width: 240px
  margin-right: 60px
  display: block
  @extend .list-style
  background: $productsCarouselAbout
  border: $itemBorder
  padding: 20px
  box-sizing: border-box
  clear: left
  ul
    li
      float: none
      width: 100%
      line-height: 2
      a
        color: $fontColorViewAllReview
        font-size: 15px
        font-weight: $fontWeightMedium