body:not(cms-home)
  .guides-section, .cms-section

    border-bottom: $itemBorder
    font-size: 15px
    width: 680px
    @extend .clear
    line-height: 1.5
    padding-bottom: 11px
    //padding-top: 10px

    a:not(.trade-button)
      text-decoration: none
      color: $fontColorViewAllReview
    p
      width: 680px
    h3, h2
      text-transform: none
      font-weight: $fontWeightBold
      font-family: $mainFontFamily
    h2
      font-size: 20px
    h3
      font-size: 15px

    &.which-chainsaw
      img
        margin: 17px 0 11px 0
    &.chainsaw-features
      ul
        width: 570px
        li
          padding-bottom: 30px
          &:last-of-type
            padding-bottom: 0
          span
            font-weight: $fontWeightBold

    .trade-button
      float: none
      display: table
      margin-top: 40px
      margin-bottom: 45px
    &:last-of-type
      border-bottom: none
      position: relative
      margin-bottom: 50px
      &:after
        @extend .beforeAfter
        bottom: 0
        left: -300px
        width: 1181px
        height: 1px
        border-bottom: $itemBorder



  .not-selected .guides-section
    border-bottom: $itemBorder
    &:last-of-type
      &:after
        display: none
        
.button-section
  width: 100%
  display: block
  padding-bottom: 75px
  @extend .clear
  a
    height: 78px
    line-height: 78px