.auckland-store-wrap
  >div
    @extend .clear
    h3
      font-weight: $fontWeightBold

.auckland-look-around
  margin-top: 650px
  @extend .main-trade-container
  line-height: 1.5
  >p
    width: 928px
    margin-bottom: 60px
  >img
    margin-bottom: 10px

.auckland-store-block
  line-height: 1.5
  p
    margin-bottom: 30px
    width: 720px
    display: inline-block

.about-store-auckland
  @extend .clear
  margin-bottom: 80px
  line-height: 1.5
  ul
    padding-left: 0
  >div
    float: left
    height: 260px
    &:nth-of-type(1)
      width: 180px
      >span
        display: block
        float: none
    &:nth-of-type(2)
      width: 300px
      padding: 0 20px
      box-sizing: border-box
      li
        display: inline-block
        width: 100%
        span
          float: right
    &:nth-of-type(3)
      padding-left: 20px
      span
        display: block
        float: none
    &:nth-of-type(1), &:nth-of-type(2)
      border-right: $itemBorder
      border-width: 1px

.map-section-auckland
  width: 100%
  height: 532px
  @extend .full-width


