<label for="<?php echo $this->getFieldId('firstname')?>"><?php echo $this->__('Full Name') ?> <span class="required">*</span></label>
<input required="required" autocomplete="name" maxlength="40" type="text" id="<?php echo $this->getFieldId('firstname')?>" name="<?php echo $this->getFieldName('firstname')?>" value="<?php echo $this->escapeHtml($this->getObject()->getFirstname()) ?>" title="Please enter your name" maxlength="255" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('firstname') ?>" <?php echo $this->getFieldParams() ?> />
