<div class="footer footer-top">
    <div class="hide-desktop footer-phone">
        Any Questions? <strong>CALL US <?php echo Mage::getStoreConfig('general/store_information/phone'); ?></strong>
        <?php echo $this->getChildHtml('livechat_button'); ?>
    </div>
    <?php echo $this->getChildHtml('account_links'); ?>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_tabs')->toHtml() ?>
</div>
<div class="footer-newsletter"><?php echo $this->getChildHtml('newsletter_signup') ?></div>
<div class="footer footer-bottom">
    <?php echo $this->getChildHtml('footer_links') ?>
    <br />
    <br />
    <span style="color:#999">&copy; Copyright 2010-<?php echo date("Y"); ?> Trade Tested Limited </span>
    <?php echo $this->getChildHtml('full_site_link') ?>
    <?php echo $this->getChildHtml('mobile_site_link') ?>
    <div class="clear"></div>
</div>
