<title><?php echo $this->getTitle() ?></title>
<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width"> <?php /* device-width is 320 on iPhone, including retina, 360 on some androids, 768 on iPad */ ?>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<link rel="icon" type="image/png" sizes="192x192" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/android-chrome-192x192.png') ?>"/>
<link rel="manifest" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/manifest.json') ?>"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="theme-color" content="#ffffff"/>
<meta name="application-name" content="Trade Tested"/>
<link rel="apple-touch-icon" sizes="57x57" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-57x57.png') ?>"/>
<link rel="apple-touch-icon" sizes="60x60" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-60x60.png') ?>"/>
<link rel="apple-touch-icon" sizes="72x72" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-72x72.png') ?>"/>
<link rel="apple-touch-icon" sizes="76x76" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-76x76.png') ?>"/>
<link rel="apple-touch-icon" sizes="114x114" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-114x114.png') ?>"/>
<link rel="apple-touch-icon" sizes="120x120" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-120x120.png') ?>"/>
<link rel="apple-touch-icon" sizes="144x144" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-144x144.png') ?>"/>
<link rel="apple-touch-icon" sizes="152x152" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-152x152.png') ?>"/>
<link rel="apple-touch-icon" sizes="180x180" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-icon-180x180.png') ?>"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-title" content="Trade Tested"/>
<link rel="icon" type="image/png" sizes="228x228" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/coast-228x228.png') ?>"/>
<link rel="icon" type="image/png" sizes="16x16" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/favicon-16x16.png') ?>"/>
<link rel="icon" type="image/png" sizes="32x32" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/favicon-32x32.png') ?>"/>
<link rel="icon" type="image/png" sizes="96x96" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/favicon-96x96.png') ?>"/>
<link rel="icon" type="image/png" sizes="230x230" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/favicon-230x230.png') ?>"/>
<link rel="shortcut icon" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/favicon.ico') ?>"/>
<meta property="twitter:image" content="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/twitter.png') ?>"/>
<link rel="yandex-tableau-widget" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/yandex-browser-manifest.json') ?>"/>
<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png"/>
<meta name="msapplication-config" content="favicons/browserconfig.xml"/>
<meta property="og:image" content="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/open-graph.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-320x460.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-640x920.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-640x1096.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-750x1294.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-1182x2208.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-1242x2148.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-748x1024.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-768x1004.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-1496x2048.png') ?>"/>
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/favicons/apple-touch-startup-image-1536x2008.png') ?>"/>
<link rel="stylesheet" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('css/'.$this->getCssFilename()) ?>" type="text/css"/>
<!--[if lte IE 8]>
<link rel="stylesheet" href="<?php echo Mage::helper('tradetested_design/asset')->getUrl('css/ie8.css') ?>" type="text/css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.min.js"></script>
<!-- Load the Content Experiment JavaScript API client for the experiment -->
<![endif]-->
<?php if (!Mage::helper('tradetested_design/theme')->isMobile()): ?>
    <script src="//www.google-analytics.com/cx/api.js"></script>
    <meta name="format-detection" content="telephone=no">
<?php endif; ?>
<script type="text/javascript">
    window._components=window._components||function(){(_components.q=_components.q||[]).push(arguments)};
    window._call=window._call||function(){(_call.q=_call.q||[]).push(arguments);return false};
    var STORE_CODE = '<?php echo Mage::app()->getStore()->getCode(); ?>';
    var FORM_KEY = '<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>';
</script>
<script src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('js/application.js') ?>" async="true"></script>

<!--[if gte IE 9]>
<style type="text/css">
    .gradient, .btn-primary {
        filter: none !important;
    }
</style>
<![endif]-->
<?php echo $this->getChildHtml() ?>
<?php echo $this->getIncludes() ?>
<?php foreach($this->getData('items') as $_item) if($_item['type'] == 'link_rel') printf('<link %s href="%s" />', $_item['params'], $_item['name']) ?>
