<!-- <span id="skype_highlighting_settings" display="none" autoextractnumbers="0"></span> -->
<?php if ($links = $this->getLayout()->getBlock('top.links.tradetested')) {
    $links->addLink('Auckland Store', '/auckland-store', 'Auckland Store', false, array(), 10);
    $links->addLink('Buying Guides', '/buying-guides', 'Buying Guides', false, array(), 12);
} ?>
<div id="fb-root"></div>
<?php if (!Mage::helper('tradetested_regions')->isLookupPerformed()): ?><div data-ajax_block="regions_locate"></div><?php endif ?>
<div id="is-desktop"></div><?php /* CSS hidden on mobile, so that we can identify mobile in javascript. */ ?>
<div class="header">
    <?php if ($this->getIsHomePage()):?><h1 class="homeh1"><?php else: ?><span class="homeh1"><?php endif; ?>
        <strong><?php echo $this->getLogoAlt() ?></strong>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="configlogo" id="logo">
            <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/tradetested_au.gif') ?>" data-retina="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/logo@2x.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" width="278" height="65" />
        </a>
    <?php if ($this->getIsHomePage()):?></h1><?php else: ?></span><?php endif; ?>
    <div class="header_banner"><?php echo $this->getChildHtml('banner'); ?></div>
    <p class="header_phone">Call Us <span><?php echo $this->escapeHtml(Mage::getStoreConfig('general/store_information/phone')); ?></span></p>
    <?php echo $this->getChildHtml('topLinks') ?>
</div>
<?php echo $this->getChildHtml('navigation_bar'); ?>

