<div id="navigation_bar">
    <div class="inner">
        <?php echo $this->getChildHtml('catalog_navigation') ?>
        <?php echo $this->getChildHtml('search') ?>
        <?php echo $this->getChildHtml('account_menu') ?>
        <?php echo $this->getChildHtml('minicart'); ?>
        <div class="clear"></div>
    </div>
</div>
