<?php
/**
 * Created by PhpStorm.
 * User: skynix
 * Date: 17.11.16
 * Time: 17:14
 */
 if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
    <div class="recommended-section">
        <h1><?php echo $this->__('Recommended For You') ?></h1>
    </div>
    <?php
         $_collectionSize = count($_products->getItems());
         $_helper = $this->helper('catalog/output');
     ?>
    <div id="products-reco">
<!--        <ul class="products-grid">-->
<!--            --><?php //$i=0; foreach ($_products->getItems() as $_product): ?>
<!--                <li class="item">-->
<!--                    <a href="--><?php //echo $_product->getProductUrl() ?><!--" title="--><?php //echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?><!--" class="product-image--><?php //if( $_product->getData(top_seller)): ?><!-- top-seller--><?php //endif; ?><!--"><img src="--><?php //echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?><!--" width="200" height="200" alt="--><?php //echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?><!--" /></a>-->
<!--                    <div>-->
<!--                        <h2 class="product-name"><a href="--><?php //echo $_product->getProductUrl() ?><!--" title="--><?php //echo $this->stripTags($_product->getName(), null, true) ?><!--">--><?php //echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?><!--</a></h2>-->
<!--                        --><?php //if($_product->isSaleable()): ?>
<!--                            <span class="in-stock">--><?php //echo $this->__('In stock') ?><!--</span>-->
<!--                        --><?php //else: ?>
<!--                            <span class="out-of-stock">--><?php //echo $this->__('Out of stock') ?><!--</span>-->
<!--                        --><?php //endif; ?>
<!--                        --><?php //echo $this->getPriceHtml($_product, true) ?>
<!--                        <div class="actions">-->
<!--                            --><?php //if($_product->isSaleable()): ?>
<!--                                <button type="button" title="--><?php //echo Mage::helper('core')->quoteEscape($this->__('Add')) ?><!--" class="button btn-cart" onclick="setLocation('--><?php //echo $this->getAddToCartUrl($_product) ?>//')"><span><span><?php //echo $this->__('Add') ?><!--</span></span></button>-->
<!--                            --><?php //endif; ?>
<!---->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--            --><?php //endforeach ?>
<!--        </ul>-->
    </div>

<?php endif; ?>