<?php /** @var TradeTested_Catalog_Block_Product_View_Media $this */ ?>
<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
?>
<div id="gallery">
    <div class="gallery">
        <?php if (count($this->getGalleryImages()) > 0): ?>
            <a class="open_zoom" href="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>" onclick="return _call('productGallery.vm.zoom', <?php echo $this->getMainImage()->getId() ?>)">
                <img itemprop="image" class="main_image" alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize(580) ?>">
            </a>
            <ul class="thumbnails">
                <?php foreach ($this->getThumbnailImages() as $_image): ?>
                    <li>
                        <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()); ?>" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>" onclick="return _call('productGallery.vm.zoom', <?php echo $_image->getId() ?>)">
                            <img alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(68); ?>" height="68" width="68">
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <img itemprop="image" class="placeholder_image" alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(480, 360) ?>">
        <?php endif; ?>
    </div>
</div>
