<?php /** @var TradeTested_Reviews_Block_Review_List $this */ ?>
<?php $_items = $this->getReviewsCollection()->getItems();?>


<?php if ($this->getReviewsCollection()->getSize() > 0):?>
<div class="product-page-reviews">
    <?php $pager = $this->getChild('toolbar') ?>
    <div>
        <h2>
            <?php echo $this->__('Customer reviews') ?>
        </h2>
        <div class="product-reviews-section">
            <div class="review-block-header">
                <div class="review-summary">
                    <h3>Overall rating</h3>
                    <div class="review-rate stars<?php echo floor($this->getRatingValue()) ?>">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span><?php echo floor($this->getRatingValue()) ?> out of 5 stars from <?php echo $this->getReviewsCollection()->getSize() ?><?php if($this->getReviewsCollection()->getSize() >1) echo ' reviews'; else echo ' review'?></span>
                </div>
                <div class="review-heading-right">
                    <a class="review-button button btn-primary" href="<?php echo Mage::getUrl('review/product/new', array('id' => $this->getProduct()->getId())) ?>" title="Write a Review" data-ajax="popup">
                        Write a Review
                    </a>
                </div>
            </div>
            <div class="review-product-list" id="customer-reviews">
                <?php foreach ($_items as $item):?>
                    <div class="product-review">
                        <div class="product-review-left">
                            <span><?php echo ucfirst($item->getNickname())?></span>
                            <span><?php echo $item->getLocation()?></span>
                        </div>
                        <div class="product-review-right">
                            <div class="review-rate stars<?php  echo $item->getRatingVotes()->getFirstItem()->getValue()?>">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p><?php echo $item->getTitle()?></p>
                            <p class="review-body-time"><?php echo $this->__('%s', $this->getCurrentTime($item) . ' ago'); ?></p>
                            <span class="nobr"><?php echo $item->getReviewCreatedAt() ?></span>
                            <p><?php echo $item->getDetail() ?></p>
                            <?php if ($item->getRecommend()): ?>
                                <p class="review-body-recommend"><span class="tick icon">Yes</span> I would recommend this product</p>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endforeach;?>
            </div>
        </div>
    </div>
</div>
<?php endif;?>
