<?php $rememberMeId = 'remember_me' . Mage::helper('core')->getRandomString(10); ?>
<label for="<?php echo $rememberMeId; ?>" class="radio-label checkbox">
    <input type="checkbox" name="persistent_remember_me" class="checkbox" id="<?php echo $rememberMeId; ?>"<?php if ($this->isRememberMeChecked()): ?> checked="checked"<?php endif; ?> title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remember Me')) ?>" />
    <span class="icon"></span>
    <?php echo $this->__('Remember Me') ?>
</label>
