
.note-msg
  padding: 0 20px
.category-products
  @extend .clear

.category-title
  text-transform: uppercase
  margin-bottom: 0
  h1
    font-size: 40px
    margin-bottom: 0

.category-description
  font-size: 18px
  color: $categoryDescrColor
  margin-bottom: 30px
.category-image
  margin-bottom: 35px
  text-align: center
  padding: 0 10px
  box-sizing: border-box
  img
    width: 100%
.all-subcategories-head
  margin-bottom: 20px
  a
    text-decoration: none
    font-size: 15px
    color: $categoryDescrColor
    font-weight: $fontWeightMedium
body:not(.cms-home) .col-main .shop-by-category
  @extend .clear
  margin-bottom: 50px
  h1
    text-transform: uppercase
    font-size: 40px
    padding-left: 0
  ul
    display: inline-block
    margin: 0 auto
    li
      float: left
      margin: 0 8px 50px 8px

      a
        float: none
        display: block
        &:first-of-type
          margin-bottom: 10px
        &:last-of-type
          color: $fontColorPrice
          text-align: center
          font-size: 20px
          font-weight: bold
.recommended-section
  h1
    text-transform: uppercase
    font-size: 40px

body:not(.cms-home) .sorter
  font-size: 16px
  background: $productsCarouselAbout
  border-top: $itemBorder
  padding: 0px 20px 0 20px
  box-sizing: border-box
  margin-bottom: 20px
  @extend .clear
  @extend .list-style
  .sort-by
    display: inline-block
    height: 100%
    padding-top: 16px
    @extend .list-style
    ul
      float: left
      li
        a.selected
          color: $mainDarkColor
    span
      color: $colorFilter
      display: inline-block
      margin-right: 20px
      &:first-of-type
        float: left
  .view-mode
    padding: 10px 0
    display: block
    float: none
    height: 100%
    box-sizing: border-box
    @extend .clear
    a
      text-decoration: none
      cursor: pointer
      display: block
      height: 100%
      width: 100%

    li
      position: relative
      float: left
      height: 25px
      height: 25px
      overflow: hidden
      line-height: 20px
      margin-right: 10px
      &:nth-of-type(1)
        color: $colorFilter
        padding-top: 5px
      &:nth-of-type(2), &:nth-of-type(3)
        width: 25px
        height: 25px
        a:after
          color: $fontColorViewAllReview


    li[title="Grid"],
    a[title="Grid"],
    li[title="List"],
    a[title="List"]
      &:after
        @extend .beforeAfter
        @extend .icon
        display: inline-table
        content: glyph(android-apps)
        color: $mainDarkColor
        top: -6px
        left: -6px
        font-size: 36px
        font-weight: $fontWeightBold
        width: 25px
        overflow: hidden
        height: 100%

    li[title="List"],
    a[title="List"]
      &:after
        content: glyph(android-menu)
        font-size: 42px
        top: -9px
    
  li
    margin-right: 25px
    a
      color: $fontColorViewAllReview
  p
    margin: 0

 


///////For prducts////////////
#products-list
  padding-bottom: 1px
  margin-bottom: 40px
.category-products
  margin-bottom: 15px
  position: relative
  .pager
    display: none
body:not(.cms-home) .col-main .products-list,
body:not(.cms-home) .col-main .products-grid
  @extend .clear
  padding: 0 20px

body:not(.cms-home)
  .col1-layout
    .item
      border: $itemBorder
      width: 220px
      height: auto
      min-height: 200px
      float: none
      margin: 0 10px 15px 10px
      background: $whiteBack
      overflow: hidden
      display: inline-block
      //&:nth-of-type(4n)
      //  margin-right: 0

      &:last-of-type
        margin-right: 0


      >a
        display: block
        text-align: center
        &.topseller
          @extend .top-seller

        img
          overflow: hidden

      .price-label
        display: none


      >div
        float: none
        width: 100%
        padding: 20px
        background-color: $productsCarouselAbout
        height: 167px
        min-height: 146px
        box-sizing: border-box
        position: relative
        border-top: $itemBorder
        text-align: start
        div.actions
          .add-to-links
            display: none


        .product-name
          @extend .clear
          line-height: 16px
          box-sizing: border-box
          overflow: hidden
          text-overflow: ellipsis
          margin-bottom: 0
          margin-top: 0
          font-family: $mainFontFamily
          a
            float: none
            font-size: $linkFontSize
            font-weight: 200
            color: $fontColorPrice


        span
          display: block
          float: none


        .in-stock,
        .out-of-stock,
        .pre-order
          font-size: 12px
          font-weight: bold
          text-transform: uppercase
          margin-top: 4px

        .in-stock
          color: $fontColorInStock

        .out-of-stock,
        .pre-order
          color: $fontColorOutPre

        >div
          margin-top: 15px
          display: inline-block
          float: left
          &:last-of-type
            float: none
            position: absolute
            bottom: 15px
            right: 15px

          button
            width: auto
            height: 36px
            border: none
            background: $mainContrastColor
            text-transform: uppercase
            font-size: 14px
            font-weight: bold
            padding: 9px 14px 12px 30px
            position: relative
            cursor: pointer
            &:after
              @extend .beforeAfter
              @extend .icon
              content: glyph('android-cart')
              font-size: 17px
              text-align: center
              display: block
              left: 11px
              top: 10px
              width: 13px



          .old-price
            span.price
              text-decoration: line-through


          .price
            font-size: 18px
            font-weight: bold
            color: $fontColorPrice

          .special-price
            .old-price
              text-decoration: line-through
            .price
              color: #FC0E1C
          #product-price-2-widget-new-grid
            color: #FF0000
            margin-top: 0



        .price-box.special
          margin-top: 0
        .price-box
          position: absolute
          bottom: 15px
          p
            margin: 0

      .top-seller
        position: relative
        &:after
          @extend .beforeAfter
          width: 90px
          height: 26px
          top: 0
          left: 0
          background-image: url("../images/top-seller.png")
    .breadcrumbs
      padding-left: 20px
      top: 20px

  .col1-layout .products-list
    padding: 0
    .item
      float: none
      width: 100%
      height: auto
      min-height: 185px
      margin: 0 0 15px 0
      box-sizing: border-box


      >a
        float: left
        width: 260px
        height: 200px
        position: relative
        >img
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          margin: auto

      >div
        float: left
        background: none
        width: auto
        height: 100%
        border-top: none
        >div:last-of-type
          position: static
        .price-box
          position: static
          margin-top: 10px
        .product-name
          line-height: 20px
          overflow: visible
          width: 100%
          a
            font-size: 20px
            line-height: 20px

  .col-main
    padding-top: 40px
    h1
      padding: 0 20px
    @extend .list-style
    .products-list, .products-grid
      margin-bottom: 40px
    .products-grid
      width: 100%
      max-width: 1180px
      box-sizing: border-box
      text-align: center
      margin: 0 auto 40px auto


@media screen and (min-width: 900px)
  body:not(.cms-home) .col-main .shop-by-category ul li
    width: 31%
    margin: 0 1% 35px 1%
    &:nth-child(3n)
      width: 32%
    a
      img
        width: 100%
        height: auto
@media screen and (max-width: 833px)
  body:not(.cms-home) .col-main .shop-by-category ul li
    width: 47%
    margin-bottom: 35px
    a
      img
        width: 100%
        height: auto

@media screen and (max-width: 750px)
  body:not(.cms-home) .col1-layout
    .products-list
      box-sizing: border-box
      .item
        width: 280px
        margin: 10px auto
        display: block
        > div
          float: none
          width: auto
          text-align: center
          .product-name
            margin-bottom: 20px
        button
          width: 100%
          &:after
            left: -50px
            right: 0px
            margin: auto

@media screen and (max-width: 700px)
  body:not(.cms-home) .sorter .sort-by
    font-size: 2.5vw
    margin-bottom: 10px
    li
      margin-right: 10px

@media screen and (max-width: 572px)
  body:not(.cms-home) .col-main .shop-by-category
    text-align: center
    ul li
      width: 100%
      float: none
      margin: 0
      margin-bottom: 30px
      a
        img
          width: 100%
          height: auto
  
@media screen and (max-width: 532px)
  body:not(.cms-home) .col1-layout
    .view-mode
      display: none

@media screen and (max-width: 380px)
  body:not(.cms-home) .col1-layout
    .sorter .sort-by
      font-size: 11px
    .products-list
      box-sizing: border-box
      .item
        width: 100%
    .breadcrumbs
      top: 40px
      padding-left: 10px




