.avid_sticky_coupon_banners{background:none repeat scroll 0 0 #EF3;border:1px solid #AC0;}
.avid_sticky_coupon_banner p{margin:0;}
.avid_sticky_coupon_banner{width:950px;text-align:left;font-weight:700;line-height:32px;position:relative;margin:0 auto;}
.avid_sticky_countdown{background:none repeat scroll 0 0 #120;color:#CF0;line-height:12px;position:absolute;right:0;text-transform:uppercase;top:-1px;padding:10px 14px;}