<div data-href="<?php echo $this->getLinkUrl() ?>" id="lozenge<?php echo $this->getBlockAlias() ?>" class="lozenge">
    <a href="<?php echo $this->getLinkUrl() ?>"><?php echo nl2br($this->getTitle()) ?></a>
</div>
<style type="text/css">
    #lozenge<?php echo $this->getBlockAlias() ?> {
        background-image: url('<?php echo $this->getImageUrl() ?>');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        #lozenge<?php echo $this->getBlockAlias() ?> {
            background-image: url('<?php echo $this->getImageUrl(2) ?>');
        }
    }
</style>
