<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
    <div class="row">
        <div class="sort-by">
            <label><?php echo $this->__('Sort by:') ?> </label>
            <?php $orders = array_reverse($this->getAvailableOrders()); ?>
            <?php foreach($orders as $_key=>$_label): ?>
                <?php $_direction = $this->helper('tradetested_catalog/sorting')->getLinkDirection($_key, $this->getCurrentDirection(), $this->isOrderCurrent($_key)) ?>
                <?php $_url = $this->getPagerUrl(array($this->getOrderVarName()=>$_key, $this->getDirectionVarName()=>$_direction, $this->getPageVarName() => null)); ?>
                <a href="<?php echo $_url ?>"<?php if($this->isOrderCurrent($_key)): ?> class="current"<?php endif; ?>><?php echo $this->__($_label) ?></a>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<?php endif ?>