<span class="progress_line"></span>
<ul class="checkout_progress">
    <?php $n = 1 ?>
    <?php foreach ($this->getAvailableSteps() as $_key => $_step): ?>
        <li class="<?php echo $this->getStepStatus($_key) ?>">
            <?php if ($this->getStepStatus($_key) =='complete'): ?><a href="<?php echo $_step['url'] ?>"><?php endif; ?>
            <span class="step_number">
                <?php if ($this->isStepComplete($_key)): ?>
                    <span class="icon"><?php $n++ ?><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('tick') ?></span>
                <?php else: ?>
                    <?php echo $n++; ?>
                <?php endif; ?>
            </span>

            <?php if ($_step['label'] == 'Shipping Method') $_step['label'] = 'Shipping' ?>
            <span class="step_label"><?php echo $_step['label'] ?></span>
            <?php if ($this->getStepStatus($_key) =='complete'): ?></a><?php endif; ?>
        </li>
    <?php endforeach; ?>
</ul>
