<?php $_product    = $this->getProduct(); ?>
<?php $_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes()); ?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
    <dl>
    <?php foreach($_attributes as $_attribute): ?>
        <dt><label class="required"><em>*</em><?php echo $_attribute->getLabel() ?></label></dt>
        <dd>
            <div class="input-box">
                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select" onchange="$('#attribute_clone<?php echo $_attribute->getAttributeId() ?>').val($(this).val())">
                    <option><?php echo $this->__('Choose an Option...') ?></option>
                    <?php foreach($_attribute->getPrices() as $_price): ?>
                        <option value="<?php echo $_price['value_index'] ?>"><?php echo $_price['store_label'] ?></option>
                    <?php endforeach ?>
                  </select>
              </div>
        </dd>
    <?php endforeach; ?>
    </dl>
<?php endif;?>
