<?php $_code=$this->getMethodCode() ?>
<div class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <label for="<?php echo $_code ?>_cc_owner">Cardholder Name <em class="required">*</em></label>
    <input autocomplete="name" type="text" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" title="<?php echo $this->__('Cardholder Name is required') ?>" class="input-text" value="" required />
    <label for="<?php echo $_code ?>_cc_number">Card Number <em class="required">*</em></label>
    <div class="tooltip">
        <div class="content">
            <p>The 16 digits on the front of your credit card</p>
        </div>
    </div>
    <input autocomplete="cc-number" type="text" inputmode="numeric" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Card Number is Required') ?>" class="input-text" value="" required />
    <label for="<?php echo $_code ?>_expiration">Expiry Date <em class="required">*</em></label>
    <div class="expiry">
        <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp" required>
            <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
            <?php foreach ($this->getCcMonths() as $k=>$v) if($k): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php printf('%02d', $k) ?></option>
            <?php endif; ?>
        </select><span style="float:left;padding:0 6px;font-size:16px;line-height:36px"> / </span>
        <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
        <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year" required>
            <?php foreach ($this->getCcYears() as $k=>$v) if($k): ?>
                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo substr($k, -2) ?></option>
            <?php endif ?>
        </select>
    </div>

    <?php echo $this->getChildHtml() ?>
    <div class="clear" style="height:18px"></div>
</div>
