<?php $_product = $this->getProduct(); ?>
<div class="shareicons">
    <a title="<?php echo $this->__('Email to a friend') ?>" href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('envelope') ?></span></a>
    <a title="<?php echo $this->__('Tweet this page!') ?>" href="http://twitter.com/home?status=<?php echo $this->htmlEscape($_product->getName()) ?>: <?php /**echo(createTinyUrl($_product->getProductUrl()));**/ echo $_product->getProductUrl() ?>" target="_blank"><span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('twitter-sign') ?></span></a>
    <a title="<?php echo $this->__('Share on Facebook!') ?>" href="http://www.facebook.com/share.php?u=<?php echo($_product->getProductUrl()); ?>" target="_blank"><span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('facebook-sign') ?></span></a>
</div>
