<?php /** @var Mage_Catalog_Block_Product_View $this */ ?>
<?php $product = $this->getProduct() ?>
<div class="sidebar">
    <?php if ($content = $product->getSidebarContent()): ?>
        <?php echo $this->helper('catalog/output')->productAttribute($product, $this->helper('tradetested_core')->nl2p($content), 'sidebar_content') ?>
    <?php endif; ?>
    <div class="panel help">
        <h3>Can we help?</h3>
        <div class="content">
            <p>
                Our friendly and knowledgeable gurus are trained to answer all your questions as quickly as possible. So
                if there’s anything you need to know just give us a call during business hours, or send us an email any
                time.
            </p>
            <p style="margin: 18px 0 12px">
                <span class="phone"><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></span>
                <a class="email" href="<?php echo $this->getUrl('contact-us') ?>?product=<?php echo $this->getProduct()->getId() ?>">Email Us</a>
            </p>
        </div>
    </div>
    <div class="block" style="padding: 27px 24px">
        <a href="/refund-policy" style="float:left;"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>wysiwyg/30-Day-Returns.gif" alt="30 Day Money Back Guarantee"></a><br>
        <!-- Begin DigiCert site seal HTML and JavaScript -->
        <div id="DigiCertClickID_m1IU3aey" data-language="en_US" style="float:right">
            <div id="DigiCertClickID_m1IU3aeySeal">
                <img src="//seal.digicert.com/seals/cascade/?s=m1IU3aey,11,m,localhost:9292" alt="DigiCert Seal"/>
            </div>
            <span>
                <a href="http://www.digicert.com/ssl-certificate.htm"></a>
            </span>
        </div>
        <!-- End DigiCert site seal HTML and JavaScript -->
    </div>

</div>
