<?php $_code = $this->getMethodCode() ?>
<?php $selectedId = $this->getInfoData('billing_agreement_id') ?>
<div id="payment_form_<?php echo $_code ?>" style="display:none;"<?php if($this->hasVerification()): ?> class="cvv_required"<?php endif; ?>>
    <?php /** TradeTested_Payment_Model_Rewrite_Sales_Billing_Agreement */ ?>
    <?php foreach ($this->getBillingAgreements() as $billingAgreement): ?>
        <?php $id = $billingAgreement->getEncId() ?>
        <label class="radio-label <?php echo Mage::helper('tradetested_payment_express')->getCcTypeClass($billingAgreement) ?>" for="saved_cc_<?php echo $id ?>">
            <input<?php if($id == $selectedId): ?> checked="checked"<?php endif; ?> name="payment[billing_agreement_id]" type="radio" id="saved_cc_<?php echo $id ?>" value="<?php echo $id ?>" required="required"/>
            <span class="icon"></span>
            <span class="label"><?php echo $billingAgreement->getAgreementLabel() ?></span>
            <span class="expiry"><?php echo $billingAgreement->getAdditionalData('expiry_label') ?></span>
            <a href="<?php echo $this->getUrl('ttpayment/credit_card/delete', array('payment_method' => $billingAgreement->getMethodCode(), 'agreement' => $id)) ?>" class="delete">delete this card</a>
        </label>
        <?php if($this->hasVerification()): ?>
            <div class="cvc_field" id="cvc_<?php echo $id ?>">
                <label for="<?php echo $_code ?>_cc_cid_<?php echo $id ?>">Security Code <em class="required">*</em></label>
                <div class="cvc_note">
                    <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/cvv_36px.png') ?>" data-retina="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/cvv_72px.png') ?>" width="55px" height="36px"/>
                    <span class="hide-phone" style="font-size: 12px;">(or "CVC" or "CVV")</span>
                    <div class="tooltip">
                        <div class="content">
                            <p>The last 3 digits displayed on the back of your credit card</p>
                        </div>
                    </div>
                </div>
                <input autocomplete="off" type="text" inputmode="numeric" title="<?php echo $this->__('Card verification number is required') ?>" class="input-text cvv" id="<?php echo $_code ?>_cc_cid_<?php echo $id ?>" name="payment[<?php echo $_code ?>][cc_cid][<?php echo $id ?>]" value="" required style="width:50px;float:left;" />
                <div class="clear"></div>
            </div>
        <?php endif; ?>
    <?php endforeach ?>
</div>
