<p><?php echo $this->getMethod()->getTitle() ?></p>
<table width="100%" border="0">
<tr><td width="35%"><?php echo $this->__('Card Type') ?></td><td><?php echo $this->getAdditionalData('CardName') ?></td>
</table>
