<?php
/**
 * @package     Avid_AbandonedCartReminders
 * @author      Dane Lowe <dane@avidonline.co.nz>.
 * @copyright   Copyright (c) 2013 Avid Online Enterprise Ltd. (New Zealand)
 * @license     Commercial - see LICENSE.txt for details
 */
?>
<?php $element =  $this->getElement() ?>
<style type="text/css">
    .acr_edit_form table td{padding-bottom:12px;}
    .grid .acr_step_table .selected td {background:#f63; border-color:#f63;font-weight:bold;}
    .grid .acr_step_table tbody tr{cursor: pointer;}
</style>
<textarea id="acr_step_data_<?php echo $element->getId() ?>" name="<?php echo $element->getName() ?>" style="display:none;"><?php echo $element->getValue() ?></textarea>
<button type="button" style="float:right;" onclick="acr_builder_<?php echo $element->getId() ?>.add_step()" class="scalable add"><span><span><?php echo $this->__('Add New Step'); ?></span></span></button>
<h2><?php echo $this->__('Select a step to edit'); ?></h2>
<div class="grid">
    <table class="data acr_step_table" id="acr_step_table_<?php echo $element->getId() ?>" style="border-collapse: collapse;">
        <colgroup>
            <col width="100%"/>
            <col width="5"/>
        </colgroup>
        <thead>
        <tr class="headings">
            <th><?php echo $this->__('Label'); ?></th>
            <th style="width:5px:"></th>
        </tr>
        </thead>
        <tbody id="acr_step_table_body_<?php echo $element->getId() ?>">

        </tbody>
    </table>
</div>
<fieldset class="acr_edit_form" id="acr_edit_form_<?php echo $element->getId() ?>" style="background: #fec">
    <h3>Edit Selected Step</h3>
    <input type="hidden" id="acr_step_step_id_<?php echo $element->getId() ?>"/>
    <table>
        <tr>
            <td style="padding-right:12px;"><label for="acr_step_label">Label</label></td>
            <td><input data-attribute="label" type="text" class="input-text" id="acr_step_label_<?php echo $element->getId() ?>"/></td>
        </tr>
        <tr>
            <td style="padding-right:12px;"><label>Wait</label></td>
            <td id="acr_step_wait_<?php echo $element->getId() ?>">
                <select id="acr_step_wait_days_<?php echo $element->getId() ?>" style="width:60px">
                    <?php for( $_i=0;$_i<=365;$_i++ ): ?><option value="<?php echo $_i; ?>"><?php echo $_i; ?></option><?php endfor; ?>
                </select> days,
                <select id="acr_step_wait_hours_<?php echo $element->getId() ?>" style="width:50px">
                    <?php for( $_i=0;$_i<24;$_i++ ): ?><option value="<?php echo $_i; ?>"><?php echo $_i; ?></option><?php endfor; ?>
                </select> hours,
                <select id="acr_step_wait_minutes_<?php echo $element->getId() ?>" style="width:50px">
                    <?php for( $_i=0;$_i<60;$_i++ ): ?><option value="<?php echo $_i; ?>"><?php echo $_i; ?></option><?php endfor; ?>
                </select> mins
            </td>
        </tr>
        <tr>
            <td style="padding-right:12px;">Template</td>
            <td>
                <select id="acr_step_template_<?php echo $element->getId() ?>" data-attribute="template">
                    <?php foreach ($this->getTemplateOptions() as $option): ?>
                        <option value="<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                    <?php endforeach ?>
                </select>
            </td>
        </tr>
        <tr>
            <td style="padding-right:12px;">Promotion</td>
            <td>
                <select id="acr_step_promo_<?php echo $element->getId() ?>" data-attribute="promo">
                    <optgroup label="No offer:">
                        <option value="">(None)</option>
                    </optgroup>
                    <optgroup label="Sticky Promotion:">
                        <?php foreach (Mage::getSingleton('avid_abandoned_cart_reminders/source_promo_sticky')->toOptionArray() as $option): ?>
                            <option value="sticky:<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                        <?php endforeach ?>
                    </optgroup>
                    <optgroup label="Generate a Coupon For:">
                        <?php foreach (Mage::getSingleton('avid_abandoned_cart_reminders/source_promo_coupon')->toOptionArray() as $option): ?>
                            <option value="coupon:<?php echo $option['value'] ?>"><?php echo $option['label'] ?></option>
                        <?php endforeach ?>
                    </optgroup>
                </select>
            </td>
        </tr>
        <tr>
            <td style="padding-right:12px;"><label for="acr_step_label">Send To Email Override:</label></td>
            <td><input data-attribute="send_to_override" type="text" class="input-text" id="acr_step_send_to_override_<?php echo $element->getId() ?>"/></td>
        </tr>
    </table>
</fieldset>
<script type="text/javascript">
    var ACRStepBuilder = Class.create();
    ACRStepBuilder.prototype = {
        initialize: function(element_id){
            this.element_id = element_id;
            this.acr_data = $('acr_step_data_'+this.element_id).value.evalJSON();
            this.render_table();
            var me = this;
            $('acr_step_table_body_'+this.element_id).on('click', 'tr', function(event, element){ me.select_row(element); });
            $('acr_step_table_body_'+this.element_id).on('click', 'button', function(event, element){ me.delete(element); });
            $('acr_edit_form_'+this.element_id).on('keyup', 'input', function(event, element){ me.edit_input(element); });
            $('acr_step_template_'+this.element_id).on('change', function(event, element){ me.edit_input(element); });
            $('acr_step_promo_'+this.element_id).on('change', function(event, element){ me.edit_input(element); });
            $('acr_step_wait_'+this.element_id).on('change', 'select', function(){ me.edit_wait_select() });
            this.select_row($('acr_step_table_body_'+this.element_id).select('tr')[0]);
        },
        add_step: function(){
            var id = this.get_new_step_id();
            var step = {'step_id':id,'label':'','wait_minutes':''}
            this.acr_data[id] = step;
            this.select_row(this.insert_row(id, step));
        },
        get_new_step_id: function(){
            var id = 1;
            $H(this.acr_data).each(function(a){
                id = (parseInt(a[0]) > id) ? parseInt(a[0]) : id;
            });
            return parseInt(id)+1;
        },
        render_table: function(){
            var me = this;
            this.sorted_row_data().each(function(step) {
                me.insert_row(step[0], step[1])
            });
        },
        insert_row: function(id, step) {
            // get / create the tr
            var row = $('acr_step_row_'+this.element_id+id) || new Element('tr', {'id': 'acr_step_row_'+this.element_id+id, 'data-step-id': id});

            //update the data in the row.
            row.update('<td>'+step.label+'</td><td><button type="button" class="delete"><span><?php echo $this->__('Delete') ?><span></span></span></button></td>');

            //re-insert the row. so that sort works.
            $('acr_step_table_body_'+this.element_id).insert(row);
            return row;
        },
        select_row: function(row){
            $('acr_step_table_body_'+this.element_id).select('tr').each(function(e){e.removeClassName('selected')});
            row.addClassName('selected');
            var id = row.readAttribute('data-step-id');
            var step = this.acr_data[id];
            $('acr_step_step_id_'+this.element_id).value = id;
            $('acr_step_label_'+this.element_id).value = step.label;
            $('acr_step_send_to_override_'+this.element_id).value = step.send_to_override;
            $('acr_step_template_'+this.element_id).value = step.template ? step.template : null;
            $('acr_step_promo_'+this.element_id).value = step.promo ? step.promo : null;
            var wait = {};
            wait['days'] = Math.floor(step.wait_minutes / 1440);
            wait['hours'] = Math.floor((step.wait_minutes - wait['days'] * 1440) / 60);
            wait['minutes'] = step.wait_minutes - (wait['days'] * 1440) - (wait['hours'] * 60);
            $('acr_step_wait_days_'+this.element_id).value = wait['days'];
            $('acr_step_wait_hours_'+this.element_id).value = wait['hours'];
            $('acr_step_wait_minutes_'+this.element_id).value = wait['minutes'];
        },
        sorted_row_data: function(){
            //we don't need to bother sorting the JSON data, that's done server-side.
            return $A($H(this.acr_data)).sort(function(a, b){return a[1].wait_minutes - b[1].wait_minutes;});
        },
        edit_input: function(input){
            var id = $('acr_step_step_id_'+this.element_id).value;
            var attribute = input.readAttribute('data-attribute');
            var value = input.value;
            this.acr_data[id][attribute] = value;
            $('acr_step_data_'+this.element_id).value = Object.toJSON(this.acr_data);
            //don't need to update entire table as this is not a wait time change.
            this.insert_row(id, this.acr_data[id]);
            this.render_table();
        },
        edit_wait_select: function(){
            var minutes = (parseInt($F('acr_step_wait_days_'+this.element_id)) || 0)*1440 + (parseInt($F('acr_step_wait_hours_'+this.element_id)) || 0)*60 + (parseInt($F('acr_step_wait_minutes_'+this.element_id)) || 0);
            this.acr_data[$('acr_step_step_id_'+this.element_id).value]['wait_minutes'] = minutes;
            $('acr_step_data_'+this.element_id).value = Object.toJSON(this.acr_data);
            this.render_table();
        },
        delete: function(button) {
            var row = button.up('tr');
            var id = row.readAttribute('data-step-id');
            delete this.acr_data[id];
            $('acr_step_data_'+this.element_id).value = Object.toJSON(this.acr_data);
            row.remove();
        }
    };
    var acr_builder_<?php echo $element->getId() ?> = new ACRStepBuilder('<?php echo $element->getId() ?>');
    acr_builder_<?php echo $element->getId() ?>.render_table();
</script>

