<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<div data-href="<?php echo $_product->getProductUrl() ?>">
    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
        <img data-retina="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(480, 360) ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(240, 180) ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
    </a>
    <div class="product-shop">
        <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
        <?php echo Mage::getBlockSingleton('core/template')->setTemplate('catalog/product/stock_note.phtml')->setProduct($_product)->toHtml() ?>
        <?php echo $this->getPriceHtml($_product, true) ?>
        <?php if(!$_product->isSaleable()): ?>
            <p class="availability"><span class="out-of-stock"><?php echo $this->__('Out of stock') ?></span></p>
        <?php endif; ?>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
