<?php if ($this->getResultCount()): ?>
    <div class="page-title">
        <h1>
            <?php echo $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?>
            <?php echo $this->getChildHtml('selected_category'); ?>
        </h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php if ($messages = $this->getNoteMessages()):?>
    <p class="note-msg">
        <?php foreach ($messages as $message):?>
            <?php echo $message?><br />
        <?php endforeach;?>
    </p>
    <?php endif; ?>
    <?php echo $this->getProductListHtml() ?>
<?php else: ?>
    <div class="page-title">
        <h1><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Sorry, we could not find any results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>
    </div>
    <div style="border:1px solid #ddd;padding:24px;background: #f8f8f8;border-radius:5px;">
         Please leave us a message regarding '<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>'</a>. It's likely that one of our outdoor lifestyle gurus can help.
    </div>
    <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('contacts/form.phtml')->setFormAction($this->getUrl('contacts/index/post'))->setHideContent(true)->setDefaultMessage("I was searching for '{$this->helper('catalogsearch')->getEscapedQueryText()}' on Trade Tested.")->toHtml() ?>
<?php endif; ?>
