<!--@subject Abandoned Cart Alert at {{var store_name}}  @-->
<!--@vars
{"var store_name":"Store Name",
"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var customer_name":"Customer Name",
"var products_html":"Products HTML",
"var retrieve_url":"Cart Retrieval URL",
"config path='trans_email/ident_support/email'":"Support Email Address",
"config path='general/store_information/phone'":"Store Phone Number",
"var coupon_code":"Coupon Code"}
@-->
<!--@styles
body,td,th { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; padding:12px; text-align:left;}
th{font-weight:bold;}
@-->
<body>
<h1>Abandoned Cart Reminder (Internal)</h1>
<h2>Cart Details</h2>
<table>
    <tr>
        <th>Name</th>
        <td>{{var customer_name}}</td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td>{{var quote.billing_address.telephone}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{var reminder.email}}</td>
    </tr>
    <tr>
        <th>Created at</th>
        <td>{{var quote.created_at}}</td>
    </tr>
</table>
{{block type='avid_abandoned_cart_reminders/email_products' area='frontend' template='avid/abandoned_cart_reminders/email/products_internal.phtml' products=$products}}
</body>