<center>
    <table wdith="666" style="margin: 0px auto;font-family: 'Helvetica Neue',Helvetica,sans-serif;color:#333333;font-size:15px;" cellpadding="0" cellspacing="0">
        <tr>
            {{block type='core/template' area='frontend' template='tradetested/abandoned_cart_reminders/email/header.phtml' quote=$quote}}
        </tr>
        <tr>
            <td style="height:36px"></td>
        </tr>
        <tr>
            <td width="30"></td>
            <td width="606">
                <table width="606" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="line-height:1.4em">
                            <p>Hi {{var customer_name}},</p>
                            <p>You left something in your shopping cart.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:30px"></td>
                    </tr>
                    <tr>
                        <td>
                            {{block type='core/template' area='frontend' template='tradetested/abandoned_cart_reminders/email/products.phtml' quote=$quote retrieve_url=$retrieve_url}}
                        </td>
                    </tr>
                    <tr>
                        <td height="32"></td>
                    </tr>
                    <tr>
                        <td height="38" style="text-align:right;">
                            {{block type='core/template' area='frontend' template='tradetested/abandoned_cart_reminders/email/button.phtml' retrieve_url=$retrieve_url}}
                        </td>
                    </tr>
                    <tr>
                        <td height="60"></td>
                    </tr>
                    <tr>
                        <td width="606" style="line-height:1.4em;">
                            <p>
                                If you don't want to miss out on this item then <a href="{{var retrieve_url}}" style="text-decoration:none;color:#43A3AC;">click here</a> to go back to your cart and get your
                                order shipped in no time.
                            </p>
                            <p>
                                If you want some more questions answered before you decide then give us a call on 0800 800 880, our
                                team can help answer any questions and work out the best shipping option for you.
                            </p>
                            <p>The Team at Trade Tested</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:36px"></td>
                    </tr>
                    <tr>
                        <td>
                            {{block type='tradetested_testimonials/testimonial' area='frontend' template='tradetested/abandoned_cart_reminders/email/testimonials.phtml' quote=$quote}}
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30"></td>
        </tr>
        <tr>
            <td style="height:72px"></td>
        </tr>
    </table>
</center>