<!--@subject You've got items in your wishlist at {{var store_name}}  @-->
<!--@vars
{"var store_name":"Store Name",
"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var customer_name":"Customer Name",
"var products_html":"Products HTML",
"var retrieve_url":"Cart Retrieval URL",
"config path='trans_email/ident_support/email'":"Support Email Address",
"config path='general/store_information/phone'":"Store Phone Number",
"var coupon_code":"Coupon Code"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background:#F6F6F6;">
<div style="background:#F6F6F6;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top" style="padding:12px;">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                    <tr>
                        <td valign="top" style="padding:12px;">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{var customer_name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Thanks for visiting us at {{var store_name}}. We noticed you have left some products in your wishlist. If you'd like to take another look simply click the link below to return to your wishlist.</p>
                            <p><strong>Wishlist Contents:</strong></p>
                            {{var products_html}}
                            <p style="font-size:12px; line-height:16px; margin:9px 0;"><a style="color:#1E7EC8;font-size:17px;" href="{{var shared_wishlist_url}}">Click here to view your wishlist &raquo; </a></p>
                            <p style="font-size:12px; line-height:16px;"><a style="color:#1E7EC8;" href="{{var retrieve_url}}">Click here to add all products to cart &raquo; </a></p>
                            <p style="font-size:12px; line-height:16px; margin:0;">If you have any questions , please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>
                            {{depend coupon_code}}<p style="font-size:12px; line-height:16px; margin:12px 0 0 0; border:1px solid #ccc;padding:9px;">P.S. Use this coupon code for extra savings: <span style="font-weight: bold;">{{var coupon_code}}</span>, valid for {{var coupon_expire_days}} days</p>{{/depend}}
                            {{depend has_sticky_promo}}<p style="font-size:12px; line-height:16px; margin:12px 0 0 0; border:1px solid #ccc;padding:9px;">P.S. Follow one of the links in this email to see a special treat</p>{{/depend}}
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;padding:12px;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store_name}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>