<p class="cart_note">
    <span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('phone2') ?></span>
    <span class="note">
        Have any questions? Give us a call on:
        <span class="phone">
            <?php echo $this->escapeHtml(Mage::getStoreConfig('general/store_information/phone')); ?>
        </span>
    </span>
</p>
<p class="cart_note">
    <span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('lock') ?></span>
    <span class="note">Buying from Trade Tested is safe. Your order will be processed on our secure servers.</span>
</p>
<p class="cart_note">
    <span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('ok-sign') ?></span>
    <span class="note">30 Day Return Policy applies to this order.</span>
</p>

