<?php
$_cartQty = $this->getSummaryCount();
if(empty($_cartQty)) {$_cartQty = 0;}
?>

<div id="minicart-error-message" class="minicart-message"></div>
<div id="minicart-success-message" class="minicart-message"></div>

<div class="minicart-wrapper">
    <?php $_items = $this->getRecentItems() ?>
    <?php $countItems = count($_items); ?>
    <?php if($countItems): ?>
        <ul id="cart-sidebar" class="mini-products-list">
            <?php foreach($_items as $_item): ?>
                <?php echo $this->getItemHtml($_item) ?>
            <?php endforeach; ?>
        </ul>
        <a class="button btn-primary" href="<?php echo $this->getUrl('checkout/cart'); ?>">
            <?php echo $this->__('View Cart') . " (" . $_cartQty . ")"; ?>
        </a>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
    <?php endif;?>
</div>
