<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body class="store-<?php echo Mage::app()->getStore()->getCode() ?> <?php echo $this->getBodyClass() ?>" >
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <div class="header-container" id="header_container"><?php echo $this->getChildHtml('header') ?></div>
    <?php if($subheader = $this->getChildHtml('subheader')): ?>
        <div class="subheader_container">
            <div class="subheader"><?php echo $subheader ?></div>
        </div>
    <?php endif; ?>
    <div class="main-container col2-left-layout">

        <div class="col-main">
            <?php if ($block = $this->getLayout()->getBlock('breadcrumbs')) echo $block->toHtml();?>
            <div class="col-left sidebar"><?php echo $this->getChildHtml('left-sidebar') ?></div>
            <?php echo $this->getChildHtml('global_messages') ?>
            <?php echo $this->getChildHtml('content') ?>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-container">
        <?php echo $this->getChildHtml('footer') ?>
    </div>
    <?php echo $this->getAbsoluteFooter() ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
    <?php echo Mage::getBlockSingleton('core/profiler')->toHtml(); ?>
</div>
</body>
</html>