<?php /** @var TradeTested_Reviews_Block_Review_List $this */ ?>
<?php $_imageHelper = Mage::helper('tradetested_reviews/image'); ?>
<?php $_review = $this->getReviewData() ?>
<li class="review-item m-item">
    <div class="review-body"<?php if($this->canShowReviewMicrodata()): ?> itemprop="review" itemscope itemtype="http://schema.org/Review"<?php endif; ?>>


        <?php $_stars = $_review->getRatingVotes()->getFirstItem()->getValue() ?>
        <div class="rating rating-list" star="<?php echo $_stars; ?>" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <span itemprop="ratingValue" style="display:none"><?php echo $_stars; ?></span>
            <?php for($i = 1; $i <= 5; $i++): ?>
                <?php $_class = ($i > $_stars) ? 'grey-star' : 'gold-star' ?>
                <label class="full <?php echo $_class ?> icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('star') ?></label>
            <?php endfor; ?>
        </div>
        <h2<?php if($this->canShowReviewMicrodata()): ?> itemprop="name"<?php endif; ?>>
            <a href="<?php echo $this->getReviewUrl() ?>">
                <?php echo $this->escapeHtml($_review->getTitle()) ?>
            </a>
        </h2>
        <p class="review-body-time"><?php echo $this->__('%s', $this->getCurrentTime($_review) . ' ago'); ?></p>
        <p class="review-body-detail"<?php if($this->canShowReviewMicrodata()): ?> itemprop="reviewBody"<?php endif; ?>>
            <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
        </p>
        <?php if ($_review->getRecommend()): ?>
            <p class="review-body-recommend"><span class="tick icon">Yes</span> I would recommend this product</p>
        <?php endif; ?>
        <?php echo $this->getMediaHtml() ?>

        <h3 class="review-body-name"<?php if($this->canShowReviewMicrodata()): ?> itemprop="name"<?php endif; ?>>
            <?php echo $this->__('%s', $this->escapeHtml($_review->getNickname())) ?>
        </h3>
        <span class="review-body-location"><?php echo nl2br($this->escapeHtml($_review->getLocation())) ?></span>

    </div>
</li>
