<?php $_items = $this->getReviewsCollection()->getItems();?>
<?php if ($this->getReviewsCollection()->getSize() >= 2):?>
    <div class="review-product-list m-scooch m-fluid" id="customer-reviews">
        <div class="review-heading">
            <div class="review-heading-left">
                <h2>
                    <?php echo $this->__('Customer Reviews') ?>
                </h2>
            </div>
            <div class="review-heading-right">
                <a class="write_review" href="<?php echo Mage::getUrl('review/product/new', array('id' => $this->getProduct()->getId())) ?>" title="Write a Review">
                    Write a Review
                </a>
            </div>
        </div>
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" style="display:none">
            <div>Rating:
                <span itemprop="ratingValue"><?php printf('%.1f', $this->getRatingValue()) ?></span> -
                <span itemprop="ratingCount"><?php echo $this->getReviewsCollection()->getSize() ?></span> votes
            </div>
        </div>
        <ul class="review-containers m-scooch-inner">
            <?php foreach ($_items as $_review):?>
                <?php echo $this->renderItem($_review) ?>
            <?php endforeach; ?>
        </ul>
        <div class="m-scooch-controls m-scooch-bulleted">
            <?php $x=1; foreach ($_items as $_review):?>
                <a href="#" data-m-slide="<?php echo $x++ ?>"></a>
            <?php endforeach; ?>
        </div>
    </div>
<?php else: ?>
    <div style="margin: 12px 0">
        <?php echo $this->getChildHtml('testimonials') ?>
        <a class="write_review" href="<?php echo Mage::getUrl('review/product/new', array('id' => $this->getProduct()->getId())) ?>" title="Write a Review">
            Write a Review
        </a>
    </div>
<?php endif;?>
