<?php $_freeshippingHelper = $this->helper('tradetested_shipping/freeshipping') ?>
<?php $_productCollection=$this->getLoadedProductCollection(); ?>
<?php if(!$_productCollection->count()): ?>
    <?php $category = Mage::registry('current_category'); ?>
    <?php if ($category && $category->getProductCount()) newrelic_notice_error('No Products: '.$_productCollection->getSelect(), new Exception('No products to display')); ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <div class="category-products">
        <?php echo $this->getToolbarBlock()->toHtml() ?>
        <?php $_iterator = 0; ?>
        <?php /* [dane][avid] Note that the products-list class is used in search_test.rb, make sure to update if the class name changes */ ?>
        <ol class="products-list<?php if($this->getMode()=='grid'): ?> products-list-grid<?php endif; ?>" id="products-list">
        <?php foreach ($_productCollection as $_product): ?>
            <?php $_iterator++; ?>
            <li class="item<?php if ($_freeshippingHelper->canHasFreeShipping($_product)): ?> freeshipping<?php endif ?><?php if ($_product->getData('top_seller') || $_product->getData('top_seller_manual')): ?> topseller<?php endif; ?>" data-href="<?php echo $_product->getProductUrl() ?>">
                <?php echo Mage::getBlockSingleton('tradetested_catalog/product_list_item')->setProduct($_product)->setTemplate('tradetested/catalog/product/list/item.phtml')->toHtml(); ?>
            </li>
            <?php if ($_iterator%3==0): ?><li class="clear"></li><?php endif; ?>
        <?php endforeach; ?>
        </ol>
        <div class="clear"></div>
        <div class="toolbar"><?php echo $this->getToolbarBlock()->getPagerHtml() ?></div>
    </div>
<?php endif; ?>
