<?php /** @var Mage_Catalog_Model_Product $_product */?>
<?php $_product = $this->getProduct() ?>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="margin-top:-5px">
    <meta itemprop="price" content="<?php echo number_format($_product->getFinalPrice(), 2);?>" />
    <meta itemprop="priceCurrency" content="<?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>" />
    <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />
    <?php if ($desc = $_product->getData('stock_description')): ?>
        <span class="availability"><?php echo $desc ?></span>
        <?php  $avail = (strpos(strtolower($desc), 'pre-order') !== false) ? 'http://schema.org/PreOrder' : 'http://schema.org/InStock' ?>
        <meta itemprop="availability" content="<?php echo $avail ?>" />
    <?php elseif ($_product->getData('custom_stock_status')): ?>
        <?php $customStatus = $_product->getResource()->getAttribute('custom_stock_status')->getFrontend()->getValue($_product); ?>
        <span class="availability in-stock"><?php echo $customStatus ?></span>
        <?php  $avail = (strpos(strtolower($customStatus), 'pre-order') !== false) ? 'http://schema.org/PreOrder' : 'http://schema.org/InStock' ?>
        <meta itemprop="availability" content="<?php echo $avail ?>" />
    <?php elseif ($_product->isAvailable()): ?>
        <span class="availability in-stock"><?php echo $this->__('In Stock') ?></span>
        <meta itemprop="availability" content="http://schema.org/InStock" />
    <?php else: ?>
        <span class="availability out-of-stock"><?php echo $this->__('Out of stock'); ?></span>
        <meta itemprop="availability" content="http://schema.org/OutOfStock" />
    <?php endif; ?>
</div>
