<?php
/** @var Mage_Catalog_Block_Product_View $this */
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$_shortDescription = $_product->getShortDescription(); //https://github.com/OpenMage/magento-lts/blame/1.9.2.4/app/code/core/Mage/Review/Block/Product/View.php#L45
?>
<meta itemprop="url" content="<?php echo $_product->getUrlModel()->getUrl($_product, ['_ignore_category' => true]); ?>"/>
<meta itemprop="sku" content="<?php echo $_product->getSku() ?>"/>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view" itemscope itemtype="http://schema.org/Product">
    <div class="gallery_container">
        <?php echo $this->getChildHtml('media') ?>
        <?php echo $this->getChildHtml('share_icons') ?>
    </div>
    <div class="product-shop">
        <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        <?php echo $this->getChildHtml('product_type_data') ?>
        <?php echo $this->getChildHtml('price_match') ?>
        <?php echo $this->getChildHtml('review_summary') ?>
        <?php echo $this->getPriceHtml($_product) ?>
        <?php echo $this->getChildHtml('alert_urls') ?>
        <?php echo $this->getChildHtml('tierprices') ?>
        <?php if($_product->isSaleable()): ?>
            <button id="addtocart_test" onclick="$('#addtocart_original').click()" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart btn-primary"><?php echo $this->__('Add To Cart') ?></button>
        <?php endif; ?>
        <?php if ($_description = $_product->getDescription()): ?>
            <div class="std">
                <?php echo Mage::helper('tradetested_catalog')->extractShortDescription($_description) ?>
                <a href="#description" data-anchor-scroll="true">Read&nbsp;more</a>
            </div>
        <?php endif; ?>
        <div id="product_shipping_estimator"></div>
        <div class="product_actions">
            <?php if ($_product->isSaleable()): ?>
                <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
                      id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <fieldset class="no-display">
                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                        <input type="hidden" name="related_product" id="related-products-field" value=""/>
                        <input type="hidden" name="shipping_method" id="addtocart_shippingmethod"/>
                    </fieldset>
                    <?php if ($this->hasOptions()): ?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                    <?php endif; ?>
                    <button id="addtocart_original" type="submit" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart btn-primary"><?php echo $this->__('Add To Cart') ?></button>
                </form>
            <?php endif; ?>
        </div>
    </div>
    <div class="clear"></div>
    <?php echo $this->getChildHtml('related') ?>
    <?php echo $this->getChildHtml('sidebar') ?>
    <?php if ($_description = $this->getChildHtml('description')): ?>
        <div class="description" id="description">
            <h2>Product overview</h2>
            <div class="std">
                <?php echo str_replace("<a href='http://www.tradetested.co.nz/contact-us/'>Contact Us</a> with any questions.<br />", '', $_helper->productAttribute($_product, $this->helper('tradetested_core')->nl2p($_shortDescription), 'short_description')) ?>
            </div>
            <div itemprop="description">
                <?php echo $this->helper('tradetested_core')->nl2p(str_replace("<h2>Details</h2>\n", '', $_description)) ?>
            </div>
        </div>
        <a id="description-expander" class="hide-desktop"
           onclick="$('.description').css('height', 'auto');$(this).hide();return false;" href="#">Show all</a>
    <?php endif; ?>
    <?php echo $this->getChildHtml('tierprices') ?>
    <div class="hide-phone">
        <?php echo $this->getChildHtml('buying_guides'); ?>
    </div>
    <?php echo $this->getChildHtml('reviews'); ?>
    <?php echo $this->getChildHtml('related_categories'); ?>
    <?php echo $this->getChildHtml('bought_together'); ?>
    <div class="clear"></div>
    <div class="hide-phone">
        <?php echo $this->getChildHtml('viewed_together'); ?>
        <?php echo $this->getChildHtml('recently_viewed'); ?>
    </div>
</div>
