<html>
<head>
    <title>Icons</title>
    <link href="../stylesheets/styles.css" rel="stylesheet">
    <style>
        @font-face {
            font-family : "icons";
            src         : url("icons.eot");
            src         : url("icons.eot?#iefix") format("embedded-opentype"),
            url("icons.woff") format("woff"),
            url("icons.ttf") format("truetype"),
            url("icons.svg#icons") format("svg");
            font-weight : normal;
            font-style  : normal;
        }
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            @font-face {
                font-family: "icons"
            src: url("http://localhost:9292/icons.svg#icons") format("svg")
            }
        }

        .icon {
            display: inline-block;
            font-family: "icons";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            line-height: 1;
            text-decoration: inherit;
            text-transform: none;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-size: 16px;
            speak: none;
        }

        body { font-family: Gill Sans; text-align: center; background: #f7f7f7 }
        body > h1 { color: #666; margin: 1em 0 }
        .glyph { display: inline-block; margin: .3em .2em; width: 5em; height: 6.5em; background: #fff; border-radius: .5em; position: relative; padding:0.25em}
        .glyph .icon { display: block; margin-top: .1em; line-height: 0 }
        .glyph-name { font-size: .8em; color: #666; margin: 0.75em 0; display: block; }
        .glyph-codepoint { color: #999; font-family: monospace }
    </style>
</head>
<body>
<h1>Icons</h1>
<ul>
    <% _.each(glyphs, function(glyph) { %>
    <li class="glyph">
        <span class="icon">&#x<%= glyph.codepoint.toString(16).toUpperCase() %>;</span>
        <span class="glyph-name"><%= glyph.name %></span>
        <span class="glyph-codepoint"><%= glyph.codepoint.toString(16).toUpperCase() %></span>
    </li>
    <% }); %>
</ul>
</body>
</html>