<form action="<?php echo $this->getFormAction() ?>" method="post" class="panel" id="stock_alert_form" data-validate="true">
    <fieldset class="inner" novalidate>
        <?php echo $this->__('Enter your details to be notified when this product is back in stock.') ?>
        <label for="stock_alert_name">Your Name</label>
        <input id="stock_alert_name" type="text" name="name" required="required"/>
        <label id="stock_alert_email" for="stock_alert_email">Your Email</label>
        <input type="email" name="email" required="required"/>
    </fieldset>
    <div class="actions note" style="width: auto; margin-top: 12px">
        <button type="submit" title="Notify Me" class="button btn-primary continue">
            Notify Me
        </button>
        We'll only use your email address to let you know when this product is available.
    </div>
</form>
