<?php /** @var TradeTested_Widgets_Block_Widget_BrandLink $this */?>
<li data-href="<?php echo $this->getLinkUrl() ?>" class="brand_link">
    <img src="<?php echo $this->getImageUrl() ?>" data-retina="<?php echo $this->getImageUrl(2) ?>" alt="<?php echo $this->escapeHtml($this->getBrandName()) ?>"/>
    <a class="button silent" href="<?php echo $this->getLinkUrl() ?>">
        <?php echo $this->escapeHtml($this->getBrandName()) ?> products
        <span class="icon right" style="font-size:12px;">&nbsp;<?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right'); ?></span>
    </a>
</li>
