<?php /** @var Mage_Sales_Model_Quote $quote */ $quote = $this->getQuote() ?>
<?php /** @var Mage_Sales_Model_Quote_Address $address */ $address = $quote->getBillingAddress() ?>
<table>
    <tr>
        <th>Name</th>
        <td><?php echo $address->getFirstname() ?></td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td><?php echo $address->getTelephone() ?></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><?php echo $address->getEmail() ?></td>
    </tr>
    <tr>
        <th>Created at</th>
        <td><?php echo $quote->getCreatedAt() ?></td>
    </tr>
    <tr>
        <th>Updated at</th>
        <td><?php echo $quote->getUpdatedAt() ?></td>
    </tr>
    <tr>
        <th>Active?</th>
        <td><?php echo $quote->getIsActive() ?></td>
    </tr>
    <tr>
        <th>Grand Total</th>
        <td><?php echo $quote->getGrandTotal() ?></td>
    </tr>
</table>
