<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Original Price</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Row Total</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->getQuote()->getAllVisibleItems() as $_item): /** @var $_item Mage_Sales_Model_Quote_Item */?>
            <tr>
                <td><?php echo $_item->getProduct()->getName() ?></td>
                <td><?php echo Mage::helper('core')->currency($_item->getProduct()->getPrice()) ?></td>
                <td><?php echo Mage::helper('core')->currency($_item->getPrice()) ?>
                <td><?php echo $_item->getQty() ?></td>
                <td><?php echo Mage::helper('core')->currency($_item->getRowTotal()) ?></td>
            </tr>
        <?php endforeach ?>
    </tbody>
</table>
