<?php $surveyResponse = $this->getResponse(); ?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account">Response # <?php echo $surveyResponse->getId() ?></h4>
    </div>
    <div class="fieldset">
        <table cellspacing="0" class="form-list">
            <tbody>
            <tr>
                <th><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Price Too High?'); ?></label></th>
                <td><?php echo Mage::helper('tradetested_survey')->getYesNoMaybe($surveyResponse->getShippingPriceTooHigh()) ?></td>
            </tr>
            <tr>
                <th><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Price Details'); ?></label></th>
                <td><?php echo $surveyResponse->getShippingPriceDetails() ?></td>
            </tr>
            <tr>
                <th><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Options No Suitable?'); ?></label></th>
                <td><?php echo Mage::helper('tradetested_survey')->getYesNoMaybe($surveyResponse->getShippingOptionsNotSuitable()) ?></td>
            </tr>
            <tr>
                <th><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Options Details'); ?></label></th>
                <td><?php echo $surveyResponse->getShippingOptionsDetails() ?></td>
            </tr>
            <tr>
                <th><label><?php echo Mage::helper('tradetested_survey')->__('Payment Options Not Suitable?'); ?></label></th>
                <td><?php echo Mage::helper('tradetested_survey')->getYesNoMaybe($surveyResponse->getPaymentOptionsNotSuitable()) ?></td>
            </tr>
            <tr>
                <th><label><?php echo Mage::helper('tradetested_survey')->__('Payment Options Details'); ?></label></th>
                <td><?php echo $surveyResponse->getPaymentOptionsDetails() ?></td>
            </tr>
            <tr>
                <th><label><?php echo Mage::helper('tradetested_survey')->__('Other'); ?></label></th>
                <td><?php echo $surveyResponse->getOther() ?></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
