<?php $_freeshippingHelper = $this->helper('tradetested_shipping/freeshipping') ?>
<?php $_productCollection=$this->getLoadedProductCollection(); ?>
<?php if(!$_productCollection->count()): ?>
    <?php $category = Mage::registry('current_category'); ?>
    <?php if ($category && $category->getProductCount()) newrelic_notice_error('No Products: '.$_productCollection->getSelect(), new Exception('No products to display')); ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <?php echo $this->getToolbarBlock()->toHtml() ?>
    <table class="category-products products-list">
        <?php $_iterator = 0; ?>
        <?php foreach ($_productCollection as $_product): ?>
            <?php if ($_iterator%2==0): ?><tr><?php endif; ?>
            <?php $_iterator++; ?>
            <td class="item<?php if ($_freeshippingHelper->canHasFreeShipping($_product)): ?> freeshipping<?php endif ?><?php if ($_product->getData('top_seller') || $_product->getData('top_seller_manual')): ?> topseller<?php endif; ?>" data-href="<?php echo $_product->getProductUrl() ?>">
                <?php echo Mage::getBlockSingleton('tradetested_catalog/product_list_item')->setProduct($_product)->setTemplate('tradetested/catalog/product/list/item.phtml')->toHtml(); ?>
            </td>
            <?php if ($_iterator%2==0): ?></tr><?php endif; ?>
        <?php endforeach; ?>
        <?php if ($_iterator%2!=0): ?><td></td></tr><?php endif; ?>

    </table>
    <?php echo $this->getToolbarBlock()->getPagerHtml() ?>
<?php endif; ?>
