.cms-index-index.cms-home
  margin: 0

.close-modal
  position: fixed
  height: 100%
  width: 100%
  z-index: 30
  display: none
  background: $contentMaskBack

.main-container
  padding-top: 50px


.navMask
  position: relative
  z-index: 0

  &:after
    @extend .beforeAfter
    top: 170px
    left: 0
    width: 100%
    height: 100%
    background: $contentMaskBack


.content-wrapper
  @extend .clear
  @extend .main-trade-container
  font-family: $mainFontFamily

  ////Start of block 'banner for support'/////////////
  .banner-bottom
    p
      width: 650px
      font-size: 18px
      line-height: 1.3em


  ////End of block 'banner for support'/////////////
  //////Start of 'money back' block////////////////
  .money-back
    width: auto
    margin: 85px auto
    height: 200px
    width: 1022px
    p
      text-align: right
      font-size: 20px
      color: $fontColorDark
      width: 360px
      float: left
      margin-right: 40px
      padding-top: 55px
      &:last-of-type
        text-align: left
        margin-left: 40px


    div
      float: left
      width: 182px
      height: 198px


  ///////End of 'money back' block///////////////////////////////////
  //////Start of block with banners for different parts of shop/////
  .article-about
    height: 417px
    margin-bottom: 80px
    div
      width: 380px
      height: 417px
      float: left
      margin-right: 20px
      &:last-of-type
        margin-right: 0

      a
        display: block
        height: 62px
        width: 362px
        background: $mainDarkColor
        color: $fontColorLighter
        float: none
        margin-top: -4px
        cursor: pointer
        text-transform: uppercase
        text-decoration: none
        font-size: 20px
        padding: 18px 0 0 18px
        span:first-child
          display: block
          float: none
          font-family: $headingFontFamily

        span:nth-of-type(2)
          display: inline-block
          float: none
          color: $colorArticleAboutSpan
          text-transform: none
          font-size: $linkFontSize
          font-weight: $fontWeightLight
          padding-top: 5px
          position: relative
          width: auto
          &:after
            @extend .beforeAfter
            @extend .icon
            content: glyph('android-arrow-forward')
            font-size: 21px
            text-align: center
            display: block
            top: 3px
            right: -30px
            width: 14px


  //////End of block block with banners for different parts of shop////////


///Start of 'brands-logos' block/////////////////////////////////////////
.brands-logo-wrap
  width: 100%
  background: $wrapBackLightGrey
  overflow: hidden
  .brands-logo
    @extend .main-trade-container
    padding: 65px 0 0 0
    text-align: center
    a
      margin: 0 60px 60px 0
      background: 0 0 no-repeat
      display: inline-block

      &:nth-of-type(6),
      &:nth-of-type(12)
        margin-right: 0

      img
        display: block
        transition: opacity 0.2s

      &:hover img
        opacity: 0


///End of 'brands-logos' block//////////////////////////////////////////////
///Start of 'popular product' block/////////////////////////////////////////
.products-catalog-wrap
  width: 100%
  background: $whiteBack
  font-family: $mainFontFamily
  .products-catalog
    @extend .main-trade-container
    padding: 100px 0 80px 0
    height: 610px
    box-sizing: border-box
    position: relative
    h2
      text-transform: uppercase
      color: $fontColorDark
      font-size: 28px
      margin-bottom: 40px
      margin-top: 0

    @extend .header-links
    .products-grid
      padding: 0

    .item
      border: $itemBorder
      width: 275px
      height: auto
      min-height: 360px
      float: left
      margin-right: 20px
      background: $whiteBack
      overflow: hidden
      box-sizing: border-box

      &:last-of-type
        margin-right: 0


      >a
        display: block
        text-align: center
        &.topseller
          @extend .top-seller

        img
          overflow: hidden

      .price-label
        display: none


      >div
        float: none
        width: 100%
        padding: 20px
        background-color: $productsCarouselAbout
        height: 167px
        min-height: 146px
        box-sizing: border-box
        position: relative
        border-top: $itemBorder
        div.actions
          .add-to-links
            display: none


        .product-name
          height: 47px
          box-sizing: border-box
          overflow: hidden
          text-overflow: ellipsis
          margin-bottom: 0
          font-family: $mainFontFamily
          a
            float: none
            font-size: $linkFontSize
            font-weight: 400
            color: $fontColorPrice


        span
          display: block
          float: none




        >div
          margin-top: 15px
          display: inline-block
          float: left
          &:last-of-type
            float: none
            position: absolute
            bottom: 0
            right: 15px







///End of 'popular product' block//////////////////////////////////////////////////////
///Start of 'customer review and social' block/////////////////////////////////////////
.customer-review-wrap
  width: 100%
  background-color: $wrapBackLightGrey
  height: 450px
  padding: 40px 0 50px 0
  box-sizing: border-box
  .customer-block
    @extend .main-trade-container
    .review-block
      float: left
      background: $whiteBack
      width: 778px
      position: relative
      border: $itemBorder
      font-family: $mainFontFamily
      padding-bottom: 30px
      font-weight: $fontWeightMedium
      border-width: 2px
      overflow: hidden
      h1
        padding-left: 30px
        font-weight: bold
        color: $fontColorDark
        font-size: 25px
        font-family: $mainFontFamily

      ul
        padding-left: 0
        li
          float: left

      .review
        @extend .itemBorderTop
        padding: 30px
        font-size: 15px
        color: $reviewFontColor
        width: 778px
        box-sizing: border-box
        .review-custom-title
          float: none
          display: inline-block
        .customer-name
          float: left
          font-weight: bold
          margin-right: 10px

        .review-product-title
          float: left
          color: $reviewFontColor

        .review-rate
          float: none

        .review-title
          font-weight: bold
          float: none
          margin-top: 0

        .review-date
          float: none
          color: $colorReviewDate
          font-size: 13px

        .customer-review
          float: none
          width: 660px
          text-overflow: ellipsis

    .view-all-review
      padding-left: 30px
      color: $fontColorViewAllReview
      text-decoration: none
      font-weight: $fontWeightMedium

    .main-trade-button
      right: 0px
      top: 180px


///End of 'customer review and social' block/////////////////////////////////////////
