//Footer_Block_Category_Links
.one_block
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  li
    margin-bottom: 9px
    ul
      padding: 0
      -webkit-padding-start: 0

//

//Footer_Block_Page_Links
.two_block
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  a
    color: $fontColorDarker
    font-size: $fontSmaller

  ul
    padding: 0
    -webkit-padding-start: 0
    li
      margin-bottom: 5px

//

//Footer_Block_Contacts
.three_block .oneNext
  display: none

.three_block .block-subscribe
  display: none

.three_block
  li
    margin-bottom: 2px

  span
    text-decoration: none

  .yellowBold
    color: $mainContrastColor
    font-size: $fontSizeLarger
    font-weight: $fontWeightBold

  .boldSize
    font-size: $fontSizeLarger
    color: #ffffff
    font-weight: $fontWeightBold

  .boldSize1
    font-size: $fontSizeSmaller
    color: #ffffff
    font-weight: $fontWeightBold

  .greenBold
    font-size: $fontSmaller
    color: $fontColorInStock
    font-weight: bold

  .boldSize2
    font-size: $fontSmaller
    color: $fontColorDarker
    line-height: 1.5


//

//Footer_Block_Payment_Info
.oneNext
  .boldSize1
    font-size: 18px
    color: $fontColorLighter

  img
    display: inline-block
    margin-right: 5px

  li
    color: $fontColorDarker
    list-style-type: none
    display: block
    margin-bottom: 5px
    font-size: $fontSmaller

  .pictures1
    margin-bottom: 20px


//

//Footer_Block_Shipping_Info
.twoNext
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  .boldSize1
    font-size: $fontSizeSmaller
    color: $fontColorLighter
    font-weight: $fontWeightBold

  li
    color: $fontColorDarker
    list-style-type: none
    display: block
    margin-bottom: 5px
    font-size: $fontSmaller

  .shipping
    display: block
    width: 350px
    margin-bottom: 5px

//

//Footer_Block_Refunds_Info
.threeNext
  width: 300px
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  .boldSize1
    font-size: $fontSizeSmaller
    color: $fontColorLighter
    font-weight: $fontWeightBold

  li
    color: $fontColorDarker
    list-style-type: none
    display: block
    margin-bottom: 5px
    font-size: $fontSmaller

//

.footer-container
  width: 100%
  margin: auto
  font-family: $mainFontFamily

.mainBlocks
  @extend .footer-container
  background-color: $mainDarkColor

.blocksNextMain
  @extend .footer-container
  background-color: $backgroundDarkColor

.common
  display: flex
  flex-direction: row

.fb-root
  color: #ffffff
  font-size: $fontSmaller

.form-subscribe-header
  width: 240px

.footer
  @extend .footer-container
  a:hover
    +transition(0.3s)
    text-decoration: underline

.blocks
  background-color: $mainDarkColor
  @extend .staticBlock
  padding-bottom: 35px

.boldSize, .yellowBold
  font-size: $fontSizeLarger
  color: $fontColorLighter
  font-weight: $fontWeightBold

.blocksNext
  background-color: $backgroundDarkColor
  @extend .staticBlock
  border-bottom: solid $mainDarkColor 0.5px

.blocksNext
  li
    color: $fontColorDarker
    list-style-type: none
    display: block
    margin-bottom: 5px
    font-size: $fontSmaller

  ul
    padding: 0


.block-subscribe
  padding-top: 15px

.block-title
  margin-bottom: 5px

.form-subscribe-header, .input-box
  margin-bottom: 10px

#newsletter
  width: 263px
  height: 14px
  background-color: $backgroundDark1Color
  border: 0.5px solid grey

.blocks li
  list-style-type: none
  display: block
  margin-bottom: 5px

li a
  text-decoration: none

.one_block a
  color: $fontColorLighter
  font-size: $fontSmaller

.facebook a
  color: $fontColorLighter

.blocks ul
  padding: 0
  -webkit-padding-start: 0

.blocksLast
  width: 100%
  background-color: $backgroundDarkColor

.blocksLast1
  width: $fixedWidthContainer
  padding-top: 35px
  padding-bottom: 35px
  background-color: $backgroundDarkColor
  margin: auto

.blocksLast1 p
  color: $fontColorGrey
  text-align: center
  margin: auto
  font-size: 13px

.boldSize1
  font-size: 18px
  color: $fontColorLighter
  font-weight: $fontWeightBold

.greenBold
  font-size: $fontSmaller
  color: $fontColorInStock
  font-weight: bold

.boldSize2
  font-size: $fontSmaller
  color: $fontColorDarker
  line-height: 1.5

.boldSize3
  font-size: $fontSmaller
  color: $fontColorLighter

.padding1
  padding-bottom: 15px

.input-box
  color: $fontColorLighter

.input-box input
  padding-top: 15px
  padding-bottom: 15px
  padding-left: 15px
  color: $fontColorLighter

.actions button
  width: 156px
  height: 44px

.actions button span
  font-size: $fontLarger
  color: $mainDarkColor
  font-weight: $fontWeightBold



