.header-wrapper
  width: 100%
  min-width: $fixedWidthContainer
  height: 170px
  background: $mainDarkColor
  font-family: $mainFontFamily

  .header-container
    @extend .main-trade-container
    background: $mainDarkColor


    >div
      width: 100%
      background: $mainDarkColor




  .header-links
    height: 45px

    >ul
      float: right
      margin: 8px 105px 8px 0
      >li
        padding-left: 20px
        font-size: $fontSmaller
        font-weight: $fontWeightNormal

        a
          line-height: 40px
          text-decoration: none
          color: $fontColorDarker

        &:nth-of-type(4)
          position: relative
          margin-left: 30px
          padding-right: 20px

          &:after
            @extend .beforeAfter
            height: 40%
            line-height: 40px
            top: 13px
            right: 0
            width: 1px
            background: $headerDividerColor



        &#header-cart-link
          position: absolute
          right: 0

          >a
            position: relative

            &:before
              @extend .beforeAfter
              content: "?"
              color: $mainContrastColor
              border: 2px solid $mainContrastColor
              height: auto
              padding: 0px 3px
              top: 0px
              left: -25px
              line-height: 0.9
              border-radius: 2px
              font-size: 17px
              font-weight: $fontWeightNormal



  .company-block
    .logo-block
      float: left

    .logo svg
      margin-top: -2px
      max-width: 290px

    .search-block-desk
      margin: 10px 0  0 90px
      float: left
      width: auto
      position: relative

      input
        padding-left: 22px
        width: 390px
        height: 38px
        font-size: 16px
        font-weight: $fontWeightLight
        color: #848484

      button
        position: absolute
        top: 0
        right: 0
        height: 100%
        width: 52px

    .call-us
      float: right
      margin: 16px 0 0 95px

      span
        font-size: $fontSizeHeaderCall
        color: $fontColorLighter

        &:nth-of-type(2)
          color: $mainContrastColor


.page-header
  position: absolute
  top: 170px


