.page-header
  z-index: 10

.main-navigation
  @extend .main-trade-container
  @extend .list-style
  height: auto
  background: $mainContrastColor
  margin-top: -21px

  ol
    height: 54px
    padding: 0 6px
    position: relative

    >li
      display: block
      &.active
        background: $whiteBack
      &:hover > ul
        display: block
      &.home a
        display: block
        line-height: 1em
        height: 54px
        svg
          margin: 10px 0

      >ul
        display: none
        position: absolute
        top: 54px
        left: 0
        width: 100%
        height: auto
        background: $whiteBack
        z-index: 10
        box-sizing: border-box
        padding: 0
        -webkit-column-count: 4
        -moz-column-count: 4
        column-count: 4
        column-rule: $navRightBorder
        padding: 15px 0
        text-align: left

        &:hover
          display: inline-block

        >li
          //float: left
          position: relative
          width: 270px
          margin: 0
          box-sizing: border-box
          padding: 0 30px
          margin-bottom: 15px
          height: 100%
          break-inside: avoid

          &:last-of-type, &:first-of-type
            border-right: none

          &:first-of-type
            width: 100%

          a
            color: $fontColorSubNav
            font-size: $fontSizeNavSubSmall
            font-weight: $fontWeightMedium


          >a:first-child
            text-transform: uppercase
            color: $fontColorSubNavHead
            font-size: $fontSmaller
            font-weight: bold
            line-height: 27px

          
          ul.level1
            z-index: 10
            li
              float: none
              height: 27px
              a
                line-height: 27px
        ul.level2
          display: none
        .view-all
          width: 100%
          height: 52px
          display: none
          background: $viewAllNavigationBack
          
          a:first-child
            line-height: 52px
            display: block

      >a
        display: block
        color: black
        line-height: 54px
        font-weight: 500
        padding: 0 20px 0 20px
        +transition(.3s)

        &:hover + ul
          display: block


        &:hover
          cursor: pointer
          background: $whiteBack


    //li.nav-2
    //  >ul
    //    >li
    //      &:nth-of-type(5)
    //        position: absolute
    //        right: 370px
    //        top: 281px
    //        height: auto !important



