.product-view
  h1
    @extend .h1
  h2
    font-size: 26px
    color: $fontColorDark
    font-weight: $fontWeightMobileMenu
    font-family: $mainFontFamily

  >div
    border-bottom: $itemBorder
    width: 100%
  .product-img-box
    width: 618px
    padding-top: 15px
    float: left
    .product-image
      img
        width: 618px
    .product-social
      @extend .list-style
      text-align: center
      margin-top: 10px
      ul
        display: inline-block
        li
          height: 20px
          margin-right: 5px
          a
            display: block
            position: relative
            width: 20px
            height: inherit
            line-height: 20px

            &:after
              @extend .icon
              @extend .beforeAfter
              color: $mainDarkColor
              font-size: 21px
              height: inherit
          &:first-of-type
            margin-right: 10px
            a:after
              content: glyph('android-mail')
              font-size: 27px
              line-height: 22px
          &:nth-of-type(2)
            a:after
              content: glyph('twitter-sign')
          &:last-of-type
            a:after
              content: glyph('facebook-sign')


    .more-views
      display: inline-block

      position: relative

      margin: 0 auto
      text-align: center
      display: block
      .overview-wrap
        position: relative
        display: inline-block
      .overview
        width: 410px
        height: 78px
        position: relative
        overflow: hidden
        display: inline-block
      ul
        position: absolute
        top: 0
        left: 0
        width: auto
        height: 76px
        float: left
        +transition(.5s all ease-in)

        li
          white-space: nowrap
          box-sizing: border-box
          a
            padding: 10px 0
            display: block
            border: $navRightBorder
            border-radius: 5px
            margin: 0 5px
            img
              width: 70px
              height: 50px


      div.img-button
        display: block
        position: absolute
        top: -12px

        &:last-of-type
          right: 0

        a
          @extend .trade-link
          position: relative
          display: inline-block
          //float: left

          &:after
            @extend .beforeAfter
            @extend .icon
            content: glyph(chevron-right)
            color: $mainContrastColor
            font-size: 20px
            font-weight: bold
            top: 27px
      div.img-button.first
        left: -20px
        a
          &:after
            +transform-rotate(180deg)
  .product-essential
    @extend .clear
    margin-top: 50px
    padding-bottom: 45px





    .product-shop
      float: left
      width: 481px
      padding-left: 30px
      >div
        @extend .clear
      h1
        margin-bottom: 0
      .no-rating
        a
          @extend .trade-link
      .short-description
        font-size: 15px
        margin-bottom: 15px
        a
          @extend .trade-link
          display: block
          margin-top: 5px
      .price-box
        @extend .clear
        p
          float: left
          &:first-of-type
            margin-right: 10px
          span
            font-size: 26px
            font-weight: $fontWeightMobileMenu
      .ratings
        margin-top: 7px
        .review-rate
          display: block
          width: auto
          float: left
          margin-right: 10px
        >span
          display: block
          float: left
          font-size: 15px
          padding-top: 2px

      #product_shipping_estimator
        >div
          border-top: $itemBorder
          border-width: 1px
          strong
            float: left
          >span
            float: none
            display: block
            >label
              display: inline-block
              float: none
              padding: 20px 0
              width: 100%
              border-bottom: $itemBorder
              border-width: 1px
              padding-left: 40px
              position: relative
          p.notes
            font-size: 12px
            margin-top: 10px
            color: $notesColor
            a
              @extend .trade-link
        .no-delivery
          display: inline-block
          padding-top: 20px
        .radio-label
          input
            display: none
            &:checked
              &+.input-icon .icon
                border-color: $reviewRecomended
                &:after
                  @extend .beforeAfter
                  content: ''
                  border: 8px solid $reviewRecomended
                  border-radius: 50%
                  top: 3px
                  left: 3px
          .input-icon
            position: absolute
            left: 0
          .icon
            width: 22px
            height: 22px
            border: 2px solid $radioInput
            border-radius: 50%
            position: relative
            margin-right: 10px
            &:after
              @extend .beforeAfter
          >span
            line-height: 25px
            display: inline-block
            margin-right: 5px
            vertical-align: top
          .shipping_price
            vertical-align: baseline
            color: $reviewRecomended
          .title-deliver
            float: left
          .title-deliver, .shipping_price
            font-weight: $fontWeightBold
            font-size: 15px
          .note
            float: left
            clear: left
        .location_changer
          position: relative
          float: left
          >span
            position: absolute
            top: 0
            right: 0
            color: $fontColorViewAllReview
          select
            background: transparent
            width: 120px
            font-size: 16px
            line-height: 1
            border: 0
            border-radius: 0
            -webkit-appearance: none
            color: transparent
            position: relative
            &:active, &:focus
              outline: none

      .price-guarantee
        margin-bottom: 30px
        span, a
          font-size: 13px
        a
          @extend .trade-link
        span
          &:first-of-type
            font-size: 11px
            text-transform: uppercase
            color: white
            padding: 5px 10px
            font-weight: $fontWeightBold
            background: $backgroundGuarantee
            display: inline-block
            position: relative
            margin-right: 15px
            &:after
              @extend .beforeAfter
              width: 0
              height: 0
              border-top: 11px solid transparent
              border-bottom: 11px solid transparent
              border-left: 8px solid $backgroundGuarantee
              top: 0
              right: -8px
      .add-to-box
        margin-top: 40px
        button, a
          font-size: 15px
          text-transform: uppercase
          font-weight: $fontWeightBold
        .btn-cart
          height: 50px
          width: 180px
          padding: 0 0 0 20px
          margin-right: 30px
          &:after
            top: 17px
            left: 25px
        .link-wishlist
          padding-left: 25px
          text-decoration: none
          position: relative
          color: black

          &:after
            @extend .beforeAfter
            @extend .icon
            content: glyph(ios-heart)
            font-size: 20px
            top: -2px
            left: 0
  .product-collateral
    display: inline-block
    padding: 20px 0 50px 0
    .product-page-right
      float: left
      width: 785px
      margin-right: 75px
      div.std
        width: 780px
        font-size: 15px
        line-height: 1.5
        white-space: pre-line
        >iframe
          margin-top: 70px
          width: 780px
    .product-page-left
      float: left
      padding-top: 80px
      img
        display: inherit
        margin: 0 auto
      .can-we-help
        width: 320px
        margin-top: 45px
        h2
          background: $mainDarkColor
          height: 78px
          font-size: 26px
          line-height: 78px
          color: white
          font-weight: $fontWeightNormal
          padding-left: 25px
          margin-bottom: 0
        >p
          background: $productsCarouselAbout
          line-height: 1.5
          padding: 20px
          margin: 0
          font-size: 20px
          border-right: $itemBorder
          border-left: $itemBorder
        >div
          height: 70px
          border: $itemBorder
          padding: 0 20px
          box-sizing: border-box
          >span
            line-height: 70px
            display: block
            float: left
            position: relative
            padding-left: 25px
            &:after
              @extend .beforeAfter
              @extend .icon
              font-size: 25px
              left: -6px
              top: 21px
            &:first-of-type
              font-weight: $fontWeightBold
              &:after
                content: glyph(ios-telephone)
            &:last-of-type
              margin-left: 20px
              &:after
                content: glyph(ios-email)
            >a
              @extend .trade-link
      .guarantee-img
        @extend .clear
        margin-top: 20px
        img
          float: left
          &:last-of-type
            margin-top: 30px
      .product-page-reviews
        padding-bottom: 50px
  .related-categories
    padding-bottom: 44px




    