
.product-carousel
  padding: 0 0 10px

.product-carousel .viewport
  height: 374px
  width: $fixedWidthContainer
  float: left
  overflow: hidden
  position: relative


.product-carousel .disable
  visibility: hidden

.product-carousel .overview
  position: absolute
  //width: 260px
  width: 100%
  padding: 0
  margin: 0
  left: 0
  top: 0
  +transition(left 1s ease-in-out)


.review-block .viewport
  height: 250px
  width: 100%
  float: left
  overflow: hidden
  position: relative


.review-block .disable
  visibility: hidden

.review-block .overview
  position: absolute
  left: 0
  +transition(left 1s ease-in-out)

