<?php /** @var TradeTested_Catalog_Block_Navigation $this */ ?>
<?php echo $this->getLayout()->getBlock('breadcrumbs')->toHtml();?>
<?php if ($category = Mage::registry('current_category')): ?>
    <h1><?php echo $category->getName() ?></h1>
<?php endif; ?>
<?php $childCategories = $this->getChildCategories($category); ?>
<ul class="subcategories">
    <?php foreach ($childCategories as $_subcategory): ?>
        <?php if($_subcategory->getIsActive() && $_subcategory->getProductCount()): ?>
            <li><a href="<?php echo $_subcategory->getUrl() ?>"><?php echo $_subcategory->getName() ?></a></li>
        <?php endif; ?>
    <?php endforeach; ?>
</ul>
<?php if ($category->getLevel() >= 3): ?>
    <?php $parent = $category->getParentCategory() ?>
    <div class="parent_category">
        <a class="button silent parent_category<?php if ($childCategories->count()): ?> inline<?php endif; ?>" href="<?php echo $parent->getUrl() ?>">
            <span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-left') ?></span>
            Back to all <?php echo $parent->getName() ?>
        </a>
    </div>
<?php endif; ?>
<div class="clear"></div>