<?php if (Mage::app()->getStore()->getCode() == 'default'): ?>
    <p class="call_us">
        <?php echo $this->escapeHtml(Mage::getStoreConfig('general/store_information/phone')); ?>
    </p>
    <p class="find_us">
        <a href="/auckland-store">
            Auckland Store
        </a>
    </p>
<?php else: ?>
    <?php // @todo: The theme override seems to cancel out the use of the au template here? ?>
    <p class="call_us" style="width:100%;float:none;text-align:center">1800 003 133</p>
<?php endif; ?>
<?php echo $this->getParentBlock()->getChildHtml('topSearch') ?>