<?php
/**
 * @package     Avid_AbandonedCartReminders
 * @author      Dane Lowe <dane@avidonline.co.nz>.
 * @copyright   Copyright (c) 2013 Avid Online Enterprise Ltd. (New Zealand)
 * @license     Commercial - see LICENSE.txt for details
 */
?>
<div id="avid_abandoned_cart_reminders_status_updater_container" style="padding: 5px 27px;background:#e3eff1;font-weight:bold;margin: 0 0 -3px;"><span class="acr_status_note">Send Status: </span><span id="avid_abandoned_cart_reminders_status_updater"><?php echo Mage::helper('avid_abandoned_cart_reminders/queue')->getMsg() ?></span><span style="font-size:11px;font-weight:100;">(You can leave this page and sending will continue in the background)</span></div>
<script type="text/javascript">
    avid_abandoned_cart_reminders_status_updater = new Ajax.PeriodicalUpdater($('avid_abandoned_cart_reminders_status_updater'), '<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/cartreminders_send/status') ?>', {'method':'get','frequency':3,'decay':1.2,'loaderArea':false});
</script>
