<?php $_items = $this->getCollection(); ?>
<?php if($_items->getSize()): ?>
    <?php $_lists = array_chunk($_items->getItems(), ceil(count($_items)/2)) ?>
    <?php foreach ($_lists as $_list): ?>
        <ul class="sitemap">
            <?php foreach ($_list as $_item): ?>
                <li><a href="<?php echo $this->getItemUrl($_item) ?>"><?php echo $this->escapeHtml($_item->name) ?></a></li>
            <?php endforeach; ?>
        </ul>
    <?php endforeach ?>
    <div class="clear"></div>
<?php else: ?>
    <p class="note-msg">
        <?php echo $this->__('There are no %s available.', $this->getItemsTitle()); ?>
    </p>
<?php endif ?>
