<div>

<div class="category-title"><h1>About Trade Tested</h1></div><br />
<div class="col2-set">
<div class="col-1">
<p><img title="Our warehouse" src="images/warehouse.jpg" alt="Our warehouse" /></p>
<br />
<p>Welcome to Trade Tested. We source direct from the manufacturer ensuring the best possible prices. Our operation runs from an advanced warehousing facility near Auckland Airport.</p>
</div>
<div class="col-2">
<p>Our management team is made up of Richard (GM), Terry (Sales and marketing), Sedejah (Customer support) and Donna (Operations).</p>
<br />
<p>We specialise in garden sheds and generators, but also carry a wide range of other products.</p>
<br />
<p>To our valued customers - Thank you and happy shopping!</p>
<br />
<p style="line-height:1.2em;"><strong style="font:italic 2em Georgia, serif;">The Team at Trade Tested</strong></p>
</div>
</div>
</div>
