<div  width="830" height="800" style="float:left; padding: 20px 8px 20px 8px;background-repeat:no-repeat; margin: 15px -130px 0 0; background-image:url('{{media url="wysiwyg/homepage_banners/Workshop_Homepage_03_optimised.jpg"}}')" >
    <div style="font:1em Georgia, serif; font-size: 120%; color: #333;">
        <div style="margin: 0 45px 0 0; padding: 4px; position:relative;">
            <div style="position:relative;color:Black;z-index:5;"><h1>Where Kiwis come to buy <a href="/browse/garden-sheds.html" style="color:Black;">Garden sheds</a>, <a href="/browse/generators.html" style="color:Black;">Generators</a>, <a href="/browse/log-splitters.html" style="color:Black;">Log splitters</a> & <a href="/browse.html" style="color:Black;">other useful things</a>.</h1></div>
            <div style="background-color:#FC0; opacity:0.88;position:absolute;z-index:1;top:0px; left:0px; width:100%;height:100%;"></div>
        </div>
        <div style="margin: 130px 430px 0 0; padding: 4px; position:relative;">
            <div style=" position:relative;color:Black;z-index:5;"><p>NZ's Best Outdoor Hardware Store. <a href="/about-us" style="color:Black;">Why Buy From Us?</a></p></div>
            <div style="background-color:#FC0; opacity:0.88;position:absolute;z-index:1;top:0px; left:0px; width:100%;height:100%;"></div>
        </div>
    </div>
</div>
<button type="button" class="button" title="Browse Specials" onclick="window.location='/browse/advertised-specials.html';"><span>&nbsp;Browse Specials&nbsp;&gt;</span></button>
{{block type="catalog/product_new" name="home.catalog.product.new" alias="product_homepage" template="catalog/product/new.phtml" _productsCount="12"}}
<button type="button" class="button" title="Browse All Products" onclick="window.location='/browse.html';"><span>&nbsp;&nbsp;Browse All Products&nbsp;&gt;</span></button>
<img class="as-seen-in-banner" src="{{media url="wysiwyg/As-Seen-In-Banner.jpg"}}" alt="As Seen In Ag Trader, Lifestyle Block, Straight Furrow" />
