<div>
<p style="margin-bottom:5px;">"Great communication, prompt delivery and the plasma bracket is rock solid. Thanks!" - <i>Jeremy, Warkworth. Apr 2012.</i></p>
<p style="margin-bottom:5px;">"Very fast delivery! Ordered after midnight and received the same day! Highly recommended." - <i>Mark, Manukau City. Apr 2012.</i></p>
<p style="margin-bottom:5px;">"Fantastic! Goods received already. Fast delivery, hassle free - DELIGHTED. Highly recommend this website! Thank you :-)" - <i>Aileen, Papakura. Apr 2012.</i></p>
<p style="margin-bottom:5px;">"First item arrived damaged (by courier) Trade Tested replaced it within a few days. Thanks again!" - <i>Stefanie, Mt. Maunganui. Apr 2012.</i></p>
<p style="margin-bottom:5px;">"Great product, great service. Will be very happy to buy again. Well done." - <i>Tony, Wellington. Apr 2012.</i></p>
<p style="margin-bottom:5px;">"Excellent communications. Product exactly as described. Quick delivery. Very happy." - <i>Mike, Napier. Apr 2012.</i></p>
<p style="margin-bottom:5px;">"Awesome service. Got my chicken coop same day I puchased. The chickens are thrilled." - <i>Alison, Auckland City. Apr 2012.</i></p>
<p style="margin-bottom:5px;">"Excellent service. I had reason to contact customer support and their response was brilliant. Would definitely trade again." - <i>Jackie, Hibiscus Coast. Apr 2012.</i></p>
</div>