<div>
<div class="category-title"><h1>Warranty Policy</h1></div><br />
<p style="margin-bottom:5px;">Everything we sell comes with a minimum 12 month parts and labour warranty. For some items we even offer a warranty of up to 12 years, so be sure to check.</p>
<p style="margin-bottom:5px;">We will always endeavour to repair or replace faulty goods within their warranty period. Exception may be made in the case of damage to or misuse of the item. This also includes negligent operation, inadequate maintenance, commercial use or unauthorised repairs and modifications.</p>
<p style="margin-bottom:5px;">All warranty claims must first be approved by a Trade Tested representative. In the case of repair, you will be required to return the unit to one of our nationwide service agents. We will then do our best to repair or replace the item, and get it back to you within a reasonable timeframe.</p>
<p style="margin-bottom:5px; margin-top:15px;">For warranty questions or support please <a title="contact us" href="/contact-us">contact us</a>.</p>
</div>