<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
    <?php echo $this->getChildHtml('suggested_categories') ?>
    <?php echo $this->getChildHtml('layered_navigation') ?>
    <div class="row">
        <div class="sort-by">
            <label><?php echo $this->__('Sort by:') ?> </label>
            <?php $orders = array_reverse($this->getAvailableOrders()); ?>
            <?php foreach($orders as $_key=>$_label): ?>
                <?php $_direction = $this->helper('tradetested_catalog/sorting')->getLinkDirection($_key, $this->getCurrentDirection(), $this->isOrderCurrent($_key)) ?>
                <?php $_url = $this->getPagerUrl(array($this->getOrderVarName()=>$_key, $this->getDirectionVarName()=>$_direction, $this->getPageVarName() => null)); ?>
                <a href="<?php echo $_url ?>"<?php if($this->isOrderCurrent($_key)): ?> class="current"<?php endif; ?>><?php echo $this->__($_label) ?></a>
            <?php endforeach; ?>
        </div>
        <div class="view-mode">
            <label>View as:</label>
            <?php $_modes = $this->getModes(); ?>
            <?php if($_modes && count($_modes)>1): ?>
                <?php foreach ($this->getModes() as $_code=>$_label): ?>
                    <a href="<?php echo $this->getModeUrl($_code) ?>" title="View as <?php echo $_label ?>" <?php if($this->isModeActive($_code)): ?> class="current"<?php endif; ?>>
                        <span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode($_code) ?></span>
                        <?php echo $_label ?>
                    </a>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php endif ?>