<?php
foreach ($this->getMethods() as $_method) {
    if ($_method->getCode() == 'free') {
        $this->setMethods(array($_method));
        break;
    }
}
?>
<?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
    <dt>
        <?php if( sizeof($this->getMethods()) > 1 ): ?>
            <label class="radio-label" for="p_method_<?php echo $_code ?>">
                <?php if ($_code == 'tradetested_px_post'): ?>
                    <div class="radio_button_icons">
                        <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/visa.svg') ?>" height="28" />
                        <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/mastercard.svg') ?>" height="28" />
                        <?php if (Mage::app()->getStore()->getCode() == 'default'): ?>
                            <img src="<?php echo Mage::helper('tradetested_design/asset')->getUrl('images/qcard.jpg') ?>" height="28" />
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
                <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="Please choose a payment method" class="radio required" <?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> />
                <span class="icon"></span>
                <?php if (($_code == 'tradetested_px_post') && $this->canUseSavedCard()): ?>New <?php endif; ?>
                <?php echo $_method->getTitle() ?>
            </label>
        <?php else: ?>
            <h4><?php echo $_method->getTitle() ?></h4>
            <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" /></span>
        <?php endif; ?>
    </dt>
    <?php if($html = $this->getChildHtml('payment.method.'.$_code)): ?>
        <dd id="container_payment_method_<?php echo $_code; ?>" class="payment-method">
            <?php echo $html; ?>
        </dd>
    <?php endif; ?>
<?php endforeach; ?>
