<?php /** @var TradeTested_Checkout_Block_Rates_Depot $this */ ?>
<?php $states = $this->getStates(); ?>
<dt>
    <label for="s_method_depot" class="radio-label">
        <input name="shipping_method" title="Please select a shipping method" type="radio" required value="depot" id="s_method_depot"<?php if($this->isSelected()) echo ' checked="checked"' ?> />
        <span class="icon"></span>
        <strong style="margin-right:4px;" id="depot_price"></strong>
        Delivery to
        <?php $selectedDepot = $this->getSelectedDepot() ?>
        <select id="depot_select" name="depot">
            <?php foreach ($this->getGroupedRates() as $_state => $_rates): ?>
                <optgroup label="<?php echo $states[$_state]??$_state ?>">
                    <?php foreach($_rates as $_rate): ?>
                        <option value="<?php echo $_rate->getCode() ?>" data-price="<?php echo $_rate->getPrice() ?>" data-title="<?php echo $_rate->getMethodTitle() ?>"<?php if($_rate->getCode()===$selectedDepot): ?> selected="selected"<?php endif; ?>>
                            <?php echo $_rate->getMethodTitle() ?>
                        </option>
                    <?php endforeach; ?>
                </optgroup>
            <?php endforeach; ?>
        </select>
    </label>
</dt>
<dd id="container_shipping_method_depot"></dd>
