<?php foreach ($this->getRates() as $_rate): ?>
    <?php if ($_rate->getErrorMessage()): ?>
        <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
    <?php else: ?>
        <dt>
            <label for="s_method_<?php echo $_rate->getCode() ?>" class="radio-label">
                <input name="shipping_method" title="Please select a shipping method" type="radio" required value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> />
                <span class="icon"></span>
                <strong style="margin-right:4px;"><?php echo $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?></strong>
                <?php echo $_rate->getMethodTitle() ?>
            </label>
        </dt>
        <dd id="container_shipping_method_<?php echo $_rate->getCode() ?>">
            <?php if (Mage::app()->getStore()->getCode() == 'default'): ?>
                    <strong>Address:</strong><br/>
                    <address>
                        38 Airpark Drive, Mangere, Auckland
                    </address>
            <?php endif; ?>
        </dd>
    <?php endif ?>
<?php endforeach; ?>
