<ul>
    <li><a href="<?php echo Mage::getUrl('about-us') ?>">About us</a></li>
    <li><a href="<?php echo Mage::getUrl('auckland-store') ?>">Auckland Store</a></li>
    <li><a href="<?php echo Mage::getUrl('contacts') ?>">Contact us</a></li>
    <li><a href="<?php echo Mage::getUrl('buying-guides') ?>">Buying Guides</a></li>
    <li><a href="<?php echo Mage::getUrl('shipping') ?>">Shipping</a></li>
    <li><a href="<?php echo Mage::getUrl('refund-policy') ?>">30 Day Returns</a></li>
    <li><a href="<?php echo Mage::getUrl('warranty-policy') ?>">Warranty</a></li>
    <li><a href="<?php echo Mage::getUrl('testimonials') ?>">Testimonials</a></li>
    <li><a href="<?php echo Mage::getUrl('careers') ?>">Carrers</a></li>
</ul>