<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php /** @var Mage_Page_Block_Html_Topmenu $this */?>
<?php $_menu = $this->getHtml('level-top') ?>

<?php if($_menu): ?>
    <nav id="nav">
        <ol class="nav-primary">
            <li class="home"><a href="<?php echo $this->getBaseUrl() ?>"><?php echo Mage::helper('tradetested_design/icon')->getSvg('home', ['width' => '30px']) ?></a></li>
            <?php echo $_menu ?>
        </ol>
    </nav>
<?php endif ?>
