<?php $contentCategory = $this->getContentCategory(); ?>
<div class="content-category-description"><?php echo $contentCategory->getShortDescription(); ?></div>
<ul class="content-category-pages <?php echo $contentCategory->getUrlKey() ?>">
    <?php $x = 0 ?>
    <?php foreach ($contentCategory->getPages() as $_page): ?>
        <?php $x++; ?>
        <li data-href="<?php echo $this->getUrl($_page->getIdentifier()) ?>">
            <h2><?php echo $_page->getTitle() ?></h2>
            <div class="page-short-description">
                <?php echo $_page->getShortDescription() ?>
            </div>
            <a href="<?php echo $this->getUrl($_page->getIdentifier()) ?>" class="page-more">Find out more &raquo;</a>
        </li>
        <?php if ($x%3==0): ?>
            <li class="clear"></li>
        <?php endif; ?>
    <?php endforeach; ?>
</ul>
