<?php $contentCategory = $this->getContentCategory(); ?>
<?php  ($pages = $contentCategory->getPages()->AddFieldToFilter('is_featured', true)) ?>
<?php if(count($pages)): ?>
    <div class="block content_category_feature <?php echo $contentCategory->getUrlKey() ?>">
        <h2><a href="<?php echo $this->getUrl($contentCategory->getUrlKey()) ?>"><?php echo $contentCategory->getTitle() ?></a></h2>
        <ul class="content <?php echo $contentCategory->getUrlKey() ?>">
            <?php foreach ($pages as $_page): ?>
                <li data-href="<?php echo $this->getUrl($_page->getIdentifier()) ?>">
                    <h2><?php echo $_page->getTitle() ?></h2>
                    <a class="page-more forward" href="<?php echo $this->getUrl($_page->getIdentifier()) ?>">Find out more</a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
