<!--@subject Survey Response at {{var quote.store.name}}  @-->
<!--@vars
{"var response":"Survey Response", "var quote":"Quote"}
@-->
<!--@styles
@-->
{{inlinecss file="email-tradetested-admin.css"}}
<h1>Survey Response</h1>
<h2>Quote Details</h2>
{{block type='core/template' area='frontend' template='tradetested/survey/email/quote.phtml' quote=$quote}}
<h3>Items</h3>
{{block type='core/template' area='frontend' template='tradetested/survey/email/quote_items.phtml' quote=$quote}}
<h2>Response Details</h2>
{{block type='core/template' area='frontend' template='tradetested/survey/email/response.phtml' response=$response}}
