<?php /** @var TradeTested_Reviews_Block_Review_Images $this */ ?>
<?php $_review = $this->getReviewData() ?>
<?php $_imageHelper = Mage::helper('tradetested_reviews/image'); ?>
<?php if (count($_review->getImages())): ?>
    <?php $_id = uniqid('media_gallery') ?>
    <div class="review-media" id="<?php echo $_id ?>">
        <ul class="thumbnails">
            <?php foreach ($_review->getImages() as $_image): ?>
                <li>
                    <a href="<?php echo $_imageHelper->imageUrl($_image, 68, 68); ?>">
                        <img src="<?php echo $_imageHelper->imageUrl($_image, 68, 68); ?>" data-retina="<?php echo $_imageHelper->imageUrl($_image, 136, 136); ?>" height="68"  width="68">
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <script>
        _components([{'ImageGallery', document.getElementById('<?php echo $_id ?>'), <?php echo json_encode($this->getGalleryImageJSON()) ?>, {zoomOnly: true}}])
    </script>
<?php endif ?>
