<?php /** @var TradeTested_Reviews_Block_Review_List $this */ ?>
<?php $_items = $this->getReviewsCollection()->getItems();?>
<?php if ($this->getReviewsCollection()->getSize() >= 2):?>
    <?php $pager = $this->getChild('toolbar') ?>
    <div data-pjax-anchor="true">
        <h2>
            <?php echo $this->__('Customer reviews') ?>
        </h2>
        <div class="review-product-list" id="customer-reviews">
            <div class="review-heading">
                <div class="review_summary">
                    <h3>Overall rating</h3>
                    <?php $_wholeStars = floor($this->getRatingValue()); ?>
                    <?php $_partStarPercent = ($this->getRatingValue() - $_wholeStars)*100 ?>
                    <div class="rating rating-list">
                        <?php for($i = 1; $i <= 5; $i++): ?>
                            <?php $_class = ($i > $_wholeStars) ? 'grey-star' : 'gold-star' ?>
                            <label class="full <?php echo $_class ?> icon">
                                <?php echo Mage::helper('tradetested_design/icon')->getEntityCode('star') ?>
                                <?php if ($i == $_wholeStars+1): ?>
                                    <span class="part_star gold-star" style="width: <?php echo $_partStarPercent ?>%">
                                    <?php echo Mage::helper('tradetested_design/icon')->getEntityCode('star') ?>
                                </span>
                                <?php endif; ?>
                            </label>
                        <?php endfor; ?>
                    </div>
                    <?php echo $this->__('%.1f out of 5 stars from %s reviews', $this->getRatingValue(), $pager->getTotalNum()); ?>
                </div>
                <div class="review-heading-right">
                    <a class="review-button button btn-primary" href="<?php echo Mage::getUrl('review/product/new', array('id' => $this->getProduct()->getId())) ?>" title="Write a Review" data-ajax="popup">
                        Write a Review
                    </a>
                </div>
            </div>
            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" style="display:none">
                <div>Rating:
                    <span itemprop="ratingValue"><?php printf('%.1f', $this->getRatingValue()) ?></span> -
                    <span itemprop="ratingCount"><?php echo $this->getReviewsCollection()->getSize() ?></span> votes
                </div>
            </div>
            <ul class="review-containers">
                <?php foreach ($_items as $_review):?>
                    <?php echo $this->renderItem($_review) ?>
                <?php endforeach; ?>
            </ul>
            <?php echo $this->getChildHtml('toolbar') ?>
        </div>
    </div>
<?php else: ?>
    <?php echo $this->getChildHtml('testimonials') ?>
<?php endif;?>
