<?php /** @var TradeTested_Reviews_Block_Review_List $this */ ?>
<?php $_review = $this->getReviewData() ?>
<li class="review-item m-item">
    <div class="review-body"<?php if($this->canShowReviewMicrodata()): ?> itemprop="review" itemscope itemtype="http://schema.org/Review"<?php endif; ?>>

        <div class="review-body-left"<?php if($this->canShowReviewMicrodata()): ?> itemprop="author" itemscope itemtype="http://schema.org/Person"<?php endif; ?>>
            <h3 class="review-body-name"<?php if($this->canShowReviewMicrodata()): ?> itemprop="name"<?php endif; ?>>
                <?php echo $this->__('%s', $this->escapeHtml($_review->getNickname())) ?>
            </h3>
            <?php echo nl2br($this->escapeHtml($_review->getLocation())) ?>
        </div>

        <div class="review-body-right">
            <?php $_stars = $_review->getDefaultRating() ?>
            <div class="rating rating-list" star="<?php echo $_stars; ?>" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <span itemprop="ratingValue" style="display:none"><?php echo $_stars; ?></span>
                <?php for($i = 1; $i <= 5; $i++): ?>
                    <?php $_class = ($i > $_stars) ? 'grey-star' : 'gold-star' ?>
                    <label class="full <?php echo $_class ?> icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('star') ?></label>
                <?php endfor; ?>
            </div>
            <div class="review-body-right-others">
                <h2<?php if($this->canShowReviewMicrodata()): ?> itemprop="name"<?php endif; ?>>
                    <a href="<?php echo $this->getReviewUrl() ?>">
                        <?php echo $this->escapeHtml($_review->getTitle()) ?>
                    </a>
                </h2>
                <p class="review-body-time"><?php echo $this->__('%s', $this->getCurrentTime($_review) . ' ago'); ?></p>
                <p class="review-body-detail"<?php if($this->canShowReviewMicrodata()): ?> itemprop="reviewBody"<?php endif; ?>>
                    <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
                </p>
                <?php if ($reply = $_review->getReplyComment()): ?>
                    <div class="review-body-reply">
                        <h3 class="review-reply-head">Reply from Trade Tested</h3>
                        <?php echo nl2br($this->escapeHtml($reply)) ?>
                    </div>
                <?php endif; ?>
                <?php if ($_review->getRecommend()): ?>
                    <p class="review-body-recommend"><span class="tick">Yes</span> I would recommend this product</p>
                <?php endif; ?>
                <?php echo $this->getMediaHtml() ?>
            </div>
        </div>

    </div>
</li>
