<?php $size = $this->getReviewsCollection()->getSize() ?>
<?php if($size >= 2): ?>
    <?php $_wholeStars = floor($this->getRatingValue()); ?>
    <?php $_partStarPercent = ($this->getRatingValue() - $_wholeStars)*100 ?>
    <div class="rating rating-list">
        <a href="#customer-reviews" data-anchor-scroll="true">
            <?php for($i = 1; $i <= 5; $i++): ?>
                <?php $_class = ($i > $_wholeStars) ? 'grey-star' : 'gold-star' ?>
                <label class="full <?php echo $_class ?> icon">
                    <?php echo Mage::helper('tradetested_design/icon')->getEntityCode('star') ?>
                    <?php if ($i == $_wholeStars+1): ?>
                        <span class="part_star gold-star" style="width: <?php echo $_partStarPercent ?>%">
                        <?php echo Mage::helper('tradetested_design/icon')->getEntityCode('star') ?>
                    </span>
                    <?php endif; ?>
                </label>
            <?php endfor; ?>
            <span><?php echo $this->__('%s review%s', $size, ($size > 1) ? 's' : ''); ?></span>
        </a>
    </div>
<?php endif; ?>
