<?php $surveyResponse = $this->getSurveyResponse(); ?>
<?php $quote = $surveyResponse->getQuote(); ?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account">Quote # <?php echo $surveyResponse->getQuoteId() ?></h4>
    </div>
    <div class="fieldset">
        <table cellspacing="0" class="form-list">
            <tbody>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Store'); ?></label></td>
                    <td class="value"><strong><?php echo $quote->getStore()->getName() ?></strong></td>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Active?'); ?></label></td>
                    <td class="value"><strong><?php echo $quote->getIsActive() ? 'Yes' : 'No' ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Created'); ?></label></td>
                    <td class="value"><strong><?php echo Mage::helper('core')->formatDate($quote->getCreatedAt()) ?></strong></td>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Grand Total'); ?></label></td>
                    <td class="value"><strong><?php echo Mage::helper('core')->currency($quote->getGrandTotal()) ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Updated'); ?></label></td>
                    <td class="value"><strong><?php echo Mage::helper('core')->formatDate($quote->getUpdatedAt()) ?></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box-left">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-billing-address"><?php echo Mage::helper('tradetested_survey')->__('Billing Address') ?></h4>
        </div>
        <fieldset>
            <address><?php echo $quote->getBillingAddress()->format('html'); ?></address>
        </fieldset>
    </div>
</div>

<div class="box-right">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-billing-address"><?php echo Mage::helper('tradetested_survey')->__('Shipping Address') ?></h4>
        </div>
        <fieldset>
            <address><?php echo $quote->getShippingAddress()->format('html'); ?></address>
        </fieldset>
    </div>
</div>

<div class="clear"></div>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-products"><?php echo Mage::helper('tradetested_survey')->__('Items in Cart') ?></h4>
    </div>
</div>
<div class="grid np">
    <table cellspacing="0" class="data order-tables">
        <colgroup><col>
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="1">
        </colgroup><thead>
        <tr class="headings">
            <th>Product</th>
            <th><span class="nobr">Original Price</span></th>
            <th>Price</th>
            <th class="a-center">Qty</th>
            <th>Subtotal</th>
            <th><span class="nobr">Discount Amount</span></th>
            <th class="last"><span class="nobr">Row Total</span></th>
        </tr>
        </thead>
        <tbody class="even">
            <?php foreach ($this->getQuote()->getAllVisibleItems() as $_item): /** @var $_item Mage_Sales_Model_Quote_Item */?>
                <tr>
                    <td><?php echo $_item->getProduct()->getName() ?></td>
                    <td><?php echo Mage::helper('core')->currency($_item->getProduct()->getPrice()) ?></td>
                    <td><?php echo Mage::helper('core')->currency($_item->getPrice()) ?>
                    <td><?php echo $_item->getQty() ?></td>
                    <td><?php echo Mage::helper('core')->currency($_item->getRowTotal()) ?></td>
                    <td><?php echo Mage::helper('core')->currency($_item->getDiscountAmount()) ?></td>
                    <td><?php echo Mage::helper('core')->currency(($_item->getDiscountAmount() > 0) ? $_item->getRowTotalWithDiscount() : $_item->getRowTotal()) ?></td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
</div>
<?php echo $this->getItemsHtml() ?>
