<?php $surveyResponse = $this->getSurveyResponse(); ?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account">Response # <?php echo $surveyResponse->getId() ?></h4>
    </div>
    <div class="fieldset">
        <table cellspacing="0" class="form-list">
            <tbody>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Price Too High?'); ?></label></td>
                    <td class="value"><strong><?php echo Mage::helper('tradetested_survey')->getYesNoMaybe($surveyResponse->getShippingPriceTooHigh()) ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Price Details'); ?></label></td>
                    <td class="value"><strong><?php echo $surveyResponse->getShippingPriceDetails() ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Options No Suitable?'); ?></label></td>
                    <td class="value"><strong><?php echo Mage::helper('tradetested_survey')->getYesNoMaybe($surveyResponse->getShippingOptionsNotSuitable()) ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Shipping Options Details'); ?></label></td>
                    <td class="value"><strong><?php echo $surveyResponse->getShippingOptionsDetails() ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Payment Options Not Suitable?'); ?></label></td>
                    <td class="value"><strong><?php echo Mage::helper('tradetested_survey')->getYesNoMaybe($surveyResponse->getPaymentOptionsNotSuitable()) ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Payment Options Details'); ?></label></td>
                    <td class="value"><strong><?php echo $surveyResponse->getPaymentOptionsDetails() ?></strong></td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('tradetested_survey')->__('Other'); ?></label></td>
                    <td class="value"><strong><?php echo $surveyResponse->getOther() ?></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
