.main.col2-left-layout
  margin-top: 50px
  padding: 0 20px
  position: relative
  div >img
    width: 100%
  p >img
    width: 100%
  .refund-left
    float: none !important
  .refund-cms-img
    width: 122px
    height: 122px !important
    float: none !important
    margin: 0 auto
  .right-section
    margin-bottom: 50px


  .guides-section, .cms-section

    border-bottom: $itemBorder
    font-size: 15px
    width: 100%
    @extend .clear
    line-height: 1.5
    padding-bottom: 11px
    padding-top: 10px

    a:not(.trade-button)
      text-decoration: none
      color: $fontColorViewAllReview
    p
      width: 100%
    h3, h2
      text-transform: none
      font-weight: $fontWeightBold
    h2
      font-size: 20px
    h3
      font-size: 15px

    &.which-chainsaw
      img
        margin: 17px 0 11px 0
    &.chainsaw-features
      ul
        width: 100%
        li
          padding-bottom: 30px
          &:last-of-type
            padding-bottom: 0
          span
            font-weight: $fontWeightBold

    .trade-button
      float: none
      display: table
      margin-top: 40px
      margin-bottom: 45px
    &:last-of-type
      border-bottom: none
      position: relative
      margin-bottom: 50px
      &:after
        @extend .beforeAfter
        bottom: 0
        left: 0
        width: 100%
        height: 1px
        border-bottom: $itemBorder

  .button-section
    width: 100%
    @extend .clear
    display: inline-block
    margin-bottom: 40px
    a
      width: 45%
      padding-right: 35px
      height: 70px
      line-height: 70px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

      &:first-of-type
        margin-right: 10%

  .not-selected .guides-section
    border-bottom: $itemBorder
    &:last-of-type
      &:after
        display: none

.col-main
  .std >div
    @extend .clear

body.cms-home
  .main-container
    margin-top: -16px
body:not(.cms-home)
  .main-container
    width: 100%
h1
  font-size: 35px

body.catalog-category-view
  .col-main
    padding: 0 20px

body:not(.cms-home)
  .header-wrapper .header-container
    width: 100%
  .main-container
    .main
      width: 100%
body:not(.cms-home) .main-container
  .main
    width: 100%
    position: relative
    .breadcrumbs
      width: 100%
      padding: 28px 0 0 20px
      box-sizing: border-box

  .col-main
    padding-top: 0
    h1
      padding: 0

@media screen and (max-width: 600px)
  .main.col2-left-layout .button-section a
    float: none
    width: 100%
    &:first-of-type
      margin-bottom: 20px


@media screen and (max-width: 377px)
  .main.col2-left-layout
    margin-top: 80px
  body:not(.cms-home) .main-container
    .main
      .breadcrumbs
        padding: 10px 0 0 20px