.content-wrapper
  max-width: 100%
  width: 100%
.col-main
  margin-top: 0

/////Start of 'banner for support' block////////////
.main-banner
  @extend .main-mobile-container
  background: $mainDarkColor
  margin-top: -1px

  img
    width: 100%


.banner-bottom
  box-sizing: border-box
  height: 80px
  font-size: 20px
  position: relative
  font-family: $mainFontFamily

  p
    width: 90%
    height: 40px
    margin: 0
    font-weight: 200
    padding: 10px 15px 10px 20px
    text-overflow: ellipsis
    overflow: hidden
    font-size: 20px


  a
    position: absolute
    bottom: -38px
    right: 20%
    text-decoration: none
    color: black
    background: $mainContrastColor
    width: 260px
    height: 58px
    font-weight: bold
    font-size: 1em
    text-transform: uppercase
    line-height: 58px
    text-align: center
    transition: .3s
    +transition(.3s)

    &:hover
      color: lighten(black, 25%)


/////end of 'banner for support' block////////////

//////Start of 'money back' block////////////////

.money-back
  @extend .block-height-mobile
  width: 100%
  margin: 8% auto 4% auto
  padding: 0 20px
  box-sizing: border-box

  p
    text-align: right
    font-size: 24px
    color: $fontColorDark
    width: 30%
    float: left
    margin: 0
    margin-right: 3%
    padding-top: 55px

    &:first-of-type
      margin-left: 2%


    &:nth-of-type(2)
      text-align: left
      margin-left: 3%
      margin-right: 2%
    &.mob
      display: none


  div
    width: 30%
    float: left
    img
      width: 100%
      height: auto


///////End of 'money back' block///////////////////

//////Start of block with banners for different parts of shop/////

.article-about
  @extend .block-height-mobile
  width: 100%
  box-sizing: border-box
  margin-bottom: 15px
  font-family: $mainFontFamily
  padding: 2%
  padding-left: 3%

  div
    width: 32.2%
    height: auto
    float: left
    margin-right: 1.5%
    overflow: hidden

    &:last-of-type
      margin-right: 0


    img
      width: 100%


    a
      display: block
      height: 82px
      width: 100%
      background: $mainDarkColor
      color: $fontColorLighter
      float: none
      margin-top: -4px
      cursor: pointer
      text-transform: uppercase
      text-decoration: none
      font-size: 16px
      padding: 5% 3% 0 3%
      box-sizing: border-box
      text-overflow: ellipsis
      overflow: hidden

      span
        width: auto
        overflow: visible
        text-overflow: ellipsis


      span:first-child
        display: block
        float: none
        word-wrap: normal


      span:nth-of-type(2)
        display: inline-block
        float: none
        color: $colorArticleAboutSpan
        text-transform: none
        font-weight: $fontWeightLight
        padding-top: 5px
        position: relative


        &:after
          @extend .beforeAfter
          @extend .icon
          content: glyph('android-arrow-forward')
          font-size: 18px
          text-align: center
          color: white
          top: 3px
          right: -18px
          width: 13px



//////End of block with banners for different parts of shop/////

///Start of 'brands-logos' block/////////////////////////////////////////

.brands-logo-wrap
  @extend .main-mobile-container
  background: $wrapBackLightGrey
  overflow: hidden

  .brands-logo
    width: 100%
    margin: 0 auto
    padding: 30px 0

    >div
      width: 95%
      margin: 0 auto
      text-align: center

      a
        margin: 1.5% 1.5%
        background: 0 0 no-repeat
        display: inline-block

        &:last-child
          margin-right: 0


        img
          display: block
          transition: opacity 0.2s

        &:hover img
          opacity: 0




///End of 'brands-logos' block/////////////////////////////////////////

///Start of 'popular product' block/////////////////////////////////////////

.products-catalog-wrap
  width: 100%
  background: $whiteBack
  font-family: $mainFontFamily

  .products-catalog
    @extend .main-mobile-container
    @extend .block-height-mobile
    padding: 5% 0
    box-sizing: border-box
    position: relative

    h2
      text-transform: uppercase
      color: $fontColorDark
      font-size: 30px
      margin: 0 0 4% 2%


    @extend .header-links

    .products-grid
      padding: 0


    .item
      border: $itemBorder
      width: 31%
      height: auto
      float: left
      margin-right: 10px
      background: $whiteBack
      overflow: hidden
      box-sizing: border-box

      &:nth-of-type(1)
        margin-left: 10px


      //&:nth-of-type(3)
      //  margin-right: 0


      >a
        display: block
        text-align: center
        width: 100%
        @extend .top-seller

        img
          max-width: 90%
          max-height: 200px

      .price-label
        display: none


      >div
        float: none
        width: 100%
        padding: 3%
        background-color: $productsCarouselAbout
        height: 150px
        box-sizing: border-box
        position: relative
        border-top: $itemBorder


        div.actions
          .add-to-links
            display: none


        .product-name
          height: 41px
          box-sizing: border-box
          overflow: hidden
          text-overflow: ellipsis
          margin-bottom: 0
          margin-top: 0
          display: block
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
          line-height: 1.1


          a
            float: none
            font-size: 20px
            font-weight: 200
            color: $fontColorPrice


        span
          display: block
          float: none


        .in-stock,
        .out-of-stock,
        .pre-order
          font-size: 12px
          font-weight: bold
          text-transform: uppercase


        .in-stock
          color: $fontColorInStock
          padding-top: 10px

        .out-of-stock, .pre-order
          color: $fontColorOutPre


        >div
          margin-top: 15px
          display: inline-block
          float: left

          &:last-of-type
            float: none
            position: absolute
            bottom: 8px
            right: 15px


          button
            width: auto
            height: 36px
            border: none
            background: $mainContrastColor
            text-transform: uppercase
            font-size: 2vw
            font-weight: bold
            padding: 0 7px 0 28px
            position: relative
            cursor: pointer

            span
              font-size: 22px


            &:after
              @extend .beforeAfter
              @extend .icon
              content: glyph('android-cart')
              font-size: 17px
              text-align: center
              color: black
              width: 13px
              top: 9px
              left: 7px
              width: 13px



          .price
            font-weight: bold
            color: $fontColorPrice

          .special-price
            .old-price
              text-decoration: line-through


          #product-price-2-widget-new-grid
            color: #FF0000
            margin-top: 0


        .new-price
          color: #FC0E1C


        .price-box
          position: absolute
          bottom: 20px
          &.special
            bottom: 14px
          p
            padding: 0
            margin: 0


    .top-seller
      position: relative

      &:after
        @extend .beforeAfter
        width: 90px
        height: 26px
        top: 0
        left: 0
        background-image: url("../images/top-seller.png")

  .main-trade-button
    display: block
    right: 0%
    top: 37%


///End of 'popular product' block/////////////////////////////////////////

///Start of 'customer reviews and social' block/////////////////////////////////////////
.customer-block
  @extend .main-mobile-container
  padding: 3% 2%
  background: $wrapBackLightGrey
  box-sizing: border-box
  overflow: auto

  .review-block
    float: left
    background: $whiteBack
    width: 60%
    //max-width: 355px
    position: relative
    border: $itemBorder
    font-family: $mainFontFamily
    padding-bottom: 30px
    font-weight: $fontWeightMedium
    border-width: 2px
    margin-left: 4%

    ul
      li
        float: left
        width: auto
        //max-width: 330px

    h1
      padding-left: 30px
      font-weight: bold
      color: $fontColorDark
      font-size: 22px


    .review
      @extend .itemBorderTop
      padding: 30px
      padding-right: 40px
      font-size: 15px
      color: $reviewFontColor

      .customer-name
        float: left
        font-weight: bold
        margin-right: 5px


      .review-product-title
        float: left
        color: $reviewFontColor

      .review-rate
        float: none
        width: 100%

      .review-title
        font-weight: bold
        float: none
        display: inline-block
        width: 100%

      .review-date
        float: none
        color: $colorReviewDate
        font-size: 13px


      .customer-review
        float: none
        width: 80%
        text-overflow: ellipsis


  .social-tradetested
    width: 35%
    height: 100%

  .view-all-review
    padding-left: 30px
    color: $fontColorViewAllReview
    text-decoration: none
    font-weight: $fontWeightLight


  .main-trade-button
    right: 0px
    top: 180px



///End of 'customer review and social' block/////////////////////////////////////////

@media screen and (min-width: 769px)
  .money-back div img
    width: 200px
    display: block
    margin: 0 auto
  .products-catalog-wrap .main-trade-button
    top: 45%

  .main-navigation ol > li > ul > li > a:first-child:before
    right: -10px

@media screen and (min-width: 900px)
  .money-back
    margin: 6% auto
    p
      padding-top: 80px


@media screen and (max-width: 768px)
  .products-catalog-wrap .products-catalog
    //h2
    //  font-size: 4vw

    .item > div > div
      .price, .special-price
        font-size: 2.7vw


      button span
        font-size: 2.7vw

  .article-about div
    a span:first-child
      font-size: 1.9vw

    a span:nth-of-type(2)
      font-size: 2vw



  .money-back p
    font-size: 3vw


  .review-block h1
    font-size: 4vw
    font-family: $mainFontFamily

  .review
    font-size: 2.2vw


  .banner-bottom
    box-sizing: border-box
    height: 80px
    font-size: 20px
    position: relative
    font-family: $mainFontFamily

    p
      max-width: 650px
      height: 40px
      margin: 0
      font-weight: 200
      padding: 10px 15px 10px 20px
      text-overflow: ellipsis
      overflow: hidden
      font-size: 2.5vw

@media screen and (max-width: 600px)
  .banner-bottom
    height: 65px

    p
      padding-top: 6px


    a
      bottom: -38px
      right: 7%
      width: auto
      height: 35px
      line-height: 35px
      font-size: 3vw
      padding: 2%



  .article-about div a
    height: 62px


  .products-catalog-wrap .products-catalog
    .item > div
      height: 120px
      > div:last-of-type
        bottom: 0
        right: 10px
      .in-stock
        padding-top: 5px

      .product-name
        padding-right: 30px
        line-height: 1.17
        a
          font-size: 14px


    .main-trade-button
      background-position: 115% 50%
      width: 40px
      height: 46px
      top: 36%

  .money-back p
    padding-top: 31px

  .products-catalog-wrap .products-catalog .item > a img
    max-height: 175px

@media screen and (max-width: 480px)
  .banner-bottom
    height: 55px

    p
      padding-top: 6px


    a
      bottom: -28px
      height: 25px
      line-height: 25px


  .main-trade-button
    width: 40px
    height: 47px
    top: 36%


  .article-about div a
    font-size: 2.5vw

    >span:nth-of-type(2)
      font-size: 2.3vw

      &:after
        right: -15px

  .products-catalog-wrap .products-catalog .item > a img
    max-height: 145px

  .products-catalog-wrap .products-catalog

   .item > div
     height: 107px
     .product-name
       height: 33px
       a
         display: block

     >div:last-of-type
       right: 3%

       button
         height: 29px
         padding: 0 7px 0 23px

         &:after
           top: 6px

  .brands-logo-wrap .brands-logo > div
    width: 90%


@media screen and (max-width: 377px)
  .main-container
    margin-top: 40px
  .content-wrapper
    margin-top: 31px

    .banner-bottom
      height: 82px
      position: relative
      text-align: center

      p
        font-size: 13px
        height: auto
        font-weight: $fontWeightLight
        padding-top: 11px
        text-align: left
        height: 100%
        box-sizing: border-box


      a
        width: 200px
        position: absolute
        bottom: -20px
        float: none
        display: inline-block
        font-size: 13px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto

  .money-back
    margin-top: 50px
    div
      float: none
      margin: 0 auto
      width: 50%


    p
      display: none
      &.mob
        display: block
      float: none
      width: 100%
      padding-top: 20px
      font-size: $linkFontSize


      &:last-of-type
        text-align: center
        margin-left: 0


  .article-about
    div
      float: none
      width: 100%

      a
        height: 80px

        span
          width: auto
          overflow: visible
          &:first-child
            font-size: 17px


          &:last-child
            font-size: 14px


        >span:nth-of-type(2)
            &:after
              right: -19px



  .brands-logo-wrap  .brands-logo
    >div
      text-align: center
      width: 100%
      //&:first-of-type,
      //&:nth-of-type(2)
      //  img
      //    &:last-of-type
      //      display: none
      //&:last-of-type
      //  img
      //    &:nth-of-type(2),
      //    &:nth-of-type(3)
      //      display: none



  .products-catalog-wrap .products-catalog
    .item
      width: 46%
      margin-bottom: 2%
      margin-right: 6px

      &:nth-of-type(odd)
        margin-left: 10px


      >div
        .price-box
          bottom: 10px
        .product-name
          padding-right: 0
          a
            font-size: 14px

        >div .price, >div .special-price
          font-size: 14px

      
      &:nth-of-type(4)
        display: block


      div > div:last-of-type
        right: 4%


    .main-trade-button
      display: none


  .customer-block .review-block
    width: 99%
    float: none
    margin-left: 0

    h1
      font-size: 22px


    .review
      font-size: 15px

      .customer-review
        width: 96%


  .products-catalog-wrap .products-catalog .item > a img
    max-height: 140px
    min-height: 120px





