//Footer_Block_Category_Links
@media screen and (max-width: 470px)
  .one_block
    width: 120px


@media screen and (min-width: 731px)
  .one_block
    padding-left: 10px

@media screen and (max-width: 730px)
  .one_block
    padding-left: 20px

@media screen and (max-width: 730px) and (min-width: 470px)
  .one_block
    width: 200px

.one_block
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  ul
    padding: 0
    -webkit-padding-start: 0

  a
    color: $fontColorLighter
    font-size: $fontSmaller

  li
    list-style-type: none
    display: block
    margin-bottom: 9px


//

//Footer_Block_Page_Links
@media screen and (max-width: 730px) and (min-width: 470px)
  .two_block
    width: 200px


@media screen and (max-width: 470px)
  .two_block
    width: 150px
    padding-right: 8px

@media screen and (max-width: 470px) and (min-width: 350px)
  .two_block
    width: 150px
    padding-right: 20px

.two_block
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  ul
    padding: 0
    -webkit-padding-start: 0

  li
    list-style-type: none
    display: block
    margin-bottom: 9px

  a
    color: $fontColorDarker
    font-size: $fontSmaller

  .facebook a
    color: $fontColorLighter


//

//Footer_Block_Contacts
@media screen and (max-width: 730px)
  .three_block>ul>.padding1
    border-top: 0.5px solid $fontColorGrey
    padding-top: 20px

  .three_block
    width: 100%
    .padding1
      margin-left: 10px
      margin-right: 10px
      padding-left: 15px
      width: auto

    ul
      -webkit-margin-before: 0
      -webkit-margin-after: 0

    .oneNext
      .boldSize1
        margin-top: 30px

  .three_block>ul>.block-subscribe
    border-top: 0.5px solid $fontColorGrey
    padding-top: 15px
    padding-bottom: 15px


  .contactCenter
    background-color: $backgroundDarkColor
    margin-right: 5px
    .boldSize3
      font-size: $fontSmaller
      color: #ffffff

    li:nth-child(6), li:nth-child(7)
      margin-bottom: 0

    .boldSize2
      font-size: $fontSmaller
      color: $fontColorDarker
      line-height: 1.5

    .contact
      padding-left: 20px
      padding-top: 20px

    li:nth-child(3)
      padding-left: 20px

    li:nth-child(8)
      margin-bottom: 0

    li:nth-child(4), li:nth-child(2)
      margin-right: 0

    :nth-child(n+5)
      padding-left: 20px

    li:nth-child(2)
      margin-bottom: 20px

    li:nth-child(4)
      margin-bottom: 20px


.three_block
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  li
    margin-bottom: 2px
    list-style-type: none
    display: block

  span
    text-decoration: none

  .padding1
    margin-left: 5px
    margin-right: 5px
    width: auto

  .boldSize
    font-size: $fontSizeLarger
    color: #ffffff
    font-weight: $fontWeightBold

  .yellowBold
    color: $mainContrastColor

  .boldSize1
    font-size: $fontSizeSmaller
    color: #ffffff
    font-weight: $fontWeightBold

  .greenBold
    font-size: $fontSmaller
    color: $fontColorInStock
    font-weight: bold


@media screen and (min-width: 731px)
  .three_block .padding1
    margin-left: 0
    margin-right: 0


@media screen  and (min-width: 731px)
  .three_block
    padding-right: 10px
    .block-subscribe
      display: none

    .oneNext
      display: none

//

//Footer_Block_Payment_Info
.oneNext li
  color: $fontColorDarker
  list-style-type: none
  margin-bottom: 5px
  font-size: $fontSmaller

.oneNext .boldSize1
  font-size: $fontSizeSmaller
  color: $fontColorLighter

@media screen and (min-width: 731px)
  .oneNext
    padding-left: 10px


@media screen and (max-width: 730px)
  .blocksNext .oneNext
    display: none

  .oneNext li:not(.boldSize1):not(.img1)
    display: inline

  .oneNext
    width: 240px
    padding-left: 20px
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif
    ul
      -webkit-margin-before: 0
      -webkit-margin-after: 0

      .boldSize1
        font-size: $fontSizeSmaller
        color: $fontColorLighter
        font-weight: $fontWeightBold


      li
        list-style-type: none
        display: block
        margin-bottom: 5px


  .img1 img
    zoom: 0.7

  .oneNext ul>.img1
    margin-top: 20px
    margin-bottom: 45px

@media screen and (min-width: 731px)
  .img1
    margin-top: 10px
    img
      zoom: 0.7

//

//Footer_Block_Shipping_Info
@media screen and (max-width: 730px)
  .twoNext
    padding-left: 15px
    width: 230px
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif

    .boldSize1
      font-size: $fontSizeSmaller
      color: $fontColorLighter
      font-weight: $fontWeightBold

    li
      list-style-type: none
      margin-bottom: 5px
      color: $fontColorDarker
      font-size: $fontSmaller

    .shipping
      line-height: 20px


//

//Footer_Block_Refunds_Info
@media screen and (max-width: 730px)
  .threeNext
    padding-left: 15px
    width: 210px


  .threeNext
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  .boldSize1
    font-size: $fontSizeSmaller
    color: $fontColorLighter
    font-weight: $fontWeightBold

    li
      list-style-type: none
      margin-bottom: 5px
      color: $fontColorDarker
      font-size: $fontSmaller


//

.footer-container
  width: 100%
  margin: auto
  font-family: $mainFontFamily

.mainBlocks
  width: auto
  margin: auto
  font-family: $mainFontFamily
  background-color: $mainDarkColor

.yellowBold
  color: $mainContrastColor

.blocksNextMain
  @extend .footer-container
  background-color: $backgroundDarkColor

.footer
  @extend .footer-container

.blocks
  background-color: $mainDarkColor
  @extend .staticBlock
  padding-bottom: 20px

@media screen and (min-width: 731px)
  .blocks
    flex-wrap: wrap
    width: 100%

  .blocksNext
    flex-wrap: nowrap
    width: auto

  .blocksNext ul
    width: 218px

  .blocksNext li:not(.boldSize1, .img1 )
    display: inline

  .input-box
    margin-right: 2px

  .block-subscribe
    border-top: 0.5px solid $fontColorGrey
    padding-left: 10px
    padding-top: 5px

  .form-subscribe-header
    width: 322px

  #newsletter
    width: 215px

  .shipping, .boldSize2
    display: inline

  .block-content
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding-right: 10px

  .actions button
    margin-bottom: 10px

  .input-box
    margin-bottom: 0

  .boldSize1:not(.contact .boldSize1), .img1
    display: block

  .blocksLast1
    width: auto

  .common
    flex-direction: row

  .block-subscribe
   width: 100%


@media screen and (max-width: 730px)
  .blocks
    flex-wrap: wrap
    width: auto

  #newsletter
    width: 250px

  .mainBlocks .blocks
    padding-bottom: 0

  .blocksNext
    flex-direction: column
    width: 100%

  .input-box
    margin-top: 20px

  .actions
    margin-bottom: 10px

  .block-subscribe
    margin-right: 5px
    margin-left: 5px
    padding-left: 15px

  .mainBlocks>.blocks
    padding-top: 0

  .padding1
    margin-left: 10px
    margin-right: 10px
    padding-left: 15px
    width: auto

  .padding1:not(.contactCenter>.padding1)
    border-top: 0.5px solid $fontColorGrey

  .blocksNextMain
    width: auto

  .padding1:not(.contactCenter>.padding1)
    padding-top: 20px

  .blocksNextMain
    padding-left: 5px

  .blocks>.block-subscribe
    display: none

  .blocksLast
    display: none


@media screen and (max-width: 350px)
  .oneNext img
    margin-right: 4px

  .padding1
    margin-left: 5px
    margin-right: 5px
    width: auto

.padding1:not(.contactCenter>.padding1)
  border-top: 0.5px solid $fontColorGrey

.boldSize
  font-size: 22px
  color: $fontColorLighter
  font-weight: $fontWeightBold

.blocksNext
  background-color: $backgroundDarkColor
  @extend .staticBlock
  border-bottom: solid $mainDarkColor 0.5px

@media screen and (max-width: 1300px)
  .blocksNext li
    display: block


.input-box
  margin-bottom: 10px

.blocksNext
  li
    color: $fontColorDarker
    list-style-type: none
    margin-bottom: 5px
    font-size: $fontSmaller

  ul
    padding: 0

  .pictures1
    margin-bottom: 20px

  .oneNext img
    display: inline-block
    margin-right: 2px


.block-title
  margin-bottom: 5px

.form-subscribe-header
  margin-bottom: 10px

@media screen and (max-width: 1300px)

  #newsletter
    height: 13px
    background-color: $backgroundDark1Color
    border: 0.5px solid $fontColorGrey

  .blocks li
    list-style-type: none
    display: block
    margin-bottom: 5px

  li a
    text-decoration: none

  .blocks ul
    padding: 0
    -webkit-padding-start: 0

  .blocksLast
    width: 100%
    background-color: $backgroundDarkColor

  .blocksLast1
    width: 100%
    padding-top: 35px
    padding-bottom: 35px
    background-color: $backgroundDarkColor
    margin: auto

  .blocksLast1 p
    color: $fontColorGrey
    text-align: center
    margin: auto
    font-size: 13px

  .boldSize1
    font-size: 18px
    color: $fontColorLighter
    font-weight: $fontWeightBold

  .boldSize2
    font-size: $fontSmaller
    color: $fontColorDarker
    line-height: 1.5

  .boldSize3
    font-size: $fontSmaller
    color: $fontColorLighter

  .padding1:not(.contactCenter>.padding1)
    padding-bottom: 15px

  .input-box
    color: $fontColorLighter

  .input-box input
    padding-top: 15px
    padding-bottom: 15px
    padding-left: 15px
    color: $fontColorLighter

  .actions button
    width: 145px
    height: 44px
    background-color: $mainContrastColor
    border: none

  .actions button span
    font-size: $fontLarger
    color: $mainDarkColor
    font-weight: $fontWeightBold


