.header-wrapper
  width: 100%
  height: 68px
  background: $mainDarkColor
  font-family: $mainFontFamily
  position: relative
  margin-bottom: -1px
  .header-container
    @extend .main-mobile-container
    .show-mobile-menu
      float: left
      display: block
      cursor: pointer
      height: 69px
      padding: 24px 20px 0 20px
      margin: 0 10px
      box-sizing: border-box
      >div
        float: none
        height: 2px
        width: 30px
        background: $whiteBack
        margin-bottom: 7px

      &.active-menu
        background: $viewAllNavigationBack
        position: relative
        padding: 24px 40px 0 30px
        >div
          display: none

        &:after
          @extend .beforeAfter
          @extend .icon
          content: glyph('close-round')
          font-size: 40px
          text-align: center
          color: black
          top: 20px
          left: 19px
          width: 34px
          padding-right: 20px

    .company-block
      position: absolute
      left: 37%
      >div
        height: 68px
        display: table

      a
        display: table-cell
        vertical-align: middle
        height: 41px
        width: 217px

        img
          max-width: 100%
          height: 100%

    .header-links
      display: inline-block
      height: 68px
      float: right
      position: static
      padding-right: 10px

      >ul
        padding: 0
        padding-right: 12px
        float: right
        display: inline-flex
        margin-bottom: 0
        height: 100%

        >li
          padding: 12px 5px 0 5px
          +transition(background 0.3s)
          &:last-of-type
            margin-right: 0
          &:first-of-type
            margin-right: 10px

          .header-minicart
            a
              >span
                display: none

        li.openedSearch
          background: $mainContrastColor
          height: 55px
          a
            &:after
              font-size: 24px
              width: 24px

    #header-cart
      top: 0
      width: 300px
      right: 0

    .header-links>ul>li>a,
    .header-links>ul>li>div>a,
    .first-mobile-link
      position: relative
      width: 6vw
      display: block
      cursor: pointer
      text-decoration: none
      &:after
        @extend .beforeAfter
        @extend .icon
        content: glyph('home')
        font-size: 40px
        text-align: center
        color: white
        min-width: 100%


    //.header-links>ul>li a#show-search-sm
    //  &:after
    //    content: glyph('search')



    .header-links>ul>li
      &:nth-of-type(1)
        &.openedSearch
          .header-search-block
            a
              &:after
                content: glyph('close-round')

        .header-search-block
          >a:after
            content: glyph('search')


      &:nth-of-type(2)
        a.sign-reg-window
          span
            display: none
          &:after
            content: glyph('person')

      &:nth-of-type(4)
        position: relative
        padding-left: 13px
        >div>a
          &:before
            top: 1px
            left: 30%
            color: white
            content: glyph('android-cart')
            font-size: 40px
          &:after
            display: none

    .first-mobile-link
      float: left
      margin-top: 12px
      margin-right: 10%

.cd-user-modal.open-modal
    width: 90%
    top: 100px
    margin: 0 auto

#header-reg-link
  display: none

@media screen and (max-width: 768px)
  .header-wrapper .header-container .company-block
    left: 34%
    a
      height: 5.5vw
      width: 27vw


@media screen and (min-width: 378px)
  .search-block.openedSearch
    max-height: 85px

  .search-block
    box-sizing: border-box
    width: 100%
    position: absolute
    top: 68px
    left: 0
    max-height: 0
    overflow: hidden
    background: $mainContrastColor
    z-index: 12
    +transition(max-height .3s ease-in-out)

    label
      width: 23%
      float: left
      line-height: 84px
      text-align: right
      font-size: 3vw

    input
      border: none
      width: 70%
      height: 50px
      line-height: 40px
      padding: 10px
      position: relative
      box-sizing: border-box
      margin: 18px 20px 0 1%
      float: right
      font-size: 2.5vw
      font-weight: $fontWeightLight


    button
      border: none
      position: absolute
      right: 20px
      top: 18px
      height: 50px
      width: 50px
      background: $mainDarkColor
      cursor: pointer
      color: white
      font-size: 14px

      span
        display: block
        position: relative
        width: 100%
        height: 100%

        &:after
          display: block
          position: absolute
          +icons
          content: glyph('search')
          font-size: 25px
          width: 19px
          top: 11px
          right: 7px



@media screen and (max-width: 600px)
  .header-wrapper .header-container
    #header-cart
      width: 100%
      box-sizing: border-box

    .company-block a
      height: 6vw
      width: 29vw




@media screen and (max-width: 550px)
  .header-wrapper .header-container .header-links > ul > li
    &:last-of-type
      a
        padding-top: 1px
  .header-wrapper .header-container .first-mobile-link:after,
  .header-wrapper .header-container .header-links > ul > li > div > a:after,
  .header-wrapper .header-container .header-links > ul > li:nth-of-type(4) > div > a:before
    font-size: 25px
    top: 10px
  .header-wrapper .header-container .show-mobile-menu.active-menu:after
    font-size: 25px

@media screen and (max-width: 520px)
  .header-wrapper .header-container .header-links > ul > li
    &:last-of-type
      a
        padding-top: 2px
  .header-wrapper .header-container .show-mobile-menu
    margin-right: 0


@media screen and (max-width: 480px)
  .header-wrapper .header-container
    .company-block a
      height: 7vw
      width: 30vw

    .first-mobile-link
      margin-right: 5%
  #header-cart-link
    padding-left: 0



@media screen and (max-width: 377px)
  .cd-user-modal.open-modal
    top: 0
    width: 100%
    height: 100%
  .header-wrapper .header-container .header-links > ul > li > div > a:after,
  .header-wrapper .header-container .header-links > ul > li:nth-of-type(4) > div > a:before
    top: 0


  .cd-user-modal
    .cd-user-modal-container
      .cd-switcher
        height: 55px
        >li
          height: 55px
          >a
            line-height: 55px

    .modal-content
      margin: 20px 30px
      .registration,
      .login
        .input-box
          margin: 0 0 8px 0
        .buttons-set,
        .submit-button
          margin: 20px 0 10px 0
  .header-wrapper
    height: 45px

  .header-wrapper .header-container
    .header-links
      height: 45px

      >ul >li
        >a
          height: 27px

        &:nth-of-type(4)
          margin-right: 10px
          a
            padding-top: 0
            &:after
              font-size: 27px

      >ul >li
        padding: 11px 4px 0 4px

    #show-search-sm
      display: none
    .header-search-block
      position: absolute
      width: 100%
      top: 44px
    .search-block
      box-sizing: border-box
      width: 100%
      display: inline-block
      label
        display: none


      input
        border: none
        width: 100%
        height: 40px
        line-height: 40px
        padding: 3%
        position: relative
        box-sizing: border-box
        +box-shadow(inset, 0px, 0px, 0px, 4px, $mainDarkColor)


      button
        border: none
        position: absolute
        right: 4px
        top: 4px
        height: 32px
        width: 35px
        background: none
        cursor: pointer
        span
          position: relative
          &:after
            position: absolute
            display: block
            +icons
            content: glyph('search')
            font-size: 20px
            right: 0
            left: 0
          
        span
          display: block
          position: relative
          width: 100%
          height: 100%

          &:after
            display: block
            position: absolute
            +icons
            content: glyph('search')
            font-size: 25px
            width: 19px
            top: 0
            right: 0



    .first-mobile-link
      margin-right: 7%
      height: 45px
      box-sizing: border-box
      padding-top: 10px
      margin-top: 0


    .show-mobile-menu
      height: 45px
      padding: 17px 10px 0 10px
      >div
        width: 20px
        margin-bottom: 5px


      &.active-menu
        padding: 24px 19px 0 21px

        &:after
          font-size: 20px
          top: 13px
          left: 4px

    .header-links
      display: block
      margin-top: 0
      float: none
      z-index: 10

      >ul>li
        margin-left: 3%
        &:first-child
          width: 100%
          height: 0
          position: absolute
          left: 0
          padding: 0
          margin: 0

    .company-block
      margin-top: 0

      .logo-block
        display: table
        height: 45px

      a
        display: table-cell
        vertical-align: middle
        height: 7.5vw
        width: 34vw


    #header-cart
      top: 0
      width: 100%
      right: 0

      .minicart-wrapper .block-subtitle
        font-size: 20px



