.main-navigation
  @extend .list-style
  position: absolute
  top: 68px
  left: 0
  float: none
  height: auto
  width: 100%
  background: $viewAllNavigationBack
  display: none
  z-index: 10


  ol
    margin: 0
    padding-left: 0
    text-align: left
    >li
      float: none
      height: auto
      min-height: 50px
      display: block
      overflow: hidden
      border-bottom: $navRightBorder
      background: $whiteBack
      &.home
        display: none

      &.menu-active
        >ul
          max-height: 2000px
          padding-top: 15px
          padding-bottom: 15px
        >a
          &:after
            +transform-rotate(180deg)
      >a
        padding-left: 2%
        height: 100%
        display: block
        color: $menuMobileColor
        line-height: 50px
        font-weight: $fontWeightMobileMenu
        position: relative
        background-color: $viewAllNavigationBack

        &:after
          @extend .beforeAfter
          content: '\2303'
          right: 30px
          top: 0
          color: #d1d1d1
          font-weight: bold
          font-size: 20px
          +transform-rotate(90deg)
          +transition(0.3s)


      >ul
        display: block
        box-sizing: border-box
        max-height: 0
        width: 100%
        position: relative
        overflow: hidden
        -webkit-column-count: 3
        -moz-column-count: 3
        column-count: 3
        column-rule: $navRightBorder
        +transition(0.4s ease-out)
        padding-left: 15px


        >li
          float: none
          position: relative
          margin: 0
          box-sizing: border-box
          padding: 15px 10px 15px 2%
          min-height: 100%
          height: auto !important
          position: relative
          break-inside: avoid


          ul.level2
            display: none

          a
            color: $fontColorSubNav
            font-size: 1.8vw
            font-weight: $fontWeightMedium


          >a:first-child
            text-transform: uppercase
            color: $fontColorSubNavHead
            font-size: 1.6vw
            font-weight: bold
            position: relative
            white-space: nowrap
            padding: 0 17px 0 0

            &:before
              @extend .beforeAfter
              @extend .icon
              content: glyph(chevron-right)
              right: 0
              top: 0
              color: #d1d1d1
              font-weight: bold
              font-size: inherit

          >ul
            display: block
            margin-top: 5%

            li
              float: none
              height: auto
              margin-bottom: 5%


        .view-all
          display: none


  .main-trade-button
    display: none



@media screen and (max-width: 768px) and (min-width: 378px)
  .main-navigation
    ol
      >li
        >a
          font-size: 16px


      >li>ul>li

        a
          font-size: 16px

          &:first-child
            font-size: 11px




@media screen and (max-width: 600px) and (min-width: 378px)
  .main-navigation
    ol
      >li>ul>li
        a
          font-size: 14px

          &:first-child
            font-size: 12px
            display: block
            text-overflow: ellipsis
            width: 70%
            overflow: hidden

      > li > ul > li > a:first-child:after
        right: 0

    > ul > li > ul >li > a:first-child
      font-size: 1.65vw


@media screen and (max-width: 500px) and (min-width: 378px)
  .main-navigation
    ol
      > li > ul > li
        a
          font-size: 9px

          &:first-child
            font-size: 9px


@media screen and (max-width: 377px)
  .main-navigation
    top: 84px
    ol
      >li
        background: $whiteBack
        >a
          background: $viewAllNavigationBack
          padding-left: 15px

        >ul
          width: 100%
          position: relative
          -webkit-column-count: 2
          -moz-column-count: 2
          column-count: 2
          column-rule: none


          >li
            border: none


            &:last-of-type
              padding-right: 0


            a
              font-size: 3.4vw
              font-weight: $fontWeightMedium


            > a:first-child
              font-size: 3.5vw
              display: block
              text-overflow: ellipsis
              width: 80%
              overflow: hidden

              &:after
                display: none



            > ul
              display: block
              margin-top: 5%

              li
                float: none
                height: auto
                margin-bottom: 5%




      //li.nav-1
      //  > ul
      //    > li
      //      &:nth-of-type(4)
      //        float: right




      //li.nav-2
      //  > ul
      //    > li
      //      &:nth-of-type(4)
      //        float: none
      //        position: absolute
      //        top: 63%
      //        right: 0
      //
      //      &:nth-of-type(5)
      //        position: static
      //        float: right

