.product-view
  padding: 0 20px
  h2
    font-size: 22px
    color: $fontColorDark
    font-weight: $fontWeightMobileMenu
    font-family: $mainFontFamily
  >div
    border-bottom: $itemBorder
    width: 100%
  .product-essential
    @extend .clear
    margin-top: 50px
    padding-bottom: 45px

    .product-img-box
      width: 45%
      float: left
      .product-image
        img
          width: 100%
          height: auto
      .more-views
        display: block
        padding: 0 18px
        position: relative
        width: auto
        margin: 0 auto
        text-align: center
        .overview-wrap
          position: relative
          display: inline-block
          padding: 0 20px
        .overview
          width: 245px
          min-width: 80px
          height: 78px
          position: relative
          overflow: hidden
          display: inline-block
        ul
          position: absolute
          top: 0
          left: 0
          width: auto
          height: 76px
          float: left
          +transition(.5s all ease-in)

          li
            white-space: nowrap
            box-sizing: border-box
            a
              padding: 10px 0
              display: block
              border: $navRightBorder
              border-radius: 5px
              margin: 0 5px
              img
                width: 70px
                height: 50px

        div.img-button
          position: absolute
          top: -12px
          &:last-of-type
            right: 15px

          a
            @extend .trade-link
            position: relative
            display: inline-block
            //float: left

            &:after
              @extend .beforeAfter
              @extend .icon
              content: glyph(chevron-right)
              color: $mainContrastColor
              font-size: 20px
              font-weight: bold
              top: 27px
        div.img-button.first
          left: -4px
          a
            &:after
              +transform-rotate(180deg)





    .product-shop
      float: left
      width: 55%
      box-sizing: border-box
      padding-left: 30px
      >div
        @extend .clear
      h1
        margin-bottom: 0
      .no-rating
        a
          @extend .trade-link
      .ratings
        float: left
        >span
          font-size: 15px
          float: left
          line-height: 23px
          margin-left: 10px

        .review-rate
          width: 105px
          float: left
      .in-stock, .out-of-stock
        float: left
        line-height: 25px
        display: block
        margin-right: 20px
      .no-rating
        clear: both

      .short-description
        font-size: 15px
        text-align: justify
        a
          @extend .trade-link
          display: block
          margin-top: 5px
      #product_shipping_estimator
        margin-top: 30px
        >div
          border-top: $itemBorder
          border-width: 1px
          strong
            float: left
          >span
            float: none
            display: block
            >label
              display: inline-block
              float: none
              padding: 15px 0
              width: 100%
              border-bottom: $itemBorder
              border-width: 1px
              padding-left: 40px
              position: relative
              font-size: 14px
              box-sizing: border-box
          p.notes
            font-size: 12px
            margin-top: 10px
            color: $notesColor
            a
              @extend .trade-link
        .no-delivery
          display: inline-block
          padding-top: 20px
        .radio-label
          input
            display: none
            &:checked
              &+.input-icon .icon
                border-color: $reviewRecomended
                &:after
                  @extend .beforeAfter
                  content: ''
                  border: 8px solid $reviewRecomended
                  border-radius: 50%
                  top: 3px
                  left: 3px
          .input-icon
            position: absolute
            left: 0
          .icon
            width: 22px
            height: 22px
            border: 2px solid $radioInput
            border-radius: 50%
            position: relative
            margin-right: 10px
            &:after
              @extend .beforeAfter
          >span
            line-height: 25px
            display: inline-block
            margin-right: 5px
            vertical-align: top
          .shipping_price
            vertical-align: baseline
            color: $reviewRecomended
            float: left
          .title-deliver
            float: left
          .title-deliver, .shipping_price
            font-weight: $fontWeightBold
            font-size: 15px
          .note
            float: left
            clear: left
        .location_changer
          position: relative
          float: left
          >span
            position: absolute
            top: 0
            right: 0
            color: $fontColorViewAllReview
          select
            background: transparent
            width: 120px
            font-size: 16px
            line-height: 1
            border: 0
            border-radius: 0
            -webkit-appearance: none
            color: transparent
            position: relative
            &:active, &:focus
              outline: none
      .price-info
        clear: both
      .price-box
        @extend .clear
        p
          float: left
          &:first-of-type
            margin-right: 10px
          span
            font-size: 26px
            font-weight: $fontWeightMobileMenu
      .price-guarantee
        margin-bottom: 30px
        span, a
          font-size: 13px
        a
          @extend .trade-link
        span
          &:first-of-type
            font-size: 11px
            text-transform: uppercase
            color: white
            padding: 5px 10px
            font-weight: $fontWeightBold
            background: $backgroundGuarantee
            display: inline-block
            position: relative
            margin-right: 15px
            &:after
              @extend .beforeAfter
              width: 0
              height: 0
              border-top: 11px solid transparent
              border-bottom: 11px solid transparent
              border-left: 8px solid $backgroundGuarantee
              top: 0
              right: -8px
      .add-to-box
        margin-top: 40px
        button, a
          font-size: 14px
          text-transform: uppercase
          font-weight: $fontWeightBold
        .btn-cart
          height: 50px
          width: 173px
          padding: 0 0 0 20px
          margin-right: 11px
          &:after
            top: 17px
            left: 25px
        .link-wishlist
          padding-left: 25px
          text-decoration: none
          position: relative
          color: black

          &:after
            @extend .beforeAfter
            @extend .icon
            content: glyph(ios-heart)
            font-size: 20px
            top: -2px
            left: 0
  .product-collateral
    display: inline-block
    padding: 20px 0 50px 0
    .product-page-right
      width: 100%
      div.std
        width: 100%
        font-size: 15px
        line-height: 1.5
        text-align: left
        white-space: pre-line
        text-overflow: ellipsis
        overflow: hidden
        >iframe
          width: 100%
          margin-top: 40px
    .product-page-left
      width: 100%
      margin-top: 20px
      .can-we-help
        width: 56%
        float: left
        h2
          background: $mainDarkColor
          height: 78px
          font-size: 26px
          line-height: 78px
          color: white
          font-weight: $fontWeightNormal
          padding-left: 25px
          margin-bottom: 0
        >p
          background: $productsCarouselAbout
          line-height: 1.5
          padding: 20px
          margin: 0
          font-size: 20px
          border-right: $itemBorder
          border-left: $itemBorder
        >div
          height: 70px
          border: $itemBorder
          padding: 0 20px
          box-sizing: border-box
          >span
            line-height: 70px
            display: block
            float: left
            position: relative
            padding-left: 25px
            &:after
              @extend .beforeAfter
              @extend .icon
              font-size: 25px
              left: -6px
              top: 21px
            &:first-of-type
              font-weight: $fontWeightBold
              &:after
                content: glyph(ios-telephone)
            &:last-of-type
              margin-left: 20px
              &:after
                content: glyph(ios-email)
            >a
              @extend .trade-link
      .guarantee-img
        @extend .clear
        float: left
        padding-top: 30px
        width: 44%
        text-align: center
        display: inline-block
        img
          float: left
          display: block
          &.superfly
            float: none
            margin: 0 auto 40px auto
          &:last-of-type
            margin-top: 30px
        >div
          display: inline-block
.product-page-reviews
  padding-bottom: 50px
  .product-reviews-section
    .product-review
      .product-review-left
        width: 150px
      .product-review-right
        width: 500px
        padding-right: 0
        p
          width: 480px
.related-categories
  padding-bottom: 30px

@media screen and (max-width: 765px)
  .product-view .product-essential
    .product-img-box
      width: 43%
      margin-right: 3%
    .product-shop
      width: 54%
      .price-guarantee span:first-of-type
        margin-right: 7px
        padding: 5px
      .add-to-box .link-wishlist
        display: block
        float: none
        margin: 15px 0 0 16px
  .product-page-reviews
    padding-bottom: 50px
    .product-reviews-section
      .product-review
        .product-review-left
          width: 30%
        .product-review-right
          width: 70%
          padding-right: 0
          p
            width: 100%

@media screen and (max-width: 721px)
  .product-view .product-collateral
    .product-page-left
      .can-we-help
        width: 100%
      .guarantee-img
        float: none
        width: 100%
        img
          display: inline-block
          float: left
          &:last-of-type
            margin-top: 0

@media screen and (max-width: 679px)
  .product-view .product-essential
    .product-img-box
      width: 100%
      margin-right: 0
      .more-views
        padding: 0
    .product-shop
      padding-left: 0
      width: 100%
      text-align: center
      .price-box
        display: inline-block
      .add-to-box .link-wishlist
        display: inline
      .ratings
        float: none
        margin: 0 auto
        display: table
      .in-stock, .out-of-stock
        float: none
  .product-page-reviews .product-reviews-section .review-heading-right
    float: none
    margin-top: 15px
  body:not(cms-home) .col-main .related-bread ul
    li
      margin-bottom: 15px
      > span
        line-height: 1
        &:after
          top: 0

@media screen and (max-width: 550px)
  .product-page-reviews
    padding-bottom: 50px
    .product-reviews-section
      .product-review
        .product-review-left
          width: 100%
          float: none
          margin-bottom: 10px
        .product-review-right
          width: 100%
          padding-right: 0
  .product-view .product-essential .product-img-box .more-views
    img button.first
      left: - 2px
    .overview-wrap
      padding: 0 13px

@media screen and (max-width: 420px)
  .product-view .product-essential
    .product-shop
      .add-to-box
        margin-top: 15px
        .link-wishlist
          display: block
          width: 135px
          margin: 15px auto 0 auto
      .price-guarantee span:first-of-type
        display: block
@media screen and (max-width: 377px)
  body:not(.cms-home) .main-container.col2-right-layout
    .main
      padding-top: 50px
      .breadcrumbs
        top: 50px
@media screen and (max-width: 339px)
  .product-view .product-collateral
    .product-page-left
      .guarantee-img
        .superfly
          margin-bottom: 5px
        div
          img
            float: none
            &:last-of-type
              margin-left: 13px



    