
.product-carousel
  overflow: hidden
  padding: 0 0 10px
  margin: 0 auto

.product-carousel .viewport
  //height: 368px
  width: 100%
  overflow: hidden
  position: relative

.product-carousel .disable
  visibility: hidden

.product-carousel .overview
  position: inherit
  padding: 0
  margin: 0
  left: 0
  top: 0
  +transition(left 1s ease-in-out)


.review-block
  .disable
    visibility: hidden

  .overview
    position: inherit
    padding: 0
    margin: 0
    left: 0
    top: 0
    +transition(left 1s ease-in-out)

  .viewport
    width: 100%
    overflow: hidden
    position: relative
    height: auto
    display: inline-block

.main-trade-button.next
  right: 0
  top: 38%


@media screen and (max-width: 550px)
  .main-trade-button.next
    top: 32%

