<?php echo $this->getMessagesBlock()->toHtml(); ?>
<?php $data = new Varien_Object(Mage::getSingleton('core/session')->getFormData(true)); //Block expects in review/session, but controller sets to core/session ?>
<?php if ($this->getAllowWriteReviewFlag()): ?>
    <div class="review-edit">
        <div class="review-left">
            <div class="review-left-content">
                <img src="<?php echo Mage::helper('catalog/image')->init($this->getProductInfo(), 'image', $this->getProductInfo()->getFile())->resize(333, 333); ?>" alt="<?php echo $this->getProductInfo()->getName(); ?>">
                <a class="review-left-title" href="<?php echo $this->getProductInfo()->getProductUrl() ?>">
                    <?php echo $this->getProductInfo()->getName(); ?>
                </a>
            </div>
        </div>
        <div class="review-right">
            <h1 class="review-title"><?php echo $this->__('My Review') ?></h1>
            <form action="<?php echo $this->getAction() ?>" method="post" id="review-form" enctype="multipart/form-data">
                <?php echo $this->getBlockHtml('formkey'); ?>
                <?php echo $this->getChildHtml('form_fields_before')?>
                <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
                    <?php foreach ($this->getRatings() as $_rating): ?>
                        <label>
                            <?php echo $this->escapeHtml($_rating->getRatingCode()) ?>
                            <em class="required" aria-required="true">*</em>
                        </label>
                        <fieldset class="rating">
                            <?php foreach (array_reverse($_rating->getOptions()) as $_option): ?>
                                <input type="radio" required="true" id="star-<?php echo $_option->getId()?>" name="ratings[<?php echo $_rating->getId() ?>]" value="<?php echo $_option->getId() ?>" />
                                <label class="icon" for="star-<?php echo $_option->getId()?>"></label>
                            <?php endforeach; ?>
                        </fieldset>
                    <?php endforeach; ?>
                <?php endif; ?>
                <label for="summary_field">
                    <?php echo $this->__('Review title') ?>
                    <em class="required" aria-required="true">*</em>
                </label>
                <input type="text" name="title" id="summary_field" placeholder="Example: Great features!" required="true" title="Please enter a review title" value="<?php echo $this->escapeHtml($data->getTitle()) ?>"/>
                <label for="review_field">
                    <?php echo $this->__('Review') ?>
                    <em class="required" aria-required="true">*</em>
                </label>
                <textarea name="detail" id="review_field" cols="5" rows="3" placeholder="I bought this a month ago and I'm so glad I did!" required="true" title="Please enter a review">
                    <?php echo $this->escapeHtml($data->getDetail()) ?>
                </textarea>
                <fieldset>
                    <label>
                        <?php echo $this->__('Would you recommend this to a friend?') ?>
                        <em class="required" aria-required="true">*</em>
                    </label>
                    <label class="radio-label inline" for="recommend_1">
                        <input type="radio" name="recommend" value="1" required="true" title="Please pick an option" id="recommend_1"<?php if ($data->getRecommend()):?> checked="checked"<?php endif;?>/>
                        <span class="icon"></span>
                        <?php echo $this->__('Yes') ?>
                    </label>
                    <label class="radio-label inline" id="recommend_no" for="recommend_0">
                        <input type="radio" name="recommend" value="0" id="recommend_0"/>
                        <span class="icon"></span>
                        <?php echo $this->__('No') ?>
                    </label>
                </fieldset>
                <label for="nickname_field" >
                    <?php echo $this->__("Nickname") ?>
                    <em class="required" aria-required="true">*</em>
                </label>
                <input autocomplete="nickname" class="short-input" type="text" name="nickname" id="nickname_field" required="true" title="Please enter your name or nickname" value="<?php echo $this->escapeHtml($data->getNickname()) ?>"/>
                <p class="note">This will be shown publicly</p>
                <label for="location_field">
                    <?php echo $this->__("Location") ?>
                    <em class="required" aria-required="true">*</em>
                </label>
                    <?php $location = ($data->getLocation()) ? $data->getLocation() : Mage::helper('tradetested_regions')->getAreaName() ?>
                <input autocomplete="address-level2" class="short-input" type="text" name="location" id="location_field" required="true" title="Please enter your location" value="<?php echo $location ?>"/>
                <label for="email_field" >
                    <?php echo $this->__("Email") ?>
                    <em class="required" aria-required="true">*</em>
                </label>
                <input autocomplete="email" type="email" class="short-input" name="email" id="email_field" required="true" title="Please enter your email" value="<?php echo $data->getEmail() ?>"/>
                <label for="images_field"><?php echo $this->__("Images") ?></label>
                <input type="file" name="images[]" id="images_field" multiple/>
                <p class="note">Maximum upload file size: 5MB</p>
                <div class="actions">
                    <button title="<?php echo $this->__('Submit Review') ?>" type="submit" class="button btn-primary"><span><span><?php echo $this->__('Post Review') ?></span></span></button>
                </div>
            </form>
        </div>
    </div>
    <?php else: ?>
        <p class="review-nologged" id="review-form">
            <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">sign in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
        </p>
<?php endif ?>
