<?php /** @var TradeTested_Reviews_Block_Rview_View $this */ ?>
<?php if($this->getProduct()->getId()): ?>
<?php /** @var TradeTested_Reviews_Helper_Image $_imageHelper */ ?>
<?php $_imageHelper = Mage::helper('tradetested_reviews/image'); ?>
<?php /** @var Mage_Review_Model_Review $_review */ ?>
<?php $_review = $this->getReviewData(); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_rating = $this->getRating(); ?>
<div class="review-detail" itemscope itemtype="http://schema.org/Product">
    <div class="review-body-left">
        <a href="<?php echo $_product->getProductUrl();?>">
            <h1 itemprop="name"><?php echo $this->escapeHtml($_product->getName()) ?></h1>
        </a>
        <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <p class="review-body-name" itemprop="author" itemscope itemtype="http://schema.org/Person">Review by <span itemprop="name"><?php echo $this->escapeHtml($_review->getNickname()) ?></span> in <?php echo $this->escapeHtml($_review->getLocation()) ?></p>
            <a href="<?php echo $_product->getProductUrl();?>" class="product-image">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150, 150)->keepFrame(false); ?>"
                 alt="<?php echo $this->escapeHtml($_product->getName()) ?>"/>
            </a>
            <?php $_stars = $_rating->getFirstItem()->getValue() ?>
            <div class="rating rating-list" star="<?php echo $_stars; ?>" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <span itemprop="ratingValue" style="display:none"><?php echo $_stars; ?></span>
                <?php for($i = 1; $i <= 5; $i++): ?>
                    <?php $_class = ($i > $_stars) ? 'grey-star' : 'gold-star' ?>
                    <label class="full <?php echo $_class ?> icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('star') ?></label>
                <?php endfor; ?>
            </div>
            <h2 class="review-title" itemprop="name"><?php echo $this->escapeHtml($_review->getTitle()) ?></h2>
            <p class="review-body-time"><?php echo $this->__('%s', $this->getCurrentTime($_review) . ' ago'); ?></p>
            <p class="review-body-detail" itemprop="reviewBody">
                <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
            </p>
        </div>
        <?php if ($_review->getRecommend()): ?>
            <p class="review-body-recommend"><span class="tick">Yes</span> I would recommend this product</p>
        <?php endif; ?>
        <?php echo $this->getMediaHtml() ?>
        <div class="review-buttons">
            <a class="view-product-button button btn-primary" href="<?php echo $_product->getProductUrl(); ?>" title="View Product">
                View Product
            </a>
            <a class="write-review-button button btn-primary" href="<?php echo Mage::getUrl('review/product/new', array('id' => $this->getProduct()->getId())) ?>" title="Write a Review">
                Write a Review
            </a>
        </div>
    </div>
    <div class="review-body-right">
        <a href="<?php echo $_product->getProductUrl();?>" class="product-image">
            <img itemprop="image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(350, 350)->keepFrame(false); ?>"
                 alt="<?php echo $this->escapeHtml($_product->getName()) ?>" data-retina="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(700, 700)->keepFrame(false); ?>"/>
        </a>
    </div>
    <div class="clearer"></div>
</div>
<?php endif; ?>