<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>
    <?php $reviewHelper = Mage::helper('tradetested_reviews') ?>
    <?php if($this->getLastPageNum()>1): ?>
        <div class="pager">
            <div class="pages">
                <ol>
                    <?php if (!$this->isFirstPage()): ?>
                        <li class="pager-prev"><a href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>" data-pjax-url="<?php echo $reviewHelper->getProductReviewListUrl($this->getCollection()->getCurPage(-1)) ?>"><span class="icon" style="margin:0 9px 0 0;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('caret-left') ?></span></a></li>
                    <?php endif ?>
                    <?php if ($this->canShowFirst()): ?>
                        <li><a class="first" href="<?php echo $this->getFirstPageUrl() ?>" data-pjax-url="<?php echo $reviewHelper->getProductReviewListUrl(1) ?>">1</a></li>
                    <?php endif;?>
                    <?php if ($this->canShowPreviousJump()): ?>
                        <li><a class="previous_jump" title="" href="<?php echo $this->getPreviousJumpUrl() ?>" data-pjax-url="<?php echo $reviewHelper->getProductReviewListUrl($this->getPreviousJumpPage()) ?>">...</a></li>
                    <?php endif;?>
                    <?php foreach ($this->getFramePages() as $_page): ?>
                        <?php if ($this->isPageCurrent($_page)): ?>
                            <li><span class="current page_number"><?php echo $_page ?></span></li>
                        <?php else: ?>
                            <li><a class="page_number" href="<?php echo $this->getPageUrl($_page) ?>" data-pjax-url="<?php echo $reviewHelper->getProductReviewListUrl($_page) ?>"><?php echo $_page ?></a></li>
                        <?php endif ?>
                    <?php endforeach;; ?>
                    <?php if ($this->canShowNextJump()): ?>
                        <li><a class="next_jump" title="" href="<?php echo $this->getNextJumpUrl() ?>" data-pjax-url="<?php echo $reviewHelper->getProductReviewListUrl($this->getNextJumpPage()) ?>">...</a></li>
                    <?php endif;?>
                    <?php if ($this->canShowLast()): ?>
                      <li><a class="last" href="<?php echo $this->getLastPageUrl() ?>" data-pjax-url="<?php echo $reviewHelper->getProductReviewListUrl($this->getCollection()->getLastPageNumber()) ?>"><?php echo $this->getLastPageNum() ?></a></li>
                    <?php endif;?>
                    <?php if (!$this->isLastPage()): ?>
                        <li class="pager-next"><a href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Next') ?>" data-pjax-url="<?php echo $reviewHelper->getProductReviewListUrl($this->getCollection()->getCurPage(+1)) ?>"><span class="icon" style="margin:0 0 0 9px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('caret-right') ?></span></a></li>
                    <?php endif ?>
                </ol>
            </div>
        </div>
    <?php endif; ?>
<?php endif ?>
