<?php $products = (array)$this->getProducts(); ?>
<?php $_product = array_shift($products); ?>
<?php $_coreHelper = $this->helper('core'); ?>
<!-- Single Offer -->
<table width="600" cellpadding="20" cellspacing="0" align="center">
    <tr>
        <td class="bodyContent" width="400">
            <div class="heading"><?php echo $_product->getName() ?></div>
            <div class="intro-description">
                <?php echo $_product->getDescription() ?>
            </div>
            <div class="product-price"><?php echo $_coreHelper->formatPrice($_product->getFinalPrice()) ?></div>
            <div class="product-price">
                <a href="<?php echo $_product->getProductUrl() ?>"><img src="http://gallery.mailchimp.com/e99558ed5400beac96496b759/images/View_B.png" alt="View"></a>
            </div>
        </td>
        <td>
            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(300, 200) ?>">
        </td>
    </tr>
</table>
<!-- /Single Offer -->

<!-- Spacer -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="100%" bgcolor="#DDDDDD" height="1"></td>
    </tr>
    <tr>
        <td width="100%" bgcolor="#FFFFFF" height="20"></td>
    </tr>
</table>
<!-- /Spacer -->
<?php $chunks = array_chunk($products, 3); ?>
<!-- Triple Offer -->
<table width="600" cellspacing="0" cellpadding="0" align="center">
    <?php foreach ($chunks as $_chunk): ?>
    <tr>
        <?php for($i = 0; $i < 3; $i++): ?>
        <td width="190" bgcolor="#ffffff" align="center">
            <?php if (isset($_chunk[$i]) && ($_product = $_chunk[$i])): ?>
            <table cellpadding="5" cellspacing="0" width="100%" align="center">
                <tr>
                    <td class="bodyContent center">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(163, 163) ?>" alt="Click 'Display images below'" align="center" width="163" height="163" border="0">
                        <div class="product-title"><?php echo $_product->getName() ?></div>
                        <div class="product-price"><?php echo $_coreHelper->formatPrice($_product->getFinalPrice()) ?></div>
                        <a href="<?php echo $_product->getProductUrl() ?>"><img src="http://gallery.mailchimp.com/e99558ed5400beac96496b759/images/View_B.png" alt="View"></a>
                    </td>
                </tr>
            </table>
            <?php endif; ?>
        </td>
        <?php if ($i < 2): ?><td width="15">&nbsp;</td><?php endif; ?>
        <?php endfor; ?>
    </tr>
    <?php endforeach; ?>
</table>