<?php if (Mage::getSingleton('core/cookie')->get('view_full_site')): ?>
    <p style="padding:18px 0"><a id="view_full_site" style="color:#999;text-decoration:underline;" href="<?php echo $this->getUrl('tradetested_design/exclude/unset') ?>">View Mobile Optimised</a></p>
<?php endif; ?>
