<form class="newsletter_subscribe" action="<?php echo Mage::getStoreConfig('newsletter/mailchimp/url') ?>" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="result"></div>
    <?php if (!$this->getHideLabel()): ?><label for="mce-EMAIL">Subscribe <span style="color:white;">to our mailing list</span></label><?php endif; ?>
    <?php if ($source = $this->getSource()): ?><input type="hidden" name="SOURCE" value="<?php echo $source ?>"><?php endif; ?>
    <input type="email" value="" name="EMAIL" class="email input-text" id="mce-EMAIL" placeholder="Email address" required>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-primary">
</form>
