<?php /* These files need to be in base in order to work on AU store */ ?>
<?php /** @var TradeTested_Widgets_Block_Area $this */?>
<?php if ($this->countChildren()): ?>
<div class="block home_brands">
    <h2>Top Brands</h2>
    <div class="content">
        <?php foreach($this->getChunkedChildren(4) as $_chunk): ?>
                <ul class="count<?php echo count($_chunk) ?>">
                    <?php foreach($_chunk as $_child): ?>
                        <?php echo $_child->toHtml(); ?>
                    <?php endforeach; ?>
                </ul>
        <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>
