<div class="block left_navigation">
	<div class="block-content">
        <ol>
            <?php foreach ($this->getChildCategories($this->getRootCategory()) as $_category): ?>
                <?php if ($_category->getProductCount() > 0): ?>
                    <li>
                        <a class="<?php if($this->isCategoryActive($_category)): ?>current<?php endif;?>" href="<?php echo $_category->getUrl() ?>">
                            <?php echo $_category->getName() ?>
                        </a>
                    </li>
                <?php endif ?>
            <?php endforeach?>
        </ol>
	</div>
</div>
