<?php /** @var TradeTested_Search_Block_System_Config_Form_Field_ProductAttributes $this */?>
<div class="grid">
    <table class="border" cellpadding="0" cellspacing="0">
        <tbody>
        <tr class="headings">
            <th>Attribute</th>
            <th>Retrievable</th>
            <th>Ordered / Unordered</th>
            <th>Sort Order</th>
        </tr>
        <?php foreach(Mage::helper('tradetested_search')->getAvailableProductAttributes() as $_code => $_label): ?>
            <tr>
                <td><?php echo $_label ?></td>
                <td><?php echo $this->getRetrievableElement($_code)->toHtml(); ?></td>
                <td><?php echo $this->getOrderedElement($_code)->toHtml(); ?></td>
                <td><input type="text" name="<?php echo $this->getElementName($_code, 'sort_order')?>" value="<?php echo $this->getElementValue($_code, 'sort_order')?>"/></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
