<?php $this->setProductCount(12) ?>
<?php if (Mage::getStoreConfig('design/home_page/show_featured_products')): ?>
    <div class="product_recommendations up-sell m-scooch m-fluid">
        <h3>Featured Specials</h3>
        <?php $pca = array(); foreach($this->getFeaturedSpecialsCollection() as $p) $pca[] = $p; // collection toArray() converts all models to array! ?>
        <div class="m-scooch-inner">
            <?php $chunks = array_chunk($pca, 4); ?>
            <?php foreach ($chunks as $_chunk): ?>
                <div class="m-item">
                    <?php foreach ($_chunk as $_product): ?>
                        <div class="item" data-href="<?php echo $_product->getProductUrl() ?>">
                            <a href="<?php echo $_product->getProductUrl() ?>">
                                <img data-retina="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(268) ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(134) ?>" width="134" height="134" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                            </a>
                            <h4 class="product-name">
                                <a href="<?php echo $_product->getProductUrl() ?>">
                                    <?php echo $this->htmlEscape($_product->getName()) ?>
                                </a>
                            </h4>
                            <?php echo $this->getPriceHtml($_product) ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="m-scooch-controls m-scooch-bulleted">
            <?php $x=1; foreach ($chunks as $_):?>
                <a href="#" data-m-slide="<?php echo $x++ ?>"></a>
            <?php endforeach; ?>
        </div>
        <a href="#" data-m-slide="prev" class="icon m-prev"></a>
        <a href="#" data-m-slide="next" class="icon m-next"></a>
    </div>
<?php endif; ?>
