<?php /** @var TradeTested_Checkout_Block_Cart_Items $this */ ?>
<?php foreach($this->getItems() as $_item): ?>
    <?php echo $this->getItemHtml($_item) ?>
<?php endforeach ?>
<?php /** @var Mage_Sales_Model_Quote_Item $_removedItem */ ?>
<?php foreach($this->getRemovedItems() as $_removedItem): ?>
    <?php /** @var Mage_Catalog_Model_Product $_product */ ?>
    <?php $_product = $_removedItem->getProduct() ?>
    <div class="cart_item removed">
        <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
        was removed from your cart.
        <button type="button" class="button" onclick="window.location='<?php echo $this->getAddToCartUrl($_removedItem) ?>'">
            Add to cart
        </button>
    </div>
<?php endforeach ?>
