.main-trade-container
  width: $fixedWidthContainer
  margin: 0 auto


.main-mobile-container
  width: 100%


.list-style
  ul,
  ol
    list-style: none
    font-family: $mainFontFamily
    padding: 0
    margin: 0

    li
      float: left
      a
        text-decoration: none


.top-seller, .free-shipping
  position: relative

  &:after
    @extend .beforeAfter
    left: 0
    background-image: url('../images/top-seller.png')
    width: 90px
    height: 27px
.top-seller
  &:after
    top: 0
.free-shipping
  &:after
    bottom: -3px
    background-image: url('../images/free_ship.png')



.staticBlock
  display: flex
  justify-content: space-between
  padding-top: 20px
  padding-bottom: 20px
  width: 1180px
  margin: auto


.beforeAfter
  content: ''
  display: block
  position: absolute


.full-width
  position: absolute
  left: 0

.position-center
  position: absolute
  left: 0
  right: 0
  margin: auto

.h1
  font-size: 40px
  color: $fontColorDark
  text-transform: uppercase

.trade-link
  text-decoration: none
  color: $fontColorViewAllReview



