
body
  margin: 0
  width: 100%
  font-family: $mainFontFamily
  .page
    position: relative

    &.mask
      z-index: 10
      &:after
        @extend .beforeAfter
        top: 0
        left: 0
        height: 100%
        width: 100%
        background: $contentMaskBack
        z-index: 20


button:focus, a:focus
  outline: none
.hide
  display: none !important

.main-trade-button
  @extend .icon
  position: absolute
  right: 1px
  top: 145px
  border: none
  background: $mainDarkColor
  width: 44px
  height: 53px
  cursor: pointer
  
  >span
    position: relative
    display: block
    
    &:after
      @extend .beforeAfter
      @extend .icon
      content: glyph('android-arrow-forward')
      font-size: 26px
      text-align: center
      display: block
      color: white
      top: -11px
      left: 4px
    
      

  &:focus
    outline: none



//.ratings
//  display: none !important

.block-height-mobile
  overflow: hidden
  height: 1%

///Common styles for header///////////////////
.header-links
  position: relative
  ul
    list-style: none
    margin-top: 0

    li
      float: left


.header-wrapper
  .block-content
    display: block


/////////////////////////////////////////////

///Common styles for content////////////////

.banner-bottom
  background: $mainDarkColor
  height: 100px
  font-size: 20px
  margin-top: -4px

  p
    float: left
    color: #ffffff
    margin-left: 30px
    font-weight: 200
    padding-top: 5px


  a
    margin-left: 165px
    margin-top: 15px
    float: left
    text-decoration: none
    color: black
    background: $mainContrastColor
    width: 312px
    height: 70px
    font-weight: bold
    text-transform: uppercase
    line-height: 70px
    text-align: center
    +transition(.3s)

    &:hover
      color: lighten(black, 25%)




/////////////////////////////////////////////

.header-minicart

  >a
    position: relative

    &:before
      @extend .beforeAfter
      @extend .icon
      content: glyph('android-cart')
      color: $mainContrastColor
      font-size: 20px
      text-align: center
      display: block
      left: -26px
      top: -3px
      width: 17px


#header-cart
  position: fixed
  background: $whiteBack
  width: 530px
  height: 100%
  top: -110%
  opacity: 0
  right: 0
  z-index: 200
  padding: 15px 20px 10px 40px
  border: $itemBorder
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out
  &.open
    top: 0
    opacity: 1
  a
    color: inherit

  .minicart-wrapper
    height: 100%
    position: relative

    //p{
    //  text-align: center;
    //}

    .subtotal
      color: $fontColorSubNavHead
      position: absolute
      bottom: 126px
      font-size: 20px
      width: 100%
      padding-bottom: 15px
      border-bottom: $navRightBorder
      border-width: 2px

      .price
        float: right



    .empty
      text-align: center
      color: $fontColorPrice
      margin-top: 100px


    .block-subtitle
      color: $fontColorDark
      margin: 0
      position: relative
      text-transform: uppercase
      font-size: 25px
      text-align: left
      font-weight: bold
      position: relative
      margin-left: 20px

      &:after
        @extend .beforeAfter
        @extend .icon
        content: glyph('android-cart')
        font-size: 31px
        text-align: center
        display: block
        color: $mainContrastColor
        top: 0
        left: -35px
        width: 23px


      >a.close
        position: absolute
        right: 0
        top: -8px
        color: $mainDarkColor
        font-size: $fontSizeLarger
        line-height: 1
        font-weight: bold

        >span
          position: relative
          height: 24px
          width: 34px
          display: block
          margin-top: 10px

          &:after
            @extend .beforeAfter
            @extend .icon
            content: glyph('close-round')
            font-size: 24px
            text-align: center
            display: block
            color: black
            width: 34px


    .minicart-actions
      margin-top: 40px
      position: absolute
      width: 100%
      bottom: 30px

      ul
        padding: 0
        li
          float: none
          text-align: center
          margin-bottom: 10px
          display: block


      a
        &:first-of-type
          display: inline-table


        &.cart-link
          display: none


        width: 100%
        text-transform: uppercase
        color: $fontColorDark
        text-align: center
        display: block
        box-sizing: border-box

      .checkout-button
        background: $mainContrastColor
        font-size: $fontSizeSmaller
        font-weight: bold
        color: $fontColorDark
        padding: 10px 25px

        &.empty
          pointer-events: none
          cursor: default
          background: #EFEFEF
          color: #BBBBBB



ul.overview
  padding-left: 0
  list-style: none

div.overlay
  position: fixed
  z-index: 99
  background: $contentMaskBack
  top: 0
  left: 0
  right: 0
  bottom: 0

ul li a,
ol li a
  text-decoration: none


.review-rate
  width: 100%
  display: inline-block
  height: 20px

  >span
    display: block
    position: relative
    height: 20px
    width: 20px
    float: left
    margin:
    &:after
      @extend .beforeAfter
      @extend .icon
      content: glyph('ios-star')
      font-size: 20px
      color: #E6E6E6

  &.stars1
    >span:first-of-type
      &:after
        color: #FED130
  &.stars2
    >span:nth-of-type(-n+2)
      &:after
        color: #FED130
  &.stars3
    >span:nth-of-type(-n+3)
      &:after
       color: #FED130
  &.stars4
    >span:nth-of-type(-n+4)
      &:after
        color: #FED130
  &.stars5
    >span
      &:after
        color: #FED130

.clear
  &:after
    content: ""
    display: table
    clear: both


.main-form
  background: $productsCarouselAbout

  input, textarea
    width: 100%
    box-sizing: border-box
    background: $whiteBack
    border: $itemBorder
    margin-top: 10px
    height: 45px
    color: black
    font-size: 14px
  .form-list
    li
      float: none
      color: $menuMobileColor

      em
        color: #CE0C24

    .input-box
      margin-bottom: 35px

      .f-left
        display: block
        margin-top: 5px

    a
      text-decoration: none
      color: $fontColorSubNav
      font-weight: $fontWeightMedium

  .submit-button, .buttons-set
    margin: 40px 0 20px 0
    float: none

    button
      background: $mainContrastColor
      color: $fontColorDark
      text-transform: uppercase
      font-weight: bold
      border: none
      width: 180px
      height: 50px
      line-height: 50px
      font-size: 16px

.map
  width: 100%
  height: 532px
.gm-style-cc
  display: none
a[href^="https://maps.google.com/maps"]
  display: none !important


.trade-button
  width: auto
  height: 50px
  line-height: 50px
  border: none
  background: $mainContrastColor
  color: $fontColorDark
  text-transform: uppercase
  font-size: 14px
  font-weight: bold
  padding: 0 14px
  position: relative
  cursor: pointer
  text-decoration: none
  display: inline-block

.button-cms, .button-cms
  text-decoration: none
  box-sizing: border-box
  color: $fontColorViewAllReview
  position: relative
  display: block
  cursor: pointer
  border: $itemBorder
  font-size: 18px
  &:after
    color: $fontColorDark
  &.prev
    padding: 0 23px 0 50px
    float: left
    &:after
      @extend .beforeAfter
      @extend .icon
      content: glyph('android-arrow-back')
      top: 0
      left: 10px
      line-height: inherit
      font-size: 25px
  &.next
    padding: 0 50px 0 23px
    float: right
    &:after
      @extend .beforeAfter
      @extend .icon
      content: glyph('android-arrow-forward')
      top: 0
      right: 10px
      line-height: inherit
      font-size: 25px

body:not(.cms-home)
  .header-wrapper
    text-align: center
    .header-container
      display: inline-block
      @extend .main-trade-container
  .main-container
    position: relative
    width: 100%
    .main
      @extend .main-trade-container
  .breadcrumbs
    @extend .list-style
    font-weight: $fontWeightMedium
    overflow: hidden
    ul
      li
        font-size: 14px
        position: relative
        padding-right: 25px
        a
          color: $fontColorViewAllReview
        &:after
          @extend .beforeAfter
          @extend .icon
          content: glyph(chevron-right)
          font-size: 8px
          top: 0px
          right: 10px
          line-height: 18px
        &:last-of-type
          color: $activeBreadcrumb
          &:after
            display: none

.cms-page-view, .cms
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif
  line-height: 1.5
  .breadcrumbs
    margin-bottom: 40px
  h1,h2,h3
    text-transform: uppercase
    color: $fontColorDark
    font-weight: $fontWeightMobileMenu
    font-family: $headingFontFamily
  h1
    font-size: 40px
    margin-top: 0
  h2
    font-size: 35px
  h3
    font-size: 16px
    font-family: $mainFontFamily

.buying-guides
  h2
    font-family: $mainFontFamily

#profiler_section
  display: none !important

body:not(cms-home) .col-main .related-bread
  @extend .list-style
  ul
    li
      float: none
      display: block
      >span
        display: inline-block
        padding-right: 27px
        position: relative
        font-size: 15px
        font-weight: $fontWeightNormal
        line-height: 1.7
        &:after
          @extend .beforeAfter
          @extend .icon
          content: glyph(chevron-right)
          font-size: 11px
          top: 4px
          right: 4px
          line-height: 18px
          font-weight: $fontWeightMobileMenu
        &:last-of-type
          &:after
            display: none
  a
    @extend .trade-link

body:not(cms-home) .guides-section  .guide-head
  @extend .clear
  padding-left: 13px
  margin-bottom: 40px
  margin-top: 35px
  ul
    float: left
    list-style: none
    &:first-of-type
      margin-right: 40px
    li
      position: relative
      float: none
      &:before
        @extend .beforeAfter
        @extend .icon
        content: glyph(chevron-right)
        color: #000
        left: -15px
        top: 4px
        font-size: 11px
      a
        color: $fontColorViewAllReview

h1, h2
  font-family: $headingFontFamily



.in-stock,
.out-of-stock,
.pre-order
  font-size: 12px
  font-weight: bold
  text-transform: uppercase

.in-stock
  color: $fontColorInStock

.out-of-stock,
.pre-order
  color: $fontColorOutPre


.price, .price-box
  font-size: 18px
  font-weight: bold
  color: $fontColorPrice
  .old-price
    text-decoration: line-through

  .special-price
    .old-price
      text-decoration: line-through
    .new-price, span.price
      color: #FC0E1C
  #product-price-2-widget-new-grid
    color: #FF0000
    margin-top: 0



  .price-box.special
    margin-top: 0
  .price-box
    position: absolute
    bottom: 15px

  .top-seller
    position: relative
    &:after
      @extend .beforeAfter
      width: 90px
      height: 26px
      top: 0
      left: 0
      background-image: url("../images/top-seller.png")

.btn-primary, .btn-cart, .actions button, #search_form button
  background: $mainContrastColor
  text-transform: uppercase
  font-size: 14px
  border: none
  cursor: pointer
  +transition(.3s)
  &:hover
    background: $buttonHoverColor

.btn-cart
  width: auto
  height: 36px
  font-weight: bold
  padding: 9px 14px 12px 30px
  position: relative
  cursor: pointer
  +transition(.3s)
  &:after
    @extend .beforeAfter
    @extend .icon
    content: glyph('android-cart')
    font-size: 17px
    text-align: center
    display: block
    left: 11px
    top: 10px
    width: 13px
  &:hover
    background: $buttonHoverColor

body:not(.cms-home) .main-container.col2-left-layout
  width: 100%
  padding-top: 25px
  .main
    @extend .main-trade-container
    position: relative
    .breadcrumbs
      top: -40px

.pager
  //display: none

.ratings
  .show-all-reviews
    display: block
    float: left
    margin-left: 5px
    @extend .trade-link
    position: relative
    &:after
      @extend .beforeAfter
      @extend .icon
      font-size: 11px
      font-weight: $fontWeightBold
      content: glyph('chevron-down')
      color: $mainContrastColor
      top: 6px
.product-page-reviews
  .product-reviews-section
    color: $reviewFontColor
    margin-top: 35px
    background: $productsCarouselAbout
    border: $itemBorder
    padding: 25px 0
    >div
      &.review-block-header
        border-bottom: $itemBorder
      &:first-of-type
        padding: 0 25px 30px 25px
    .review-summary
      display: inline-block
      .review-rate
        width: 110px
        float: left
      h3
        margin: 0 0 10px 0
        font-size: 16px
      >span
        display: block
        float: left
        font-size: 15px
        line-height: 22px

    .review-heading-right
      float: right
      a
        @extend .trade-button
        font-size: 16px
        padding: 0 20px

    .product-review
      width: 100%
      border-bottom: $itemBorder
      padding: 25px
      box-sizing: border-box
      display: inline-block
      &:last-of-type
        border: none
      .product-review-left
        display: block
        float: left
        width: 270px
        span
          display: block
          float: none
          font-size: 14px
          &:first-of-type
            font-weight: $fontWeightBold
            margin-bottom: 5px


      .product-review-right
        display: inline-block
        float: left
        width: 620px
        font-size: 15px
        padding-right: 55px
        p
          width: 608px
          &:first-of-type
            font-weight: $fontWeightBold
            margin-bottom: 5px
        .review-body-time
          font-size: 13px
          color: $colorReviewDate
          margin: 0
        .review-body-recommend
          margin-bottom: 5px
          span
            font-family: inherit
            font-weight: $fontWeightBold
            color: $reviewRecomended
            display: block
            float: left
            position: relative
            padding: 1px 0 0 20px
            margin-right: 5px

            &:after
              @extend .beforeAfter
              @extend .icon
              content: glyph('android-done')
              left: -5px
              font-weight: inherit

.view-more-button
  @extend .trade-button
  display: inline-block
  margin: 0 auto
  font-size: 16px
  font-weight: $fontWeightBold
  padding: 0 40px
  margin-top: 50px
  position: absolute
  bottom: 0px
  left: 0px
  right: 0px
  width: 177px
  box-sizing: border-box
  >span
    position: relative
    display: inline
    &:after
      @extend .beforeAfter
      @extend .icon
      content: glyph(chevron-down)
      top: 3px
      right: -34px
