+font-face('icons', 'icons')
+font-face('DINCondensed', 'DINCondensed-Bold', bold, normal)
+font-face('Roboto', 'Roboto-Regular', 400, normal)
+font-face('Roboto', 'Roboto-Bold', 600, normal)
+font-face('Roboto', 'Roboto-Italic', normal, italic)
+font-face('Roboto', 'Roboto-BoldItalic', bold, italic)
+font-face('Roboto', 'Roboto-Medium', 500, normal)
+font-face('Roboto', 'Roboto-Light', 300, normal)
+font-face('Roboto', 'Roboto-Thin', 100, normal)

.icon
  display: inline-block
  font-family: "icons"
  font-style: normal
  font-weight: normal
  font-variant: normal
  line-height: 1
  text-decoration: inherit
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 16px
  speak: none
