=font-face($style-name, $file, $weight:"", $style:"")
  $filepath: "../fonts/" + $file
  $id: unique_id()
  @font-face
    font-family: "#{$style-name}"
    src: url($filepath + ".eot?id=" + $id)
    @if $style-name == "icons"
      src: url($filepath + ".eot?id=" + $id + "#iefix") format('embedded-opentype'), url($filepath + ".woff?id=" + $id) format('woff'), url($filepath + ".ttf?id=" + $id)  format('truetype'), url($filepath + ".svg?id=" + $id + "#" + $style-name + "") format('svg')
    @else
      src: url($filepath + ".eot?id=" + $id + "#iefix") format('embedded-opentype'), url($filepath + ".woff2?id=" + $id) format('woff2'), url($filepath + ".woff?id=" + $id) format('woff'), url($filepath + ".ttf?id=" + $id)  format('truetype'), url($filepath + ".svg?id=" + $id + "#" + $style-name + "") format('svg')
    @if $weight
      font-weight: $weight
    @if $style
      font-style: $style



=icons()
  display: inline-block
  font-family: "icons"
  font-style: normal
  font-weight: normal
  font-variant: normal
  line-height: 1
  text-decoration: inherit
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 16px
  speak: none

=transform-rotate($deg)
  -webkit-transform: rotate($deg)
  -moz-transform: rotate($deg)
  -ms-transform: rotate($deg)
  -o-transform: rotate($deg)
  transform: rotate($deg)


=transition($transition)
  -webkit-transition: $transition
  -moz-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition
  transition: $transition


=box-shadow($top, $left, $blur, $color, $spread, $inset:"")
  -webkit-box-shadow: $top $left $blur $color $spread #{$inset}
  -moz-box-shadow: $top $left $blur $color $spread #{$inset}
  box-shadow: $top $left $blur $color $spread #{$inset}