/////Styles for Modal window for sign in/registration/////////////

.cd-user-modal
    position: fixed
    top: -100%
    left: 0
    right: 0
    height: auto
    opacity: 0
    width: 580px
    margin: 0 auto
    z-index: 100
    background: $productsCarouselAbout
    +transition(top .5s ease-in-out)

    .cd-user-modal-container
        @extend .list-style

        .mobile-close
            display: none
        .cd-switcher
            height: 85px
            >li
                width: 50%
                height: 85px

                background: $backgroundDark1Color

                &.active
                    background: $productsCarouselAbout
                    a
                        color: $fontColorDark



                a
                    color: #dcdcdc
                    display: block
                    line-height: 85px
                    text-align: center
                    text-transform: uppercase
                    font-size: 23px

        .modal-content .login.selected-tab, .modal-content .registration.selected-tab
            opacity: 1

        .modal-content
            margin: 43px
            text-align: left

            .login, .registration
                opacity: 0
                +transition(all 2s)

                .form-list
                    li
                        float: none
                        color: $menuMobileColor

                        em
                            color: #CE0C24


                        input
                            width: 100%
                            box-sizing: border-box
                            background: $whiteBack
                            border: $itemBorder
                            margin-top: 10px
                            height: 45px
                            color: black
                            font-size: 14px

                .input-box
                    margin-bottom: 35px

                    .f-left
                        display: block
                        margin-top: 5px


                a
                    text-decoration: none
                    color: $fontColorSubNav
                    font-weight: $fontWeightMedium

                .submit-button, .buttons-set
                    margin: 40px 0 20px 0
                    float: none

                    button
                        background: $mainContrastColor
                        color: $fontColorDark
                        text-transform: uppercase
                        font-weight: bold
                        border: none
                        width: 180px
                        height: 50px
                        line-height: 50px
                        font-size: 16px


                .about-pass
                    font-style: italic
                    color: #A8A8A8
                    font-size: 13px
                    float: none
                    display: block
                    margin-top: 5px


                p
                    font-size: 13px

                    a
                        color: $fontColorSubNav


.cd-user-modal.open-modal
    top: 264px
    opacity: 1


@media screen and (max-width: 600px)
    .cd-user-modal .cd-user-modal-container .cd-switcher > li a
        font-size: 14px

@media screen and (max-width: 377px)
    .cd-user-modal .cd-user-modal-container .mobile-close
        display: block
        height: 30px
        width: 100%
        position: relative
        margin-bottom: 10px
        &:after
            +icons()
            content: glyph(close-round)
            position: absolute
            right: 0
            font-size: 22px
            line-height: 30px
            color: black
            background: $mainContrastColor
            padding: 0 15px



