#search_form
  ul.typeahead
    background: white
    position: absolute
    z-index: 20
    width: 100%
    box-sizing: border-box
    margin-top: 0
    border: 2px solid #eee
    border-top: 0px none
    list-style-type: none
    padding: 6px 6px 12px
    strong
      display: block
      text-transform: uppercase
      color: $fontColorSubNavHead
      font-size: $fontSmaller
      font-weight: bold
      line-height: 27px
      margin: 6px
    a
      color: $fontColorSubNav
      font-size: $fontSizeNavSubSmall
      font-weight: $fontWeightMedium
      display: block
      padding: 6px
      &.active
        background: $fontColorSubNav
        color: white
