<?php
/**
 * Noam Design Group
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA available 
 * through the world-wide-web at this URL:
 * http://ultimento.com/ultimento-license.txt
 * 
 * MAGENTO EDITION USAGE NOTICE
 * 
 * This package is designed for Magento COMMUNITY edition. 
 * =================================================================
 *
 * @package    Ultimento-x
 * @copyright  Copyright (c) 2006-2011 Noam Design Group. (http://www.noamdesign.com)
 * @license    http://ultimento.com/ultimento-license.txt
 */
?>

<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
?>
<?php $_subtotal = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
<div class="cart_item">
    <div class="cart_item_main">
        <?php if ($this->hasProductUrl()): ?><a href="<?php echo $this->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getProductName()) ?>" class="product-image"><?php endif; ?>
        <img data-retina="<?php echo $this->getProductThumbnail()->resize(150); ?>" src="<?php echo $this->getProductThumbnail()->resize(75); ?>" width="75" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" />
        <?php if ($this->hasProductUrl()): ?></a><?php endif; ?>
        <div class="cart_item_name">
            <h2 class="product-name">
                <?php if ($this->hasProductUrl()):?>
                    <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->htmlEscape($this->getProductName()) ?></a>
                <?php else: ?>
                    <?php echo $this->htmlEscape($this->getProductName()) ?>
                <?php endif; ?>
            </h2>
            <?php echo $this->getLayout()->createBlock('core/template', 'stock_note_'.$_item->getId())->setTemplate('catalog/product/stock_note.phtml')->setProduct($this->getProduct())->toHtml() ?>
            <?php if ($_options = $this->getOptionList()):?>
                <dl class="item-options">
                    <?php foreach ($_options as $_option) : ?>
                        <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                        <dt><?php echo $this->htmlEscape(str_replace('Select ', '', $_option['label'])) ?> : </dt>
                        <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>><?php echo $_formatedOptionValue['value'] ?>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                <div class="truncated_full_value">
                                    <dl class="item-options">
                                        <dt><?php echo $this->htmlEscape(str_replace('Select ', '', $_option['label'])) ?></dt>
                                        <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
                                    </dl>
                                </div>
                            <?php endif; ?>
                        </dd>
                    <?php endforeach; ?>
                </dl>
            <?php endif;?>
            <?php if ($messages = $this->getMessages()): ?>
                <?php foreach ($messages as $message): ?>
                    <p class="item-msg <?php echo $message['type'] ?>">* <?php echo $message['text'] ?></p>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()):?>
                <?php echo $addtInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif;?>
            <a class="cart_remove" href="<?php echo $this->getDeleteUrl() ?>"><span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('remove-sign') ?></span>Remove</a>
        </div>
    </div>
    <div class="cart_item_data">
        <div class="cart-item-subtotal"><span class="cart-data-title">Subtotal</span><span data-cartref="items:<?php echo $_item->getId() ?>:subtotal_formatted"><?php echo $this->helper('checkout')->formatPrice($_subtotal-$_item->getWeeeTaxRowDisposition()) ?></span></div>
        <div class="cart-item-qty">
            <span class="cart-data-title">Quantity</span>
            <div class="qty_spinner">
                <button type="button" class="qty_minus qty_update icon" data-value="-1" style="font-size:10px;line-height:23px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('minus') ?></button>
                <input type="text" name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" class="input-text qty" maxlength="8" data-item="<?php echo $_item->getId() ?>" data-price="<?php echo $_item->getProduct()->getFinalPrice() ?>" />
                <button type="button" class="qty_plus qty_update icon" data-value="1" style="font-size:10px;line-height:23px;"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('plus') ?></button>
            </div>
        </div>
        <div class="cart-price"><span class="cart-data-title">Price</span><?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?></div>
    </div>
    <div class="clear"></div>
</div>
