<?php
/**
 * @author Dane Lowe
 * @package Avid_Gravitator
 * @copyright Copyright (c) 2014 Avid Online Enterprises Limited
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
?>
<?php /** @var Avid_Gravitator_Block_Tag $this */ ?>

<?php foreach (['gvt', 'jvt'] as $service) if ($url = $this->getPxlUrl($service)): ?>
    <script type="text/javascript" async="async" src="<?php echo $url ?>"></script>
<?php endif; ?>
<div class="regtag">
    <?php echo $this->getPxlData()?>
</div>
