<div class="product_guides">
    <?php foreach($this->getGuides() as $_guide): ?>
        <div class="panel guide <?php echo $_guide->getContentCategory()->getUrlKey() ?>" data-href="<?php echo Mage::getUrl(null, array('_direct' => $_guide->getIdentifier())) ?>">
            <div class="left">
                <h3><?php echo $_guide->getTitle() ?></h3>
                <?php echo $_guide->getShortDescription() ?>
                <a href="<?php echo Mage::getUrl(null, array('_direct' => $_guide->getIdentifier())) ?>">View this guide<span class="icon"><?php echo Mage::helper('tradetested_design/icon')->getEntityCode('chevron-right') ?></span></a>
            </div>
        </div>
    <?php endforeach; ?>
    <div class="clear"></div>
</div>
